{% extends 'profile/profile.html' %}
{% load media friends format_results %}

{% block content_title %} {% endblock %}
{% block content_middle %}{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block dashboard %}
	{% include "profile/dashboard.html" %}
{% endblock %}

{% block left_col %}
<div {% if profile_user|check_profile_image_visibility:request.user and not request.user.is_anonymous %} 
    onclick="window.location.href = '{% url profile.views.profile profile_user.username %}';return false;" {% endif %}
    class="noPhoto" style="background: url('/{{ profile_user.photo.thumb_name }}') #FFF; -webkit-background-size: 200px 200px; -moz-background-size: 200px 200px !important; background-size: 200px 200px; background-position: center center; background-repeat: no-repeat; cursor: pointer;"></div>
        {% if profile_user == request.user %}
		<div style="color: #999; font-size: 8pt; text-align: center; padding: 10px;">To rename an album, click on the name, enter a new name, and then click away.<br /><br />To view an album,<br /> click on the Posts link.</div>
		<div id="albums_hint" style="color: #999; font-size: 8pt; text-align: center; padding: 10px;">Click and drag albums<br /> to reorder them.</div>
        {% endif %}
{% endblock %}

{% block right_col %}

<div style="padding: 10px; position: relative; left: 40px;">

    {% if profile_user == request.user %}
    <span class="profile_micro_header">Albums</span><div id="create_album_link" style="cursor:pointer">+ Create an Album</div>
    <form id="create_album_form" style="display:none">
        <input id="album_name" name="album_name">
        <input type="submit" value="+ Create" class="blue_btn" style="padding: 6px 13px 7px 13px;" style="font-size: 8pt;">
    </form>
	<br /><br />
	<div style="width: 600px;">
	Albums on Lionface are non-traditional. Instead of directly collecting images into albums, entire posts are collected. The benefit of this is that posts can contain not only images, but text and videos as well. We believe this makes Lionface albums much more enjoyable.<br /><br /> 
	To begin, create an Album on this page by clicking the link above. Once you have an Album, return to your profile. You will notice that when you mouse over any one of your posts, additional options appear at the bottom of that post. Look for the "Settings" option, and click that. Here you will find a drop-down menu that lists your Albums. All you have to do is select the Album you would like that post to be attached to.<br /><br />
	The name of the Album will appear on the same line as where you found the Settings link, and clicking this Album name will bring you to a new page that loads only posts in that Album. Or, you can return to this page to view all your Albums.
	</div>
    {% endif %}

    
    <div {% if profile_user == request.user %}class="albums sortable"{% else %}class="albums"{% endif %} {% if not albums %} style="display:none" {% endif %}>
        {% for album in albums %}

        {% include 'profile/album.html' %}

        {% endfor %}  
        </div>
    

</div>
{% include_media 'profile.js' %}
{% endblock %}
