{% extends 'profile/profile.html' %}
{% load media friends format_results %}
{% block content_title %} <a href="{{ profile_user.get_absolute_url }}" class="name_link">{{ profile_user.full_name }}</a> | Albums {% endblock %}
{% block content_middle %}{% endblock %}
{% block content_subtitle %}
	<span style="color: #AAA; font-size: 8pt; margin: 5px;">{{ profile_user.username }}</span>
{% endblock %}

{% block left_col %}
<div  onclick="window.location.href = '{% url profile.views.profile profile_user.username %}';return false;" 
    class="noPhoto" style="background-image: url('/{{ profile_user.photo|format_image:request.get_full_path }}'); background-size: 200px 200px;"></div>

{% endblock %}

{% block right_col %}

<div style="padding: 10px; position: relative; left: 40px;">
    <div style="padding: 15px 0 25px 0px;">
        <a href="{% url profile.views.profile username=profile_user.username %}" id="posts_link" class="profile_nav">Posts</a>
        <a href="." id="albums_link" class="profile_nav">Albums</a>
        <a href="#" id="loves_link" class="profile_nav">Loves</a>
    </div>  

    {% if profile_user == request.user %}
    <div id="create_album_link" style="cursor:pointer">+ Create Album</div>
    <form id="create_album_form" style="display:none">
        <input id="album_name" name="album_name">
        <input type="submit" value="+ Create" class="blue_btn" style="font-size: 8pt;">
    </form>
	<div style="color: #BBB; font-size: 8pt;">Click and drag albums to rearrange them.</div>
    {% endif %}

    
    <div {% if profile_user == request.user %}class="albums sortable"{% else %}class="albums"{% endif %} {% if not albums %} style="display:none" {% endif %}>
        {% for album in albums %}

        {% include 'profile/album.html' %}

        {% endfor %}  
        </div>
    

</div>
{% include_media 'profile.js' %}
{% endblock %}
