{% extends 'profile/profile.html' %}
{% load media friends format_results %}
{% block content_title %} {% endblock %}
{% block content_middle %}


{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block left_col %}
<div {% if profile_user|check_profile_image_visibility:request.user and not request.user.is_anonymous %}
    onclick="window.location.href = '{% url profile.views.images profile_user.username %}';return false;" {% endif %}
    class="noPhoto" style="background: url('/{{ profile_user.photo.thumb_name }}') #FFF; -webkit-background-size: 200px 200px; -moz-background-size: 200px 200px !important; background-size: 200px 200px; background-position: center center; background-repeat: no-repeat; cursor: pointer;"></div>

{% endblock %}

{% block right_col %}

<div style="padding: 10px; position: relative; left: 40px;"> 
	<div class="profile_micro_header">{{ album.name }}</div>

    <div style="padding: 10px; position: relative; left: -60px; top: -15px;">
    {% include 'post/_albums_feed.html' %}
    </div>
    

</div>
{% include_media 'profile.js' %}
{% endblock %}
