{% extends 'profile/profile.html' %}
{% load media friends format_results %}
{% block content_title %} {% endblock %}
{% block content_middle %}


{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block left_col %}
<div  onclick="window.location.href = '{% url profile.views.images profile_user.username %}';return false;" 
    class="noPhoto" style="background: url('/{{ profile_user.photo }}') #FFF; -webkit-background-size: 190px 192px; -moz-background-size: 190px 192px !important; background-size: 190px 192px; background-position: center center; background-repeat: no-repeat;"></div>

{% endblock %}

{% block right_col %}

<div style="padding: 10px; position: relative; left: 40px;"> 

    <div style="padding: 10px; position: relative; left: -60px; top: -15px;">
	{{ album.name }}
    {% include 'post/_feed.html' %}
    </div>
    

</div>
{% include_media 'profile.js' %}
{% endblock %}
