{% extends 'profile/profile.html' %}
{% load media friends format_results %}
{% block content_title %} <a href="." class="name_link">{{ profile_user.full_name }}</a> | Albums {% endblock %}
{% block content_middle %}{% endblock %}
{% block content_subtitle %}
	<span style="color: #AAA; font-size: 8pt; margin: 5px;">{{ profile_user.username }}</span>
{% endblock %}

{% block left_col %}
<div  onclick="window.location.href = '{% url profile.views.profile profile_user.username %}';return false;" 
    class="noPhoto" style="background-image: url('/{{ profile_user.photo|format_image:request.get_full_path }}'); background-size: 200px 200px;"></div>

{% endblock %}

{% block right_col %}

<div style="padding: 10px; position: relative; left: 40px;">
    <div style="padding: 15px 0 25px 0px;">
        <a href="." id="posts_link" class="profile_nav">Posts</a>
        <a href="?albums" id="albums_link" class="profile_nav">Albums</a>
        <a href="#" id="loves_link" class="profile_nav">Loves</a>
    </div>  

<!--sample css-->
<style type="text/css">
#create_album {
    cursor:pointer;
}
#create_album:hover {
    text-decoration:underline;
}
</style>

    <div id="create_album_link" style="cursor:pointer">+ Create Album</div>
    <form id="create_album_form" style="display:none">
        <input id="album_name" name="album_name">
        <input type="submit" value="+ Create" class="blue_btn" style="font-size: 8pt;">
    </form>

    <div class="albums">
    {% for album in albums %}
        <div class="albums_list"><span class="album_name_list">{{ album.name }}</span> <span class="albums_count">(count) Posts</span> <span class="albums_edit">Edit</span></div>
        {% if album.posts.all %}
        <div>related posts: {{ album.posts.all }}</div>
        {% endif %}
    {% endfor %}  
    </div>

</div>
{% include_media 'profile.js' %}
{% endblock %}
