{% extends 'base.html' %}
{% load media %}

{% block js %}
<script>
$.extend(LionFace.user,{'album_count':'{{ profile_user.get_album_count }}'});
</script>
{% endblock %}

{% block body %}
{% include '_header.html' %}

  {% block content %}
  <div class="content_area">
    <div id="profile_top">
      <div class="left">{% block content_title %}{% endblock %}</div>
      <div class="center">{% block content_middle %}{% endblock %}</div>
      <div class="right">{% block content_subtitle %}{% endblock %}</div>
    </div>
    <div style="clear: both;"></div>
    <div class="left_col">
      {% block left_col %}{% endblock %}
    </div>
    <div class="right_col">
      {% block right_col %}{% endblock %}
    </div>
  </div>
  <div style="clear: both;"></div>
	<div class="center_col">
	  {% block center_col %}{% endblock %}
	</div>
  </div>
  {% endblock %}

{% endblock %}
