{% load media friends format_results %}

<script>
/** dashboard icons hover */
$(document).ready(function() { 
        $(document).on('mouseenter', '.dashboard_nav', function() {
            var img = $(this).find('img');
            var a = $(this);
            if (img.hasClass('icon_post') && !a.hasClass('active_dash_head')) {
                img.attr('src',"{% media_url 'images/iconPost.hover.png' %}");
            }
            if (img.hasClass('icon_album') && !a.hasClass('active_dash_head')) {
                img.attr('src',"{% media_url 'images/iconAlbum.hover.png' %}");
            }
            if (img.hasClass('icon_loves') && !a.hasClass('active_dash_head')) {
                img.attr('src',"{% media_url 'images/iconLoves.hover.png' %}");
            }
        });
        $(document).on('mouseleave', '.dashboard_nav', function() {
            var img = $(this).find('img');
            var a = $(this);
            if (img.hasClass('icon_post') && !a.hasClass('active_dash_head')) {
                img.attr('src',"{% media_url 'images/iconPost.png' %}");
            }
            if (img.hasClass('icon_album') && !a.hasClass('active_dash_head')) {
                img.attr('src',"{% media_url 'images/iconAlbum.png' %}");
            }
            if (img.hasClass('icon_loves') && !a.hasClass('active_dash_head')) {
                img.attr('src',"{% media_url 'images/iconLoves.png' %}");
            }
        });
});
</script>

<div id="dashboard">
	<table width="100%" height="100%"><tr>
		<td align="left" width="186" style="padding: 7px;"> 
			<a href="{{ profile_user.get_absolute_url }}" class="name_link">
			<table><tr><td>
			<div class="images_profile_thumb" style="background: url('/{{ profile_user.photo.thumb_name }}') #FFF; -webkit-background-size: 34px 34px; -moz-background-size: 34px 34px !important; background-size: 34px 34px; width: 34px; height: 34px; display: block;"></div>
				</td><td style="padding: 3px 0 0 7px;">
			{{ profile_user.full_name }}<br />
			<span class="subtitle_username">{{ profile_user.username }}</span>
			</td></tr></table></a>
		</td>
		<td align="left">
<div style="position: relative; top: 2px;">

			<table><tr><td>
        <a href="{{ profile_user.get_absolute_url }}" id="posts_link" class="dashboard_nav {% if profile_view %}active_dash_head{% endif %}">
            <table width="100%" height="100%"><tr><td align="right" width="40%"><img class="db_posts_icon icon_post" {% if profile_view %} src="{% media_url 'images/iconPost.hover.png' %}" {% else %} src="{% media_url 'images/iconPost.png' %}" {% endif %}></img></td><td align="left" valign="top" style="padding-top: 15px; padding-left: 2px;">Posts</td></tr></table></a>

			</td><td>

        <a href="{% url users-albums username=profile_user.username %}" id="albums_link" class="dashboard_nav {% if album_view %}active_dash_head{% endif %}">
            <table width="100%" height="100%"><tr><td align="right" width="35%"><img class="db_albums_icon icon_album" {% if album_view %} src="{% media_url 'images/iconAlbum.hover.png' %}" {% else %} src="{% media_url 'images/iconAlbum.png' %}" {% endif %}></img></td><td align="left" valign="top" style="padding-top: 15px; padding-left: 2px;">Albums</td></tr></table></a>

			</td><td>

                <a href="{% url user-loves username=profile_user.username %}" id="loves_link" class="dashboard_nav {% if loves_view %}active_dash_head{% endif %}" >
                    <table width="100%" height="100%"><tr><td align="right" width="40%"><img class="db_loves_icon icon_loves" {% if loves_view %}src="{% media_url 'images/iconLoves.hover.png' %}" {% else %} src="{% media_url 'images/iconLoves.png' %}" {% endif %}></img></td><td align="left" valign="top" style="padding-top: 15px; padding-left: 2px;">Loves</td></tr></table></a>
			</td><td>
			{% if request.user == profile_user %}
			{% elif request.user.is_anonymous %}
			{% else %}
				{% if profile_user|check_message_sending:request.user %}
					<div style="margin: 8px 8px; display: inline-block;" id="send_message"><a href="#" class="send_message">Send Message</a></div>
				{% endif %}
			{% endif %}
			</td></tr></table>
</div>

		</td>
		<td class="db_addfriend" align="right">

{% if not request.user.is_anonymous %}
    {% if request.user == profile_user %}
    {% elif profile_user|has_friend:request.user %}
        <a href="#" class="profile_nav link-remove-friend { user: '{{ profile_user.id }}' }" style="position: relative; left: -8px;">- Remove</a>
    {% elif profile_user|has_friend_request:request.user %}
        <span class="subtitle_username" style="position: relative; left: -8px;">Friend request pending.</span>
    {% elif profile_user|in_followers:request.user %}
        {% if profile_user|check_friend_request:request.user %} 
        <a class="profile_btn link-add-friend { user: '{{ profile_user.id }}' }" style="cursor: pointer;">+ Add</a>
        {% endif %}
        <a class="profile_btn link-unfollow { user: '{{ profile_user.id }}' }" style="cursor: pointer;" >- Unfollow</a>
    {% else %}
        {% if profile_user|check_friend_request:request.user %} 
        <a class="profile_btn link-add-friend { user: '{{ profile_user.id }}' }" style="cursor: pointer;">+ Add</a>
        {% endif %}
        {% if profile_user|check_following:request.user %} 
        <a class="profile_btn link-follow { user: '{{ profile_user.id }}' }" style="cursor: pointer;">+ Follow</a>
        {% endif %}

    {% endif %}
{% endif %}

		</td>
		<td width="120" class="dashboard_related_td">
<div class="dashboard_related">
<table width="100%" height="100%"><tr><td colspan="2" height="25" align="center">
{% if profile_user|check_friends_visibility:request.user %}
<a href="{% url profile.views.related_users username=profile_user.username %}?Friends" class="db_related">{{ profile_user|show_friend_count }}</a>
{% endif %}
</td><tr><tr><td height="25"  width="60" align="center">
{% if profile_user|check_follower_visibility:request.user %}
<a href="{% url profile.views.related_users username=profile_user.username %}?Followers" class="db_related_sub" style="border-right: 1px solid #CCC;border-top: 1px solid #CCC;" onMouseOver="ShowContent('follower_title'); return false;" onMouseOut="HideContent('follower_title'); return false;">{{ profile_user|show_followers_count }} </a>
{% endif %}
</td><td height="25" width="60" align="center">
{% if profile_user|check_following_visibility:request.user %}
<a href="{% url profile.views.related_users username=profile_user.username %}?Following" class="db_related_sub" style="border-left: 1px solid #CCC;border-top: 1px solid #CCC" onMouseOver="ShowContent('following_title'); return false;" onMouseOut="HideContent('following_title'); return false;">{{ profile_user|show_following_count }} </a>
{% endif %}
</td></tr></table>
</div>
<div class="db_related_sub_title" style="display: none;" id="follower_title">Follower{{ profile_user.get_followers_count|pluralize }}</div>
<div class="db_related_sub_title" style="display: none;" id="following_title">Following</div>
		</td>
	</tr></table>
</div>

<div class="send_message_shadow" align="center">
    <form action="{% url profile.views.send_message username=profile_user.username %}" method="post" class="send_message_form" style="display:none; text-align: left;" id="message_form">
    {% csrf_token %}

    {% if form_mess.non_field_errors %}
    <div>{{ form_mess.non_field_errors }}</div>
    {% endif %}
    
    To: <input id="id_user_to" style="width: 150px !important; padding: 7px; border: 0px; background: transparent;" type="text" name="user_to" maxlength="100" value="{{ profile_user.full_name }}" readonly>

    <input type="hidden" name="user_id" id="id_user_id" value="{{ profile_user.id }}">

    {% if form_mess.content.errors %}
    <div>{{ form_mess.content.errors }}</div>
    {% endif %}
    {{ form_mess.content }} 

    <p><input name="message" type="submit" class="blue_btn" style="font-size: 8pt;" value="Send" /> <a href="#" onClick="HideContent('message_form'); return false;" style="font-size: 7pt; color: #999; margin-left: 10px;">Cancel</a></p>
</form> 
</div>

<div class="profile_cover_container" style="overflow:hidden;" onMouseOver="ShowContent('user_info'); return false;" onMouseOut="HideContent('user_info'); return false;">
<div style="background: #DDD; 
            {% if data_uri %}
            height: {{ data_uri.height }}px; 
            width: {{ data_uri.width }}px;
            background: url({{ data_uri }}); 
            {% elif profile_user|check_cover_image_visibility:request.user %}
            height: {{ profile_user.cover_photo.height }}px; 
            width: {{ profile_user.cover_photo.width }}px;
            background: url({{ profile_user.get_cover_photo }}); 
            {% else %}
            height: 300px; 
            width: 600px;
            background: url({{ profile_user.get_default_cover_photo }}); 
            {% endif %}
            "
            class="profile_cover" >
                        {% block inpicture %}
                        {% if request.user == profile_user and show_cover_form %}
                        <div style="position: relative; top: 270px; left: -2px; display: block; width: 200px;" align="center">
                            <a id="upload_cover_profile" class="upload_cover" style="display:none; cursor: pointer;">Upload</a>
                            <a href="{% url profile.views.reset_picture username=request.user.username %}" id="reset_profile_picture" class="upload_cover" style="display:none; color:#555;">Clear</a>
                        </div>                                
                        {% endif %}
                        {% endblock %}
                        
                        {% if show_cover_form %}

    {% if profile_user|check_profile_bio:request.user %}

<div class="user_info" id="user_info" style="display: none;">

<table width="900" height="100%"><tr><td width="33%" style="padding-left: 8px;">

    {% if profile_user == request.user %}
    <a id="show_birth_select" href="#" class="bio_title" style="padding-right: 4px;">Birthday</a>
    {% elif profile_user.get_birth_date %}
    <span style="font-weight: bold; padding-right: 4px;">Birthday</span>
    {% else %}
    {% endif %}

    <span>
        <span id="birth_month_id" class="{{ profile_user.get_birth_date|date:"m" }}" >{{ profile_user.get_birth_date|date:"M" }}</span>
        <span id="birth_day_id" style="padding-right: 3px;">{{ profile_user.get_birth_date|date:"d" }}</span>
        <span id="birth_year_id">{{ profile_user.get_birth_date|date:"Y" }}</span>
    </span>

<div class="profile_edit" id="left_birth" style="width: 40%; left: 30%; top: 100px; height: 80px;">
<table width="100%" height="100%"><tr><td align="center">
    <div>
<table><tr><td>
	<select class="birth_select birth_month_select" style="display:none"></select>
</td><td>
    <select class="birth_select birth_day_select" style="display:none;"></select>
</td><td>
    <select class="birth_select birth_year_select" style="display:none"></select>
</td></tr></table>
    <div class="sublink"><a id="save_birth_date" class="birth_select" href="{% url profile.views.save_birth_date username=profile_user.username %}" style="display:none" >Save</a>
    <a id="cancel_birth_date" class="birth_select" href="#" style="display:none" >Cancel</a></div>
    </div>
</td></tr></table>
</div>

</td><td width="33%" align="center">

    {% include "profile/profile_relations.html" %}


</td><td width="33" align="right" style="padding-right: 16px;">

    {% if profile_user == request.user %}
    <a id="show_url_input" href="#" class="bio_title" style="padding-right: 4px;">Website</a>
    {% elif profile_user.get_website %}
    <span style="font-weight: bold; padding-right: 4px;">Website</span>
    {% else %}
    {% endif %}
    

<div class="profile_edit" id="left_web" style="width: 40%; left: 30%; top: 100px; height: 80px;">
<table width="100%" height="100%"><tr><td align="center">
    <input id="url_input" class="bio_website" type="text" style="display:none; width: 165px;"></input>
    <div class="url_errors" style="display:none">URL must contain http://</div><br />
    <div class="sublink"><a id="save_url_input" class="bio_website" href="{% url profile.views.save_url_field username=profile_user.username %}" style="display:none">Save</a>
    <a id="cancel_url_input" class="bio_website" href="#" style="display:none">Cancel</a></div>
</td></tr></table>
</div>

    <span id="url_container">{{ profile_user.get_website|safe }}</span>

</td></tr></table>

</div>
{% endif %}
{% endif %}
</div>
</div>
