{% extends 'profile/base.html' %}
{% load media %}

{% block js %}
<script>
LionFace.User['feed_comet_url'] = '{% url comet.views.feed_posts %}';
</script>
{% endblock %}

{% block content_title %}{% endblock %}
{% block content_middle %}
	<table width="100%"><tr><td align="left" width="200" style="color: #999;">
		<a href="{% url profile.views.profile request.user.username %}" class="name_link">{{ user.full_name }}</a> | News Feed
	</td><td align="left">
		<a href="{% url schools.views.home %}" class="find_friends" style="display: none;">Find Friends from School ></a>
	</td><td align="right" width="200">

	</td></tr></table>
{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block dashboard %}
<div style="position: relative; width: 900px; border-top: 1px solid #FFF; background: #F5F7F9">
<table width="100%"><tr><td>
<div class="profile_micro_header" style="padding-left: 17px;">Hello, {{ request.user.first_name }}</div>
</td><td align="right">
	<span style="color: #CACDCC; padding-right: 17px;">share your heart</span>
</td></tr></table>
</div>
{% endblock %}

{% block left_col %}

    <div style="position: relative; left: 0px; z-index: 100;">
		<span class="filter_header">News Feed Filters<br /><span style="color: #BBB; font-size: 8pt;">Shift+click to select just one filter.</span></span><p />
        <a href="javascript:;" id="Friends" class="feed_type {% if 'F' in request.user.get_filters %} filterON {% else %} filter {% endif %}" {% if 'F' in request.user.get_filters %} title=" Turn filter off. " {% else %} title=" Turn filter on. " {% endif %}><img class="NF_icon" src="{% media_url 'images/Icon_NF_Friends.png' %}" /> Friends <span id="friends_count"></span></a>
        <a href="javascript:;" id="Following" class="feed_type {% if 'W' in request.user.get_filters %} filterON {% else %} filter {% endif %}" {% if 'W' in request.user.get_filters %} title=" Turn filter off. " {% else %} title=" Turn filter on. " {% endif %}><img class="NF_icon" src="{% media_url 'images/Icon_NF_Following.png' %}" /> Following <span id="following_count"></span></a>
        <a href="javascript:;" id="Businesses" class="feed_type {% if 'B' in request.user.get_filters %} filterON {% else %} filter {% endif %}" {% if 'B' in request.user.get_filters %} title=" Turn filter off. "  {% else %} title=" Turn filter on. " {% endif %}><img class="NF_icon" src="{% media_url 'images/Icon_NF_Business.png' %}" /> Businesses <span id="businesses_count"></span></a>
        <a href="javascript:;" id="Nonprofits" class="feed_type {% if 'N' in request.user.get_filters %} filterON {% else %} filter {% endif %}" {% if 'N' in request.user.get_filters %} title=" Turn filter off. "  {% else %} title=" Turn filter on. " {% endif %}><img class="NF_icon" src="{% media_url 'images/Icon_NF_NPs.png' %}" /> Nonprofits <span id="nonprofits_count"></span></a>
	</div><p />

		<span class="filter_header">Follow <span style="color: #A70;">#Tags</span></span><p />
        {% for tag in request.user.user_tag_set.all %}
        <a href="javascript:;" onClick="return false;" class="tagged {% if tag.active %} filterON {%else%} filter {% endif %}" {% if tag.active %} title=" Turn filter off. " {%else%} title=" Turn filter on. " {% endif %}>{{ tag.name }}<span class="remove_tag" style="float:right; display:none;" title="Remove Tag">x</span></a>
        {% empty %}
        {% endfor %}
        <a href="javascript:;" class="filter tags" style="height:12px; border: 0px; background: transparent;"><span class="add_tag">Add +</span></a>
<p />
<!--
        {% if popular_tags %}
		<span class="filter_header" >Trending Tags<br /><span style="color: #BBB; font-size: 8pt;">Previous 7 days</span></span><p />
        {% endif %}
        {% for tag in popular_tags %}
        <div class="micro_page_about tringing-tags" style="margin: 2px 0; width: 175px;">#<span class="tag_name">{{ tag.name }}</span><br /><span style="font-size: 7pt;">{{ tag.get_posts_count }} Tagged Posts</span><a class="tag_link" href="{% url post.views.tag_feed tag_id=tag.id %}" style="display:none"></a></div>
        {% endfor %}
 -->

{% endblock %}

{% block right_col %}

  <div id="news_feed" class="{type: 'personal'}" style="position: relative; top: -7px;"></div>

  {% include_media 'feed.js' %}

{% endblock %}
