{% extends 'profile/base.html' %}
{% load media %}

{% block js %}
<script>
LionFace.User['feed_comet_url'] = '{% url comet.views.feed_posts %}';
</script>
{% endblock %}

{% block content_title %}{% endblock %}
{% block content_middle %}
	<table width="100%"><tr><td align="left" width="200" style="color: #999;">
		<a href="{% url profile.views.profile request.user.username %}" class="name_link">{{ user.full_name }}</a> | News Feed
	</td><td align="left">
		
	</td><td align="right" width="200">

	</td></tr></table>
{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block dashboard %}
<div style="position: relative; width: 900px; min-height: 70px; -moz-border-radius: 4px; border-radius: 4px; background: #FFF">
<table width="100%" height="70"><tr><td width="200">
<div class="profile_micro_header" style="padding-left: 17px;">Hello, {{ request.user.first_name }}</div>
</td>
<td align-"left">
	<a href="{% url schools.views.home %}" class="find_friends">School Networks ></a>
</td>
<td align-"left">
	<a href="{% url photos.views.home %}" class="">Photos ></a>
</td>
<td align="right" width="150">
	<span style="color: #fafafa; padding-right: 17px;"></span>
</td></tr></table>
</div>
{% endblock %}

{% block left_col %}

   
		<div class="filter_header" style="margin-bottom: 8px;">News Feed Filters<br /><span style="color: #BBB; font-size: 8pt;">Shift+click to select multiple filters.</span></div>

        <a href="javascript:;" id="Friends" class="feed_type {% if 'F' in request.user.get_filters %} filterON {% else %} filter {% endif %}" {% if 'F' in request.user.get_filters %} title=" Turn filter off. " {% else %} title=" Turn filter on. " {% endif %}>
			<table width="100%" height="100%"><tr><td align="left">
			<img class="NF_icon" src="{% media_url 'images/Icon_NF_Friends.png' %}" /> Friends</td><td align="right">
			<span id="friends_count"></span>
			</td></tr></table></a>
        <a href="javascript:;" id="Following" class="feed_type {% if 'W' in request.user.get_filters %} filterON {% else %} filter {% endif %}" {% if 'W' in request.user.get_filters %} title=" Turn filter off. " {% else %} title=" Turn filter on. " {% endif %}>
			<table width="100%" height="100%"><tr><td align="left">
			<img class="NF_icon" src="{% media_url 'images/Icon_NF_Following.png' %}" /> Following</td><td align="right">
			<span id="following_count"></span>
			</td></tr></table></a>
        <a href="javascript:;" id="Businesses" class="feed_type {% if 'B' in request.user.get_filters %} filterON {% else %} filter {% endif %}" {% if 'B' in request.user.get_filters %} title=" Turn filter off. "  {% else %} title=" Turn filter on. " {% endif %}>
			<table width="100%" height="100%"><tr><td align="left">
			<img class="NF_icon" src="{% media_url 'images/Icon_NF_Business.png' %}" /> Businesses</td><td align="right">
			<span id="businesses_count"></span>
			</td></tr></table></a>
        <a href="javascript:;" id="Nonprofits" class="feed_type {% if 'N' in request.user.get_filters %} filterON {% else %} filter {% endif %}" {% if 'N' in request.user.get_filters %} title=" Turn filter off. "  {% else %} title=" Turn filter on. " {% endif %}>
			<table width="100%" height="100%"><tr><td align="left">
			<img class="NF_icon" src="{% media_url 'images/Icon_NF_NPs.png' %}" /> Nonprofits</td><td align="right">
			<span id="nonprofits_count"></span>
			</td></tr></table></a>
		
		<div style="display: block; width: 195px; border: 2px solid #FFF; height: 0px; margin: 8px 0;"></div>

        {% for tag in request.user.user_tag_set.all %}
        <a href="javascript:;" onClick="return false;" class="tagged {% if tag.active %} filterON {%else%} filter {% endif %}" {% if tag.active %} title=" Turn filter off. " {%else%} title=" Turn filter on. " {% endif %} style="text-align: left;">{{ tag.name }}<span class="remove_tag" style="float:right; display:none;" title="Remove Tag">x</span></a>
        {% empty %}
        {% endfor %}
		<div align="right" style="padding-right: 8px;">
        <a href="javascript:;" class="filter tags" style="height:12px; border: 0px; background: transparent;" title="You can follow a custom tag by adding it to your News Feed here."><span class="add_tag">Add Tag +</span></a>
		</div>

        {% if popular_tags %}
		<div class="filter_header" style="margin: 8px 0;">Popular Tags</div>
        {% endif %}
        {% for tag in popular_tags %}
        <div class="micro_page_about tringing-tags" style="margin: 2px 0; width: 175px;" onMouseOver="ShowContent('count_{{ tag.name }}'); return false;" onMouseOut="HideContent('count_{{ tag.name }}'); return false;">
			<table width="100%" height="100%"><tr><td align="left">
			#<span class="tag_name">{{ tag.name }}</span></td><td align="right">
			<div style="font-size: 7pt; color: #777; display: none; z-index: 999;" id="count_{{ tag.name }}">{{ tag.get_posts_count }} Posts</div><a class="tag_link" href="{% url post.views.tag_feed tag_id=tag.id %}" style="display:none"></a>
			</td></tr></table></div>
        {% endfor %}

{% endblock %}

{% block right_col %}

<div class="introduction" style="font-size: 10pt; text-align: left; margin-bottom: 20px; -moz-box-shadow: 0 2px 8px -4px #333; box-shadow: 0 2px 8px -4px #333; display: none;"><span style="font-weight: bold;color: #FC7; font-size: 12pt;">Lionface is an innovative technology.</span><br />We leverage the power of social networking to tackle some of the world's most important challenges.<br /><span style="font-size: 10pt; color: #EEE;"></div>

  <div id="news_feed" class="{type: 'personal'}" style="position: relative; top: -7px;"></div>

  {% include_media 'feed.js' %}

{% endblock %}
