{% load media friends format_results %}

<tr id="images_row_{{ image_row.index }}">
{% for row in image_row.rows %}
	<td width="25%" align="center">
		<div style="background-image: url('/{{ row.image.image|format_thumb:request.get_full_path }}');" class="image_album">
			{% if profile_user == request.user %}
			<div id="image_settings" pk="{{ row.pk }}">
				<a href="#" id="make_primary" style="float: left;" title="Make Primary Photo">+</a>
				<a href="#" id="delete" style="float: right;" title="Delete Photo">x</a>
			</div>
			{% endif %}
		</div>
	</td>
{% endfor %}
</tr>
