{% extends 'profile/base.html' %}
{% load media friends format_results %}

{% block content_title %} {% endblock %}
{% block content_middle %}

{% include "profile/dashboard.html" %}

{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block left_col %}
<div style="position: relative; top: -1px; background: #FFF;">
<div onclick="window.open('/{{ profile_user.photo|format_image:request.get_full_path }}');return false;" 
	class="noPhoto" style="background-image: url('/{{ profile_user.photo|format_image:request.get_full_path }}'); background-size: 67px 67px; height: 67px; background-position: center left; -moz-box-shadow: 0 4px 8px -4px #777; box-shadow: 0 4px 8px -4px #777; border: 0px;">
		{% if request.user == profile_user %}
        <div style="position: relative; top: 4px; left: 72px; display: block; width: 126px; background: #FFF; z-index: 997;" align="center">
            <a id="upload_picture" class="upload" style="display:none;">Upload</a><br /><a href="{% url profile.views.reset_picture username=request.user.username %}" id="reset_picture" class="upload" style="display:none; color:#555;">Clear</a>
        </div>
        {% endif %}
 
</div>

        <div class="photos_count" align="center">
		{{ profile_user.all_images.count }} Photos
		</div>

<div style="position: relative;">
<form action="." method="post" class="upload_form" enctype="multipart/form-data" style="display:none; top: -92px;">
    {% csrf_token %}
    {{ form.photo.errors }}
    <p><label for="id_photo">Upload</label></p>
    {{ form.photo }}
    <p><input name="image" type="submit" class="blue_btn" value="Upload" /></p>
</form>
</div>
</div>
{% endblock %}

{% block right_col %}
	<div style="padding: 10px; position: relative; left: 40px; height: 45px;">

	</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(function() {
		LionFace.Profile.link = "{% url profile-image-more profile_user.username %}";
	});
</script>
{% endblock %}

{% block center_col %}
<div align="center">
<div class="image_container" align="center">
	<table align="center" width="100%">
	<tr><td colspan="4">a</td></tr>
	{% for image_row in image_rows %}
		<tr id="images_row_{{ image_row.index }}">
		{% for row in image_row.rows %}
			<td width="25%" align="center">
				<div style="background-image: url('/{{ row.image.image|format_image:request.get_full_path }}'); background-size: 200px 200px; width: 200px; height: 200px; margin-bottom: 25px;">
				<div id="image_settings">
					<a href="#" style="float: left;" title="Make Primary Photo">+</a>
					<a href="#" style="float: right;" title="Delete Photo">x</a>
				</div>
			</div></td>
		{% endfor %}
		</tr>
	{% endfor %}
		<tr>
			<td colspan="4" align="center"><div class="view_more" style="display: none;">
				<a href="#">View more</a>
			</div></td>
		</tr>
	</table>
</div>
</div>
  {% include_media 'profile.js' %}
{% endblock %}
