{% extends 'profile/base.html' %}
{% load media friends format_results %}

{% block content_title %} {% endblock %}
{% block content_middle %}

{% include "profile/dashboard.html" %}

{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block left_col %}
<div onclick="window.open('/{{ profile_user.photo|format_image:request.get_full_path }}');return false;" 
	class="noPhoto" thumb="1" style="background-image: url('/{{ profile_user.photo|format_thumb:request.get_full_path }}'); background-size: 67px 67px; height: 67px; background-position: center left; -moz-box-shadow: 0 4px 8px -4px #777; box-shadow: 0 4px 8px -4px #777; border: 0px; margin-bottom: 12px;">
	{% if request.user == profile_user %}
	<div style="position: relative; top: 4px; left: 72px; display: block; width: 126px; background: #FFF; z-index: 997;" align="center">
		<a id="upload_picture" class="upload" style="display:none;">Upload</a><br /><a href="{% url profile.views.reset_picture username=request.user.username %}" id="reset_picture" class="upload" style="display:none; color:#555;">Clear</a>
	</div>
	{% endif %}
	<div class="photos_count" align="center">
		<div style="padding-top: 28px;">
			{{ profile_user.all_images.count }} Photos
		</div>
	</div>
</div>
{% endblock %}

{% block right_col %}
<div style="padding: 10px; height: 45px;">
	<div style="position: relative; top: 18px; left: 25px; color: #DDD;">
	Whose woods these are I think I know, his house is in the village though. <i>- Robert Frost</i>
	</div>
</div>

<div style="position: relative;">
<form action="." method="post" class="upload_form" enctype="multipart/form-data" style="display:none; top: -65px; height: 28px; padding: 18px; width: 662px;">
    {% csrf_token %}
    {{ form.photo.errors }}
    <label for="id_photo">Upload</label>
    {{ form.photo }}
    <input name="image" type="submit" class="blue_btn" value="Upload" />
</form>
</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(function() {
		LionFace.User['profile_images_url_more'] = "{% url profile-image-more profile_user.username %}";
		LionFace.User['profile_images_total_rows'] = {{ total_rows }};
		LionFace.User['profile_images_now_rows'] = {{ image_rows|length }};
		LionFace.User['profile_images_url_primary'] = "{% url profile-image-primary profile_user.username %}";
		LionFace.User['profile_images_url_delete'] = "{% url profile-image-delete profile_user.username %}";
	});
</script>
{% endblock %}

{% block center_col %}
{% include_media 'profile.js' %}
<div align="center">
<div class="image_container" align="center">
	<table align="center" width="100%">
		{% for image_row in image_rows %}
			{% include "profile/image_tr.html" %}
		{% endfor %}
		<tr>
			<td colspan="4" align="center"><div class="view_more" style="display: none;">
				<div class="view_more_loader" style="display: none;"><image src="{% media_url 'images/loader.gif' %}"></div>
				<a href="#">View more</a>
			</div></td>
		</tr>
	</table>
</div>
</div>
{% endblock %}
