{% extends 'profile/base.html' %}
{% load media friends format_results %}

{% block content_title %} {% endblock %}
{% block content_middle %}

{% include "profile/dashboard.html" %}

{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block left_col %}
<div  onclick="window.location.href = '{% url profile.views.profile_image profile_user.username %}';return false;" 
    class="noPhoto" style="background-image: url('/{{ profile_user.photo.thumb_name }}'); background-size: 200px 200px;"></div>

    <div style="position: relative; left: 0px; z-index: 100;">

    <a href="javascript:;" id="business" class="feed_type filterON loving" >Business</a>
    <a href="javascript:;" id="nonprofit" class="feed_type filterON loving" >Nonprofit</a>

	</div>   

{% endblock %}

{% block right_col %}
<div id="loved_pages" style="padding: 10px; position: relative; left: 40px;">

    <div id="result_table" style="text-align: center;">
        {% include "pages/pages_loves.html" %}
    </div>

</div>

  {% include_media 'profile.js' %}
{% endblock %}

