{% extends 'profile/base.html' %}
{% load media friends format_results %}

{% block css %}
<style>
body { background: #FFF; }
</style>
{% endblock %}

{% block content_title %} {% endblock %}
{% block content_middle %}{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block dashboard %}
	{% include "profile/dashboard.html" %}
{% endblock %}

{% block left_col %}
<div {% if profile_user|check_profile_image_visibility:request.user and not request.user.is_anonymous %}
    onclick="window.location.href = '{% url profile.views.profile profile_user.username %}';return false;" {% endif %} 
    class="noPhoto" style="background: url('/{{ profile_user.photo.thumb_name }}') #FFF; -webkit-background-size: 200px 200px; -moz-background-size: 200px 200px !important; background-size: 200px 200px; background-position: center center; background-repeat: no-repeat; cursor: pointer;"></div>

    <div style="position: relative; left: 0px; z-index: 100;">

    <a href="javascript:;" id="posts" class="feed_type filter loving"> Posts</a>
    <a href="javascript:;" id="images" class="feed_type filter loving"> Photos</a>
    <a href="javascript:;" id="business" class="feed_type filterON loving"><img class="NF_icon" src="{% media_url 'images/Icon_NF_Business.png' %}" /> Businesses</a>
    <a href="javascript:;" id="nonprofit" class="feed_type filter loving"><img class="NF_icon" src="{% media_url 'images/Icon_NF_NPs.png' %}" /> Nonprofits</a>

	</div>   

{% endblock %}

{% block right_col %}
<div id="loved_pages" style="padding: 10px; position: relative; left: 40px;">
	<div class="profile_micro_header" style="border-bottom: 1px solid #EEE; width: 570px; margin-bottom: 8px;">Loves</div>
    <div id="result_table" style="text-align: center;">
        {% include "profile/loves_items.html" %}
    </div>

</div>

  {% include_media 'profile.js' %}
    {% include "images/popup.html" %}
{% endblock %}

{% block footer_js %}
<script type="text/javascript">
    $(function() {
        LionFace.User['images_type'] = 'profile';
        LionFace.User['images_manage'] = {% if request.user == profile_user %}true{% else %}false{% endif %};
        LionFace.User['images_total_rows'] = '{{ total_rows }}';
        LionFace.User['images_now_rows'] = '{{ image_rows|length }}';
        LionFace.User['images_ajax'] = "{% url profile.views.images_ajax profile_user.username %}";
        LionFace.User['images_comments_ajax'] = "{% url profile.views.images_comments_ajax profile_user.username %}";
        LionFace.User['images_quote_ajax'] = '{% url profile-images-quote profile_user.username %}';
        LionFace.User['images_rotation'] = '{% url profile.views.rotate_image profile_user.username %}';
        LionFace.User['profile_user'] = '{{ profile_user.username }}';
    });
</script>
{% endblock %}

