<script>
        var url_auto_rel = LionFace.User.relation_auto_url;
        $( "#inter_relation_input" ).autocomplete({
            source: url_auto_rel,
        });
</script>
        

<span id="realtions_container">
    {% if profile_user == request.user %}
    <a id="inter_relation_btn" href="#" class="bio_title">Relationship</a>
    {% if not profile_user.has_pending_notifications %}

    {% else %}
    <span  class="inter-relation" style="display:none; color: #f88;"> Request Pending </span>
    {% endif %}
    {% elif profile_user.get_relation_type %}
    <span style="font-weight: bold; padding: 4px;">Relationship</span>
    {% else %}
    {% endif %}

    {% if profile_user.get_related_person %} 
        {% if profile_user.get_relation_type == 'married' or profile_user.get_relation_type == 'engaged' %} 
        <span id="relation_type_id" >{{ profile_user.get_relation_type }} to <a href="{{ profile_user.get_related_person.get_absolute_url }}">{{ profile_user.get_related_person.get_full_name }}</a></span>
        {% endif %}
        {% if profile_user.get_relation_type == 'dating' %} 
        <span id="relation_type_id" >{{ profile_user.get_relation_type }} <a href="{{ profile_user.get_related_person.get_absolute_url }}">{{ profile_user.get_related_person.get_full_name }}</a></span>
        {% endif %}
    {% else %}
        <span id="relation_type_id" >{{ profile_user.get_relation_type }} </span>
    {% endif %}
</span>

<div class="profile_edit" id="left_rel" style="width: 40%; left: 30%; top: 100px; height: 80px;">
<table width="100%" height="100%"><tr><td align="center">
    <select id="inter_relation_select" class="inter-relation" style="display:none; padding: 3px; margin: 3px;">
        <option value='' {% if profile_user.get_relation == '' %}selected=""{% endif %}></option>
        <option value='S' {% if profile_user.get_relation == 'S' %}selected=""{% endif %}>Single</option>
        <option value='D' {% if profile_user.get_relation == 'D' %}selected=""{% endif %}>Dating</option>
        <option value='E' {% if profile_user.get_relation == 'E' %}selected=""{% endif %}>Engaged</option>
        <option value='M' {% if profile_user.get_relation == 'M' %}selected=""{% endif %}>Married</option>
    </select>
    <span class="inter_relation_container" style="display:none">
        <input id="inter_relation_input" type="text" {% if profile_user.get_relation != 'S' and profile_user.get_relation != '' %}style="display:none"{% endif %}/>
    </span><br />

    <div class="sublink"><a id="save_inter_relation" class="inter-relation" href="#" style="display:none">Save</a>
    <a id="cancel_inter_relation" class="inter-relation" href="#" style="display:none" >Cancel</a></div>
</td></tr></table>
</div>
