{% extends 'profile/base.html' %}
{% load media friends format_results %}

{% block content_title %} <a href="{{ profile_user.get_absolute_url }}" class="name_link">{{ profile_user.full_name }}</a> | Profile {% endblock %}
{% block content_middle %}
{% if profile_user|check_friends_visibility:request.user %}
<a href="{% url profile.views.related_users username=profile_user.username %}?Friends" class="profile_nav" style="color: #777; font-size: 8pt;">{{ profile_user|show_friend_count:request.user }}</a>
{% endif %}
{% if profile_user|check_follower_visibility:request.user %}
<span style="color: transparent;">| |</span> <a href="{% url profile.views.related_users username=profile_user.username %}?Followers"  class="profile_nav" style="color: #777; font-size: 8pt;">{{ profile_user|show_followers_count:request.user }} Follower{{ profile_user.get_followers_count|pluralize }}</a>
{% endif %}
{% if profile_user|check_following_visibility:request.user %}
<span style="color: transparent;">| |</span> <a href="{% url profile.views.related_users username=profile_user.username %}?Following"  class="profile_nav" style="color: #777; font-size: 8pt;">{{ profile_user|show_following_count:request.user }} Following</a>
{% endif %}
{% endblock %}
{% block content_subtitle %}
{% if request.user == profile_user %}
<span class="subtitle_username">{{ profile_user.username }}</span>
{% elif profile_user|has_friend:request.user %}
	<span class="subtitle_username">{{ profile_user.username }}</span>
	<a href="#" class="profile_nav link-remove-friend { user: '{{ profile_user.id }}' }" style="color: #999; margin: 0px; font-size: 8pt;">- Remove</a>
{% elif profile_user|has_friend_request:request.user %}
	<span class="subtitle_username">{{ profile_user.username }}</span>
	<span class="subtitle_username">Friend request pending.</span>
{% elif profile_user|in_followers:request.user %}
    {% if profile_user|check_friend_request:request.user %} 
	<span  class="subtitle_username" style="position: relative; top: -3px;">{{ profile_user.username }}</span>
	<a class="profile_btn link-add-friend { user: '{{ profile_user.id }}' }" style="cursor: pointer;" onMouseOver="ShowContent('add_friend'); return false;" onMouseOut="HideContent('add_friend'); return false;">+ Add</a>
    {% endif %}
	<a class="profile_btn link-unfollow { user: '{{ profile_user.id }}' }" style="cursor: pointer;" >- Unfollow</a>
{% else %}
    {% if profile_user|check_friend_request:request.user %} 
	<span  class="subtitle_username" style="position: relative; top: -3px;">{{ profile_user.username }}</span>
	<a class="profile_btn link-add-friend { user: '{{ profile_user.id }}' }" style="cursor: pointer;" onMouseOver="ShowContent('add_friend'); return false;" onMouseOut="HideContent('add_friend'); return false;">+ Add</a>
    {% endif %}
    {% if profile_user|check_following:request.user %} 
	<a class="profile_btn link-follow { user: '{{ profile_user.id }}' }" style="cursor: pointer;" onMouseOver="ShowContent('add_follow'); return false;" onMouseOut="HideContent('add_follow'); return false;" >+ Follow</a>
    {% endif %}
<div class="add_filter" id="add_follow" style="display: none;">
	<select>
		<option></option>
	</select><br /><br />
	<a href="#" style="padding: 5px;">+ Add Custom Filter</a>
</div>
<div class="add_filter" id="add_friend" style="display: none;">
<table width="300"><tr><td>
Put {{ profile_user.first_name }} into one of your filters.<br /><br />
	<select>
		<option></option>
		<option>Family</option>
	</select><br /><br />
	<a href="#" style="padding: 5px;">+ Add Custom Filter</a>
</td><td>
Pick a filter from {{ profile_user.first_name }} that you think you best fit in.<br /><br />
	<select>
		<option></option>
		<option>Family</option>
	</select><br /><br />
	<span style="padding: 5px; color: transparent;">Hello World</span>
</td></tr></table>
</div>
{% endif %}
{% endblock %}

{% block left_col %}
<!--onclick="window.open('/{{ profile_user.photo|format_image:request.get_full_path }}');return false;"-->
<div  onclick="window.location.href = '{% url profile.views.profile_image profile_user.username %}';return false;" 
	class="noPhoto" style="background-image: url('/{{ profile_user.photo|format_image:request.get_full_path }}'); background-size: 200px 200px;">
		{% if request.user == profile_user %}
        <div style="position: relative; top: 165px; display: block; width: 200px;" align="center">
            <a id="upload_picture" class="upload" style="display:none;">Upload</a><a href="{% url profile.views.reset_picture username=request.user.username %}" id="reset_picture" class="upload" style="display:none; color:#555;">Clear</a>
        </div>
        {% endif %}

    
</div>
<div style="position: relative;">
<form action="." method="post" class="upload_form" enctype="multipart/form-data" style="display:none;">
    {% csrf_token %}
    {{ form.photo.errors }}
    <p><label for="id_photo">Upload</label></p>
    {{ form.photo }}
    <p><input id="submit_img_btn" name="image" type="submit" class="blue_btn" value="Upload" /></p>
</form>
</div>

{% if request.user == profile_user %}
<div class="DoS_profile">This is you.</div>
{% else %}
{% if profile_user|check_message_sending:request.user %}
    {% if profile_user|degree_of_separation:request.user or profile_user|degree_of_separation:request.user == 0 %}
    <div class="DoS_profile">Degree of Separation: {{ profile_user|degree_of_separation:request.user }}</div>
    {% else %}
    <div class="DoS_profile">Degree of Separation: <span title="Unknown">--</span></div>
    {% endif %}
<div style="margin: 10px 0; display: inline-block;" id="send_message"><a href="#" class="profile_nav" style="font-size: 10pt;">Send Message</a></div>

{% endif %}


<div style="position: relative;">
<form action="." method="post" class="send_message_form" style="display:none;" id="message_form">
    {% csrf_token %}

    {% if form_mess.non_field_errors %}
    <div>{{ form_mess.non_field_errors }}</div>
    {% endif %}
    
    To: <input id="id_user_to" style="width: 150px !important; padding: 7px; border: 0px; background: transparent;" type="text" name="user_to" maxlength="100" value="{{ profile_user.full_name }}" readonly>

    <input type="hidden" name="user_id" id="id_user_id" value="{{ profile_user.id }}">

    {% if form_mess.content.errors %}
    <div>{{ form_mess.content.errors }}</div>
    {% endif %}
    {{ form_mess.content }} 

    <p><input name="message" type="submit" class="blue_btn" style="font-size: 8pt;" value="Send" /> <a href="#" onClick="HideContent('message_form'); return false;" style="font-size: 7pt; color: #999; margin-left: 10px;">Cancel</a></p>
</form> 
</div>
 {% endif %}

<div class="bio">
Relationship<br /><br />
Bio<br /><br />
Birthday<br />
DD MM YYYY<br /><br />
Website<br /><br />
</div>
{% endblock %}

{% block right_col %}
{% include_media 'feed.js' %}
<div style="padding: 10px; position: relative; left: 40px;">
    <div style="padding: 15px 0 25px 0px;">
        <a href="." id="posts_link" class="profile_nav">Posts</a>
        <a href="{% url users-albums username=profile_user.username %}" id="albums_link" class="profile_nav">Albums</a>
        <a href="#" id="loves_link" class="profile_nav">Loves</a>
    </div>

    {% if profile_user|has_friend:request.user or request.user == profile_user %}

    <div id="postbox">
        <form id="postform">{% csrf_token %}
            <div style="padding: 10px;" align="center">

                <textarea class="postbox_textarea" name="content" style="line-height:1; font-size: 15px;"></textarea>

                <br />
                <div class="postoptions_container" >
                    <table width="100%"><tr>
                            <td align="left" style="color: #999; font-size: 8pt;" width="50%">
                                <input name="profile_id" type="hidden" value="{{profile_user.id}}" >
                                	<div style="position: relative; width: 100%; height: 100%;">
                                        <div style="position: absolute; left: 0px; top: -12px; {% if profile_user|has_friend:request.user %} display:none {% endif %}">
                                        {% if profile_user|has_friend:request.user %}
                                            <div class="post_option">
                                                <input name="type" type="radio" value="P" id="checkbox1" name="public" style="cursor: pointer;">
                                            <label for="checkbox1" style="cursor: pointer;"> Public</label></div>
                                            <div class="post_option">
                                                <input name="type" type="radio" value="F" checked id="checkbox" style="cursor: pointer;"> 
                                            <label for="checkbox" style="cursor: pointer;"> Friends</label>
												</div>
                                        {% else %}
                                            {% if request.user|check_option:"posting_default" == "Friends Only" %}
                                                <div class="post_option">
                                                    <input name="type" type="radio" value="P" id="checkbox1" name="public" style="cursor: pointer;">
                                                    <label for="checkbox1" style="cursor: pointer;"> Public</label>
                                                </div>
                                                <div class="post_option">
                                                    <input name="type" type="radio" value="F" checked id="checkbox" style="cursor: pointer;"> 
                                                    <label for="checkbox" style="cursor: pointer;"> Friends</label>
                                                </div>
                                            {% else %}
                                                <div class="post_option">
                                                    <input name="type" type="radio" value="P" checked id="checkbox1" name="public" style="cursor: pointer;">
                                                    <label for="checkbox1" style="cursor: pointer;"> Public</label>
                                                </div>
                                                <div class="post_option">
                                                    <input name="type" type="radio" value="F" id="checkbox" style="cursor: pointer;"> 
                                                    <label for="checkbox" style="cursor: pointer;"> Friends</label>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                            </div>
                                        </div>
                                    </div>
                            </td>
                                    <td align="right">
                                        <span class="post_feature_container">
											<span onMouseOver="ShowContent('tags'); return false;" onMouseOut="HideContent('tags'); return false;">#</span>
											<span onMouseOver="ShowContent('embed'); return false;" onMouseOut="HideContent('embed'); return false;">embed</span>
											<span  onMouseOver="ShowContent('href'); return false;" onMouseOut="HideContent('href'); return false;">href</span></span> 
											<div style="position: relative; display: inline-block;">
												<div class="post_feature" style="display: none;" id="tags">Use the hashtag symbol (#) to create tags.</div>
												<div class="post_feature" style="display: none;" id="embed">Copy and paste links from sites like Youtube and Vimeo and videos will automatically embed into your post. We also support TED.com videos.</div>
												<div class="post_feature" style="display: none;" id="href">Use standard HTML a href code to create links within your post.</div>
											</div>
									<a href="#" class="post" id="postboxbutton">Post</a>
                                    </td>
                </tr></table>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>
    <div id="news_feed" class="{type: 'profile', user: {{ profile_user.id }}}"></div>
  </div>

  {% include_media 'profile.js' %}
{% endblock %}
