{% extends 'profile/base.html' %}
{% load media friends format_results %}

{% block css %}
<style>
</style>
{% endblock %}

{% block content_title %} {% endblock %}
{% block content_middle %}{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block dashboard %}
	{% include "profile/dashboard.html" %}
        <div style="position: relative;">
            <form action="." method="post" class="upload_pforile_cover_form" enctype="multipart/form-data" style="display:none" >
                <div style="padding: 4px 8px; background: #EEE; border: 1px solid #FFF; border-width: 1px 3px 3px 3px;">
                {% csrf_token %}
                {{ cover_form.cover_photo.errors }}
                <label for="id_cover_photo" style="margin-right: 10px;">Upload a Cover Photo:</label>
                {{ cover_form.cover_photo }}
                <input id="submit_cover_profile_btn" name="cover_image" type="submit" class="blue_btn" value="Upload" />
                <input id="cancel_cover_profile_btn" type="button" class="blue_btn" value="Cancel" />
                </div>
            </form>
        </div>
{% endblock %}

{% block left_col %}
<!--onclick="window.open('/{{ profile_user.photo }}');return false;"-->
<div class="noPhoto_shadow">
<div {% if profile_user|check_profile_image_visibility:request.user %}
onclick="window.location.href = '{% url profile.views.images profile_user.username %}';return false;"
{% endif %}
	class="noPhoto" style="background: url('/{{ profile_user.photo.thumb_name }}') #FFF; -webkit-background-size: 190px 192px; -moz-background-size: 190px 192px !important; background-size: 190px 192px; background-position: center center; background-repeat: no-repeat;">
		{% if request.user == profile_user %}
		<div style="position: relative; top: 165px; display: block; width: 200px;" align="center">
			<a id="upload_picture" class="upload" style="display:none;">Upload</a>
			<a href="{% url profile.views.images_reset username=request.user.username %}" id="reset_picture" class="upload" style="display:none; color:#555;">Clear</a>
		</div>
		{% endif %}
</div></div>
{% if request.user == profile_user %}
<div style="position: relative;">
<form action="." method="post" class="upload_form" enctype="multipart/form-data" style="display:none;">
	{% csrf_token %}
	{{ form.image.errors }}
	<p><label for="id_photo">Upload</label></p>
	{{ form.image }}
	<p>
		<input id="submit_img_btn" name="image" type="submit" class="blue_btn" value="Upload" />
		<input id="upload_cancel" type="button" class="blue_btn" value="Cancel" />
	</p>
</form>
</div>
{% endif %}

{% if request.user == profile_user %}
<div class="DoS_profile">This is you.</div>
{% else %}
{% if profile_user|check_message_sending:request.user %}
	{% if profile_user|degree_of_separation:request.user or profile_user|degree_of_separation:request.user == 0 %}
	<div class="DoS_profile">Degree of Separation: {{ profile_user|degree_of_separation:request.user }}</div>
	{% else %}
	<div class="DoS_profile">Degree of Separation: <span title="Unknown">--</span></div>
	{% endif %}

{% endif %}
{% endif %}

<div class="bio">

    {% if profile_user == request.user %}
    <a id="favorite-pages" href="#" class="bio_title">Favorite Pages</a>
    {% elif profile_user.get_favourite_pages %}
    <span style="font-weight: bold; color: #555;">Favorite Pages</span>
    {% else %}
    {% endif %}
<div style="position: relative;">
<div class="profile_edit" id="left_fav">
    <input type="text" class="fav-pages" id="favourite_pages_input" style="display:none; width: 165px;"/><br /><div class="sublink"><a id="add_favourite" class="fav-pages" href="#" style="display:none">Add</a><a id="cancel_favourite" class="fav-pages" href="#" style="display:none">Cancel</a></div>
</div></div>

<div id="favorite-pages-container" {% if request.user == profile_user %}class="sortable-pages"{% endif %} {% if not profile_user.get_favourite_pages %}style="display:none"{% endif %}>
        {% include "profile/profile_favourite_page.html" %}
    </div>
<br />

    {% if profile_user|check_profile_bio:request.user %}
    {% include "profile/profile_relations.html" %}

    {% if profile_user == request.user %}
    <a id="show_birth_select" href="#" class="bio_title" >Birthday</a>
    {% elif profile_user.get_birth_date %}
    <span style="font-weight: bold; color: #555;">Birthday</span>
    {% else %}
    {% endif %}

<div style="position: relative;">
<div class="profile_edit" id="left_birth">
    <div>
<table><tr><td>
    <select class="birth_select birth_day_select" style="display:none"></select>
</td><td>
    <select class="birth_select birth_month_select" style="display:none"></select>
</td><td>
    <select class="birth_select birth_year_select" style="display:none"></select>
</td></tr></table>
    <div class="sublink"><a id="save_birth_date" class="birth_select" href="{% url profile.views.save_birth_date username=profile_user.username %}" style="display:none" >Save</a>
    <a id="cancel_birth_date" class="birth_select" href="#" style="display:none" >Cancel</a></div>
    </div>
</div>
</div>

    <span>
        <span id="birth_day_id">{{ profile_user.get_birth_date|date:"d" }}</span>
        <span id="birth_month_id" class="{{ profile_user.get_birth_date|date:"m" }}" >{{ profile_user.get_birth_date|date:"M" }}</span>
        <span id="birth_year_id">{{ profile_user.get_birth_date|date:"Y" }}</span>
    </span>

<br /><br />

    {% if profile_user == request.user %}
    <a id="show_url_input" href="#" class="bio_title">Website</a>
    {% elif profile_user.get_website %}
    <span style="font-weight: bold; color: #555;">Website</span>
    {% else %}
    {% endif %}
    <div>

<div style="position: relative;">
<div class="profile_edit" id="left_web">
    <input id="url_input" class="bio_website" type="text" style="display:none; width: 165px;"></input>
    <div class="url_errors" style="display:none">URL must contain http://</div><br />
    <div class="sublink"><a id="save_url_input" class="bio_website" href="{% url profile.views.save_url_field username=profile_user.username %}" style="display:none">Save</a>
    <a id="cancel_url_input" class="bio_website" href="#" style="display:none">Cancel</a></div>
    </div>
</div>
</div>

    <span id="url_container">{{ profile_user.get_website|safe }}</span>

<br /><br />

    {% if profile_user == request.user %}
    <a id="show_bio_info" href="#" class="bio_title">Biography</a>
    {% elif profile_user.get_bio_info %}
    <span style="font-weight: bold; color: #555;">Biography</span>
    {% else %}
    {% endif %}

<div style="position: relative;">
<div class="profile_edit" style="top: 0px; left: 0px;" id="left_bio">
        <textarea id="bio_info_textarea" class="bio_info" rows="6" maxlength="250" style="display:none; width: 165px;"></textarea><br /><div class="sublink">
        <a id="save_bio_text" class="bio_info" href="{% url profile.views.save_bio_info username=profile_user.username %}" style="display:none">Save</a>
        <a id="cacel_bio_text" class="bio_info" href="#" style="display:none">Cancel</a></div>
</div></div>
	
        <div id="bio_info_text">{{ profile_user.get_bio_info }}</div>

    {% endif %}
</div>
{% endblock %}

{% block right_col %}
{% include_media 'feed.js' %}

<div style="padding: 10px; position: relative; left: 40px;">

	{% if profile_user|has_friend:request.user or request.user == profile_user %}

	<div id="postbox_shadow"><div id="postbox" style="margin-top: 25px;">
		<form id="postform" enctype="multipart/form-data">{% csrf_token %}
			<div style="padding: 10px;" align="center">

				<textarea class="postbox_textarea" name="content" style="line-height:1; font-size: 15px;"></textarea>

				<br />
				<div class="postoptions_container" >
					<table width="100%"><tr>
							<td align="left" style="color: #999; font-size: 8pt;" width="50%">
								<input name="profile_id" type="hidden" value="{{profile_user.id}}" >
									<div style="position: relative; width: 100%; height: 100%;">
										<div style="position: absolute; left: 0px; top: -12px; {% if profile_user|has_friend:request.user %} display:none {% endif %}">
										{% if profile_user|has_friend:request.user %}
											<div class="post_option">
												<input name="type" type="radio" value="P" id="checkbox1" name="public" style="cursor: pointer;">
											<label for="checkbox1" style="cursor: pointer;"> Public</label></div>
											<div class="post_option">
												<input name="type" type="radio" value="F" checked id="checkbox" style="cursor: pointer;">
											<label for="checkbox" style="cursor: pointer;"> Friends</label>
												</div>
										{% else %}
											{% if request.user|check_option:"posting_default" == "Friends Only" %}
												<div class="post_option">
													<input name="type" type="radio" value="P" id="checkbox1" name="public" style="cursor: pointer;">
													<label for="checkbox1" style="cursor: pointer;"> Public</label>
												</div>
												<div class="post_option">
													<input name="type" type="radio" value="F" checked id="checkbox" style="cursor: pointer;">
													<label for="checkbox" style="cursor: pointer;"> Friends</label>
												</div>
											{% else %}
												<div class="post_option">
													<input name="type" type="radio" value="P" checked id="checkbox1" name="public" style="cursor: pointer;">
													<label for="checkbox1" style="cursor: pointer;"> Public</label>
												</div>
												<div class="post_option">
													<input name="type" type="radio" value="F" id="checkbox" style="cursor: pointer;">
													<label for="checkbox" style="cursor: pointer;"> Friends</label>
												</div>
											{% endif %}
										{% endif %}
											</div>
										</div>
									</div>
							</td>
								<td align="right">
									<span class="post_feature_container">
										<span onMouseOver="ShowContent('tags'); return false;" onMouseOut="HideContent('tags'); return false;">#</span>
										<span onMouseOver="ShowContent('embed'); return false;" onMouseOut="HideContent('embed'); return false;">embed</span>
										<span  onMouseOver="ShowContent('href'); return false;" onMouseOut="HideContent('href'); return false;">href</span></span>
										<div class="attach" onclick="LionFace.Profile.attach_image(event)">Attach</div>
										<div style="position: relative; display: inline-block;">
											<div class="post_feature" style="display: none;" id="tags">Use the hashtag symbol (#) to create tags.</div>
											<div class="post_feature" style="display: none;" id="embed">Copy and paste links from sites like Youtube and Vimeo and videos will embed once you submit your post. We also support TED.com videos.</div>
											<div class="post_feature" style="display: none;" id="href">Use standard HTML a href code to create links within your post.</div>
										</div>
								<a href="#" class="post" id="postboxbutton">Post</a>
							</td>
				</tr></table>
				</div>
			</div>
			<div id="attached-images" class="image_container_attach">
				<ul>
					{% comment %}
<li><input class="attach-image-file" type="file" name="image" style="display: none;">                     <div id="image_settings" class="feed">                         <a href="#" id="fullsize" style="float: left;" title="Make full-size in the post">+</a>                         <a href="#" id="delete" style="float: right;" title="Delete Photo">x</a>                     </div>                     <img src="/uploads/images/alex_po_p_115.thumb.jpg" width="189" height="142"></li>
					{% endcomment %}
				</ul>
			</div>
		</form>
	</div></div>
	{% endif %}
</div>
	<div id="news_feed" class="{type: 'profile', user: {{ profile_user.id }}}"></div>
</div>

{% include_media 'profile.js' %}

{% endblock %}
