{% extends "profile/profile.html" %}

{% load media %}

{% block inpicture %}
<style>
.profile_cover {
    cursor: pointer;
}
</style>
{% endblock %}

{% block right_col %}
<script>
            $(document).ready(function() {
                    $('.profile_cover').draggable({ axis: "y", containment:[0,{{ cover_offset }},0,147]});
            });
        </script>
<div style="padding: 17px;">
        <p style="padding: 8px 16px 6px 16px; background: #EEE; border: 1px solid #CCC; margin: 12px 0; -moz-box-shadow 0 4px 8px -4px #999; box-shadow: 0 4px 8px -4px #999; -moz-border-radius: 3px; border-radius: 3px;">The image height is larger than 300 pixels.
        Drag the image to adjust.</p>

    <div>
        <a id="save_image_profile" class="profile_btn" href="javacript:;">Save</a>
        <a class="profile_btn" href=".">Cancel</a>
    </div>
</div>
{% include_media 'profile.js' %}
{% endblock %}


