        {% for page in profile_user.get_favourite_pages %}
        <div id="{{ page.id }}" class="favorite_page" onMouseOver="ShowContent('remove-{{ page.id }}'); return false;" onMouseOut="HideContent('remove-{{ page.id }}'); return false;">
            <table>
                <tbody>
                <tr>
                    <td>
                        <img src="{{ page.get_thumb }}" width="30" height="30">
                    </td>
                    <td><a href="{{ page.get_absolute_url }}">{{ page.name }}</a><br>
                        <span class="love">{{ page.get_loves }}</span>
                    </td>
                    {% if profile_user == request.user %}
                    <td>
                        <a class="rem-favourite-page" href="{% url profile.views.remove_favourite_page username=request.user.username page_id=page.id %}" style="color: #555; display: none;" id="remove-{{ page.id }}">x</a>
                    </td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
