{% extends 'profile/base.html' %}
{% load media friends format_results %}

{% block content_title %} {{ profile_user.full_name }} | Profile {% endblock %}
{% block content_middle %}
{% if profile_user|check_friends_visibility:request.user %}
<a href="{% url profile.views.related_users username=profile_user.username %}?Friends" >{{ profile_user|show_friend_count }}</a>
{% endif %}
{% if profile_user|check_follower_visibility:request.user %}
<span style="color: transparent;">| |</span> <a href="{% url profile.views.related_users username=profile_user.username %}?Followers" >{{ profile_user.followers.count }} Follower{{ profile_user.followers.count|pluralize }}</a>
{% endif %}
{% if profile_user|check_following_visibility:request.user %}
<span style="color: transparent;">| |</span> <a href="{% url profile.views.related_users username=profile_user.username %}?Following" >{{ profile_user.following.count }} Following</a>
{% endif %}
{% endblock %}
{% block content_subtitle %}
{% if request.user == profile_user %}
{% elif profile_user|has_friend:request.user %}
	<a href="#" class="profile_nav link-remove-friend { user: '{{ profile_user.id }}' }" style="color: #999; margin: 0px;">- Remove</a>
{% elif profile_user|has_friend_request:request.user %}
	<span style="color: #999; margin: 0px;" >Friend request pending.</span>
{% elif profile_user|in_followers:request.user %}
    {% if profile_user|check_friend_request:request.user %} 
	<a class="profile_btn link-add-friend { user: '{{ profile_user.id }}' }" style="cursor: pointer;">+ Add</a>
    {% endif %}
	<a class="profile_btn link-unfollow { user: '{{ profile_user.id }}' }" style="cursor: pointer;" >- Unfollow</a>
{% else %}
    {% if profile_user|check_friend_request:request.user %} 
	<a class="profile_btn link-add-friend { user: '{{ profile_user.id }}' }" style="cursor: pointer;">+ Add</a>
    {% endif %}
    {% if profile_user|check_following:request.user %} 
	<a class="profile_btn link-follow { user: '{{ profile_user.id }}' }" style="cursor: pointer;" >+ Follow</a>
    {% endif %}
{% endif %}
{% endblock %}

{% block left_col %}
<!--onclick="window.open('/{{ profile_user.photo|format_image:request.get_full_path }}');return false;"-->
<div  onclick="window.location.href = '{% url profile.views.profile_image profile_user.username %}';return false;" 
	class="noPhoto" style="background-image: url('/{{ profile_user.photo|format_image:request.get_full_path }}'); background-size: 200px 200px;">
		{% if request.user == profile_user %}
        <div style="position: relative; top: 165px; display: block; width: 200px;" align="center">
            <a id="upload_picture" class="upload" style="display:none;">Upload</a><a href="{% url profile.views.reset_picture %}" id="reset_picture" class="upload" style="display:none; color:#555;">Clear</a>
        </div>
        {% endif %}

    
</div>

<form action="." method="post" class="upload_form" enctype="multipart/form-data" style="display:none;">
    {% csrf_token %}
    {{ form.photo.errors }}
    <p><label for="id_photo">Upload</label></p>
    {{ form.photo }}
    <p><input id="submit_img_btn" name="image" type="submit" class="blue_btn" value="Upload" /></p>
</form>

{% if request.user == profile_user %}
{% else %}
{% if profile_user|check_message_sending:request.user %}
<div style="margin: 10px 0;"><a href="#" id="send_message" class="profile_nav" style="font-size: 9pt;" onClick="HideContent('send_message'); return false;">Send Message</a></div>
{% endif %}


<form action="." method="post" class="send_message_form" style="display:none;">
    {% csrf_token %}

    {% if form_mess.non_field_errors %}
    <div>{{ form_mess.non_field_errors }}</div>
    {% endif %}
    
    To: <input id="id_user_to" style="width: 150px !important; padding: 7px; border: 0px;" type="text" name="user_to" maxlength="100" value="{{ profile_user.full_name }}" readonly>

    <input type="hidden" name="user_id" id="id_user_id" value="{{ profile_user.id }}">

    {% if form_mess.content.errors %}
    <div>{{ form_mess.content.errors }}</div>
    {% endif %}
    {{ form_mess.content }} 

    <p><input name="message" type="submit" class="blue_btn" style="font-size: 8pt;" value="Send" /></p>
</form> 

 {% endif %}
{% endblock %}

{% block right_col %}
{% include_media 'feed.js' %}
<div style="padding: 10px; position: relative; left: 40px;">
    <div style="padding: 15px 0 25px 0px;">
        <a href="#" class="profile_nav">Posts</a>
        <a href="#" class="profile_nav">Albums</a>
        <a href="#" class="profile_nav">Loves</a>
    </div>

    {% if profile_user|has_friend:request.user or request.user == profile_user %}

    <div id="postbox">
        <form id="postform">{% csrf_token %}
            <div style="padding: 10px;" align="center">

                <textarea class="postbox_textarea" name="content" style="line-height:1; font-size: 15px;"></textarea>

                <br />
                <div class="postoptions_container" >
                    <table width="100%"><tr>
                            <td align="left" style="color: #999; font-size: 8pt;" width="50%">
                                <input name="profile_id" type="hidden" value="{{profile_user.id}}" >
                                	<div style="position: relative; width: 100%; height: 100%;">
                                        <div style="position: absolute; left: 0px; top: -12px; {% if profile_user|has_friend:request.user %} display:none {% endif %}">
                                        {% if profile_user|has_friend:request.user %}
                                            <div class="post_option">
                                                <input name="type" type="radio" value="P" id="checkbox1" name="public" style="cursor: pointer;">
                                            <label for="checkbox1" style="cursor: pointer;"> Public</label></div>
                                            <div class="post_option">
                                                <input name="type" type="radio" value="F" checked id="checkbox" style="cursor: pointer;"> 
                                            <label for="checkbox" style="cursor: pointer;"> Friends</label>
												</div>>
                                        {% else %}
                                            {% if request.user|check_option:"posting_default" == "Friends Only" %}
                                                <div class="post_option">
                                                    <input name="type" type="radio" value="P" id="checkbox1" name="public" style="cursor: pointer;">
                                                    <label for="checkbox1" style="cursor: pointer;"> Public</label>
                                                </div>
                                                <div class="post_option">
                                                    <input name="type" type="radio" value="F" checked id="checkbox" style="cursor: pointer;"> 
                                                    <label for="checkbox" style="cursor: pointer;"> Friends</label>
                                                </div>
                                            {% else %}
                                                <div class="post_option">
                                                    <input name="type" type="radio" value="P" checked id="checkbox1" name="public" style="cursor: pointer;">
                                                    <label for="checkbox1" style="cursor: pointer;"> Public</label>
                                                </div>
                                                <div class="post_option">
                                                    <input name="type" type="radio" value="F" id="checkbox" style="cursor: pointer;"> 
                                                    <label for="checkbox" style="cursor: pointer;"> Friends</label>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                            </div>
                                        </div>
                                    </div>
                            </td>
                                    <td align="right">
                                        <span style="margin: 20px; color: #CCC; font-size: 8pt;"># | href</span> <a href="#" class="post" id="postboxbutton">Post</a>
                                    </td>
                </tr></table>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>
    <div id="news_feed" class="{type: 'profile', user: {{ profile_user.id }}}"></div>
  </div>

  {% include_media 'profile.js' %}
{% endblock %}
