{% extends 'profile/base.html' %}
{% load media friends format_results %}

{% block content_title %} {% endblock %}
{% block content_middle %}

{% include "profile/dashboard.html" %}

{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block left_col %}
<div  onclick="window.location.href = '{% url profile.views.profile_image profile_user.username %}';return false;" 
    class="noPhoto" style="background-image: url('/{{ profile_user.photo|format_thumb:request.get_full_path }}'); background-size: 200px 200px;"></div>

    <div style="position: relative; left: 0px; z-index: 100;">
    {% if profile_user|check_friends_visibility:request.user %}
    <a href="javascript:;" class="feed_type filter related" >Friends</a>
    {% endif %}
	<a href="javascript:;" class="sub_filter">Family</a>
	<a href="javascript:;" class="sub_filter">+ Add Custom Filter</a>

    {% if profile_user|check_follower_visibility:request.user %}
    <a href="javascript:;" class="feed_type filter related" >Followers</a>
    {% endif %}
    {% if profile_user|check_following_visibility:request.user %}
    <a href="javascript:;" class="feed_type filter related" >Following</a>
    {% endif %}
	<a href="javascript:;" class="sub_filter">+ Add Custom Filter</a>

	</div>   

{% endblock %}

{% block right_col %}
<div id="related_users" style="padding: 10px; position: relative; left: -10px;">

    {% include "profile/related_users.html" %}

</div>

  {% include_media 'profile.js' %}
  {% include_media 'related.js' %}
{% endblock %}
