{% extends 'profile/base.html' %}
{% load media friends format_results %}

{% block content_title %} {% endblock %}
{% block content_middle %}{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block dashboard %}
	{% include "profile/dashboard.html" %}
{% endblock %}

{% block left_col %}
<div onclick="window.location.href = '{% url profile.views.images profile_user.username %}';return false;" 
    class="noPhoto" style="background: url('/{{ profile_user.photo.thumb_name }}') #FFF; -webkit-background-size: 190px 192px; -moz-background-size: 190px 192px !important; background-size: 190px 192px; background-position: center center; background-repeat: no-repeat;"></div>
    <div style="position: relative; left: 0px; z-index: 100;">
    {% if profile_user|check_friends_visibility:request.user %}
    <a id="Friends" href="javascript:;" class="feed_type filter related" ><img class="NF_icon" src="{% media_url 'images/Icon_NF_Friends.png' %}" /> Friends</a>
    {% endif %}
    {% if profile_user|check_follower_visibility:request.user %}
    <a id="Followers" href="javascript:;" class="feed_type filter related" ><img class="NF_icon" src="{% media_url 'images/Icon_NF_Following.png' %}" /> Followers</a>
    {% endif %}
    {% if profile_user|check_following_visibility:request.user %}
    <a id="Following" href="javascript:;" class="feed_type filter related" ><img class="NF_icon" src="{% media_url 'images/Icon_NF_Following.png' %}" /> Following</a>
    {% endif %}

	</div>   

{% endblock %}

{% block right_col %}
<div id="related_users" style="padding: 10px; position: relative; left: -10px;">

    {% include "profile/related_users.html" %}

</div>

  {% include_media 'profile.js' %}
  {% include_media 'related.js' %}
{% endblock %}
