{% extends 'profile/base.html' %}
{% load i18n static media %}

{% block content_title %}
<a href="{{ request.user.get_absolute_url }}" class="name_link">{{ user.full_name }}</a> | Account
{% endblock %}

{% block content_middle %}
{% endblock %}

{% block content_subtitle %}
<a href="{{ request.user.get_absolute_url }}" style="color: #AAA;">Cancel</a>
{% endblock %}

<div class="left_col">
    {% block left_col %}
    <div class="settings_nav">
        <ul>
            <li id="basics_settings" {% if active == 'basics' %} class="active" {% endif %} onClick="show_basics()">Basics</li>
            <li id="privacy_settings" {% if active == 'privacy' %} class="active" {% endif %} onClick="show_privacy()">Privacy</li>
        </ul>
    </div>
    {% endblock %}
</div>

<div class="right_col">
    {% block right_col %}

    <div id="basics_header">
        <span style="font-size: 18px;">Basics</span></strong>
</div>
<div id="privacy_header">
    <span style="font-size: 18px;">Privacy</span></strong>
</div>

<form action="" method="post">{% csrf_token %}
<div align="center">
    <table id="basics">
        <tr>
            <td width="150" align="right">&nbsp;</td>
            <td width="405">&nbsp;</td>
        </tr>
        <tr>
            <td align="right">Full Name</td>
            <td>
                {{ form.full_name.errors }}
                {{ form.full_name }}
            </td>
        </tr>
        <tr>
            <td align="right">Email<br></td>
            <td>        
                {{ form.email.errors }}
                {{ form.email }}
            </td>
        </tr>
        <tr>
            <td align="right">Username<br></td>
            <td class="username">        
                {{ form.username }}
            </td>
        </tr>
        <tr>
            <td align="right">&nbsp;</td>
            <td><div id="hide_pass"><a onClick="javascript:$('#pass_changing').fadeIn(); HideContent('hide_pass'); return false;" style="font-size: 12px; cursor:pointer;">Change Your Password</a></div></td>
        </tr>
        <tr id="pass_changing" style="display:none;">
            <td align="right">&nbsp;</td>
            <td>
			<div class="change_password">
                <fieldset class="module aligned wide">

                    <div class="form-row" style="border: 1px solid #CCC; border-width: 0 0 1px 0;">
                        {{ form_pass.old_password.errors }}
                        <label for="id_old_password" class="required">{% trans 'Old Password' %}:</label>{{ form_pass.old_password }}
                    </div>

                    <div class="form-row">
                        {{ form_pass.new_password1.errors }}
                        <label for="id_new_password1" class="required">{% trans 'New Password' %}:</label>{{ form_pass.new_password1 }}
                    </div>

                    <div class="form-row">
                        {{ form_pass.new_password2.errors }}
                        <label for="id_new_password2" class="required">{% trans 'Confirm' %}:</label>{{ form_pass.new_password2 }}
                    </div>

                </fieldset>

                {% if changed %}
                <p> Password changed successfully </p>
                {% endif %}

                <div class="submit-row">
                    <input type="submit" value="Update Password" class="blue_btn" name="change_pass" class="default" style="font-size: 8pt !important;" />
                </div>   
			</div>      
            </td>  
        </tr>
        <tr>
            <td align="right">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>


    <td>&nbsp;</td>
</tr>
   </table>


   <table id="privacy">
<tr>
    <td align="right">&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>Posting Default<span style="font-size: 11px; color: #777;"></span></td>
    <td><label for="id_option_posting_default"></label>
        {{ form.option_posting_default}}
    </td>
</tr>
<tr>
    <td width="200">Posting To Friends<span style="font-size: 11px; color: #777;"></span></td>
    <td>Friends Only</td>
</tr>
<tr>
    <td colspan="2"><span style="font-size: 11px; color: #999;">Note: Loving, commenting and sharing inherit the privacy settings of their parent post. If your post is public then loving, commenting and sharing is also available to the public.</span></td>
</tr>
<tr>
    <td width="200">Love Default<br></td>
    <td> 
        <select><option selected>Enalbed</option><option>Disabled</option></select>
    </td>
</tr>
<tr>
    <td width="200">Comment Default<br></td>
    <td> 
        {{ form.option_comment_default }}
    </td>
</tr>
<tr>
    <td width="200">Share Default</td>
    <td>
        {{ form.option_share_default }}
    </td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td width="200">Profile Pictures Album</td>
    <td>
        {{ form.option_profile_image }}
    </td>
</tr>
<tr>
    <td width="200">Relationship, Bio,<br />Birthday, Website</td>
    <td>
        <select>
			<option selected>Public</option>
			<option>Friend's Friends</option>
			<option>Friends</option>
			<option>Just Me</option>
		</select>
    </td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>Search</td>
    <td>
        {{ form.option_search }}
    </td>
</tr>
<tr>
    <td>Send Message</td>
    <td>
        {{ form.option_send_message }}
    </td>
</tr>
<tr>
    <td>Add Friend</td>
    <td>
        {{ form.option_add_friend }}
    </td>
</tr>
<tr>
    <td>When Being Added</td>
    <td>
        <select><option selected>Allow users to place themselves into one of my filters.</option><option>Keep my filters private. I will sort friends on my own.</option><select>
    </td>
</tr>
<tr>
    <td>Follow</td>
    <td>
        {{ form.option_follow }}
    </td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>Friend List</td>
    <td>
        {{ form.option_friend_list }}
    </td>
</tr>
<tr>
    <td colspan="2"><span style="font-size: 11px; color: #999;">Note: Posts that announce new friendship connections inherit the privacy setting of your friend list.</span></td>
</tr>
<tr>
    <td>Follower List</td>
    <td>
        {{ form.option_follower_list }}
    </td>
</tr>
<tr>
    <td>Following List</td>
    <td>
        {{ form.option_following_list }}
    </td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>Loves</td>
    <td>
	<span style="color: #AAA;">On Your Profile:</span> Public<br />
	<span style="color: #AAA;">On Pages:</span>
		<select>
			<option selected>Public</option>
			<option>Private</option>
		</select>
	</td>
</tr>
<tr>
    <td>Volunteer, Intership and Employment Connections</td>
    <td>
	<span style="color: #AAA;">On Your Profile:</span> Public<br />
	<span style="color: #AAA;">On Pages:</span>
		<select>
			<option>Public</option>
			<option selected>Private</option>
		</select>
	</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>Hidden Feeds</td>
    <td><span style="font-size: 11px; color: #999;">
            {% if user.hidden.all %}
            <select multiple="multiple" name="rem_hidden_list" style="padding: 4px; border: 1px solid #DDD; -moz-border-radius: 3px; border-radius: 3px; width: 200px; height: 50px;">
                {% for hidden in user.hidden.all %}
                    <option value="{{ hidden.id }}">{{ hidden.full_name }}</option>
                {% endfor %}
            </select>
            <div style="display: inline-block; position: relative; left: 5px; top: -12px;">
                <input id="rem_hidden_btn" type="submit" value="Unhide" name="rem_hidden" class="blue_btn" style="font-size: 8pt !important;" />
            </div>
            {% else %}
            none
            {% endif %}
        </span></td>
</tr>
<tr>
    <td>Block User</td>
    <td><span stydle="font-size: 11px; color: #999;">
                <input id="block_user" name="block_user" type="text">
    </span><div style="font-size: 11px; color: #999; padding: 4px 0;">Enter a username, then press return.</div></td>
</tr>
<tr>     
{% if user.get_blocked_self %}
<tr>
    <td>Blocked Users</td>
    <td><span style="font-size: 11px; color: #999;">
                <select multiple="multiple" name="rem_blocked_list" style="padding: 4px; border: 1px solid #DDD; -moz-border-radius: 3px; border-radius: 3px; width: 200px; height: 50px;">
                {% for blocked in user.get_blocked_self %}
                    <option value="{{ blocked.id }}">{{ blocked.full_name }}</option>
                {% endfor %}
                </select>
                <div style="display: inline-block; position: relative; left: 5px; top: -12px;">
                    <input id="rem_blocked_btn" type="submit" value="Unblock" name="rem_blocked" class="blue_btn" style="font-size: 8pt !important;" />
                </div>
    </span></td>
</tr>
{% endif %}
{% if user.get_blocked_from %}
<tr>
    <td>Blocked From</td>
    <td><span style="font-size: 11px; color: #999;">
            {% if user.get_blocked_from %}
                <ul>
                {% for blocked in user.get_blocked_from %}
                    <li> {{ blocked.full_name }}</li>
                {% endfor %}
                </ul>
            {% else %}
                None
            {% endif %}
    </span></td>
</tr> 
{% endif %}
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
 </table>


</div>

<div class="save_container">
<input type="hidden" name="form_name" id="form_name">
<input id="submit_button" type="submit" class="blue_btn" style="color: #FFF;" name="save" value="Save" /> 
</form>
<a href="#" id="delete_account" style="font-size: 11px; color: #CCC; margin-left: 10px;">Delete Account</a>
<form id="delete_account_form" action="{% url profile.views.delete_profile username=request.user.username %}" method="post" style="display:none">{% csrf_token %}
<input id="submit_delete" type="submit" class="blue_btn" name="delete_account" value="Delete">
<label for="id_confirm_pass">Confirm Password:</label>
<input type="password" name="confirm_password" id="id_confirm_pass">
<span class="confirm_errors"></span>
</form>
</div>


{% include_media 'settings.js' %}
{% endblock %}
</div>
