{% load media %}

<table width="100%" class="micro_table"><tr><td width="25%" align="center">
	<img src="{% media_url 'images/land_albums.png' %}" border="0" width="100" /><br />
	<div class="micro_title">We have a <span style="font-weight: bold;">new</span> concept of <span style="color: #F58;">albums</span>.</div>
</td></tr></table>

<br /><div class="album_box" style="width: 555px;"><div style="padding: 0 40px;"><span style="font-size: 16pt; padding: 7px; font-weight: bold;">1.</span> Attach multiple photos to your posts. Embed videos.</div></div>
<div class="album_box" style="width: 555px;"><div style="padding: 0 40px;"><span style="font-size: 16pt; padding: 7px; font-weight: bold;">2.</span><i>Then</i>, assign those content-rich posts to albums.</div></div>
<div class="album_box" style="width: 555px;"><div style="padding: 0 40px;"><span style="font-size: 16pt; padding: 7px; font-weight: bold;">3.</span>Ta-da! Albums can contain more than just pictures. 
<div style="position: relative; left: 30px;">They can contain an entire experience: <span style="color: #F58;">photographs</span>, <br /><span style="color: #F58;">videos</span> and your <span style="color: #F58;">writings</span>.</div></div></div>

