<div class="micro_title">We have a <span style="font-weight: bold;">new</span> concept of <span style="color: #F58;">albums</span>.</div>
<br /><div class="album_box"><div style="padding: 0 40px;"><span style="font-size: 16pt; padding: 7px; font-weight: bold;">1.</span> Attach multiple photos to your posts. Embed videos.</div></div>
<div class="album_box"><div style="padding: 0 40px;"><span style="font-size: 16pt; padding: 7px; font-weight: bold;">2.</span><i>Then</i>, assign those content-rich posts to albums.</div></div>
<div class="album_box"><div style="padding: 0 40px;"><span style="font-size: 16pt; padding: 7px; font-weight: bold;">3.</span>Ta-da! Albums can contain more than just pictures. 
<div style="position: relative; left: 30px;">They can contain an entire experience: <span style="color: #F58;">photographs</span>, <span style="color: #F58;">videos</span> and your <span style="color: #F58;">writings</span>.</div></div></div>

