{% load media format_results %}

<div class="micro_title">A real <span style="color: #49D;">business</span> builds real relationships.</div>
<br /><span style="font-weight: bold;">Get to know people. <span style="padding: 12px;">Create connections within the entire community.</span> Be a positive part of everyone's life.</span><br />

<div style="padding: 7px; 0; margin-top: 10px; border: 1px solid #EEE; border-width: 1px 0 1px 0;">
<div align="left" style="font-size: 8pt; color: #999;">Most Loved . . .</div>
<div class="micro_page"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>(1st) Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></td></tr></table></div>
<div class="micro_page"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></td></tr></table></div>
<div class="micro_page"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td> Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></td></tr></table></div>
<div class="micro_page"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>(4th) Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></td></tr></table></div>
</div>
<div style="padding: 7px; 0;">
<div align="left" style="font-size: 8pt; color: #999;">More Business Pages . . .</div>
<div class="micro_page"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>"Random" Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></td></tr></table></div>
<div class="micro_page"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>"Random" Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></td></tr></table></div>
<div class="micro_page"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>"Random" Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></td></tr></table></div>
<div class="micro_page"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>"Random" Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></td></tr></table></div>
</div>
