{% load media %}

<table width="100%" class="micro_table"><tr><td width="25%" align="center">
	<img src="{% media_url 'images/land_dos.png' %}" border="0" width="100"/><br />
	<div class="micro_title">Degree of Separation</div>
</td></tr></table>

<div style="display: block; width: 555px; padding: 15px; border: 1px solid #DDD; margin: 15px 0; line-height: 13pt;"><i>
"Six degrees of separation is the idea that everyone is on average approximately six steps away, by way of introduction, from any other person in the world, so that a chain of "a friend of a friend" statements can be made, on average, to connect any two people in six steps or fewer."</i><br />
- <a href="http://en.wikipedia.org/wiki/Six_degrees_of_separation" target="_blank">Wikipedia</a>
</div>

<div style="padding: 7px; font-size: 11pt; line-height: 15pt; text-align: left; width: 555px; color: #777;">
	<span style="font-size: 13pt;">We've fully integrated the Degree of Separation experiment into Lionface.</span><br /><br />
	On Lionface, if you are friends with somebody, your degree of separation is 0. If your friend is friends with them, the degree of separation is 1, because 1 person (your friend) separates you from them. If it's your friend's friend's friend, the degree of separation becomes 2, and so on.<br /><br />
	The more people that use Lionface, the more accurate this experiment will become.
</div>

