{% load media %}

<table width="100%" class="micro_table"><tr><td width="25%" align="center">
	<img src="{% media_url 'images/land_followers.png' %}" border="0" width="100"/><br />
	<div class="micro_title">Follow a person's public posts. It's their blog.</div>
</td></tr></table>

<div style="padding: 0px 7px; margin-top: 7px;" align="left">
<div align="left" style="font-size: 8pt; color: #999;">Most Followed Users . . .</div>
<div class="micro_page"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>(1st) Full Name<br /><span style="font-size: 7pt;">(count) Followers</span></td></tr></table></div>
<div class="micro_page"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>Full Name<br /><span style="font-size: 7pt;">(count) Followers</span></td></tr></table></div>
<div class="micro_page"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>Full Name<br /><span style="font-size: 7pt;">(count) Followers</span></td></tr></table></div>
<div class="micro_page"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>Full Name<br /><span style="font-size: 7pt;">(count) Followers</span></td></tr></table></div>
<br />
<div class="micro_page"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>Full Name<br /><span style="font-size: 7pt;">(count) Followers</span></td></tr></table></div>
<div class="micro_page"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>Full Name<br /><span style="font-size: 7pt;">(count) Followers</span></td></tr></table></div>
<div class="micro_page"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>Full Name<br /><span style="font-size: 7pt;">(count) Followers</span></td></tr></table></div>
<div class="micro_page"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>(8th) Full Name<br /><span style="font-size: 7pt;">(count) Followers</span></td></tr></table></div>

</div>
