{% load media format_results %}

<table width="100%" class="micro_table"><tr><td width="25%" align="center">
	<img src="{% media_url 'images/land_lf.png' %}" border="0" width="100"/><br />
	<div class="micro_title" style="text-align: center; font-size: 16pt;">
	Lionface is an innovative social network, where you can connect and share.
	<span style="display: none;">Lionface has {{users_total}} registered user{{users_total|pluralize}}.</span> <span style="font-weight: bold; color: #333; font-size: 10pt; padding: 10px;">Join the action!</span></div>
</td></tr></table>

<div align="cemter">
<div style="padding: 0px 0px; margin-top: 12px; width: 50%; line-height: 150%; color: #777;" align="center">
There are three primary goals of Lionface: maintain an environment free of visual clutter (specifically in regards to advertisements), protect and respect people's privacy down to the smallest detail, and contribute to the community in a meaningful and positive way.
	</div>
</div>
