<div class="micro_title" style="text-align: left;">Lionface has {{users_total}} registered user{{users_total|pluralize}}. <a href="{% url account.views.signup %}" style="font-weight: bold; color: #333; font-size: 10pt; padding: 10px;">Join the action!</a></div>

<div style="padding: 0px 7px; margin-top: 7px;" align="left">
<div align="left" style="font-size: 8pt; color: #999; cursor: pointer;" onClick="ReverseContentDisplay('team'); return false;">Our Team . . .</div>
<div id="team" style="display: none;">
<div class="micro_page"><img src="" width="25" height="25" style="float: left;" /> Nick<br /><span style="font-size: 7pt;">Founder</span></div>
<div class="micro_page"><img src="" width="25" height="25" style="float: left;" /> Christina<br /><span style="font-size: 7pt;">Co-Founder</span></div>
</div>
</div>
