{% load media format_results %}

<table width="100%" class="micro_table"><tr><td width="25%" align="center">
	<img src="{% media_url 'images/land_np.png' %}" border="0" width="100"/><br />
	<div class="micro_title">A comprehensive social networking platform for <span style="color: #909e4a;">Nonprofits</span>.</div>
</td></tr></table>

<br /><span style="font-weight: bold;">We help with publicity. <span style="padding: 12px;">We help with volunteers.</span> We can even help with donations.</span><br />

<div style="padding: 7px; 0; margin-top: 10px; border: 1px solid #EEE; border-width: 1px 0 1px 0;">
<div align="left" style="font-size: 8pt; color: #999;">Most Loved . . .</div>
{% for page in most_loved %}
<div class="micro_page about_pages"><table><tr><td><img src="{{ page.get_thumb }}" width="30" height="30" /></td><td>{{ page.name }}<br /><span class="love">{{ page.get_lovers_active_count }} Loves</span></td><td style="display:none"><a class="page-link" href="{{ page.get_absolute_url }}"></a></td></tr></table></div>
{% endfor %}
</div>
<div style="padding: 7px; 0;">
<div align="left" style="font-size: 8pt; color: #999;">More Nonprofit Pages . . .</div>
{% for page in random_pages %}
<div class="micro_page about_pages"><table><tr><td><img src="{{ page.get_thumb }}" width="30" height="30" /></td><td>{{ page.name }}<br /><span class="love">{{ page.get_lovers_active_count }} Loves</span></td><td style="display:none"><a class="page-link" href="{{ page.get_absolute_url }}"></a></td></tr></table></div>
{% endfor %}
</div>
