<div class="micro_title">A comprehensive social networking platform for <span style="color: #896;">Nonprofits</span>.</div>
<br /><span style="font-weight: bold;">We help with publicity. <span style="padding: 12px;">We help with volunteers.</span> We even help with donations.</span><br />

<div style="color: #896;">
<div style="padding: 7px; 0; margin-top: 10px; border: 1px solid #EEE; border-width: 1px 0 1px 0;">
<div align="left" style="font-size: 8pt; color: #999;">Most Loved . . .</div>
<div class="micro_page"><img src="" width="25" height="25" style="float: left;" /> Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></div>
<div class="micro_page"><img src="" width="25" height="25" style="float: left;" /> Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></div>
<div class="micro_page"><img src="" width="25" height="25" style="float: left;" /> Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></div>
<div class="micro_page"><img src="" width="25" height="25" style="float: left;" /> Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></div>
</div>
<div style="padding: 7px; 0;">
<div align="left" style="font-size: 8pt; color: #999;">More Nonprofit Pages . . .</div>
<div class="micro_page"><img src="" width="25" height="25" style="float: left;" /> Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></div>
<div class="micro_page"><img src="" width="25" height="25" style="float: left;" /> Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></div>
<div class="micro_page"><img src="" width="25" height="25" style="float: left;" /> Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></div>
<div class="micro_page"><img src="" width="25" height="25" style="float: left;" /> Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></div>
</div>
