{% load media %}
	<div class="white_opacity">
			<div class="next_generation" style="color: #222; font-size: 17pt;">Create an Account <span style="margin-left: 15px; font-size: 9pt;">There are no ads, and it's free.</span></div>

			<div class="center_container" style="background: #FFF;">
<table width="100%" height="100%" class="heart"><tr><td>
<form id="signup_form" method="POST" action="{% url account.views.signup %}">{% csrf_token %}
<div class="dark_box">
  <table width="100%" border="0" cellspacing="0" cellpadding="4">
	<tr>
	  <td colspan="3"><span style="color: transparent;">World Peace</span> {{ signup_form.terms.errors }}
	  </td>
	</tr>
    <tr>
      <td align="right" width="200">{{ signup_form.full_name.label }}:<br /><span class="help_text">{{ signup_form.full_name.help_text }}</span></td>
      <td align="right">{{ signup_form.full_name }} {{ signup_form.full_name.errors }}</td>
	  <td width="20"><img src="{% media_url 'images/check.png' %}" width="20" /></td>
    </tr>
    <tr>
      <td align="right">{{ signup_form.password.label }}:<br /><span class="help_text">{{ signup_form.password.help_text }}</span></td>
      <td align="right">{{ signup_form.password }} {{ signup_form.password.errors }}</td>
	  <td width="20"><img src="{% media_url 'images/check_no.png' %}" width="20" /></td>
    </tr>
    <tr>
      <td align="right">{{ signup_form.password2.label }}:<br /><span class="help_text">{{ signup_form.password2.help_text }}</span></td>
      <td align="right">{{ signup_form.password2 }} {{ signup_form.password2.errors }}</td>
	  <td width="20"></td>
    </tr>
    <tr>
      <td align="right">{{ signup_form.email.label }}:<br /><span class="help_text">{{ signup_form.email.help_text }}</span></td>
      <td align="right">{{ signup_form.email }} {{ signup_form.email.errors }}</td>
	  <td width="20"></td>
    </tr>
    <tr>
      <td align="right">{{ signup_form.username.label }}:<br /><span class="help_text">{{ signup_form.username.help_text }}</span></td>
      <td align="right">{{ signup_form.username }} {{ signup_form.username.errors }}</td>
	  <td width="20"></td>
    </tr>
    <tr>
    <td colspan="3" style="font-size: 8pt; letter-spacing: 1.25pt;" align="right">{{ signup_form.terms }} I agree to the <a href="{% url public.views.terms %}" target="_blank" style="color: #555">Terms</a>. <input id="signup_submit" type="submit" value="Create an Account"></td>

    </tr>
  </table>
</div>

</form>
</td></tr></table>
			</div>
	</div>