{% load media %}

<div class="center_container" align="center">
  <table width="475" height="325" class="heart">
    <tr>
      <td>
        <form id="signup_form" method="POST" action="{% url signup %}">{% csrf_token %}
          <div class="dark_box">
            <table width="475" border="0" cellspacing="0" cellpadding="4">
				<tr><td colspan="2" align="right"><div style="font-size: 14pt; position: relative; top: -8px;">Are you new to Lionface? <span style="color: #A70;">Create an account.</span></div>
					<div style="position: absolute; bottom: 40px; right: 14px; color: #BBB; font-size: 7pt; cursor: pointer;"
						onClick="HideContent('create_table'); ShowContent('open_create'); return false;">Cancel</div>
				</td></tr>
              <tr>
                <td align="right" width="200">{{ signup_form.full_name.label }}:<br /><span style="color: #BBB; font-size: 8pt;">{{ signup_form.full_name.help_text }}</span></td>
                <td align="right">{{ signup_form.full_name }}</td>
                <td width="20">
                  {% if signup_form.full_name.errors %}
                    <img src="{% media_url 'images/check_no.png' %}" width="20" title="{{ signup_form.full_name.errors.0 }}" />
                  {% else %}
                    {% if signup %}
                      <img src="{% media_url 'images/check.png' %}" width="20" />
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td align="right">{{ signup_form.password.label }}:<br /><span class="help_text">{{ signup_form.password.help_text }}</span></td>
                <td align="right">{{ signup_form.password }}</td>
                <td width="20">
                  {% if signup_form.password.errors %}
                    <img src="{% media_url 'images/check_no.png' %}" width="20" title="{{ signup_form.password.errors.0 }}" />
                  {% else %}
                    {% if signup %}
                      <img src="{% media_url 'images/check.png' %}" width="20" />
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td align="right">{{ signup_form.password2.label }}:<br /><span class="help_text">{{ signup_form.password2.help_text }}</span></td>
                <td align="right">{{ signup_form.password2 }}</td>
                <td width="20">
                  {% if signup_form.password2.errors %}
                    <img src="{% media_url 'images/check_no.png' %}" width="20" title="{{ signup_form.password2.errors.0 }}" />
                  {% else %}
                    {% if signup %}
                      <img src="{% media_url 'images/check.png' %}" width="20" />
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td align="right">{{ signup_form.email.label }}:<br /><span style="color: #BBB; font-size: 8pt;">You will need to verify this.</span><span class="help_text">{{ signup_form.email.help_text }}</span></td>
                <td align="right">{{ signup_form.email }}</td>
                <td width="20">
                  {% if signup_form.email.errors %}
                    <img src="{% media_url 'images/check_no.png' %}" width="20" title="{{ signup_form.email.errors.0 }}" />
                  {% else %}
                    {% if signup %}
                      <img src="{% media_url 'images/check.png' %}" width="20" />
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td align="right">{{ signup_form.username.label }}:<br /><span style="color: #BBB; font-size: 8pt;">{{ signup_form.username.help_text }}</span></td>
                <td align="right">{{ signup_form.username }}</td>
            	  <td width="20">
                  {% if signup_form.username.errors %}
                    <img src="{% media_url 'images/check_no.png' %}" width="20" title="{{ signup_form.username.errors.0 }}" />
                  {% else %}
                    {% if signup %}
                      <img src="{% media_url 'images/check.png' %}" width="20" />
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td colspan="3" style="font-size: 8pt; letter-spacing: 1.25pt;" align="right">
                  {% if signup_form.terms.errors %}
                    <img src="{% media_url 'images/check_no.png' %}" width="20" title="{{ signup_form.terms.errors.0 }}" style="vertical-align: middle;" />
                  {% else %}
                    {% if signup %}
                      <img src="{% media_url 'images/check.png' %}" width="20" style="vertical-align: middle;" />
                    {% endif %}
                  {% endif %}
                  {{ signup_form.terms }} I agree to the <a href="{% url public.views.terms %}" target="_blank" style="color: #F58">Terms</a>.
                  <input id="signup_submit" type="submit" value="Create an Account">
                </td>
              </tr>
            </table>
          </div>
        </form>
      </td>
    </tr>
  </table>

</div>
