Django==1.4.1
Jinja2==2.6
PIL==1.1.7
PyYAML==3.10
South==0.7.6
Tempita==0.5.1
Whoosh==2.4.1
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.12
celery==3.0.5
clepy==0.3.20
decorator==3.3.3
dj-database-url==0.2.1
django-celery==3.0.4
django-extensions==1.0.1
django-haystack==1.2.7
django-mediagenerator==1.11
django-registration==0.8
html5lib==0.95
kombu==2.3.2
mock==1.0b1
nose==1.1.2
ordereddict==1.1
pitz==1.2.4
python-dateutil==1.5
pytz==2012d
requests==0.13.2
stripe==1.7.6
wsgiref==0.1.2
