{% extends 'public/home.html' %}
{% load media %}

{% block login_box %}
<form method="POST" action="{% url django.contrib.auth.views.password_reset %}">{% csrf_token %}
<div id="login_box" class="reset_box" style="height: 100px; width: 100%; color: #FFF;">

<div align="center">
	<table width="950" height="100%">
	  <tr>
        <td rowspan="3" align="left" width="50%">
		  {% include "public/_logo.html" %}
        </td>
	    <td align="right" width="50%" valign="bottom" height="35"></td>
      </tr>
	  <tr>
		<td align="right" class="field"><label>{{ form.email.label }}</label> {{ form.email }} <input type="submit" class="login_button" value="Reset"/></td>
	  <tr>
		<td align="right" valign="center">{{ form.email.errors }}</td>
      </tr>
    </table>
</div>

</div>
</form>
{% endblock %}
