{% extends 'public/home.html' %}

{% block login_box %}
<form method="POST">{% csrf_token %}
<div id="login_box" class="reset_box" style="height: 100px; width: 100%; color: #FFF;">

<div align="center">
	<table width="950" height="100">
	  <tr>
        <td rowspan="3" align="left" width="50%">
  {% include "public/_logo.html" %}
        </td>
	    <td align="right" width="50%" valign="bottom" height="35"><h2 style="line-height: 200%;">Select a New Password</h2></td>
      </tr>
	  <tr>
		<td align="right" class="field">  
  {% for field in form %}
    <div class="field"><label>{{ field.label }}</label> {{ field }}<br/></div>
  {% endfor %}
  <div class="field"><input type="submit" class="login_button" value="Reset Password"/></div>
		</td>
	  <tr>
		<td align="right" valign="center">{{ field.errors }}</td>
      </tr>
    </table>
</div>

</div>
</form>
{% endblock %}