<li class="follow_shared notification {type: 'shared_multiple', id: '{{ notification.id }}'}">
  <div style="padding: 15px;" class="link-output">
      <span {% if notification.new_one %} class="new_notification" {% else %} {% endif %}>
          {% if notification.people_counter == 1 %}
              1 person
          {% else %}
              {{ notification.people_counter }} people
          {% endif %}
      </span><br /><span style="color: #5AE;">shared</span> a post.
			<br /><span style="color: #999; font-size: 8pt;">Time</span>
		<div style="font-size: 8pt; color: #999; margin-top: 5px;">You are following this post.</div>
  </div>
  <div class="separator"></div>
</li>


