{% load media format_notifications %}

<div class="left_col" style="border-width: 1px 1px 0 0;">
  {% block left_col %}
    <div style="position: relative; top: -4px;">

    <ul class="notifications_list">
    {% for notification in notifications %}
        {% if notification.type != 'FR' %}
            {{ notification|format_notification }}
        {% endif %}
    {% endfor %}
    </ul>

    <div style="border: 1px solid #EEE; border-width: 1px 0 0 0; position: relative; top: -7px;">
        <table width="100%" style="font-size: 8pt; margin-top: 10px;"><tr>
          {% if notifications.has_previous %}
            <td align="left" width="75"><a href="?page={{ notifications.previous_page_number }}" class="profile_nav nav_link">< Newer</a></td>
          {% else %}
            <td align="left" width="75"><a href="javascript:;" class="" style="color:#BBB; padding: 7px; cursor: default; text-decoration: none;">< Newer</a></td>
          {% endif %}
            <td align="center" width="" style="color: #AAA; font-size: 7pt;">{{ notifications.number }} of {{ notifications.paginator.num_pages }}</td>
          {% if notifications.has_next %}
            <td align="right" width="75"><a href="?page={{ notifications.next_page_number }}" class="profile_nav nav_link">Older ></a></td>
          {% else %}
            <td align="right" width="75"><a href="javascript:;" class="" style="color:#BBB; padding: 7px; cursor: default; text-decoration: none;">Older ></a></td>
          {% endif %}
        </tr></table>
    </div>
    </div>
  {% endblock %}
</div>

