{% extends "pages/base.html" %}

{% block js %}
<script>
$(function() {         
        if ('{{active}}' == 'Nonprofit') {
            $('#nonprofit_create').click();
        }
        else if ('{{active}}' == 'Business') {
            $('#business_create').click();
        }
}); 
</script>
{% endblock %}

{% block content %}
  <div class="content_area">
    <div id="profile_top">
      <div class="left"><a href="#" class="profile_nav" style="margin: 0px; font-size: 8pt; color: #555;">Browse</a></div>
      <div class="right" style="position: relative;">
		<div class="create_options" style="display: none;" id="create">
			<a id="business_create" href="#" class="business_btn" style="font-size: 8pt;" onClick="ShowContent('create_business'); HideContent('create_nonprofit'); return false;">Create Business</a> 
			<a id="nonprofit_create" href="#" class="nonprofit_btn" style="font-size: 8pt;" onClick="ShowContent('create_nonprofit'); HideContent('create_business'); return false;">Create Nonprofit</a></div>
		<a href="#" class="profile_nav" style="margin: 0px; font-size: 8pt; color: #555;" onClick="ShowContent('create'); return false;">+ Create Page</a></div>
    </div>
	<div style="clear: both;"></div>
	<div class="content_area_pages">
		<div class="pages_nav_area">
			<table width="100%"><tr>
			<td align="left">
				<a href="." class="business_on" style="color: #FFF;">Business Pages</a> 
                <a href="{% url pages.views.leaderboard %}">Leaderboard</a>
			</td>
			<td align="right">
				<a href="{% url pages.views.nonprofit %}" class="nonprofit_btn">Nonprofit Pages</a>
			</td>
			</tr></table>
		</div>
	</div>
	<form id="business_submit_form" action="" method="post">{% csrf_token %} 
        <div class="create_business" id="create_business">
            <table width="100%"><tr>
                <td align="right">Business Name</td>
                <td align="left">
                    {{ form.name.errors }}
                    {{ form.name }}
                    <div style="font-size: 8pt; color: #AAA; padding: 4px 0;">You can adjust this later.</div></td>
                <td align="right"><div style="position: relative;">Business Username</td>
                    <td width="200" align="left">
                        {{ form.username.errors }}
                        {{ form.username }}
                        <div style="font-size: 8pt; color: #AAA; padding: 4px 0;">lionface.org/business/(page username)</div></div></td>
                <td width="33%" align="left"><div style="position: relative; left: 7px;">Category:</div>
                    {{ form.category.errors }}
                    {{ form.category }}
                    </td>
            </tr><tr>
                <td colspan="4" align="right" style="font-size: 8pt; color: #999;">
                    <div>
                        <span style="margin-right: 170px;">{{ form.represent.errors }}</span>
                        <span style="margin-left: 20px;">{{ form.terms.errors }}</span>
                    </div>
                    {{ form.represent }} <label >{{ form.represent.label }}</label>
                    {{ form.terms }} <label >{{ form.terms.label }}</label>
                <td align="left">
                    <a id="business_submit" href="#" class="business_btn">Create Business</a> 
                    <a href="#" title=" Cancel " onClick="HideContent('create_business'); HideContent('create'); return false;" style="color: #777;">x</a></td>
            </tr></table>
        </div>
    </form>
    <form id="nonprofit_submit_form" action="" method="post">{% csrf_token %} 
	<div class="create_nonprofit" id="create_nonprofit">
		<table width="100%"><tr>
			<td align="right">Nonprofit Name</td>
			<td align="left">
                {{ form.name.errors }}
                {{ form.name }}
                <div style="font-size: 8pt; color: #AAA; padding: 4px 0;">You can adjust this later.</div></td>
			<td align="right"><div style="position: relative;">Nonprofit Username</div></td>
			<td width="200" align="left">
                {{ form.username.errors }}
                {{ form.username }}
                <div style="font-size: 8pt; color: #AAA; padding: 4px 0;">lionface.org/nonprofit/(page username)</div></td>
			<td width="33%" align="left"><div style="position: relative; left: 7px;">Category:</div>
                {{ form.category.errors }}
                {{ form.category }}
				</td>
		</tr><tr>
			<td colspan="4" align="right" style="font-size: 8pt; color: #999;">
                <div>
                    <span style="margin-right: 170px;">{{ form.represent.errors }}</span>
                    <span style="margin-left: 20px;">{{ form.terms.errors }}</span>
                </div>
                {{ form.represent }} <label >{{ form.represent.label }}</label>
                {{ form.terms }} <label >{{ form.terms.label }}</label>            
			<td align="left">
                <a id="nonprofit_submit" href="#" class="nonprofit_btn">Create Nonprofit</a> 
				<a href="#" title=" Cancel " onClick="HideContent('create_nonprofit'); HideContent('create'); return false;" style="color: #777;">x</a></td>
		</tr></table>
	</div>
    </form>


<div class="content_pages" id="business">
    <table width="880" border="0" cellspacing="0" cellpadding="0" align="center" style="text-align: center;">
        {% include "pages/pages.html" %}
    </table>

</div>


  </div>
{% endblock %}
