{% extends "pages/base.html" %}
{% load format_results %}

{% block js %}
<script>
    LionFace.User.leaderboard_cats = {{ request.user|get_leaderboard_cats|safe }};
</script>
{% endblock %}  

{% block content %}

<div class="content_area">
    <div id="profile_top">
      <div class="left"></div>
      <div class="right">
		</div>
    </div>
	<div style="clear: both;"></div>
	<div class="content_area_pages">
		<div class="pages_nav_area">
			<table width="100%"><tr>
			<td align="left">
				<a href="{% url pages.views.main %}" style="margin-left: 8px;">Business Pages</a> 
                <a href="." class="business_on" style="color: #FFF;">Leaderboard</a>
			</td>
			<td align="right">
				<a href="{% url pages.views.nonprofit %}" class="nonprofit_btn" style="margin-right: 8px;">Nonprofit Pages</a>
			</td>
			</tr></table>
		</div>
	</div> 

<div style="position: relative;">
<div class="content_pages" id="leader" style="position: absolute; right: 0px; top: -10px; width: 200px; padding: 12px 10px 0px 10px; text-align: center;" id="leader">
	<div class="leader_title" style="background: #FFF; cursor: default; padding: 8px 0;">Most Loved on Lionface</div>
	<div style="position: relative; margin-bottom: 8px; padding-bottom: 8px; border-bottom: 1px solid #CCC;">
        <a href="{{ most_loved.get_absolute_url }}"> 
            <img src="{{ most_loved.get_thumb }}" alt="{{ most_loved.name }}" width="180" height="180" style="margin-bottom: 8px;"  />
        </a>
        <a href="{{ most_loved.get_absolute_url }}" style="text-decoration: none; font-size: 14pt;"><br />{{ most_loved.name }}<br />
        <div class="page_setting_love" style="position: absolute; left: -5px; top: 165px;">{{ most_loved.get_loves }}</div></a>
    </div>
    {% for page in rest %}
    {% cycle '60' '60' '60' '60' '45' '45' '45' '45' '45' as size silent %}
	<div>
        <table style="position: relative;" width="100%">
            <tr>
                <td align="left">
                    <a href="{{ page.get_absolute_url }}"> 
                        <img src="{{ page.get_thumb }}" alt="{{ page.name }}" width="{{ size }}" height="{{ size }}"  />
                    </a>
                </td>
                <td align="right"><a href="{{ page.get_absolute_url }}" style="text-decoration: none; font-size: 14pt;"> {{ page.name }}<br />
                    <div class="page_setting_love" style="position: absolute; left: -5px; bottom: 3px;">{{ page.get_loves }}</div></a>
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}
</div>

<div class="content_pages" style="width: 650px;">
    <table width="650" border="0" cellspacing="0" cellpadding="0" align="center" style="text-align: center;">
        {% for cat, rows in pages|sort_dict %}
        <tr class="category_{{ cat|getcatnumbusn }}" style="border: 1px solid #EEE; border-width: 1px 0 1px 0; background: #FAFAFA;">
            <td colspan="2" style="text-align: left; font-size: 14pt;">
                <a href="#" class="categoty_button" title="Collapse">{{ cat }}</a>
            </td>
            <td align="right">
                <a href="{% url pages.views.save_browsing_categories cat_id=cat|getcatnumbusn %}" class="profile_nav browse_rows" style="font-size: 8pt;">Expand</a>
                <a href="{% url pages.views.page_browsing page_type='business' %}?filters%5B%5D={{ cat|getcatnumbusn }}" class="profile_nav" style="font-size: 8pt;">Browse</a>
            </td>
        </tr>
            {% for row in rows %}
            <tr class="category_{{ cat|getcatnumbusn }}{% if forloop.counter > 1 %} hidden_row{% else %} page_row{% endif %}">
                {% for page in row %}
                <td style="position: relative;">
                    {% if forloop.parentloop.counter <= 1 %}
                        {% if forloop.counter == 1 %}
                            {% if page.type == 'BS' %}
                                <a href="{% url business-page slug=page.username %}"> 
                                    <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="200" height="200"  />
                                </a>
                            {% else %}   
                                <a href="{% url nonprofit-page slug=page.username %}"> 
                                    <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="200" height="200"  />
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if forloop.counter == 2 %}
                            {% if page.type == 'BS' %}
                                <a href="{% url business-page slug=page.username %}"> 
                                    <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="165" height="165"  />
                                </a>
                            {% else %}   
                                <a href="{% url nonprofit-page slug=page.username %}"> 
                                    <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="165" height="165"  />
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if forloop.counter == 3 %}
                            {% if page.type == 'BS' %}
                                <a href="{% url business-page slug=page.username %}"> 
                                    <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="140" height="140"  />
                                </a>
                            {% else %}   
                                <a href="{% url nonprofit-page slug=page.username %}"> 
                                    <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="140" height="140"  />
                                </a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if page.type == 'BS' %}
                            <a href="{% url business-page slug=page.username %}"> 
                                <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="140" height="140"  />
                            </a>
                        {% else %}   
                            <a href="{% url nonprofit-page slug=page.username %}"> 
                                <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="140" height="140"  />
                            </a>
                        {% endif %}
                    {% endif %}
					<div class="page_setting_love" style="position: absolute; right: 10px; bottom: 5px;">{{ page.get_loves }} Loves</div>
                </td>
                {% endfor %}
            </tr>
            <tr class="category_{{ cat|getcatnumbusn }}{% if forloop.counter > 1 %} hidden_row{% else %} page_row{% endif %}">
                {% for page in row %}
                <td align="center">
				<div style="position: relative; top: -5px; padding-bottom: 17px; border-bottom: 1px solid #CCC; display: block; width: 200px; margin-bottom: 17px;">
                {% if page.type == 'BS' %}
                    <a href="{% url business-page slug=page.username %}" style="color:#3ea8d2; font-size: 12pt;">{{ page.name }}</a>
                {% else %}   
                    <a href="{% url nonprofit-page slug=page.username %}" style="color:#3ea8d2; font-size: 12pt;">{{ page.name }}</span>
				{% endif %}
				</div>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
</div>
</div>

</div>

{% endblock %}
