{% extends "pages/base.html" %}



{% block content %}

<div class="content_area">
    <div id="profile_top">
      <div class="left"></div>
      <div class="right">
		</div>
    </div>
	<div style="clear: both;"></div>
	<div class="content_area_pages">
		<div class="pages_nav_area">
			<table width="100%"><tr>
			<td align="left">
				<a href="{% url pages.views.main %}" >Business Pages</a> 
                <a href="." class="business_on" style="color: #FFF;">Leaderboard</a>
			</td>
			<td align="right">
				<a href="{% url pages.views.nonprofit %}" class="nonprofit_btn">Nonprofit Pages</a>
			</td>
			</tr></table>
		</div>
	</div> 

<div style="position: relative;">
<div class="content_pages" id="leader" style="position: absolute; right: 0px; top: -10px; width: 200px; padding: 12px 10px 0px 10px; text-align: center;" id="leader">
	<div class="leader_title" style="background: #FFF; cursor: default;">Most Loved on Lionface</div>
	<div><img src="" alt="" width="180" height="180"  /><br />1st Loved Business<br /><span style="font-size: 11px; color: #E39;">(count) Love</span></div>
	<div><table><tr><td><img src="" alt="" width="60" height="60"  /></td><td align="left">2nd Loved Business<br /><span style="font-size: 11px; color: #E39;">(count) Love</span></td></tr></table></div>
	<div><table><tr><td><img src="" alt="" width="60" height="60"  /></td><td align="left">3rd Loved Business<br /><span style="font-size: 11px; color: #E39;">(count) Love</span></td></tr></table></div>
	<div><table><tr><td><img src="" alt="" width="60" height="60"  /></td><td align="left">4th Loved Business<br /><span style="font-size: 11px; color: #E39;">(count) Love</span></td></tr></table></div>
	<div><table><tr><td><img src="" alt="" width="60" height="60"  /></td><td align="left">5th Loved Business<br /><span style="font-size: 11px; color: #E39;">(count) Love</span></td></tr></table></div>
	<div><table><tr><td><img src="" alt="" width="45" height="45"  /></td><td align="left">6th Loved Business<br /><span style="font-size: 11px; color: #E39;">(count) Love</span></td></tr></table></div>
	<div><table><tr><td><img src="" alt="" width="45" height="45"  /></td><td align="left">7th Loved Business<br /><span style="font-size: 11px; color: #E39;">(count) Love</span></td></tr></table></div>
	<div><table><tr><td><img src="" alt="" width="45" height="45"  /></td><td align="left">8th Loved Business<br /><span style="font-size: 11px; color: #E39;">(count) Love</span></td></tr></table></div>
	<div><table><tr><td><img src="" alt="" width="45" height="45"  /></td><td align="left">9th Loved Business<br /><span style="font-size: 11px; color: #E39;">(count) Love</span></td></tr></table></div>
	<div><table><tr><td><img src="" alt="" width="45" height="45"  /></td><td align="left">10th Loved Business<br /><span style="font-size: 11px; color: #E39;">(count) Love</span></td></tr></table></div>
</div>

<div class="content_pages" style="width: 650px;">
<table width="650" border="0" cellspacing="0" cellpadding="0" align="center" style="text-align: center;">
  <tr><td colspan="2" style="text-align: left; font-size: 14pt;">Category</td>
	 <td align="right"><a href="#" class="profile_nav" style="font-size: 8pt;">Browse</a></td></tr>
  <tr>
    <td>
      <a href="#"> <img src="" alt="" width="200" height="200"  /></a></td>
    <td>
      <a href="#"> <img src="" alt="" width="165" height="165"  /></a></td>
    <td>
      <a href="#"> <img src="" alt="" width="140" height="140"  /></a></td>
  </tr>
    <tr>
    <td>
      1st Loved Business<br /><span style="font-size: 11px; color: #E39;">(count) Love</span></td>
    <td>
      2nd Loved Business<br /><span style="font-size: 11px; color: #E39;">(count) Love</span></td>
    <td>
      3rd Loved Business<br /><span style="font-size: 11px; color: #E39;">(count) Love</span></td>
  </tr>
</table>
</div>
</div>
 
</div>

{% endblock %}
