{% extends "pages/base.html" %}
{% load format_results %}

{% block content %}

<div class="content_area">
    <div id="profile_top">
      <div class="left"></div>
      <div class="right">
		</div>
    </div>
	<div style="clear: both;"></div>
	<div class="content_area_pages">
		<div class="pages_nav_area">
			<table width="100%"><tr>
			<td align="left">
				<a href="{% url pages.views.main %}" >Business Pages</a> 
                <a href="." class="business_on" style="color: #FFF;">Leaderboard</a>
			</td>
			<td align="right">
				<a href="{% url pages.views.nonprofit %}" class="nonprofit_btn">Nonprofit Pages</a>
			</td>
			</tr></table>
		</div>
	</div> 

<div style="position: relative;">
<div class="content_pages" id="leader" style="position: absolute; right: 0px; top: -10px; width: 200px; padding: 12px 10px 0px 10px; text-align: center;" id="leader">
	<div class="leader_title" style="background: #FFF; cursor: default;">Most Loved on Lionface</div>
	<div>
        <a href="{{ most_loved.get_absolute_url }}"> 
            <img src="{{ most_loved.get_thumb }}" alt="{{ most_loved.name }}" width="180" height="180"  />
        </a>
        <br />{{ most_loved.name }}<br />
        <span style="font-size: 11px; color: #E39;">{{ most_loved.loves }}</span>
    </div>
    {% for page in rest %}
    {% cycle '60' '60' '60' '60' '45' '45' '45' '45' '45' as size silent %}
	<div>
        <table>
            <tr>
                <td>
                    <a href="{{ page.get_absolute_url }}"> 
                        <img src="{{ page.get_thumb }}" alt="{{ page.name }}" width="{{ size }}" height="{{ size }}"  />
                    </a>
                </td>
                <td align="left">{{ page.name }}<br />
                    <span style="font-size: 11px; color: #E39;">{{ page.loves }}</span>
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}
</div>

<div class="content_pages" style="width: 650px;">
    <table width="650" border="0" cellspacing="0" cellpadding="0" align="center" style="text-align: center;">
        {% for cat, rows in pages|sort_dict %}
        <tr class="category_{{ forloop.counter }}" >
            <td colspan="2" style="text-align: left; font-size: 14pt;">
                <a href="#" class="categoty_button">{{ cat }}</a>
            </td>
            <td align="right">
                <a href="#" class="profile_nav browse_rows" style="font-size: 8pt;">Expand</a>
                <a href="{% url pages.views.page_browsing page_type='business' %}?filters%5B%5D={{ cat|getcatnumbusn }}" class="profile_nav" style="font-size: 8pt;">Browse</a>
            </td>
        </tr>
            {% for row in rows %}
            <tr class="category_{{ forloop.parentloop.counter }}{% if forloop.counter > 1 %} hidden_row{% else %} page_row{% endif %}">
                {% for page in row %}
                <td>
                    {% if forloop.parentloop.counter <= 1 %}
                        {% if forloop.counter == 1 %}
                            {% if page.type == 'BS' %}
                                <a href="{% url business-page slug=page.username %}"> 
                                    <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="200" height="200"  />
                                </a>
                            {% else %}   
                                <a href="{% url nonprofit-page slug=page.username %}"> 
                                    <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="200" height="200"  />
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if forloop.counter == 2 %}
                            {% if page.type == 'BS' %}
                                <a href="{% url business-page slug=page.username %}"> 
                                    <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="165" height="165"  />
                                </a>
                            {% else %}   
                                <a href="{% url nonprofit-page slug=page.username %}"> 
                                    <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="165" height="165"  />
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if forloop.counter == 3 %}
                            {% if page.type == 'BS' %}
                                <a href="{% url business-page slug=page.username %}"> 
                                    <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="140" height="140"  />
                                </a>
                            {% else %}   
                                <a href="{% url nonprofit-page slug=page.username %}"> 
                                    <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="140" height="140"  />
                                </a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if page.type == 'BS' %}
                            <a href="{% url business-page slug=page.username %}"> 
                                <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="140" height="140"  />
                            </a>
                        {% else %}   
                            <a href="{% url nonprofit-page slug=page.username %}"> 
                                <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="140" height="140"  />
                            </a>
                        {% endif %}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            <tr class="category_{{ forloop.parentloop.counter }}{% if forloop.counter > 1 %} hidden_row{% else %} page_row{% endif %}">
                {% for page in row %}
                <td>
                    {{ page.name }}<br />
                    <span style="font-size: 11px; color: #E39;">{{ page.loves }}</span>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
</div>
</div>

</div>

{% endblock %}
