{% extends "pages/page.html" %}
{% load media %}

{% block inpicture %}
<style>
#cover_image {
    cursor: pointer;
}
</style>
{% endblock %}

{% block form %}
{% endblock %}

{% block page_footer %}
<script>
            $(document).ready(function() {
                    $('#cover_image').draggable({ axis: "y", containment:[0,{{ cover_offset }},0,95]});
            });
        </script>

        <p style="padding: 8px 16px 6px 16px; background: #EEE; border: 1px solid #CCC; margin: 12px 0; -moz-box-shadow 0 4px 8px -4px #999; box-shadow: 0 4px 8px -4px #999; -moz-border-radius: 3px; border-radius: 3px;">The image height is larger than 300 pixels.
        Drag the image to adjust.</p>

    <div>
        <a id="save_image" class="profile_btn" href="javacript:;">Save</a>
        <a class="profile_btn" href=".">Cancel</a>
    </div>
{% endblock %}

{% block page_micro %}
{% endblock %}

