<div id="page_friend_requests" style="text-align:center; width: 100%;">
{% if request.user in page.get_community_admins %}
            {% for reqst in page.get_requests %} 
                <div style="display: block;">
                    <span> {{reqst.from_page.name }} has listed you as a friend. </span>
                    <a href="{% url pages.views.accept_friend_request slug=page.username request_id=reqst.id %}">accept</a>
                    <a href="{% url pages.views.decline_friend_request slug=page.username request_id=reqst.id %}">decline</a>
                </div>
            {% endfor %}
            {% for reqst in page.get_accepted_requests %}
                <div style="display: block;">
                    <span> {{reqst.to_page.name }} has accepted you as a friend. </span>
                    <a href="{% url pages.views.hide_friend_request slug=page.username request_id=reqst.id %}">hide</a>
                </div>
            {% endfor %} 
{% endif %}
</div>
