{% extends "pages/base.html" %}
{% load media format_results %}

{% block js %}
<script>
    LionFace.User.page_id = '{{ page.id }}';
    LionFace.User.page_list = true;
    {% if request.user|check_pages_community:page %}
        LionFace.User.options['pages_community__'+{{ page.id }}] = true;
    {% else %}
        LionFace.User.options['pages_community__'+{{ page.id }}] = false;
    {% endif %} 
    {% if request.user|check_pages_calendar:page %}
        LionFace.User.options['pages_calendar__'+{{ page.id }}] = true;
    {% else %}
        LionFace.User.options['pages_calendar__'+{{ page.id }}] = false;
    {% endif %} 
</script>

<!--includes for calendar micro page-->
<link rel='stylesheet' type='text/css' href='{% media_url 'fullcalendar.css' %}' />
<link rel='stylesheet' type='text/css' href='{% media_url 'fullcalendar.print.css' %}' media='print' />
<link rel='stylesheet' type='text/css' href='{% media_url 'timePicker.css' %}' />
<script type='text/javascript' src='{% media_url 'fullcalendar.js' %}'></script>
<script type='text/javascript' src='{% media_url 'timePicker.js' %}'></script>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_whB_IRY-li58j9PzS4xi62Q4ErI6p3g&sensor=true">
</script>

{% endblock %}  

{% block content %}
  <div class="content_area">
    <div id="profile_top" style="z-index: 999;">
        {% include 'pages/page_requests.html' %}
        <div class="left"><table height="25"><tr><td valign="bottom">{{page.username}} 
            {% if page.url %}
            <a href="{{ page.url }}" target="_black">{{ page.url }}</a>
            {% endif %}
      </td></tr></table>
        </div>
        {% if request.user|check_pages_community %}
        <div class="right" style="position: relative;">
            <div id="page_chooose_div">
                {% if request.user|get_community_pages_friends:page %}
                <a class="profile_btn page_remove_friend" href="{% url pages.views.remove_friend_page slug=page.username %}" style="cursor: pointer;">- Remove</a>
                {% endif %}
                {% if request.user|get_community_friends_for:page %}
                <a class="profile_btn page_add_friend" href="{% url pages.views.send_friend_request slug=page.username %}" style="cursor: pointer;">+ Add Page</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
  </div>

    <div style="position: relative; display: block; z-index: 1;">
        <div class="cover_photo" style="overflow:hidden;">
            <div id="cover_image" 
                {% if data_uri %}
                style="height:{{ data_uri.height }}px; 
                width:{{ data_uri.width }}px; 
                background: url({{ data_uri }})"
                {% else %}
                style="height:{{ page.cover_photo.height }}px; 
                width:{{ page.cover_photo.width }}px; 
                background: url(/{{ page.cover_photo.url }})"
                {% endif %}
                >
                {% block inpicture %}
                    {% if request.user in page.get_admins and request.user|check_pages_photos:page %} 
                        <div style="position: relative; top: 270px; left: -10px; display: block; width: 200px;" align="center">
                            <a id="upload_cover_picture" class="upload upload_page" style="display:none; cursor: pointer;">Upload</a>
                            <a href="{% url pages.views.reset_picture slug=page.username %}" id="reset_picture" class="upload upload_page" style="display:none; color:#555;">Clear</a>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
        {% block form %}
        <div style="position: relative;">
            <form action="." method="post" class="upload_cover_form" enctype="multipart/form-data" style="display:none;">
                <div style="padding: 4px 8px; background: #EEE; border: 1px solid #CCC; margin: 12px 0 0 0; -moz-box-shadow 0 4px 8px -4px #999; box-shadow: 0 4px 8px -4px #999;">
                {% csrf_token %}
                {{ form.cover_photo.errors }}
                <label for="id_photo" style="margin-right: 10px;">Upload:</label>
                {{ form.cover_photo }}
                <input id="submit_cover_btn" name="cover_image" type="submit" class="blue_btn" value="Upload" />
                <input id="cancel_cover_btn" type="button" class="blue_btn" value="Cancel" />
                </div>
            </form>
            <form action="." method="post" class="upload_album_form" enctype="multipart/form-data" style="display:none;">
                <div style="padding: 4px 8px; background: #EEE; border: 1px solid #CCC; margin: 12px 0 0 0; -moz-box-shadow 0 4px 8px -4px #999; box-shadow: 0 4px 8px -4px #999;">
                {% csrf_token %}
                {{ album_form.image.errors }}
                <label for="id_photo" style="margin-right: 10px;">Upload:</label>
                {{ album_form.image }}
                <input id="submit_album_image_btn" name="album_image" type="submit" class="blue_btn" value="Upload" />
                <input id="cancel_album_image_btn" type="button" class="blue_btn" value="Cancel" />
                </div>
            </form>
        </div> 
        {% endblock %}
        {% block page_footer %}

    <table width="900">
      <tr>
      <td width="100">
        <div class="page_image" style="background: url('/{{ page.photo.thumb_name }}') #FFF; cursor: pointer;" 
data-url="{% url pages.views.images page.username %}">
            {% if request.user in page.get_admins and request.user|check_pages_photos:page %}
            <div style="position: absolute; bottom: 0px; display:none;">
                <a href="#" id="upload_album_image" class="upload" style="color: #555;">Upload</a>
                <a href="{% url pages.views.reset_album_activity slug=page.username %}" id="reset_album_image" class="upload" style="color: #555;">Clear</a>
            </div>
            {% endif %}
        </div>
      <td>
      <td valign="top"><div style="padding: 10px 0px; position: relative; top: 10px;">
        {% if page.type == 'BS' %}
                    <span style="color:#3ea8d2; font-size: 16pt;">{{ page.name }}</span> 
                {% else %}   
                    <span style="color:#909E4A; font-size: 16pt;">{{ page.name }}</span> 
                {% endif %}
                    {% if page.category == 'Undefined' %}
                    {% else %}
                    <span style="color: #999; margin: 0 8px;">{{ page.category }}</span>
                    {% endif %}
                    <div id="page_content" style="padding: 10px 7px 10px 0px; line-height: 14pt;">
                        {% include 'pages/page_content.html' %}
                    </div>
      <td/>
            {% if page.type == 'BS' %}
      <td width="250" class="love_container love_business" align="center"> 
            {% else %}
      <td width="250" class="love_container love_nonprofit" align="center"> 
            {% endif %}
                <div style="padding: 10px 20px;">
                    {% if request.user in page.get_lovers %}
                        <a href="#" class="love love_button loved">Loved</a>
                    {% else %}
                        <a href="#" class="love love_button">Love</a>
                    {% endif %}
                    <br /><br />
                    <span class="love_count" style="color: #FFF; font-size: 9pt;">{{ page.loves }}</span> 
						{% if page.type == 'BS' %} 
							<div style="padding: 8px;">
							<span style="color: #FFF; background: #900; padding: 4px 8px 2px 8px; -moz-border-radius: 3px; border-radius: 3px;">Inactive</span>
							</div>
						{% else %}
						{% endif %}
      </div></td>
      </tr>
    </table>
  </div>
    {% endblock %}
    {% block page_micro %}
  <div class="pages_nav_area" id="pages_nav_page">
    <a href="#" id="updates" class="page_btn business_btn business_on">Updates</a>
        <a href="#" id="discussions" class="page_btn business_btn">Discussions</a>
        <a href="#" id="reviews" class="page_btn business_btn">Feedback</a>
        <a href="#" id="calendar" class="page_btn business_btn">Calendar</a>
        <a href="#" id="comunnity" class="page_btn business_btn">Comunnity 
            {% if page.get_community_requests_count_new and request.user|check_pages_community:page %}
            <span id="comm_req_count">{{page.get_community_requests_count_new}}</span>
            {% endif %}
        </a>
  </div>
  


        <div align="center">
            <div class="page_container">
                {% include 'pages/micro/updates.html' %}
            </div>
        </div>
    {% endblock %}
    </div>


  </div>
{% endblock %}
