{% load format_results %}
    {% for cat, rows in pages|sort_dict %}
        <tr class="category_{{ cat|getcatnumnonp }}" style="border: 1px solid #EEE; border-width: 1px 0 1px 0; background: #FAFAFA;"
            >
            <td colspan="2" style="text-align: left; font-size: 14pt;">
                <a href="#" class="categoty_button">{{ cat }}</a>
            </td>
            <td colspan="2" align="right">
                <a href="{% url pages.views.save_browsing_categories_nonp cat_id=cat|getcatnumnonp %}" class="profile_nav browse_rows" style="font-size: 8pt;">Expand</a>
                <a href="{% url pages.views.page_browsing page_type='nonprofit' %}?filters%5B%5D={{ cat|getcatnumnonp }}" class="profile_nav" style="font-size: 8pt;">Browse</a>
            </td>
        </tr>
        {% for row in rows %}
        <tr class="category_{{ cat|getcatnumnonp }}{% if forloop.counter > 1 %} hidden_row{% else %} page_row{% endif %}">
        {% for page in row %}
            <td align="left" style="position: relative;" width="200">
				<div style="display: block; width: 100%; height: 100%; position: relative;">
                {% if page.type == 'BS' %}
                <a href="{% url business-page slug=page.username %}"> <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="200" height="200"  /></a>
                {% else %}   
                <a href="{% url nonprofit-page slug=page.username %}"> <img src="{{ page.get_thumb }}" alt="{{page.id}}" width="200" height="200"  /></a>
                {% endif %}
				<div class="page_setting_love" style="position: absolute; right: 10px; bottom: 0px;">{{ page.get_loves }} Loves</div>
				</div>
            </td>
        {% endfor %}
        </tr> 
        <tr class="category_{{ cat|getcatnumnonp }}{% if forloop.counter > 1 %} hidden_row{% else %} page_row{% endif %}">
        {% for page in row %}
            <td align="left">
				<div style="position: relative; top: -5px; padding-bottom: 17px; border-bottom: 1px solid #CCC; display: block; width: 200px; margin-bottom: 17px;">
                {% if page.type == 'BS' %}
                    <a href="{% url business-page slug=page.username %}" style="color:#3ea8d2; font-size: 14pt;">{{ page.name }}</a>
                {% else %}   
                    <a href="{% url nonprofit-page slug=page.username %}" style="color:#909E4A; font-size: 14pt;">{{ page.name }}</span>
                {% endif %}
				</div>
            </td>
        {% endfor %}
        </tr> 
        {% endfor %}
    {% endfor %}
    <p class="no_posts" style="display:none;">There is nothing to share.</p>
