{% load format_results %}
<div id="page_friend_requests" style="text-align:center; width: 100%;">
<div style="position: absolute; right: 0px; top: 50px;">
            {% if page.get_bidding_notifiers and request.user|check_pages_loves:page %}
            {% for reqst in page.get_bidding_notifiers %}
				<div align="right" style="display: block;">
                <div class="page_rqst">
                    {% if reqst.type == 'BN' %}
                    <span> Your bid has won. This Page will be featured for the coming week.</span>
                    {% elif reqst.type == 'BE' %}
                    <span> There was an error while processing your card. We will try again tomorrow morning.</span>
                    {% else %}
                    <span> There was an error while processing your card. This Page has been removed from bidding.</span>
                    {% endif %}
                    <a href="{% url pages.views.decline_friend_request slug=page.username request_id=reqst.id %}" style="color: #999;">Hide</a>
                </div>
				</div>
            {% endfor %}
            {% endif %}
            {% if page.get_deletion_offset and request.user|check_pages_delete:page %}
				<div class="for_delt_notf" align="right" style="display: block;">
                <div class="page_rqst">
                    <span> This Page has been scheduled to be deleted in {{ page.get_deletion_offset }} days.</span>
                    <a href="{% url pages.views.prevent_deletion slug=page.username %}" class="page_delt_not" style="color: #999;">Cancel</a>
                </div>
				</div>
            {% endif %}
{% if request.user in page.get_community_admins %}
            {% for reqst in page.get_requests %} 
				<div align="right" style="display: block;">
                <div class="page_rqst">
                    <span> <a href="{{reqst.from_page.get_absolute_url }}">{{reqst.from_page.name }}</a> has listed this Page as a friend. </span>
                    <a href="{% url pages.views.accept_friend_request slug=page.username request_id=reqst.id %}" class="blue_btn" style="color: #FFF; margin: 0 5px;">Accept</a>
                    <a href="{% url pages.views.decline_friend_request slug=page.username request_id=reqst.id %}" style="color: #999;">Decline</a>
                </div>
				</div>
            {% endfor %}
            {% for reqst in page.get_accepted_requests %}
                <div style="display: block;" class="page_rqst">
                    <span> <a href="{{reqst.to_page.get_absolute_url }}">{{reqst.to_page.name }}</a> has accepted this Page as a friend. </span>
                    <a href="{% url pages.views.hide_friend_request slug=page.username request_id=reqst.id %}" style="color: #999;">hide</a>
                </div>
            {% endfor %} 
{% endif %}
{% if request.user|check_pages_calendar:page %}
            {% for reqst in page.get_events_requests %}
                <div style="display: block;" class="page_rqst">
                    <span> <a href="{{reqst.from_page.get_absolute_url }}">{{reqst.from_page.name }}</a> has listed this Page in a calendar event: {{reqst.event.name }}. </span>
                    <a href="{% url pages.views.hide_friend_request slug=page.username request_id=reqst.id %}" style="color: #999;">hide</a>
                    <a href="{% url pages.views.accept_friend_request slug=page.username request_id=reqst.id %}" class="blue_btn" style="color: #FFF; margin: 0 5px;">Accept</a>
                    <a href="{% url pages.views.decline_friend_request slug=page.username request_id=reqst.id %}" style="color: #999;">Decline</a>
                </div>
            {% endfor %} 
{% endif %}
</div>
</div>
