
                <div id="page_{{ page.id }}" style="display: block; padding: 20px 0 0px 0; border-top: 1px solid #EEE; width: 600px;">
				<table width="100%"><tr><td width="85">
                {% if page.type == 'BS' %}
                <a href="{% url business-page slug=page.username %}">
                     <img src="" alt="{{page.id}}" width="75" height="75"  />
                </a> 
                {% else %}   
                 <a href="{% url nonprofit-page slug=page.username %}">
                     <img src="" alt="{{page.id}}" width="75" height="75"  />
                </a>
                {% endif %}
					</td><td align="left" style="padding: 10px;">
                {% if page.type == 'BS' %}
                    <a href="{% url business-page slug=page.username %}" style="color:#3ea8d2; font-size: 16pt;">{{ page.name }}</a> 
                {% else %}   
                    <a href="{% url nonprofit-page slug=page.username %}" style="color:#909E4A; font-size: 16pt;">{{ page.name }}</a> 
                {% endif %}
                    {% if page.category == 'Undefined' %}
                    {% else %}
                    <span style="color: #999; padding: 3px;">{{ page.category }}</span>
                    {% endif %}
                <div style="padding: 5px 0;"><span style="font-size: 8pt; color: #BBB;">Loves:</span> <span class="love_count" style="font-size: 12px; color: #E39; padding: 3px;">{{ page.loves }}</span></div>
                <div>
                    {% block love_button %}
                    {% if request.user in page.get_lovers %}
                        <a href="#" class="love love_button loved">Loved</a>
                    {% else %}
                        <a href="#" class="love love_button">Love</a>
                    {% endif %} 
                    {% endblock %}
                </div>
				</td><td align="right">
					<a href="#" class="profile_btn" onClick="ShowContent('select_community'); return false;">+ Community</a><br />
					<span style="font-size: 10pt; color: #555;"><span title="Remove" style="color: #AAA; font-size: 7pt; cursor: pointer;" onClick="ShowContent('edit'); return false;">Edit</span> <span style="color: #909e4a; font-size: 8pt;">confirmed</span> Intern<br />
					Jun 2012 to Present</span>
				</td></tr><tr><td colspan="3"><div id="select_community" style="display: none;">
					<a href="#" class="profile_btn" style="margin: 7px;" onClick="ShowContent('select_era'); HideContent('select_community'); return false;">+ Volunteer</a> 
					<a href="#" class="profile_btn" style="margin: 7px;" onClick="ShowContent('select_era'); HideContent('select_community'); return false;">+ Intern</a> 
					<a href="#" class="profile_btn" style="margin: 7px;" onClick="ShowContent('select_era'); HideContent('select_community'); return false;">+ Employee</a>
					<a href="#" style="color: #AAA; font-size: 8pt;" onClick="HideContent('select_community'); return false;">Cancel</a></div>
				</td></tr><tr><td colspan="3"><div id="select_era" style="display: none;">
					<a href="#" style="color: #AAA;" onClick="ShowContent('select_community'); HideContent('select_era'); return false;">< Back</a>
					<a href="#" class="profile_btn" style="margin: 7px;" onClick="ShowContent('past'); HideContent('select_era'); return false;">In The Past</a> 
					<a href="#" class="profile_btn" style="margin: 7px;" onClick="ShowContent('present'); HideContent('select_era'); return false;">Currently</a>
					<a href="#" style="color: #AAA; font-size: 8pt;" onClick="HideContent('select_era'); return false;">Cancel</a></div>
				</td></tr><tr><td colspan="3"><div id="past" style="display: none;">
					<a href="#" style="color: #AAA;" onClick="ShowContent('select_era'); HideContent('past'); return false;">< Back</a>
					<span style="padding: 12px 7px; margin: 5px; background: #FAFAFA; border: 1px solid #CCC;">
						<span style="margin: 5px;">From: <select><option>month</option><select> <select><option>year</option><select></span>
						<span style="margin: 5px;">To: <select><option>month</option><select> <select><option>year</option><select></span>
					</span>
					<a href="#" class="profile_btn" style="margin: 7px; position: relative; top: 0px;" onClick="HideContent('past'); return false;">Save</a>
					<a href="#" style="color: #AAA; font-size: 8pt;" onClick="HideContent('past'); return false;">Cancel</a></div>
					<div style="height: 7px;"></div>
				</td></tr><tr><td colspan="3"><div id="present" style="display: none;">
					<a href="#" style="color: #AAA;" onClick="ShowContent('select_era'); HideContent('present'); return false;">< Back</a>
					<span style="padding: 12px 7px; margin: 5px; background: #FAFAFA; border: 1px solid #CCC;">
						<span style="margin: 5px;">From: <select><option>month</option><select> <select><option>year</option><select></span>
						<span style="margin: 5px;">To: Present</span>
					</span>
					<a href="#" class="profile_btn" style="margin: 7px; position: relative; top: 0px;" onClick="HideContent('present'); return false;">Save</a>
					<a href="#" style="color: #AAA; font-size: 8pt;" onClick="HideContent('present'); return false;">Cancel</a></div>
					<div style="height: 7px;"></div>
				</td></tr><tr><td colspan="3"><div id="edit" style="display: none;">
						<a href="#" class="profile_btn" style="margin: 7px;" onClick="ShowContent('select_community'); HideContent('edit'); return false;">Edit</a> 
						<a href="#" class="profile_btn" style="margin: 7px;" onClick="HideContent('edit'); return false;">Remove</a>
					</span>
					<a href="#" style="color: #AAA; font-size: 8pt;" onClick="HideContent('edit'); return false;">Cancel</a></div>
                <div style="height: 7px;"></div>
				</td></tr></table>
				</div>
