{% load format_results %}

                <div id="page_{{ page.id }}" style="display: block; width: 600px; position: relative; left: -20px;">
				<table width="100%"><tr><td width="85" align="right"><div style="position: relative; top: -10px; left: -5px;">
                {% if page.type == 'BS' %}
                <a href="{% url business-page slug=page.username %}">
                     <img src="/{{ page.photo.thumb_name }}" alt="{{page.id}}" width="50" height="50"  />
                </a> 
                {% else %}   
                 <a href="{% url nonprofit-page slug=page.username %}">
                     <img src="/{{ page.photo.thumb_name }}" alt="{{page.id}}" width="50" height="50"  />
                </a>
                {% endif %}
					</div></td><td align="left" style="padding: 10px;">
                {% if page.type == 'BS' %}
                    <a href="{% url business-page slug=page.username %}" style="color:#3ea8d2; font-size: 16pt;">{{ page.name }}</a> 
                {% else %}   
                    <a href="{% url nonprofit-page slug=page.username %}" style="color:#909E4A; font-size: 16pt;">{{ page.name }}</a> 
                {% endif %}
                    {% if page.category == 'Undefined' %}
                    {% else %}
                    <span style="color: #999; padding: 3px;">{{ page.category }}</span>
                    {% endif %}
                <div style="padding: 5px 0;"><span style="font-size: 8pt; color: #BBB;">Loves:</span> <span class="love_count" style="font-size: 12px; color: #E39; padding: 3px;">{{ page.loves }}</span></div>
                <div>
                    {% block love_button %}
                    {% if request.user in page.get_lovers %}
                        <a href="#" class="love love_button loved">Loved</a>
                    {% else %}
                        <a href="#" class="love love_button">Love</a>
                    {% endif %} 
                    {% endblock %}
                </div>
				</td><td align="right">
                    <a href="#" class="profile_btn" onClick="ShowContent('select_community_{{page.id}}'); return false;">+ Community</a><br />
                    {% for member in page|show_membership:profile_user %}
                    {% if profile_user|check_profile_eiv:request.user %} 
                    <div id="member_{{ member.id }}">
					<span style="font-size: 10pt; color: #555;">
                        {% if request.user == profile_user %} 
                        <a href="{% url pages.views.page_members slug=page.username member_id=member.id %}" class="edit_member" title="Remove" style="color: #AAA; font-size: 7pt; cursor: pointer;" onClick="ShowContent('edit_{{page.id}}'); return false;">Edit</a>
                        {% endif %}
                        <span style="color: #909e4a; font-size: 8pt;">confirmed</span> {{ member.get_type }}
                        <br />
                        {{ member.from_date }} to {{ member.to_date }}</span>
                    </div>
                    {% endif %}
                    {% endfor %}
				</td></tr>
                    {% include 'pages/page_members.html' %}
                </table>
				</div>
