{% load format_results %}
    {% for cat, rows in pages|sort_dict %}
        <tr>
            <td colspan="2" style="text-align: left; font-size: 14pt;">{{ cat }}</td>
            <td colspan="2" align="right">
                <a href="#" class="profile_nav" style="font-size: 8pt;">Browse</a>
            </td>
        </tr>
        {% for row in rows %}
        <tr>
        {% for page in row %}
            <td align="left">
                {% if page.type == 'BS' %}
                <a href="{% url business-page slug=page.username %}"> <img src="/{{ page.photo.thumb_name }}" alt="{{page.id}}" width="200" height="200"  /></a>
                {% else %}   
                <a href="{% url nonprofit-page slug=page.username %}"> <img src="/{{ page.photo.thumb_name }}" alt="{{page.id}}" width="200" height="200"  /></a>
                {% endif %}
            </td>
        {% endfor %}
        </tr> 
        <tr>
        {% for page in row %}
            <td align="left">
				<div style="background: #FAFAFA; position: relative; top: 0px; padding: 6px 8px 2px 8px; -moz-border-riadu: 5px; border-radius: 5px; border: 1px solid #EEE; display: block; width: 182px; margin-bottom: 17px;">
                {% if page.type == 'BS' %}
                    <span style="color:#3ea8d2; font-size: 11pt;">{{ page.name }}</span><br />
                {% else %}   
                    <span style="color:#909E4A; font-size: 11pt;">{{ page.name }}</span><br />
                {% endif %}
                <span style="font-size: 11px; color: #E39;">{{ page.loves }}</span>
				</div>
            </td>
        {% endfor %}
        </tr> 
        {% endfor %}
    {% endfor %}
    <p class="no_posts" style="display:none;">There is nothing to share.</p>
