{% extends "pages/page.html" %}
{% load media format_results %}

    {% block page_micro %}
	<div class="pages_nav_area" id="pages_nav_page">
		<a href="#" id="updates" class="page_btn nonprofit_btn nonprofit_on" style="margin-left: 8px;">Updates</a>
        <a href="#" id="discussions" class="page_btn nonprofit_btn">Discussions</a>
        <a href="#" id="reviews" class="page_btn nonprofit_btn">Feedback</a> <a href="#" id="calendar" class="page_btn nonprofit_btn">Calendar</a>
        <a href="#" id="comunnity" class="page_btn nonprofit_btn">Community 
            {% if page.get_community_requests_count_new and request.user|check_pages_community:page %}
            <div id="comm_req_count">{{page.get_community_requests_count_new}}</div>
            {% endif %}
        </a>
	</div>
	


        <div align="center">
            <div class="page_container">
                {% include 'pages/micro/updates.html' %}
            </div>
        </div>
    {% endblock %}
