{% extends "pages/base.html" %}
{% load media %}

{% block js %}
<script>
LionFace.User.page_id = '{{ page.id }}';
</script>
{% endblock %}  



{% block content %}

  <div class="content_area">
    <div id="profile_top">
        {% if page.type == 'BS' %}
        <div class="left">{{page.username}} {% url business-page slug=page.username %}</div>
        {% else %}   
        <div class="left">{{page.username}} {% url nonprofit-page slug=page.username %}</div>
        {% endif %}
      <div class="right" style="position: relative;">
		<div>
			(page friends) 	<a class="profile_btn" style="cursor: pointer;">+ Add</a>
		</div>
    </div>
	</div>
	<div style="position: relative; z-index: 1;">
		<div class="cover_photo">
			<div style="padding: 100px; font-size: 20pt; color: #EEE;" align="center">Cover Photo: 900x300 Pixels</div>
		</div>

		<table width="900">
			<tr>
			<td width="100"><div class="page_image"></div><td>
			<td><div style="padding: 10px 0px; position: relative; top: 10px;">
				{% if page.type == 'BS' %}
                    <span style="color:#3ea8d2; font-size: 16pt;">{{ page.name }}</span> 
                {% else %}   
                    <span style="color:#909E4A; font-size: 16pt;">{{ page.name }}</span> 
                {% endif %}
                    {% if page.category == 'Undefined' %}
                    {% else %}
                    <span style="color: #999;">{{ page.category }}</span>
                    {% endif %}
				<div style="padding: 10px 7px 10px 0px; line-height: 14pt;">Lorem ipsum na lorem ipsum na lorem ipsum na lorem ipsum na lorem ipsum na lorem ipsum na lorem ipsum na lorem ipsum na lorem ipsum na lorem ipsum na lorem ipsum na lorem ipsum na lorem ipsum na lorem ipsum na lorem ipsum na lorem ipsum na  <a href="#" style="font-size: 8pt; color: #AAA;">Edit</a></div>
			<td/>
            {% if page.type == 'BS' %}
			<td width="250" class="love_container love_business" align="center"> 
                <div class="sponsored"></div>
            {% else %}
			<td width="250" class="love_container love_nonprofit" align="center"> 
            {% endif %}
                <div style="padding: 10px 20px;">
                    {% if request.user in page.get_lovers %}
                        <a href="#" class="love love_button loved">Loved</a>
                    {% else %}
                        <a href="#" class="love love_button">Love</a>
                    {% endif %}
                    <br /><br />
                    <span class="love_count" style="color: #FFF; font-size: 9pt;">{{ page.loves }}</span>
			</div></td>
			</tr>
		</table>
	</div>
    {% block page_micro %}
	<div class="pages_nav_area" id="pages_nav_page">
		<a href="#" id="updates" class="page_btn business_btn business_on">Updates</a>
        <a href="#" id="discussions" class="page_btn business_btn">Discussions</a>
        <a href="#" id="reviews" class="page_btn business_btn">Reviews</a>
        <a href="#" id="calendar" class="page_btn business_btn">Calendar</a>
        <a href="#" id="comunnity" class="page_btn business_btn">Comunnity</a>
	</div>
	


        <div align="center">
            <div class="page_container">
                {% include 'pages/micro/updates.html' %}
            </div>
        </div>
    {% endblock %}
    </div>


  </div>
{% endblock %}
