    {% for row in pages %}
        <tr>
        {% for page in row %}
            <td>
                <a href="{% url pages.views.page slug=page.username %}"> <img src="" alt="{{page.id}}" width="200" height="200"  /></a>
            </td>
        {% endfor %}
        </tr> 
        <tr>
        {% for page in row %}
            <td>
                {% if page.type == 'BS' %}
                    <span style="color:#3082B1">{{ page.name }}</span><br />
                {% else %}   
                    <span style="color:#909E4A">{{ page.name }}</span><br />
                {% endif %}
                <span style="font-size: 11px; color: #E39;">{{ page.loves }}</span>
            </td>
        {% endfor %}
        </tr> 
    {% endfor %}
