{% extends 'pages/base.html' %}
{% load i18n static media format_results %}

{% block js %}
<script>
LionFace.User.page_slug = '{{ page.username }}';
LionFace.User.page_id = '{{ page.id }}';
{% if request.user|check_pages_basics:page %}
LionFace.User.options['pages_basics__'+{{ page.id }}] = true;
{% else %}
LionFace.User.options['pages_basics__'+{{ page.id }}] = false;
{% endif %}
{% if request.user|check_pages_delete:page %}
LionFace.User.options['pages_delete__'+{{ page.id }}] = true;
{% else %}
LionFace.User.options['pages_delete__'+{{ page.id }}] = false;
{% endif %}
{% if request.user|check_pages_admins:page %}
LionFace.User.options['pages_admins__'+{{ page.id }}] = true;
{% else %}
LionFace.User.options['pages_admins__'+{{ page.id }}] = false;
{% endif %}
{% if request.user|check_pages_photos:page %}
LionFace.User.options['pages_photos__'+{{ page.id }}] = true;
{% else %}
LionFace.User.options['pages_photos__'+{{ page.id }}] = false;
{% endif %}
{% if request.user|check_pages_updates:page %}
LionFace.User.options['pages_updates__'+{{ page.id }}] = true;
{% else %}
LionFace.User.options['pages_updates__'+{{ page.id }}] = false;
{% endif %}
{% if request.user|check_pages_loves:page %}
LionFace.User.options['pages_loves__'+{{ page.id }}] = true;
{% else %}
LionFace.User.options['pages_loves__'+{{ page.id }}] = false;
{% endif %}
</script>
{% endblock %} 

<div class="left_col">
    {% block left_col %}
    <div class="settings_nav">
		<div class="filter_header">Page Settings<br /><span style="color: #AAA; font-size: 8pt;">You must be an admin.</span></div>
        <ul>
            {% if request.user|check_pages_basics:page %}
            <li id="basics_settings" {% if active == 'basics' %} class="active" {% endif %}>Basics</li>
            {% endif %}
            {% if request.user|check_pages_admins:page %}
            <li id="admins_settings" {% if active == 'admins' %} class="active" {% endif %}>Admins</li>
            {% endif %}
            {% if page.type == 'BS' %}
                {% if request.user|check_pages_loves:page %}
                <li id="loves_settings" {% if active == 'loves' %} class="active" {% endif %}>Loves</li>
                {% endif %}
            {% endif %}
            {% if page.type == 'NP' %}
                <li id="donations_settings" {% if active == 'donations' %} class="active" {% endif %}>Donations</li>
            {% endif %}
        </ul>
    </div>
    {% endblock %}
</div>

<div class="right_col">
    {% block right_col %}

<div id="basics_header" class="settings_header" {% if active == 'loves' or active == 'admins' or active == 'donations' %} style="display:none" {% endif %}>
    <span style="font-size: 18px;">Basics</span>
</div>

<div id="privacy_header" class="settings_header" {% if active == 'loves' or active == 'basics'  or active == 'donations' %} style="display:none" {% endif %}>
    <span style="font-size: 18px;">Admins</span>
</div>

<div id="loves_header" class="settings_header" {% if active == 'admins' or active == 'basics'  or active == 'donations' %} style="display:none" {% endif %}>
    <span style="font-size: 18px;">Loves</span>
</div>

<div id="donations_header" class="settings_header" {% if active == 'admins' or active == 'basics' or active == 'loves' %} style="display:none" {% endif %}>
    <span style="font-size: 18px;">Donations</span>
</div>

<form action="" id="page_settings_form" method="post">{% csrf_token %}
<div align="center">
    <table id="basics" class="settings_content">
        <tr>
            <td width="150" align="right">&nbsp;</td>
            <td width="405">&nbsp;</td>
        </tr>
        <tr>
            <td align="right">Page Name</td>
            <td>
                {{ form.name.errors }}
                {{ form.name }}
            </td>
        </tr>
        <tr>
            <td align="right">External URL<br></td>
            <td>        
                {{ form.url.errors }}
                {{ form.url }}
            </td>
        </tr>
        <tr>
            <td align="right">Page Username<br></td>
            <td class="username">        
                {{ form.username }}
            </td>
        </tr>
        <tr>
            <td align="right">Page Category</td>
            <td class="category">        
                {{ form.category.errors }}
                {{ form.category }}
            </td>    
        </tr>
        <tr>
            <td align="right" valign="top">About<br />{{ page.name }}<br /><br /><span style="color: #AAA; font-size: 8pt;">225 character max<br />including spaces</span></td>
            <td class="content">        
                {{ form.content.errors }}
                {{ form.content }}
            </td>    
        </tr>
        <tr>
            <td align="right">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>


   <table id="privacy" style="display:none" class="settings_content">
        <tr>
            <td colspan="2" align="left" style="padding: 4px 20px; border-bottom: 1px solid #CCC;"><span style="margin-right: 10px;">Add an Admin</span>
                <input id="id_admins" type="text" name="admins" value="" maxlength="200">
                <a id="add_admin" href="{% url pages.views.settings_admins slug=page.username %}" style="display:none; position: relative; top: 0px; left: 5px;" class="profile_btn">+ Add</a>
            </td>
        </tr>
        <tr class="admins_list">
            {% include 'pages/settings_admins.html' %}
        </tr>
        <tr>
            <td align="left" colspan="2">
				<span style="font-weight: bold;">Updates:</span> These administrators may post Updates to the Page. Page Updates will be seen in the News Feed of users who have Loved your Page.<br /><br />
				<span style="font-weight: bold;">Photos:</span> These administrators may change the Page's profile image, as well as the Page's cover photo.<br /><br />
				<span style="font-weight: bold;">Basics:</span> These administrators may edit the basic information of the Page, such as the Page name, external URL, category, and Page bio.<br /><br />
				<span style="font-weight: bold;">Calendar:</span> These administrators may post and edit events on the Calendar. They may choose to automatically post Updates 24 hours before an event. Additionally, Calendar administrators can initiate Inter-Page or In-House discussions.<br /><br />
				<span style="font-weight: bold;">Community:</span> These administrators may add other Pages as friends, accept Page friend requests, approve Comunnity requests (employees, interns, and, if applicable, volunteers) from users, and add/edit text below the header of each category. Additionally, Calendar administrators can initiate Inter-Page or In-House discussions.<br /><br />
				<span style="font-weight: bold;">Edit Admins:</span> These administrators may add, remove, or edit Admins of this Page, with the exception of the Admin who created the Page.<br /><br />
				The creator of the Page as the option to delete the Page, however there is a 7 day waiting period (in case you wish to cancel the deletion of the Page).
			</td>

        </tr>
    </table>

    {% if page.type == 'BS' %}
    <table id="loves"  style="display:none" class="settings_content">
        <tr>
            <td width="150" align="right">&nbsp;</td>
            <td width="405">&nbsp;</td>
        </tr>
        <tr>
            <td align="right">Current Loves: </td>
            <td>
                <div style="margin-left: 15px;">{{ page.get_lovers_active_count }}</div>
            </td>
        </tr>
        <tr>
            <td align="right">Loves Pending: </td>
            <td>
                <div style="margin-left: 15px;">{{ page.get_lovers_pending_count }}</div>
            </td>
        </tr>
        <tr>
            <td align="right">Loves Remaining: </td>
            <td>
                <div style="margin-left: 15px;">{{ page.get_page_loves_limit }}</div>
            </td>
        </tr>
        {% if request.user|is_lcustomer_for:page %}
        <tr>
            <td align="right">Buy loves: </td>
            <td>
                 <div id="loves-slider" style="width: 260px; margin: 15px;"></div>
            </td>
        </tr>
        {% if love_error %}
        <tr>
            <td align="right">Errors: </td>
            <td>
                <div style="margin-left: 15px;"> {{ love_error }} </div>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td align="right">Loves price: </td>
            <td>
                <input name="loves_value" id="loves-value" type="text" value="$0" style="margin: 15px;" readonly/>
            </td>
        </tr>
        <tr>
            <td align="right">&nbsp;</td>
            <td>
                <span style="padding-left: 21px;"> {{ request.user|get_love_card_type_for:page }}: **** **** **** {{ request.user|get_love_last_4:page }}</span><a id="show_love_card_info" href="#" style="margin: 15px;">Replace Card</a>
            </td>
        </tr> 
        {% else %}
        <tr>
            <td align="right">&nbsp;</td>
            <td>
                <a href="#" id="add_loves_card" style="padding-left: 21px;">Add a Card</a>
            </td>
        </tr> 
        {% endif %}
        <tr id="card_info_loves" class="card_infos" style="display:none">
            <td align="right" style="padding: 8px;">Visa<br />Mastercard<br />American Express<br />JCR<br />Discover </td>
            <td style="padding: 8px; margin: 8px 0; background: #E0E5E7;">
                    <div class="payment-errors">
                        {{ stripe_error }}
                    </div>
                <!--<form action="" method="POST" id="payment-form">-->
                  <div class="form-row" style="padding: 0px; margin: 0px; width: auto; display: inline-block;">
                    <label>Card Number</label>
                    <input type="text" size="20" autocomplete="off" class="card-number"/>
                  </div>
                  <div class="form-row" style="padding: 0px; margin: 0px; width: auto; margin-left: 17px; display: inline-block;">
                    <label>CVC</label>
                    <input type="text" size="4" autocomplete="off" class="card-cvc"/>
                  </div><br /><br />
                  <div class="form-row" style="padding: 0px; margin: 0px; width: auto; display: inline-block;">
                    <label>Expiration (MM/YYYY)</label>
                    <input type="text" size="2" class="card-expiry-month"/>
                    <span> / </span>
                    <input type="text" size="4" class="card-expiry-year"/>
                  </div>
                  <!--</form>-->
            </td>
        </tr>
        <tr>
            <td>
                <div style="margin-left: 21px;">
                {% if request.user|check_pages_loves:page %}
                <button id="submit_loves" type="submit" name="submit_loves" class="blue_btn submit_loves" style="display:none;">Submit</button>
                {% endif %}
                </div>
            <td>
        </tr>
		<tr>
			<td colspan="2" style="padding: 17px; text-align: left;">
			<span style="font-size: 11pt; font-weight: bold;">Featured Pages</span><br /> On the main business landing page, eight random business Pages are displayed to users. These Pages change on each load, for each user. However, three of those slots have been reserved for Featured Pages. Featured Pages will load every time, for every user. These three slots are handed out weekly to the highest bidders. Bidding starts every Monday and ends Friday. If you win on Friday, your Page will be featured for 1 week starting the coming Monday.<br />
<span style="font-size: 8pt; color: #777;">To bid, you must enter a valid credit card.</span>
			</td>
		</tr>
        {% if request.user|is_customer_for:page %}
            {% if show_bids %}
                {% if page.is_disabled %}
                <tr>
                    <td colspan="2">
                        <div class="no_bidding" style="margin: 15px;">This page is not allowed to make bids (days left: {{ page.get_disabled_time }})</div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td  align="center" colspan="2" >
                        <span>Bidding will close {{ closing|date:"l, M jS" }} at {{ closing|date:"g A T" }} (GMT {{ closing|date:"O"|format_date }})</span>
                    </td>
                </tr>
                <tr>
                    <td align="right">Minimum bid: </td>
                    <td>
                        <input id="bid-min" class="bid-min" type="text" value="${{ min_bid }}" style="margin: 15px;" readonly/>
                    </td>
                </tr>
                <tr>
                    <td align="right">Make a bid: </td>
                    <td>
                         <div id="bid-slider" style="width: 260px; margin: 15px;"></div>
                    </td>
                </tr>
                {% if error %}
                <tr>
                    <td align="right">Errors: </td>
                    <td>
                        <div style="margin-left: 15px;"> {{ error }} </div>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td align="right">Your bid: </td>
                    <td>
                        <input name="bid_value" id="bid-value" class="bid-value" type="text" value="${{ min_bid }}" style="margin: 15px;" readonly/>
                    </td>
                </tr>
                    {% if page.get_max_bid %}
                <tr>
                    <td align="right">Current Bid:<div> <span style="font-size: 8pt;">Week: {{ startw|date:"M jS" }} to {{ endw|date:"M jS" }}</span></div> </td>
                    <td>
                        <div style="padding: 21px; color: #124; font-size: 11pt;">${{ page.get_max_bid_value }} 
							<span style="font-size: 8pt; margin-left: 17px; color: #777;">Winning bids will be processed Friday evening.</span></div>
                    </td>
                </tr>
                    {% endif %}
                <tr>
                    <td align="right">&nbsp;</td>
                    <td>
                        <span style="padding-left: 21px;"> {{ request.user|get_card_type:page }}: **** **** **** {{ request.user|get_last_four:page }}</span><a id="show_card_info" href="#" style="margin: 15px;">Replace Card</a>
                    </td>
                </tr> 
                {% endif %}
            {% else %}
            <tr>
                <td colspan="2" >
                    <div class="no_bidding"> Sorry, bidding is currently over. Bidding will reopen in {{ nextm|timeuntil }} ({{ nextm|date:"l, M. d" }})</div>
                </td>
            </tr>
            {% endif %}
        {% else %}
        <tr>
            <td align="right">&nbsp;</td>
            <td>
                <a href="#" id="add_bidding_card" style="padding-left: 21px;">Add a Card</a>
            </td>
        </tr> 
        {% endif %}
        <tr id="card_info" class="card_infos" style="display:none">
            <td align="right" style="padding: 8px;">Visa<br />Mastercard<br />American Express<br />JCR<br />Discover </td>
            <td style="padding: 8px; margin: 8px 0; background: #E0E5E7;">
                    <div class="payment-errors">
                        {{ stripe_error }}
                    </div>
                <!--<form action="" method="POST" id="payment-form">-->
                  <div class="form-row" style="padding: 0px; margin: 0px; width: auto; display: inline-block;">
                    <label>Card Number</label>
                    <input type="text" size="20" autocomplete="off" class="card-number"/>
                  </div>
                  <div class="form-row" style="padding: 0px; margin: 0px; width: auto; margin-left: 17px; display: inline-block;">
                    <label>CVC</label>
                    <input type="text" size="4" autocomplete="off" class="card-cvc"/>
                  </div><br /><br />
                  <div class="form-row" style="padding: 0px; margin: 0px; width: auto; display: inline-block;">
                    <label>Expiration (MM/YYYY)</label>
                    <input type="text" size="2" class="card-expiry-month"/>
                    <span> / </span>
                    <input type="text" size="4" class="card-expiry-year"/>
                  </div>
                  <!--</form>-->
            </td>
        </tr>
        <tr>
            <td>
                <div style="margin-left: 21px;">
                {% if request.user|check_pages_loves:page %}
                <button id="submit_bids" type="submit" name="submit_bids" class="blue_btn submit_loves" style="display:none;">Submit</button>
                {% endif %}
                {% if page.get_max_bid and show_bids %}
                <button id="cancel-bid" type="submit" name="cancel_bid" class="blue_btn" style="display:none;">Cancel Bid</button>
                {% endif %}
                </div>
            <td>
        </tr>
        <tr>
            <td align="right">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    {% endif %}

    {% if page.type == 'NP' %}
    <table id="donations" style="display:none" class="settings_content">
        <tr>
            <td width="150" align="right">&nbsp;</td>
            <td width="405">&nbsp;</td>
        </tr>
		<tr>
			<td colspan="2" style="padding: 17px; text-align: left;">
			<div style="font-size: 11pt; font-weight: bold;">Donations</div>
			</td>
		</tr>
        <tr>
            <td width="150" align="right">&nbsp;</td>
            <td width="405">&nbsp;</td>
        </tr>
    </table>
    {% endif %}


</div>

<div class="save_container">
<input type="hidden" name="form_name" id="form_name">
<input type="hidden" name="active" id="active_input" value="{{ active }}">
{% if request.user|check_pages_basics:page %}
<input id="submit_button" type="submit" class="blue_btn" style="color: #FFF;" name="save" value="Save" /> 
{% endif %}
</form>
{% if request.user|check_pages_delete:page %} 
<a href="#" id="delete_page" style="font-size: 11px; color: #CCC; margin-left: 10px;">Delete Page</a>
{% endif %} 
<form id="delete_page_form" action="{% url pages.views.delete_page slug=page.username %}" method="post" style="display:none">{% csrf_token %}
<input id="submit_delete" type="submit" class="blue_btn" name="delete_page" value="Delete">
<label for="id_confirm_pass">Confirm Password:</label>
<input type="password" name="confirm_password" id="id_confirm_pass">
<span class="confirm_errors"></span>
</form>
</div>


{% endblock %}
</div>

{% block additional_js %}
<script>
$(document).ready(function() {
    function stripeResponseHandler(status, response) {
        var card_info = false;
        var card_type = 'bids';
        var submit = false;
        if ($('#card_info').is(":visible")) {
            card_info = $('#card_info');
            card_type = 'bids';
            submit = $('#submit_bids');
        }
        if ($('#card_info_loves').is(":visible")) {
            card_info = $('#card_info_loves');
            card_type = 'loves';
            submit = $('#submit_loves');
        }
        card_info.find(".payment-errors").html('');
        if (response.error) {
            // show the errors on the form
            card_info.find(".payment-errors").text(response.error.message);
            submit.removeAttr("disabled");
        } else {
            var form$ = $("#page_settings_form");
            // token contains id, last4, and card type
            var token = response['id'];
            // insert the token into the form so it gets submitted to the server
            form$.append("<input type='hidden' name='stripeToken_" + card_type + "' value='" + token + "'/>");
            form$.append("<input name='ctype' type='hidden' readonly class='card-type' value='" + response.card.type + "'/>");
            form$.append("<input name='last4' type='hidden' readonly class='card-last-four' value='" + response.card.last4 + "'/>");
            // and submit
            form$.get(0).submit();
        }
    }

    $(document).on('click','.submit_loves', function(event) {
        var card_info = false;
        var submit = false;
        if ($('#card_info').is(":visible")) {
            card_info = $('#card_info');
            submit = $('#submit_bids');
        }
        if ($('#card_info_loves').is(":visible")) {
            card_info = $('#card_info_loves');
            submit = $('#submit_loves');
        }
        if (card_info && $(this).attr('id') == submit.attr('id')) {
            // disable the submit button to prevent repeated clicks
            submit.attr("disabled", "disabled");

            Stripe.createToken({
                number: card_info.find('.card-number').val(),
                cvc: card_info.find('.card-cvc').val(),
                exp_month: card_info.find('.card-expiry-month').val(),
                exp_year: card_info.find('.card-expiry-year').val()
            }, stripeResponseHandler);

            // prevent the form from submitting with the default action
            return false;
        }
    });

    var value = parseInt("{{ min_bid }}") || 10;
    var min_val = value - 3500 + 10;
    if (min_val < 0)
        min_val = 0;
    $( "#bid-slider" ).slider({
            value:value,
            range: "min",
            min: min_val,
            max: value + 3500 - 10,
            step: 10,
            slide: function( event, ui ) {
                $( "#bid-value" ).val( '$' + ui.value );
                // lower limit
                if (ui.value < value && ui.value != 0) {
                    $( "#bid-value" ).val( '$' + value );
                }
            },
            change: function(event, ui) {
                if (ui.value < value && ui.value != 0) {
                    $( this ).slider( "option", "value", value );
                }
            },
                
    }); 
    
    /** loves slider */
    $( "#loves-slider" ).slider({
            value:0,
            range: "min",
            min: 0,
            max: 10000,
            step: 100,
            slide: function( event, ui ) {
                $( "#loves-value" ).val( '$' + ui.value );
            },
    }); 
});
</script>
    {% include_media 'pages.js' %}
    {% include_media 'pages.settings.js' %}
{% endblock %} 


