{% load media format_results %}
<td width="100%" align="center">
<table width="100%">
{% for admin in page.admins.all %}
<tr>
    <td rowspan="2" valign="top">
    {{ admin.full_name }}<br />
    {% if admin != page.user %}
    <a id="{{ admin.username }}" href="{% url pages.views.settings_admins slug=page.username %}" class="remove_admins" >- remove</a>
    {% endif %}
    </td>
    <td>
    <input type="checkbox" 
    {% if admin|check_pages_updates:page %} checked {% endif %}
    {% if admin == page.user %} disabled {% endif %}
    name="pages_updates" id="pages_updates__{{ admin.username }}" class="page_options">
    <label class="admins_labels" for="pages_updates__{{ admin.username }}">Post Updates</label>
    </td>
    <td>
    <input type="checkbox"
    {% if admin|check_pages_photos:page %} checked {% endif %}
    {% if admin == page.user %} disabled {% endif %}
    name="pages_photos" id="pages_photos__{{ admin.username }}" class="page_options">
    <label class="admins_labels" for="pages_photos__{{ admin.username }}">Manage Photos</label>
    </td>
    <td>
    <input type="checkbox" 
    {% if admin|check_pages_basics:page %} checked {% endif %}
    {% if admin == page.user %} disabled {% endif %}
    name="pages_basics" id="pages_basics__{{ admin.username }}" class="page_options">
    <label class="admins_labels" for="pages_basics__{{ admin.username }}">Edit Basics</label>
    </td>
</tr>
<tr style="border-bottom: 1px solid #FFF;">
    <td>
    <input type="checkbox" 
    {% if admin|check_pages_community:page %} checked {% endif %}
    {% if admin == page.user %} disabled {% endif %}
    name="pages_community" id="pages_community__{{ admin.username }}" class="page_options">
    <label class="admins_labels" for="pages_community__{{ admin.username }}">Community</label>
    </td>
    <td>
    <input type="checkbox"
    {% if admin|check_pages_admins:page %} checked {% endif %}
    {% if admin == page.user %} disabled {% endif %}
    name="pages_admins" id="pages_admins__{{ admin.username }}" class="page_options">
    <label class="admins_labels" for="pages_admins__{{ admin.username }}">Edit Admins</label>
    </td>
    <td>
    <input type="checkbox" 
    {% if admin|check_pages_delete:page %} checked {% endif %}
    {% if admin == page.user %} disabled {% endif %}
    name="pages_delete" id="pages_delete__{{ admin.username }}" class="page_options">
    <label class="admins_labels" for="pages_delete__{{ admin.username }}">Delete Page</label>
    </td>
    <td>
    <input type="checkbox" 
    {% if admin|check_pages_calendar:page %} checked {% endif %}
    {% if admin == page.user %} disabled {% endif %}
    name="pages_calendar" id="pages_calendar__{{ admin.username }}" class="page_options">
    <label class="admins_labels" for="pages_calendar__{{ admin.username }}">Calendar</label>
    </td>
	<td></td>
</tr>
{% endfor %}
</table>
</td>

