/* Login */
#login {
	width: 100%;
	height: 65px;
	background: #444444; /* Old browsers */
	background: -moz-linear-gradient(top, #444444 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #444444 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #444444 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #444444 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(to bottom, #444444 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 4px 8px -4px #333;
	box-shadow: 0 4px 8px -4px #333;
	margin: 0 0 0px 0;
}

blockquote {
	padding-left: 17px;
}

.next {
	position: absolute; left: 0px; width: 900px; text-align: center; top: 335px; color: #FFF; font-size: 14pt; letter-spacing: 1.25pt; font-family: Tahoma; background: url(../images/white.png);
}

#login_box {
	width: 900px; 
	height: 65px; 
	margin: 0px;
	color: #BBB; 
	font-size: 10pt;
}

#login_box table input[type=text], #login_box table input[type=password] {
	padding: 4px; 
	border: 1px solid #CCC;
	background-color: #FFF;
	margin: 3px;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

a.reset:link, a.reset:visited, a.reset:active {
	font-size: 8pt;
	color: #888;
	text-decoration: none;
}

a.reset:hover {
	color: #FFF;
}

.reset_box {
	display: block;
	height: 50px;
	padding: 5px 0;
	color: #FFF;
	background: #444444; /* Old browsers */
	background: -moz-linear-gradient(top, #444444 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #444444 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #444444 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #444444 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(to bottom, #444444 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

#center_box { 
	height: 525px;
	width: 100%;	
	-moz-box-shadow: inset 0 -4px 8px -4px #999, inset 0 5px 8px -4px #999;
	box-shadow: inset 0 -4px 8px -4px #999, inset 0 5px 8px -4px #999; 
	background: url(../images/bg.jpg) #CCC;
	background-position: center bottom;
	background-repeat: no-repeat;
	-webkit-background-size: 900px auto;
	-moz-background-size: 900px auto;
	background-size: 900px auto;
	position: relative;

}

.credit {
	position: absolute; left: 5px; bottom: 5px;
	background: url(../images/white.png); padding: 8px 8px 6px 8px;
	color: #555; font-size: 7pt;
	-moz-border-radius: 3px; border-radius: 3px;
} 

.center_container {
	display: block; width: 400px;
	z-index: 999;
}

.left_logo {
background: #7bc9e5; /* Old browsers */
background: -moz-linear-gradient(top,  #7bc9e5 0%, #2ab4ea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7bc9e5), color-stop(100%,#2ab4ea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7bc9e5 0%,#2ab4ea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7bc9e5 0%,#2ab4ea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7bc9e5 0%,#2ab4ea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7bc9e5 0%,#2ab4ea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bc9e5', endColorstr='#2ab4ea',GradientType=0 ); /* IE6-9 */
-moz-box-shadow: 0 8px 8px -4px #333; box-shadow: 0 8px 8px -4px #333;
}

.heart { !important; color: #555; }
.heart .dark_box { color: #555; font-size: 10pt; padding: 0px 10px 0px 10px; }
.heart .dark_box td { padding: 6px; }
.heart input[type=submit] { margin: 0 22px 0 17px;}
.heart input[type=text], .heart input[type=password] { border: 1px solid #CCC; padding: 5px; width: 175px; background: #FAFAFA; position: relative; top: -2px; }
.heart input[type=text]:focus, .heart input[type=password]:focus,.heart input[type=text]:hover, .heart input[type=password]:hover { background: #FDFDFD; }

.enabled_table {
	width: 100%; 
	background: transparent;
}

.enabled_container {
	display: inline-block;
	padding: 2px 5px 2px 5px;
	color: #FFF;
	border-top: 3px solid transparent;
	border-bottom: 2px solid transparent;
}

.enabled_container:hover {
	cursor: pointer;
	color: #777;
}

.container_active {
	color: #777;

}

.container_active:hover {
	cursor: default;

}

.enabled_container .enabled {
	clear: both;
	display: inline-block;
	color: #555;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 50%, #e5e5e5 51%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#eeeeee), color-stop(51%,#e5e5e5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 50%,#e5e5e5 51%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 50%,#e5e5e5 51%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%,#e5e5e5 51%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 50%,#e5e5e5 51%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	padding: 6px 8px 4px 8px;
	font-size: 10pt;
	-moz-box-shadow: 0 2px 8px -4px #333;
	box-shadow: 0 2px 8px -4px #333;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.enabled_container:hover .enabled {
	color: #333;
	border-color: #FFF;
	cursor: pointer;
	-moz-box-shadow: 0 8px 8px -4px #333;
	box-shadow: 0 8px 8px -4px #333;
}

.container_active .enabled, .container_active:hover .enabled {
	background: #7bc9e5; /* Old browsers */
	background: -moz-linear-gradient(top, #7bc9e5 0%, #2ab4ea 50%, #19afe5 51%, #2ab4ea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7bc9e5), color-stop(50%,#2ab4ea), color-stop(51%,#19afe5), color-stop(100%,#2ab4ea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7bc9e5 0%,#2ab4ea 50%,#19afe5 51%,#2ab4ea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7bc9e5 0%,#2ab4ea 50%,#19afe5 51%,#2ab4ea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7bc9e5 0%,#2ab4ea 50%,#19afe5 51%,#2ab4ea 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7bc9e5 0%,#2ab4ea 50%,#19afe5 51%,#2ab4ea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bc9e5', endColorstr='#2ab4ea',GradientType=0 ); /* IE6-9 */
	cursor: default;
	color: #FFF;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 8px 8px -4px #333;
	box-shadow: 0 8px 8px -4px #333;
}

.enabled_results {
	width: 880px;
	padding: 0px 10px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 40%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 40%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 40%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 40%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 40%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 2px 6px -2px #777;
	box-shadow: 0 2px 6px -2px #777;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}
.enabled_results:before, .enabled_results:after  
{  
    position: absolute;  
    width: 40%;  
    height: 10px;  
    content: ' ';  
    left: 22px;  
    bottom: 18px;  
    background: transparent;  
    -webkit-transform: skew(-5deg) rotate(-5deg);  
    -moz-transform: skew(-5deg) rotate(-5deg);  
    -ms-transform: skew(-5deg) rotate(-5deg);  
    -o-transform: skew(-5deg) rotate(-5deg);  
    transform: skew(-5deg) rotate(-5deg);  
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);  
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);  
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);  
    z-index: -1;  
}  
.enabled_results:after  
{  
    left: auto;  
    right: 22px;  
    -webkit-transform: skew(5deg) rotate(5deg);  
    -moz-transform: skew(5deg) rotate(5deg);  
    -ms-transform: skew(5deg) rotate(5deg);  
    -o-transform: skew(5deg) rotate(5deg);  
    transform: skew(5deg) rotate(5deg);  
} 

#login_box input[type=submit], .heart input[type=submit] {
 	display: inline-block;
 	padding: 5px 15px 6px 15px;
	-moz-border-radius: 3px;
	border-radius: 3px;
 	color: #FFF;
 	cursor: pointer;
	font-size: 8pt !important;
	background: #2ab4ea;
	border: 0px solid transparent;
}

.heart input[type=submit] {
	padding: 8px 15px 8px 15px;
}

#login_box input[type=submit]:hover, .heart input[type=submit]:hover { 
	-moz-text-shadow: 0 0px 4px #FFF;
	text-shadow: 0 0px 4px #FFF;
	text-decoration: none;
}

a.home_link:link, a.home_link:active, a.home_link:visited {
	border: 0px none; color: #FFF; text-decoration: none; font-size: 45pt; font-weight: bold; letter-spacing: 1.5pt;
}
a.home_link:hover {
	text-shadow: 0 0px 4px #FFF;
}

.micro_title { 
	font-size: 24pt; 
	line-height: 26pt; 
	display: inline-block;
	padding-bottom: 17px;
}

.micro_title_small { 
	font-size: 14pt; 
	display: block; 
	padding: 20px 0 0 0; 
	border-top: 1px solid #DDD;
}

.album_box {
	padding: 14px 0px 10px 0px;
	background: #FAFAFA;
	border: 5px dashed #EEE;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 0 2px 4px -2px #999;
	box-shadow: 0 2px 4px -2px #999;
	font-size: 140%;
	margin-bottom: 10px;
	text-align: left;
	color: #333;
	line-height: 115%;
}

.team_bio {
	display: inline-block;
	width: 580px;
	border: 1px solid #DDD;
	padding: 10px 10px 5px 10px;
	text-align: left;
	margin: 10px 0px 0px 0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #EEE;
	color: #555;
}
.team_bio:hover {
	cursor: pointer;
	border-color: #EEE;
	background: #FFF;
	color: #333;
}

.bio_name {
	font-size: 14pt; margin-right: 10px;
}

.team_bio:hover .bio_name, .team_bio:hover .bio_title {
	color: #3ea8d2;
}

.bio_title {
	font-size: 8pt; color: #999;
}

.micro_page {
	display: inline-block;
	width: 175px;
	border: 1px solid #DDD;
	padding: 5px 10px 2px 10px;
	text-align: left;
	margin: 10px 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.micro_table {
	border-bottom: 1px solid #EEE;
	position: relative; top: -26px;
}

.micro_page_about {
	display: inline-block;
	width: 210px;
	border: 1px solid #D5D5D5;
	padding: 5px 10px 2px 10px;
	text-align: left;
	margin: 0px 0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FAFAFA;
}

.micro_page img, .team_bio img, .micro_page_about img {
	margin-right: 15px;	
	border: 1px solid #CCC;
}

.micro_page_about:hover, .micro_page:hover {
	cursor: pointer;
	background: #FFF;
	border-color: #DDD;
	color: #3ea8d2;
}

.float_right {
	float: right; width: 230px; padding: 10px;
}

.float_right .micro_title_small {
	font-size: 12pt;
	color: #3ea8d2;
}

.micro_container {
	width: 900px; background: #EEE; text-align: left; -moz-box-shadow: 0 4px 8px -4px #555; box-shadow: 0 4px 8px -4px #555; position: relative;
}
.micro_container:before, .micro_container:after  
{  
    position: absolute;  
    width: 40%;  
    height: 10px;  
    content: ' ';  
    left: 17px;  
    bottom: 17px;  
    background: transparent;  
    -webkit-transform: skew(-5deg) rotate(-5deg);  
    -moz-transform: skew(-5deg) rotate(-5deg);  
    -ms-transform: skew(-5deg) rotate(-5deg);  
    -o-transform: skew(-5deg) rotate(-5deg);  
    transform: skew(-5deg) rotate(-5deg);  
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 1);  
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 1);  
    box-shadow: 0 6px 12px rgba(0, 0, 0, 1);  
    z-index: -1;  
}  
.micro_container:after  
{  
    left: auto;  
    right: 17px;  
    -webkit-transform: skew(5deg) rotate(5deg);  
    -moz-transform: skew(5deg) rotate(5deg);  
    -ms-transform: skew(5deg) rotate(5deg);  
    -o-transform: skew(5deg) rotate(5deg);  
    transform: skew(5deg) rotate(5deg);  
}

.micro_center {
	width: 630px; padding: 10px; background: #FFF; -moz-box-shadow: 4px 0 12px 0 #999; box-shadow: 4px 0 12px -6px #999;
}

.love {
	font-size: 7pt; color: #F58;
}

.micro_page_about:hover .love, .micro_page:hover .love {
	color: #F9C;
}
.login_error { position: absolute; right: 0px; top: 35px; line-height: 14pt; width: 400px; text-align: center; color: #900; background: #FFF; z-index: 99999; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 4px 8px -4px #333; box-shadow: 0 4px 8px -4px #333; }
.help_text { font-size: 8pt; color: #900; }
.dark_box .errorlist { font-weight: normal; padding: 2px; font-size: 10pt; }
