/* Login */
#login {
	width: 100%;
	height:40px;
	border: 1px solid #222;
	border-width: 0 0 1px 0;
	background: #444444; /* Old browsers */
	background: -moz-linear-gradient(top, #444444 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #444444 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #444444 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #444444 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(to bottom, #444444 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 4px 8px -4px #333;
	box-shadow: 0 4px 8px -4px #333;
	margin: 0 0 0px 0;
}

.next_generation {
	position: absolute; left: 12px; top: -15px;
	padding: 6px 6px 3px 6px;
	-moz-border-radius: 3px; border-radius: 3px;
	font-size: 12pt;
	color: #FFF;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

#login_box {
	width: 900px; 
	height: 40px; 
	margin: 0px;
	color: #BBB; 
	font-size: 10pt;
}

#login_box table input[type=text], #login_box table input[type=password] {
	padding: 4px; 
	border: 1px solid #CCC;
	background-color: #FFF;
	margin: 3px;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

#login_box table td {
	padding: 6px;
}

a.reset:link, a.reset:visited, a.reset:active {
	font-size: 10pt;
	color: #BBB;
	font-weight: bold;
	text-decoration: none;
}

a.reset:hover {
	color: #FFF;
}

.reset_box {
	display: block;
	height: 100px;
}

#center_box { 
	height: 500px;
	width: 100%;	
	-moz-box-shadow: inset 0 -5px 10px -4px #333, inset 0 5px 10px -4px #333;
	box-shadow: inset 0 -5px 10px -4px #333, inset 0 5px 10px -4px #333; 
	background: url(../images/bg.jpg) #FFF;
	background-position: bottom center;
	background-repeat: repeat-x;
	background-size: auto 500px;
	position: relative;

}

.white_opacity {
	display: block; width: 400px; height: 275px; 
	background: transparent; 
	padding: 17px;
	position: relative;
}

.left_shadow, .right_shadow 
{  
    position: absolute;  
    width: 40%;  
    height: 10px;  
    content: ' ';  
    left: 22px;  
    bottom: 24px;  
    background: transparent;  
    -webkit-transform: skew(-4deg) rotate(-4deg);  
    -moz-transform: skew(-4deg) rotate(-4deg);  
    -ms-transform: skew(-4deg) rotate(-4deg);  
    -o-transform: skew(-4deg) rotate(-4deg);  
    transform: skew(-4deg) rotate(-4deg);  
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 1);  
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 1);  
    box-shadow: 0 6px 12px rgba(0, 0, 0, 1);  
}  
.right_shadow  
{  
    left: auto;  
    right: 22px;  
    -webkit-transform: skew(4deg) rotate(4deg);  
    -moz-transform: skew(4deg) rotate(4deg);  
    -ms-transform: skew(4deg) rotate(4deg);  
    -o-transform: skew(4deg) rotate(4deg);  
    transform: skew(4deg) rotate(4deg);  
} 

.center_container {
	display: block; height: 275px; width: 450px;
	z-index: 999;
}

.heart { !important; color: #555; }
.heart .dark_box { color: #555; font-size: 10pt; padding: 10px 10px 30px 10px; }
.heart .dark_box td { padding: 6px; }
.heart input[type=submit] { border-color: #333; margin: 0 28px 0 25px; position: relative; left: -5px;}
.heart input[type=text], .heart input[type=password] { border: 1px solid #CCC; padding: 5px; width: 175px; -moz-border:-radius: 3px; border-radius: 3px; background: #F7F7F7; }
.heart input[type=text]:focus, .heart input[type=password]:focus,.heart input[type=text]:hover, .heart input[type=password]:hover { background: #FDFDFD; }

.enabled_table {
	width: 100%; 
	height: 44px;
	background: transparent;
	-moz-box-shadow: 0 -4px 8px -4px #333;
	box-shadow: 0 -4px 8px -4px #333;
}

.enabled_container {
	display: inline-block;
	padding: 2px 5px 2px 5px;
	height: 40px;
	color: #FFF;
	border-top: 3px solid transparent;
	border-bottom: 2px solid transparent;
	line-height: 10pt;

}

.enabled_container:hover {
	cursor: pointer;
	color: #777;
}

.container_active {
	color: #777;

}

.container_active:hover {
	cursor: default;

}

.enabled_container .enabled {
	clear: both;
	display: inline-block;
	width: 40px; height: 25px;
	color: #3ea8d2;
	background: #E5E5E5;
	padding: 15px 3px 0px 3px;
	font-size: 16pt;
	margin: 0 7px;
	position: relative; top: -5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.enabled_container:hover .enabled {
	background: #3ea8d2; /* Old browsers */
	background: -moz-linear-gradient(top, #3ea8d2 0%, #2186c1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ea8d2), color-stop(100%,#2186c1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3ea8d2 0%,#2186c1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3ea8d2 0%,#2186c1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3ea8d2 0%,#2186c1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3ea8d2 0%,#2186c1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ea8d2', endColorstr='#2186c1',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
	color: #FFF;
	-moz-box-shadow: 0 -6px 8px -4px #333;
	box-shadow: 0 -6px 8px -4px #333;
}

.container_active .enabled, .container_active:hover .enabled {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 40%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 40%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 40%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 40%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 40%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	cursor: default;
	color: #333;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 -10px 8px -4px #333;
	box-shadow: 0 -10px 8px -4px #333;
}

.enabled_results {
	width: 880px;
	padding: 0px 10px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 40%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 40%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 40%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 40%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 40%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 2px 6px -2px #777;
	box-shadow: 0 2px 6px -2px #777;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}
.enabled_results:before, .enabled_results:after  
{  
    position: absolute;  
    width: 40%;  
    height: 10px;  
    content: ' ';  
    left: 22px;  
    bottom: 18px;  
    background: transparent;  
    -webkit-transform: skew(-5deg) rotate(-5deg);  
    -moz-transform: skew(-5deg) rotate(-5deg);  
    -ms-transform: skew(-5deg) rotate(-5deg);  
    -o-transform: skew(-5deg) rotate(-5deg);  
    transform: skew(-5deg) rotate(-5deg);  
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);  
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);  
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);  
    z-index: -1;  
}  
.enabled_results:after  
{  
    left: auto;  
    right: 22px;  
    -webkit-transform: skew(5deg) rotate(5deg);  
    -moz-transform: skew(5deg) rotate(5deg);  
    -ms-transform: skew(5deg) rotate(5deg);  
    -o-transform: skew(5deg) rotate(5deg);  
    transform: skew(5deg) rotate(5deg);  
} 

#login_box input[type=submit], .heart input[type=submit] {
 	display: inline-block;
 	padding: 5px 15px 5px 15px;
 	border: 1px solid #EEE;
 	border-width: 1px 1px 1px 1px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 40%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 40%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 40%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 40%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 40%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 3px;
	border-radius: 3px;
 	color: #444;
 	cursor: pointer;
	font-size: 8pt !important;
}

#login_box input[type=submit]:active {
	color #F58;
	background: #DDD;
}

.heart input[type=submit] {
	padding: 8px 15px 8px 15px;
}

#login_box input[type=submit]:hover, .heart input[type=submit]:hover { 
	color: #777;
	text-decoration: none; 
	border: 1px solid #FFF; 
	background-color: #FFF;
	-moz-box-shadow: inset 0 2px 6px -2px #777;
	box-shadow: inset 0 2px 6px -2px #777; 
}

.micro_title { 
	font-size: 24pt; 
	line-height: 25pt; 
	display: block; 
	padding: 7px 0; 
	border-bottom: 1px solid #DDD;
}

.micro_title_small { 
	font-size: 14pt; 
	display: block; 
	padding: 20px 0 0 0; 
	border-top: 1px solid #DDD;
}

.album_box {
	padding: 14px 0px 10px 0px;
	background: #FAFAFA;
	border: 5px dashed #EEE;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 0 2px 4px -2px #999;
	box-shadow: 0 2px 4px -2px #999;
	font-size: 140%;
	margin-bottom: 10px;
	text-align: left;
	color: #333;
	line-height: 115%;
}

.team_bio {
	display: inline-block;
	width: 580px;
	border: 1px solid #CCC;
	padding: 10px 10px 5px 10px;
	text-align: left;
	margin: 10px 0px 0px 0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #DDD;
	color: #555;
}
.team_bio:hover {
	cursor: pointer;
	border-color: #BBB;
	background: #FFF;
	color: #333;
}

.bio_name {
	font-size: 14pt; margin-right: 10px;
}

.team_bio:hover .bio_name, .team_bio:hover .bio_title {
	color: #3ea8d2;
}

.bio_title {
	font-size: 8pt; color: #999;
}

.micro_page {
	display: inline-block;
	width: 175px;
	border: 1px solid #DDD;
	padding: 5px 10px 2px 10px;
	text-align: left;
	margin: 10px 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.micro_page_about {
	display: inline-block;
	width: 210px;
	border: 1px solid #D5D5D5;
	padding: 5px 10px 2px 10px;
	text-align: left;
	margin: 0px 0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FAFAFA;
}

.micro_page img, .team_bio img, .micro_page_about img {
	margin-right: 15px;	
	border: 1px solid #CCC;
}

.micro_page_about:hover, .micro_page:hover {
	cursor: pointer;
	background: #555; /* Old browsers */
	background: -moz-linear-gradient(top, #555 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #555 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #555 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #555 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(to bottom, #555 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	border-color: #DDD;
	color: #FFF;
}

.float_right {
	float: right; width: 230px; padding: 10px;
}

.float_right .micro_title_small {
	font-size: 12pt;
	color: #3ea8d2;
}

.micro_container {
	width: 900px; background: #EEE; text-align: left; -moz-box-shadow: 0 4px 8px -4px #555; box-shadow: 0 4px 8px -4px #555; position: relative;
}
.micro_container:before, .micro_container:after  
{  
    position: absolute;  
    width: 40%;  
    height: 10px;  
    content: ' ';  
    left: 17px;  
    bottom: 17px;  
    background: transparent;  
    -webkit-transform: skew(-5deg) rotate(-5deg);  
    -moz-transform: skew(-5deg) rotate(-5deg);  
    -ms-transform: skew(-5deg) rotate(-5deg);  
    -o-transform: skew(-5deg) rotate(-5deg);  
    transform: skew(-5deg) rotate(-5deg);  
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 1);  
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 1);  
    box-shadow: 0 6px 12px rgba(0, 0, 0, 1);  
    z-index: -1;  
}  
.micro_container:after  
{  
    left: auto;  
    right: 17px;  
    -webkit-transform: skew(5deg) rotate(5deg);  
    -moz-transform: skew(5deg) rotate(5deg);  
    -ms-transform: skew(5deg) rotate(5deg);  
    -o-transform: skew(5deg) rotate(5deg);  
    transform: skew(5deg) rotate(5deg);  
}

.micro_center {
	width: 630px; padding: 10px; background: #FFF; -moz-box-shadow: 4px 0 12px 0 #999; box-shadow: 4px 0 12px -6px #999;
}

.love {
	font-size: 7pt; color: #F58;
}

.micro_page_about:hover .love, .micro_page:hover .love {
	color: #F9C;
}
.login_error { position: absolute; right: 8px; border: 1px solid #DDD; color: #900; background: #FFF; z-index: 99999; }
.help_text { font-size: 8pt; color: #900; }
.dark_box .errorlist { font-weight: normal; padding: 2px; font-size: 10pt; }
