@font-face {
	font-family: "Kievit-Custom";
	src: url('fonts/Kievit-Custom.eot');
    src: local(my_font), url('fonts/Kievit-Custom.ttf') format('opentype');
}
@font-face {
	font-family: "Kievit-Custom";
	src: url('fonts/Kievit-Bold-Custom.eot');
    src: local(my_font), url('fonts/Kievit-Bold-Custom.ttf') format('opentype');
	font-weight: bold;
}

body { 
	font-family: "Kievit-Custom", Arial, serif; 
	font-size: 10pt; 
	color: #222;
	margin: 0px; 
	background-color: #FBFBFB; 
}

		
a:link, a:active, a:visited { 
	text-decoration: none; 
	color: #3ea8d2; 
}

a:hover { 
	text-decoration: underline; 
	color: #2ab4ea; 
}

a:active {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=55);
	-moz-opacity: 0.55;
	opacity: 0.55;
}

a img, a:active img, a:visted img, a:hover img { 
	border: 0px; 
	border-width: 0 0 0 0; 
}

h3 { text-align: center; font-size: 16px; }

/* News Feed */

.find_friends {
	color: #AAA;
}

.find_friends:hover {
	cursor: pointer;
	color: #777;
}

a.filter:link, a.filter:active, a.filter:visited,
a.sub_filter:link, a.sub_filter:active, a.sub_filter:visited { 
	color: #AAA; 
	position: relative; 
	display: block; 
	text-decoration: none; 
	padding: 10px 5px 7px 10px;
	width: 180px; 
	font-size: 10pt; 
	margin: 5px 0px;
	border-right: 5px solid #EEE;
}
a.filter:hover, a.sub_filter:hover { 
	color: #777;
	background: #F5F5F5;
	border-color: #CCC;
}

a.sub_filter:link, a.sub_filter:active, a.sub_filter:visited {
	width: 160px;
	padding: 7px 5px 4px 10px;
	left: 20px;
}

a.filterON:link, a.filterON:active, a.filterON:visited { 
	position: relative; 
	display: block; 
	text-decoration: none;
	padding: 10px 5px 7px 10px; 
	width: 180px; 
	font-size: 10pt; 
	color: #000; 
	margin: 5px 0px;
	border-right: 5px solid #333;
	background: #EEE;
}

a.sub_filterON:link, a._subfilterON:active, a._subfilterON:visited { 
	position: relative; 
	display: block; 
	text-decoration: none;
	width: 160px;
	padding: 7px 5px 4px 10px;
	left: 20px;
	font-size: 10pt; 
	color: #000; 
	margin: 5px 0px;
	border-right: 5px solid #333;
	background: #EEE;
}

a.filterON:hover, a.sub_filterON:hover { 
	color: #777;
	background: #F5F5F5;
	border-color: #CCC;
}

a.sub_filter_feed:link, a.sub_filter_feed:active, a.sub_filter_feed:visited {
	display: inline-block;
	color: #AAA;
	padding: 5px 7px 1px 7px;
	border-bottom: 3px solid #EEE;
}

a.sub_filter_feed:hover {
	background: #F5F5F5;
	color: #777;
	text-decoration: none;
	border-color: #CCC;
}

a.sub_filter_feedON:link, a.sub_filter_feedON:active, a.sub_filter_feedON:visited, a.sub_filter_feedON:hover {
	display: inline-block;
	color: #000;
	padding: 4px 7px 1px 7px;
	border-bottom: 3px solid #333;
	text-decoration: none;
}

.remove_tag {
	padding: 7px;
	position: relative; top: -7px; right: 7px;
	border: 1px soild #EEE;
	color: #777;
}

.remove_tag:hover {
	color: #900;
}

a.hide_feed, a.unfollow_feed {
	color: #BBB;
}

a.hide_feed:hover, a.unfollow_feed:hover {
	color: #900;
}

.no_posts, .notif_land {
	display: block;
	width: 100%;
	text-align: center;
	padding: 100px 0;
	font-size: 18pt;
	line-height: 22pt;
	color: #BBB;
}

.add_tag {
    display:inline-block;
    width:100%;
}

a.colored_tag, a.colored_tag:active, a.colored_tag:active {
    color: #A70; 
    text-decoration: none;
}

a.colored_tag:hover {
	text-decoration: underline;
}

#see_more_feed {
	display: block;
	padding: 7px 10px 5px 50px;
	background: #FAFAFA;
}

#see_more_feed:hover {
	background: #EEE;
	text-decoration: none;
	color: #A70;
}

.post_friendpost {
	position: relative;
}
.post_friendpost .timestamp {
	width: 250px;
	position: absolute;
	left: 0px; top: -40px;
}
.post_friendpost .post_bottom {
	position: absolute;
	left: -1px;
	top: 45px;
	width: 250px;
}

/* Profile */

.subtitle_username {
	color: #AAA; font-size: 8pt; padding: 3px 0;
}


.dashboard_name {
	color: #777;
}

a.name_link:hover .dashboard_name {
	color: #F58;
	text-decoration: underline;
}

a.name_link {
	display: block;
	padding: 4px;
}
a.name_link:hover {
	background: #FCFCFC;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.shared {
	background: #900;
	display: inline-block;
	padding: 7px;
	color: #FFF;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 8pt;
	position: absolute;
	left: -56px;
	top: 70px;
}

a.excerpt:link, a.excerpt:active, a.excerpt:visited, a.show_less:link, a.show_less:active, a.show_less:visited {
	padding: 4px 10px;
	background: #;
	color: #555;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 7pt;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	border: 1px solid #DDD;
	
}

a.excerpt:hover, a.show_less:hover {
	color: #555;
	text-decoration: none;
	-moz-box-shadow: inset 0 2px 4px -2px #777;
	box-shadow: inset 0 2px 4px -2px #777; 

}

.post_settings {
	padding: 7px 12px;
	border: 1px solid #CCC;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	margin: 10px 0 5px 0;
	-moz-box-shadow: 0 4px 8px -4px #777;
	box-shadow: 0 4px 8px -4px #777;
}

.post_feature_container {
	font-size: 8pt;
	position: relative;
	left: -10px; top: 1px;
}

.post_feature_container span {
	cursor: pointer; 
	padding: 7px;
	color: #BBB;
}

.post_feature_container span:hover {
	color: #777;
}

.post_feature {
	position: absolute; 
	right: -83px; 
	top: 23px; 
	background: #555555; /* Old browsers */
	background: -moz-linear-gradient(top, #555555 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #555555 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #555555 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #555555 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(to bottom, #555555 0%,#333333 100%); /* W3C */
	color: #FFF; 
	padding: 7px; 
	display: block; 
	width: 150px; 
	text-align: center; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
	z-index: 99999;
	-moz-box-shadow: 0 4px 8px -4px #777;
	box-shadow: 0 4px 8px -4px #777;
}

a.post:link, a.post:active, a.post:visited, .submit_comment, .send { 
	padding: 6px 20px 4px 20px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #3ea8d2;
	color: #FFF !important;
	font-size: 10pt !important;
	cursor: pointer;
}

.submit_comment {
	padding: 4px 7px;
	border: 0px;
	font-size: 8pt !important;
	position: absolute;
	right: 0px; bottom: 3px;
}

a.post:link {
	position: relative;
	top: 1px; right: 2px;
}
a.post:hover, .submit_comment:hover, .send:hover { 
	text-decoration: none; 
	background: #2ab4ea;
	-moz-box-shadow: inset 0 2px 6px -2px #777;
	box-shadow: inset 0 2px 6px -2px #777; 
	color: #FFF;
}

a.profile_nav:link, a.profile_nav:active, a.profile_nav:visited {
	padding: 7px 7px 5px 7px;
	background: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	color: #555;
	border-color: #DDD;
	-moz-box-shadow: 0 2px 4px -2px #777;
	box-shadow: 0 2px 4px -2px #777; 
}

a.profile_nav:hover {
	background: 2ab4ea;
	color: #FFF;

}

a.link-remove-friend:link, a.link-remove-friend:active, a.link-remove-friend:visited {
	background: transparent;
	-moz-box-shadow: 0 0 0 0 transparent;
	box-shadow: 0 0 0 0 transparent;
	font-size: 8pt;
	color: #BBB;
	position: relative; top: 1px;
}

a.link-remove-friend:hover {
	color: #999;
}

a.dashboard_nav:link, a.dashboard_nav:active, a.dashboard_nav:visited {
	display: inline-block;
	padding: 9px 17px 6px 7px;
	text-decoration: none;
	color: #777;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right: 7px;
	border: 1px solid #EEE;
	position: relative; top: 2px;
}

a.dashboard_nav:hover {
	background: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	color: #333;
	border-color: #DDD;
}

a.profile_btn, a.profile_btn:active, a.profile_btn:visited {
	display: inline-block;
	height 20px;
	padding: 6px 10px 4px 10px;
	border: 1px solid #DDD;
	text-align: center;
	color: #555;
	text-decoration: none;
	position: relative;
	top: -5px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

a.profile_btn:hover {
	background: #2ab4ea;
	color: #FFF;
}

.connect {
	position: absolute;
	right: 0px; top: 29px;
	background: #333;
	z-index: 99999;
	padding: 5px;
	display: block;
	width: 150px;
	color: #FFF;
	text-align: right;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.connect li {
	padding: 7px;
}

.connect li:hover {
	background: #2ab4ea;
	cursor: pointer;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.post_content {
	padding: 4px 0 4px 0px;
	margin: 3px 0;
	font-size: 10pt;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 12pt;
}

.post_content p {
	padding: 4px 0;
}

.postbox_textarea {
	padding: 5px; 
	border: 1px solid #FFF; 
	color: #777; 
	background-color: #FDFDFD; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	width: 555px !important;
	border: 1px solid #CCC;
	overflow: hidden;
	height: auto;
}

.post_option {
	display: inline-block;
	margin: 0 15px 0 0;
	padding: 6px 10px;
}

.post_option:hover {
	background: #FFF;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 2px 4px -2px #777;
	box-shadow: inset 0 2px 4px -2px #777;
	cursor: pointer;
}

.post_option input {
	margin-right: 5px;
}

.postoptions_container {
	padding: 7px 7px 3px 7px;
}

#news_feed {
	position: relative;
	top: -13px;
}

#postbox {
	width: 600px;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0px 4px 8px -4px #333;
	box-shadow: 0px 4px 8px -4px #333;
}

.noPhoto { 
	display: block: 
	width: 200px; 
	height: 200px; 
	background-image: url(../images/noProfilePhoto.png); 
	background-position: top center; 
	background-repeat: no-repeat; 
	position: relative; top: -10px;
	border: 1px solid #EEE;
	-moz-border-radius: 0 0 0 3px;
	border-radius: 0 0 0 3px;
	cursor: pointer;
}

.photos_count { 
	position: absolute; top: 0px; left: 70px; display: block; width: 128px; height: 65px; font-size: 8pt; color: #999; background: #FFF;
}

.image_upload_container {
	position: absolute; top: 1px; left: 66px; display: block; width: 130px; height: 65px; background: #FFF; z-index: 999; display: none;
}

.image_album {
	background-size: 200px 200px; width: 200px; height: 200px; margin: 10px 0 10px 0; border: 1px solid #E7E7E7;
}

.image_album:hover {
	border-color: #DDD;
	cursor: pointer;
}

#image_settings {
	display: block;
	height: 25px; width: 200px;
	background: #555555; /* Old browsers */
	background: -moz-linear-gradient(top, #555555 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #555555 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #555555 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #555555 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(to bottom, #555555 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#333333',GradientType=0 ); /* IE6-9 */	
	display: none;
	-moz-box-shadow: 0px 4px 8px -4px #555;
	box-shadow: 0px 4px 8px -4px #555;
	position: relative; top: -5px;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=55);
	-moz-opacity: 0.55;
	opacity: 0.55;
}

#image_settings:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

#image_settings a:link, #image_settings a:active, #image_settings a:visited {
	padding: 4px 6px 2px 6px;
	color: #DDD;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 2px 3px;
}

#image_settings a:hover {
	background: #FFF; /* Old browsers */
	background: -moz-linear-gradient(top, #FFF 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFF 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFF 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFF 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFF 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	color: #333;
	text-decoration: none;
}

.image_container {
	max-width: 878px; border: 1px solid #DDD; padding: 10px; color: #FFF; -moz-box-shadow: 0 4px 8px -4px #777; box-shadow: 0 4px 8px -4px #777; background: #FFF;
}

.upload {
	position: relative;
	display: inline-block;
	width: 70px;
	text-align: center;
	padding: 5px;
	margin: 3px;
	font-size: 8pt;
	border: 1px solid #DDD;
	moz-border-radius: 3px;
	border-radius: 3px;
	color: #555;
	background: #FFF; /* Old browsers */
	background: -moz-linear-gradient(top, #FFF 0%, #EEE 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#EEE)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,#FFF 0%,#EEE 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFF 0%,#EEE 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFF 0%,#EEE 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFF 0%,#EEE 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#EEE',GradientType=0 ); /* IE6-9 */
	border: 1px solid #DDD;
}

.upload:hover {
	background: #FFF;
	border-color: #EEE;
	color: #555;
	text-decoration: none;
}

.upload_form {
	border: 1px solid #DDD;
	display: block;
	width: 178px;
	padding: 0 10px;
	position: absolute;
	top: -10px; left: 0px;
	background: #FAFAFA;
	-moz-box-shadow: 0px 4px 10px -6px #333;
	box-shadow: 0px 4px 10px -6px #333;
	z-index: 998;
}

#upload_picture {
    cursor:pointer;
}

.share_content {
	padding: 10px 15px 5px 15px; 
	background-color: #F7F7F7;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #DDD;
	margin: 10px 0;
}

.post_bottom {
	position: absolute; 
	bottom: 0px; 
	right: 9px; 
	font-size: 8pt; 
	color: #AAA;
}

.post_bottom a {
	color: #AAA;
	display: inline-block;
	margin-left: 10px;
}

.post_timestamp {
	position: absolute; 
	bottom: 0px; 
	left: 8px; 
	font-size: 8pt; 
	color: #AAA;
}

.comment_container {
	padding: 15px 20px 10px 20px; 
	margin: 0 0 20px 0; 
	background-color: #F7F7F7; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	-moz-box-shadow: 0px 4px 10px -6px #AAA;
	box-shadow: 0px 4px 10px -6px #AAA;
	position: relative;
}

.comment {
	color: #444; 
	font-size: 10pt !important; 
	padding: 0;
	margin: 0;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
}

.comment p {
	padding: 4px 0;
}


.comment_thumbnail {
	position: absolute; left: -76px; top: 0px;
	width: 40px; 
	height: 40px; 
	background: #F7F7F7; 
	display: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #EEE;
}

.text_comment {
    font-size: 10pt;
    line-height: 1;
}

.send_message_form {
	font-size: 8pt;
	z-index: 9999;
	background: #FAFAFA;
	border: 1px solid #DDD;
	padding: 0 10px 10px 10px;
	width: 650px;
	-moz-box-shadow: 0px 4px 8px -4px #777;
	box-shadow: 0px 4px 8px -4px #777;
	margin-bottom: 20px;
}

.send_message_form textarea {
	width: 638px;
	height: 50px !important;
}

.DoS_profile {
	font-size: 8pt; 
	color: #CCC; 
	display: block; 
	background: #F7F7F7; 
	padding: 6px 10px 5px 10px; 
	-moz-border-radius: 3px 0 0 3px; 
	border-radius: 3px 0 0 3px; 
	margin: 4px 0;
}

.DoS_profile:hover {
	color: #FFF;
	background: #333;
}

/* Albums */

.albums {
	width: 560px;
	padding: 10px 20px;
	background: #FAFAFA;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 10px 0;
}

.albums_list {
	border: 1px solid #DDD;
	border-width: 0 0 1px 0;
	padding: 7px 7px 7px 0;
	margin: 10px 0;
	position: relative;
}

.album_name_list {
	color: #3ea8d2;
	cursor: pointer;
	font-size: 14pt;
	padding: 4px 12px;
}

.album_name_others {
	color: #3ea8d2;
	font-size: 14pt;
	padding: 4px 12px;
}

.album_name_list:hover {
	color: #2ab4ea;
	background: #FFF;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.albums_count {
	margin: 0px 10px; color: #999; font-size: 10pt;
}

.albums_edit {
	position: absolute;
	right: -7px; top: 6px;
	color: #999;
	font-size: 8pt;
	cursor: pointer;
	padding: 7px;
}

.albums_edit:hover {
	color: #333;
}

a.albums_edit:link, a.albums_edit:visted, a.albums_edit:active {
	font-size: 8pt;
	color: #999;
	position: absolute;
	right: 0px; top: 0px;
}


#create_album_link {
	padding: 8px 10px 5px 10px;
	color: #777;
	margin: 10px 0;
	display: inline-block;
}

#create_album_link:hover {
	color: #333;
	background: #F7F7F7;
	-moz-box-shadow: 0 2px 4px -2px #777;
	box-shadow: 0 2px 4px -2px #777; 
}

#create_album_form {
	display: inline-block;
	padding: 7px 10px;
	background: #F7F7F7;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 20px;
	-moz-box-shadow: 0 4px 8px -4px #777;
	box-shadow: 0 4px 8px -4px #777;
}

#album_name {
	border: 1px solid #CCC;
	padding: 5px;
	width: 200px;
	margin-right: 10px;
}

.bio {
	font-size: 9pt;
	color: #AAA;
	padding: 10px;
}

.add_filter {
	position: absolute; 
	background: #FAFAFA; 
	z-index: 9999; 
	right: 0px; 
	text-align: right; 
	padding: 5px; 
	-moz-box-shadow: 0 4px 8px -4px #333; 
	box-shadow: 0 4px 8px -4px #333; 
	border: 1px solid #DDD;'
}

#dashboard {
	display: block;
	width: 900px;
	border: 1px solid #DDD;
	background: #FFF;
	-moz-box-shadow: 0 4px 8px -4px #AAA;
	box-shadow: 0 4px 8px -4px #AAA;
	margin-bottom: 10px;
	margin-top: 27px;
}

.dashboard_related {
	display: block; height: 100%;
	width: 120px;
	position: relative; top: 2px;
	background: #F7F7F7;
	border-left: 1px solid #CCC;
}

a.db_related {
	color: #AAA; font-size: 8pt;
}

a.db_related:hover {
	color: #F58;
}

.db_addfriend a.profile_btn {
	position: relative;
	top: 1px;
}

a.send_message:link, a.send_message:active, a.send_message:visited {
	font-size: 8pt;
	color: #AAA;
	padding: 10px 7px 7px 7px;
	-mox-border-radius: 3px;
	border-radius: 3px;
	position: relative; top: 1px;
}

a.send_message:hover {
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	text-decoration: none;
	color: #777;

}

/* Base */

.content_area { 
	width: 900px !important; 
	margin: auto; 
	float: none !important;
}

#footer { 
	color: #777; 
	margin: 25px; 
	font-size: 8pt; 
	text-align: center; 
	clear: both; 
}

.highlight {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=55);
	-moz-opacity: 0.55;
	opacity: 0.55;
}

.highlight:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

.left { float: left; color: #999; }
.right { float: right; position: relative; }
.center { text-align: center; position: relative; left: 0px; top: 0px; width: 900px; }

.left_col {
  float: left;
  width: 200px; padding: 10px 0px; border: 1px solid #EEE; border-width: 1px 0 0 0;
}
.left_col p { margin: 13px 0px; }
.left_col hr { background-color: #ddd; border: 1px none #ddd; height: 1px; margin-left: -10px; }
.right_col {
  margin-left: 200px;
  border: 1px solid #EEE; border-width: 1px;
  position: relative;
  -moz-box-shadow: 0 4px 8px -4px #777;
  box-shadow: 0 4px 8px -4px #777;
  background: #FFF;
}

.center_col {
	
}

#profile_top { font-size: 9pt; height: 26px; margin-top: 26px; position: relative; }
#profile_top div { display: inline-block; }


.blue_btn, .blue_btn a, .blue_btn a:active, .blue_btn a:visited { 
	padding: 5px 12px 5px 12px; 
	color: #FFF;
	font-size: 9pt;
	border: 1px solid transparent;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #3ea8d2;
	cursor: pointer;
}

.blue_btn:hover, .blue_btn a:hover { 
	text-decoration: none;
	background: #2ab4ea;
	cursor: pointer;
}

/* Errors */
.errorlist { color: #f00; font-weight: bold; font-size: 10px; display: inline-block; background-color: transparent; }

/* Header */

#header {
  height: 40px;
	border: 1px solid #CCC;
	border-width: 0 0 1px 0;
	background: url(../images/header_bg.png) #333;
	background-size: 450px 50px;
	background-position: center center;
	-moz-box-shadow: 0 0 8px -2px #333;
	box-shadow: 0 0 8px -2px #333;
}

#header .left_links {
  float: left; position: relative; left: -10px;
}
#header .left_links ul { list-style: none; padding: 0px; margin: 0px; margin-top: 15px; }
#header .left_links ul li { padding: 0px; margin: 0px; display: inline-block; }

#header #search_bar { 
	float: right; 
	background: #FFF; 
	position: relative; top: 7px;
}

#header #search_bar input[type=text] { 
	width: 250px; 
	padding: 6px; 
	color: #555; 
	background-color: #FFF; 
	border: 0px;
}

#header #search_bar input[type=submit] {
	color: #999;
	background: #FFF;
	padding: 6px 8px 6px 8px;
	border: 0px;
	cursor: pointer;
	border: 1px solid #EEE;
	border-width: 0 0 0 1px;
}

#header #search_bar input[type=submit]:hover {
	color: #555;
}

.header_profile_image div {
	display: inline-block; 
	background-size: 34px 34px; 
	background-repeat: no-repeat;
	background-position: center center;
	width: 34px; height: 34px; 
	position: relative; left: -4px; top: 12px;
	background: #DDD;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #AAA;
}

a.header_profile_image:hover {
	background: none #555;
	color: #FFF;
}

.left_links li a:link, .left_links li a:active, .left_links li a:visited { 
	padding: 18px 10px 10px 10px; 
	color: #BBB; 
	font-size: 10pt;
}

.left_links li a:hover { 
	color: #FFF; 
	text-decoration: none; 
	background: #444;
}

.left_links li a.settings:link, .left_links li a.settings:active, .left_links li a.settings:visited {
	color: #888;
	display: inline-block;
	background: none;
}

.left_links li a.settings:hover {
	color: #AB8;
}

.left_links li #signout {
	color: #AAA;
	display: none;
	background: none;
}

.left_links li #signout:hover {
	color: #FFF;
}

a.nav_page:link, a.nav_page:active, a.nav_page:visited {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #EEE;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url(../images/noThumb.png) #FAFAFA;
	background-size: 30px 30px;
	-moz-box-shadow: 0 4px 8px -4px #555;
	box-shadow: 0 4px 8px -4px #555; 
}

.page {
	display: inline-block;
	font-size: 8pt;
	text-align: center;
	position: absolute;
	left: 35px; top: 21px;
	padding: 5px 10px;
	width: 75px;
	background: #FFF;
	border: 1px solid #DDD;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 4px 8px -4px #555;
	box-shadow: 0 4px 8px -4px #555; 
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.page a:link, .page a:active, .page a:visited {
	color: #999;
	line-height: 10pt;
	display: block;
	padding: 4px 0;
}

a.nav_messages:link, a.nav_messages:active, a.nav_messages:visited, a.nav_notifications:link, a.nav_notifications:active, a.nav_notifications:visited { 
	display: inline-block; 
	width: 30px; 
	height: 30px; 
	margin: 3px 0;
	border: 1px solid #EEE;  
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	-moz-box-shadow: inset 0 2px 4px -2px #777;
	box-shadow: inset 0 2px 4px -2px #777; 
	position: relative;
}

a.nav_messages:link, a.nav_messages:active, a.nav_messages:visited {
	background: url(../images/IconMessages.png) #F7F7F7;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

a.nav_notifications:link, a.nav_notifications:active, a.nav_notifications:visited {
	background: url(../images/IconNotifications.png) #F7F7F7;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

a.nav_messages:hover { 
	background: url(../images/IconMessages.png) #FFF;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

a.nav_notifications:hover { 
	background: url(../images/IconNotifications.png) #FFF;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.count {
	color: #FFF;
	text-decoration: none;
	background: #B22;
	padding: 4px 5px 1px 5px;
	font-size: 8pt;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: absolute; right: -7px; top: 22px;
}

.page_image {
	width: 90px; 
	height: 90px; 
	background: url(../images/noProfilePhoto.png) #EEE; 
	background-size: 90px 90px;
	margin: 10px; 
	position: relative; top: 7px;
	border: 1px solid #CCC;
}

/* Search */

.username {
	display: inline-block;
	margin: 0 5px;
	color: #BBB;
	font-size: 8pt;
}

.auto_subtext { 
	font-size: 8pt;
	line-height: 8pt;
	color: #777;
}

.result_related, .result_post, .result_search {
  width: 525px; min-height: 50px; padding: 8px; position: relative; left: 108px; margin-bottom: 13px; margin-top: 13px;
}

.result_related:hover, .result_search:hover {
	background: #FAFAFA;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.result .user_thumbnail {
 	position: absolute; 
	left: -58px; 
	width: 50px; 
	height: 50px; 
	border: 1px solid #F7F7F7; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right: 8px; 
	background-image: url(../images/noThumb.png);
	border: 1px solid #EEE;
}

.result .subtext { font-size: 8pt; color: #999; line-height: 10pt; }

.link_loader { width: 16px; height: 16px; float: left; background: url(../images/link_loader.gif) center no-repeat; }
.large_loader { background: url(../images/loader.gif); background-size: 64px 64px; width: 600px; height: 64px; margin: auto; padding: 50px; background-position: center center; background-repeat: no-repeat; }

.DoS {
	position: absolute;
	top: 0px; right: 10px;
	font-size: 8pt;
	color: #DFDFDF;
	height: 70px;
}

.DoS td {
	padding: 5px;
}

.DoS:hover {
	color: #999;
}

.lf_ref {
	position: absolute; right: 170px; top: -10px; height: 70px; text-align: center; color: #FFF; padding: 7px 10px; background: #333; display: none; -moz-border-radius: 3px; border-radius: 3px; font-size: 10pt; -moz-box-shadow: 0px 4px 8px -4px #555; box-shadow: 0px 4px 8px -4px #555;
}

/* Notifications */

.notifications_list { list-style: none; }
.notifications_list .separator { background-color: #EEE; border: 1px; height: 1px; width: 200px; margin: auto; margin-top: 6px; margin-bottom: 6px; }
.notifications_list .friend_request { background-color: #F5F5F5;}
.notifications .left_col { width: 200px; border-width: 1px 0 0 0; }
.notifications .right_col { width: 700px; margin-left: 200px; padding: 0px; }

.link-output:hover {
	background: url(../images/arrow.png) #FFF;
	background-size: 20px 20px;
	background-position: center right; 
	background-repeat: no-repeat;
	cursor: pointer;
}

.friend_decline a {
	color: #777;
}

a.new_notification, span.new_notification {
	color: #900;
} 

.right_content {
	border: 1px solid #EEE;
	border-width: 0 1px 1px 1px;
}

/* Message */

#compose_form {
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	padding: 25px;
	-moz-box-shadow: 0 4px 8px -4px #BBB;
	box-shadow: 0 4px 8px -4px #BBB;
}

#compose_form td {
	padding: 15px;
	color: #777;
}

.mess {
	position: relative;
	left: 50px;
	margin: 20px 0;
	width: 550px;
	padding: 7px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #FAFAFA;
	-moz-box-shadow: 0 4px 6px -4px #BBB;
	box-shadow: 0 4px 6px -4px #BBB;
	border: 2px dashed #DDD;
	line-height: 13pt;
}

.mess p {
	border-top: 1px solid #EEE; border-left: 2px solid #CCC;
	margin: 5px 0 0 0;
	color: #555A5F;
	padding: 12px 14px 6px 14px; 
}

.mess_unread p {
    border-left: 2px solid #A70;
} 

.message {
	display: block;
	width: 160px;
	padding: 15px 5px;
	position: relative;
	left: 30px;
	margin: 6px 0;
	cursor: pointer;

}

.message:hover {
	background: url(../images/arrow.png) #FFF;
	background-size: 20px 20px;
	background-position: center right; 
	background-repeat: no-repeat;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.message_thumbnail {
	display: block;
	width: 25px; height: 25px;
	background: #F7F7F7;
	position: absolute;
	left: -30px;
}
a.older_mess:link, a.older_mess:visited, a.older_mess:active {
	display: block;
	background: #F7F7F7;
	font-size: 8pt;
	color: #777;
	padding: 5px;
	text-align: center;
}

a.older_mess:hover {
	background: #FAFAFA;
	text-decoration: none;
	color: #555;
}

/* Settings */

#basics, #privacy {
	margin: 75px 0;
	background: #EEE;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 555px;
	color: #777;
	-moz-box-shadow: 0 3px 7px -5px #555;
	box-shadow: 0 3px 7px -5px #555;
}

#privacy {
	position: relative;
	top: -15px;
} 

#basics td, #privacy td {
	padding: 10px;
}

#privacy_header, #privacy {
	display: none;
}

#privacy_header, #basics_header {
	position: absolute; left: 0px; top: 0px; padding: 15px 10px 12px 25px; width: 665px;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 3px 7px -5px #555;
	box-shadow: 0 3px 7px -5px #555;
	color: #555;
	font-weight: bold;

}

.save_container {
	position: absolute; left: 0px; bottom: 0px; padding: 15px 10px; background: #EEE; width: 680px;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 3px 7px -5px #555;
	box-shadow: 0 3px 7px -5px #555;
}

.settings_nav ul {
	list-style: none;
	line-height: 16pt;
	position: relative;
	top: -13px;
}

.settings_nav li {
	display: block;
	color: #777;
	padding: 10px 10px 7px 25px;
	margin: 10px 0;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	border-right: 5px solid transparent;
}

.settings_nav li:hover, .active {
	cursor: pointer;
	color: #555;
	-moz-box-shadow: 0 4px 8px -4px #777;
	box-shadow: 0 4px 8px -4px #777; 
	border-right: 5px solid #777;
}

.settings_nav li.active {
	display: block;
	color: #000;
	padding: 10px 10px 7px 25px;
	margin: 10px 0;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	border-right: 5px solid #A70;
	cursor: pointer;

}

.form-row {
	position: relative;
	padding: 10px 0;
	margin: 5px 0;
	width: 280px;
	color: #333;
}

.form-row input[type=password] {
	position: absolute;
	left: 150px; top: 5px;
	padding: 4px;
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.username input {
	background: transparent;
	border-color: transparent;
	padding: 5px;
}

.change_password {
	position: relative;
	top: -20px;
}

/* Pages */

.sponsored, .unsponsored {
	display: block; height: 49px; width: 100px;
	background: url('../images/sponsored.png');
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 100px 49px;
	position: absolute;
	right: -15px;
	top: -12px;
	z-index: 999;
}

.unsponsored, .sponsored:hover {
	background: url('../images/unsponsored.png');
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 100px 49px;
}

a.love:link, a.love:active, a.love:visited { 
	display: inline-block; 
	padding: 8px 12px 6px 12px; 
	color: #F58; 
	font-size: 12pt;
	text-decoration: none; 
	border: 1px solid #FFF;
	background: #e7e7e7; /* Old browsers */
	background: -moz-linear-gradient(top, #e7e7e7 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e7e7e7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e7e7e7 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e7e7e7 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e7e7e7 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 4px 6px -4px #555;
	box-shadow: 0 4px 6px -4px #555; 
}

a.love:hover, a.loved:link, a.loved:active, a.loved:visited, a.loved:hover { 
	color: #D92; 
	-moz-box-shadow: 0 4px 8px -4px #333;
	box-shadow: 0 4px 8px -4px #333; 
	border: 1px solid #FFF;
	background: #FFF;
}

.love_container {
	position: relative;
	-moz-border-radius: 0 0 5px 5px; 
	border-radius: 0 0 5px 5px;
	-moz-box-shadow: 0 4px 8px -4px #333;
	box-shadow: 0 4px 8px -4px #333; 
}

.love_business {
	background: #3ea8d2;
}

.love_nonprofit {
	background: #bcc966; /* Old browsers */
	background: -moz-linear-gradient(top, #bcc966 0%, #909e4a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcc966), color-stop(100%,#909e4a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bcc966 0%,#909e4a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bcc966 0%,#909e4a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #bcc966 0%,#909e4a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #bcc966 0%,#909e4a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcc966', endColorstr='#909e4a',GradientType=0 ); /* IE6-9 */
}

.cover_photo {
	width: 900px; 
	height: 300px; 
	background: #DDD; 
	position: relative;
	-moz-box-shadow: 0 4px 10px -6px #333;
	box-shadow: 0 4px 10px -6px #333;
	z-index: 500;
}

.content_area_pages {
}

.pages_nav_area {
	padding: 15px 5px 14px 5px;
	width: 888px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
	border: 1px solid #EEE;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 4px 8px -4px #555;
	box-shadow: 0 4px 8px -4px #555; 
}

#pages_nav_page { 
	margin: 10px 0;

}

#pages_nav_page a:link, #pages_nav_page a:active, #pages_nav_page a:visited, 
#pages_nav_page a.nonprofit_btn:link, #pages_nav_page a.nonprofit_btn:active, #pages_nav_page a.nonprofit_btn:visited,
#pages_nav_page a.business_btn:link, #pages_nav_page a.business_btn:active, #pages_nav_page a.business_btn:visited {
	color: #666;
}

.pages_nav_area a:link, .pages_nav_area a:active, .pages_nav_area a:visited, 
a.nonprofit_btn:link, a.nonprofit_btn:active, a.nonprofit_btn:visited,
a.business_btn:link, a.business_btn:active, a.business_btn:visited {
	padding: 11px 12px 9px 12px;
	color: #666;
	margin: 0px 5px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative; top: 2px;
}


.pages_nav_area a:hover, a.business_btn:hover, .create_business a.business_btn:hover, a.business_on,
#pages_nav_page a:hover, #pages_nav_page a.business_btn:hover
{
	color: #FFF;
	text-decoration: none;
	background: #3ea8d2;
	-moz-box-shadow: inset 0 2px 4px -2px #555;
	box-shadow: inset 0 2px 4px -2px #555; 

}

a.nonprofit_btn:hover, .create_nonprofit a.nonprofit_btn:hover, #pages_nav_page a.nonprofit_btn:hover, a.nonprofit_on, a.nonprofit_on:hover,
#pages_nav_page a.nonprofit_on:link {
	color: #FFF;
	text-decoration: none;
	background: #bcc966; /* Old browsers */
	background: -moz-linear-gradient(top, #bcc966 0%, #909e4a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcc966), color-stop(100%,#909e4a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bcc966 0%,#909e4a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bcc966 0%,#909e4a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #bcc966 0%,#909e4a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #bcc966 0%,#909e4a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcc966', endColorstr='#909e4a',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 0 2px 4px -2px #555;
	box-shadow: inset 0 2px 4px -2px #555; 
}

#pages_nav_page a.business_on:link, #pages_nav_page a.business_on:active, #pages_nav_page a.business_on:visited, #pages_nav_page a.business_on:hover, a.business_on,
#pages_nav_page a.nonprofit_on:link, #pages_nav_page a.nonprofit_on:active, #pages_nav_page a.nonprofit_on:visited, #pages_nav_page a.nonprofit_on:hover, a.nonprofit_on {
	color: #FFF;
	cursor: default;
}

.create_options {
	position: absolute; 
	right: -16px; 
	top: -10px; 
	width: 400px; 
	text-align: right; 
	background: #FBFBFB;
	padding: 10px; 
}

.create_options a.nonprofit_btn, .create_options a.business_btn, .create_options a.nonprofit_btn:active, .create_options a.business_btn:active, .create_options a.nonprofit_btn:visited, .create_options a.business_btn:visited {
	color: #555;
}

.create_options a.nonprofit_btn:hover, .create_options a.business_btn:hover {
	color: #FFF;
}

.create_business, .create_nonprofit {
	padding: 15px;
	width: 870px;;
	border: 1px solid #CCC;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
	margin: 10px 0;
	display: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 4px 8px -4px #555;
	box-shadow: 0 4px 8px -4px #555; 
}

.create_business {
	color: #3ea8d2;
}

.create_nonprofit {
	color: #909e4a;
}

.create_business td, .create_nonprofit td {
	padding: 10px;
}

.create_business a.business_btn, .create_nonprofit a.nonprofit_btn {
	background: #555555; /* Old browsers */
	background: -moz-linear-gradient(top, #555555 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #555555 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #555555 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #555555 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(to bottom, #555555 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#333333',GradientType=0 ); /* IE6-9 */	
	border-radius: 3px;
	display: inline-block;
	width: 100px;
	text-align: center;
	color: #FFF;
}

.create_business input[type=text], .create_nonprofit input[type=text] {
	padding: 7px; border: 1px solid #CCC; width: 140px; -moz-border-radius: 3px; border-radius: 3px;
}

.create_business select, .create_nonprofit select {
	position: relative;
	left: 5px;
}

.content_pages {
	width: 880px;
	position: relative;
	background: #FFF;
	padding: 0 10px 0 10px;
	border: 1px solid #CCC;
	-moz-box-shadow: 0 4px 12px -4px #999;
	box-shadow: 0 4px 12px -4px #999;
	-moz-border-radius: 7px;
	border-radius: 7px; 
	margin: 10px 0;
}

.content_pages td {
	padding: 4px 10px;
}

#leader div:hover {
	background: #FAFAFA;
	cursor: pointer;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#leader img {
	margin: 0px;
}

.leader_title {
	font-size: 12pt; color: #999; padding: 3px; border-bottom: 1px solid #DDD; display: block; margin-bottom: 5px;
}

.content_pages table {
	margin: 10px 0;
}

.content_pages img {
	margin: 5px 0;
}

.content_pages img:hover {
	-moz-box-shadow: 0 4px 8px -4px #777;
	box-shadow: 0 4px 8px -4px #777;
}

.attach {
	font-size: 8pt; color: #AAA; margin-right: 10px; display: inline-block; cursor: pointer;
}

.attach:hover {
	text-decoration: underline;
}

.float_left {
	position: absolute; left: 0px; top: 0px; width: 230px; padding: 10px; margin: 0px;
}

.page_container {
	position: relative; width: 900px; background: #EEE; text-align: left; -moz-box-shadow: 0 4px 8px -4px #555; box-shadow: 0 4px 8px -4px #555; -moz-border-radius: 3px; border-radius: 3px;
}

.page_center {
	width: 630px; min-height: 300px; padding: 10px; background: #FFF; position: relative; left: 250px; -moz-box-shadow: -6px 0 12px -6px #999; box-shadow: -6px 0 12px -6px #999;
}

a.admin_name:link, a.admin_name:active, a.admin_name:visited, a.admin_name:hover {
	font-size: 8pt;
	color: #DDD;
	margin: 5px;
	text-decoration: none;
}

.friend_container {
background: #eaeaea; /* Old browsers */
background: -moz-linear-gradient(left, #eaeaea 0%, #dddddd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eaeaea), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #eaeaea 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #eaeaea 0%,#dddddd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #eaeaea 0%,#dddddd 100%); /* IE10+ */
background: linear-gradient(to right, #eaeaea 0%,#dddddd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#dddddd',GradientType=1 ); /* IE6-9 */
 	padding: 10px 10px 10px 10px; 
	width: 230px; 
	position: relative; left: -10px; 
	text-align: center;  
	-moz-box-shadow: 0px 4px 8px -4px #999; 
	box-shadow: 0px 4px 8px -4px #999;
}

.friend_title {
	font-size: 14pt; 
	display: inline-block; 
}

.friend_icon {
	display: inline-block;
	border: 1px solid #D5D5D5;
	padding: 3px 4px 0px 4px;
	text-align: left;
	margin: 0px 3px;
	background: #FFF;
}

.friend_icon:hover {
	cursor: pointer;
	background: #555; /* Old browsers */
	background: -moz-linear-gradient(top, #555 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #555 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #555 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #555 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(to bottom, #555 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	border-color: #DDD;
	color: #FFF;
}

.friend_icon img {
	border: 1px solid #DDD;
}
	
.see_all, .view_more {
	display: inline-block;
	font-size: 8pt;
	color: #AAA;
	padding: 3px;
}

.see_all:hover {
	text-decoration: underline;
	cursor: pointer;
}


/* Schools */

a.find_school:link, a.find_school:visited, a.find_school:active {
	display: block;
	color: #777;
	padding: 7px 7px 4px 7px;
	text-align: center;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-bottom: 1px solid #BBB;
	margin-bottom: 5px;
}

a.find_school:hover {
	color: #000;
	background: #FAFAFA;
	text-decoration: none;
	border-color: #DDD;
}

a.school_nav:link, a.school_nav:active, a.school_nav:visited {
	display: block;
	padding: 12px 7px 8px 7px;
	color: #555;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-right: 3px solid transparent;
	margin: 5px 0;
}

a.school_nav:hover, a.school_navON:link, a.school_navON:active, a.school_navON:visited, a.school_navON:hover {
	background: #FFF;
	color: #000;
	text-decoration: none;
	display: block;
	padding: 12px 7px 8px 7px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-right: 3px solid #3ea8d2;
	margin: 5px 0;
}

a.school_nav:hover {
	border-color: #333;
}

.student {
	padding: 5px; text-align: center; display: inline-block; border: 1px solid #CCC; margin: 4px; color: #777;
}

.student:hover {
	cursor: pointer;
	border-color: #3ea8d2;
	color: #49C;
}

.student img {
	padding: 1px;
	border: 1px solid #DDD;
}

.student:hover img {
	border-color: #EEE;
}

.location {
	font-size: 8pt; color: #777;
}

.school_count {
	font-size: 8pt; color: #999; margin-left: 10px;
}

#add_school {
	background: #FAFAFA;
	padding: 5px;
}

#add_school td {
	padding: 5px 0;
}
