/* Imported CSS from prototype */
body { 
	font-family: Arial, "Esteban", "Palatino Linotype", "Book Antiqua", Palatino, serif; 
	font-size: 10pt; 
	color: #222;
	margin: 0px; 
	background-color: #FFF; 
}

		
a:link, a:active, a:visited { 
	text-decoration: none; 
	color: #27B; 
}

a:hover { 
	text-decoration: underline; 
	color: #49D; 
}

a img, a:active img, a:visted img, a:hover img { 
	border: 0px; 
	border-width: 0 0 0 0; 
}

.sib { text-align: right; padding: 6px; color: #555; border: 1px solid #BBB; position: relative; left: 5px; top: -1px; }
a.si:link, a.si:active, a.si:visited { text-decoration: none; color: #777; border: 1px solid #DDD; border-width: 1px 0 1px 1px;
	position: relative; left: 12px; display: inline-block; background-color: #FFF; padding-left: 5px; padding-right: 10px; padding-top: 4px; padding-bottom: 3px; }
a.si:hover { color: #333; text-decoration: none; }

.uts { display: block; display: inline; padding: 10px; background-color: #DFDFE7; color: #555; margin: 2px; }
a.uts:link, a.uts:active, a.uts:visited { display: block; display: inline; padding: 10px; background-color: #FFF; margin: 2px; }
a.uts:hover { background-color: #EEE; color: #36A; }

a.filter:link, a.filter:active, a.filter:visited { 
	color: #27B; 
	position: relative; 
	display: block; 
	text-decoration: none; 
	padding: 5px 0 5px 10px;
	width: 190px; 
	font-size: 10pt; 
}
a.filter:hover { 
	background-color: #FAFAFA; 
	color: #555; 
}
a.filterON:link, a.filterON:active, a.filterON:visited { 
	position: relative; 
	display: block; 
	text-decoration: none;
	padding: 5px 0 5px 10px; 
	width: 190px; 
	font-size: 10pt; 
	background-color: #F5F5F5; 
	color: #000; 
}

a.filterON:hover { 
	background-color: #FAFAFA; 
	color: #555; 
}

a.post:link, a.post:active, a.post:visited { 
	padding: 5px 7px 3px 7px; 
	position: relative; top: 1px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: rgb(68,153,221); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(68,153,221,1) 0%, rgba(34,119,187,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,153,221,1)), color-stop(100%,rgba(34,119,187,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(68,153,221,1) 0%,rgba(34,119,187,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(68,153,221,1) 0%,rgba(34,119,187,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(68,153,221,1) 0%,rgba(34,119,187,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(68,153,221,1) 0%,rgba(34,119,187,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4499dd', endColorstr='#2277bb',GradientType=0 ); /* IE6-9 */
	color: #FFF;
}
a.post:hover { 
	text-decoration: none; 
	background: rgb(85,170,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(85,170,238,1) 0%, rgba(34,119,187,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(85,170,238,1)), color-stop(100%,rgba(34,119,187,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(85,170,238,1) 0%,rgba(34,119,187,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(85,170,238,1) 0%,rgba(34,119,187,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(85,170,238,1) 0%,rgba(34,119,187,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(85,170,238,1) 0%,rgba(34,119,187,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55aaee', endColorstr='#2277bb',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 0 2px 6px -2px #777;
	box-shadow: inset 0 2px 6px -2px #777; 
}

.highlight {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}

.highlight:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

/* Base */
.content_area { width: 900px !important; margin: auto; float: none !important;}
#footer { color: #777; height: 100px; margin-top: 10px; font-size: 8pt; text-align: center; }

/* Errors */
.errorlist { color: #f00; font-weight: bold; font-size: 10px; display: inline-block; background-color: transparent; }

/* Main area */
#header {
  height: 40px;
	border: 1px solid #CCC;
	border-width: 0 0 1px 0;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 0 8px -2px #333;
	box-shadow: 0 0 8px -2px #333;
}

#header .left_links {
  float: left; position: relative; left: -10px;
}
#header .left_links ul { list-style: none; padding: 0px; margin: 0px; margin-top: 15px; }
#header .left_links ul li { padding: 0px; margin: 0px; display: inline-block; }

#header #search_bar { 
	float: right; 
	background: #FFF; 
	border: 8px solid #EEE; 
	border-width: 8px 12px 7px 12px;
}

#header #search_bar input[type=text] { 
	width: 250px; 
	padding: 6px; 
	color: #555; 
	background-color: #FFF; 
	border: 0px;
}

#header #search_bar input[type=submit] {
	color: #999;
	background: #FFF;
	padding: 6px;
	border: 0px;
	cursor: pointer;
}

#header #search_bar input[type=submit]:hover {
	color: #777;
}


a.profileNav:link, a.profileNav:active, a.profileNav:visited { 
	padding: 7px 10px 7px 10px; 
	color: #000; }
a.profileNav:hover { 
	color: #38C; 
	text-decoration: none; }

a.imageNav:link, a.imageNav:active, a.imageNav:visited { 
	display: inline-block; 
	width: 30px; 
	height: 25px; 
	padding-top: 5px; 
	border: 1px solid #CCC;  
	margin-bottom: 7px; 
	background: #EEE; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #EEE 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#EEE)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#EEE 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#EEE 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#EEE 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#EEE 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#EEE',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

a.imageNav:hover { 
	border-color: #BBB;
	text-decoration: none;
	background: #F7F7F7; /* Old browsers */
	background: -moz-linear-gradient(top, #F7F7F7 0%, #EEE 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#EEE)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F7F7F7 0%,#EEE 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F7F7F7 0%,#EEE 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F7F7F7 0%,#EEE 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F7F7F7 0%,#EEE 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#EEE',GradientType=0 ); /* IE6-9 */
}

.count {
	color: #FFF;
	text-decoration: none;
	background: #B22;
	padding: 3px 4px 2px 5px;
	font-size: 9pt;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute; right: -7px; bottom: 0px;
}

a.logout:link, a.logout:active, a.logout:visited {
	position: absolute; 
	left: 34px; 
	top: 0px; 
	color: #C3C3C3; 
	text-decoration: none; 
	font-weight: bold; 
	border: 1px solid #EEE; 
	background: #FFF; 
	width: 15px; 
	height: 16px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
}
a.logout:hover {
	color: #B22;
	background: #F7F7F7; /* Old browsers */
	background: -moz-linear-gradient(top, #F7F7F7 0%, #EEE 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#EEE)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F7F7F7 0%,#EEE 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F7F7F7 0%,#EEE 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F7F7F7 0%,#EEE 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F7F7F7 0%,#EEE 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#EEE',GradientType=0 ); /* IE6-9 */
	border-color: #DDD;
}

.left { float: left; }
.right { float: right; }
.center { text-align: center; }

.left_col {
  float: left;
  width: 200px; padding: 10px 0px; border: 1px solid #EEE; border-width: 1px 0 0 0;
  min-height: 458px;
}
.left_col p { margin: 13px 0px; }
.left_col hr { background-color: #ddd; border: 1px none #ddd; height: 1px; margin-left: -10px; }
.right_col {
  margin-left: 200px;
  border: 1px solid #EEE; border-width: 1px;
  min-height: 478px;
}
.notifications .left_col { width: 550px; border-width: 1px 0 1px 1px; }
.notifications .right_col { width: 350px; margin-left: 550px; }
#profile_top { font-size: 12px; height: 26px; margin-top: 26px; }

h3 { text-align: center; font-size: 16px; }

/* Search */
.result {
  width: 540px; min-height: 50px; padding: 8px; position: relative; left: 108px; margin-bottom: 13px; margin-top: 13px;
}
.result .user_thumbnail {
 	position: absolute; 
	left: -58px; 
	width: 50px; 
	height: 50px; 
	border: 1px solid #DDD; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right: 8px; 
	background-image: url(../images/noThumb.png);
}

.result .user_thumbnail:hover {
	border-color: #EEE;
}

.result .subtext { font-size: 11px; color: #aaa; margin-top: 2px; }
/*.result .subtext a { color: #888; }*/
.link_loader { width: 16px; height: 16px; float: left; background: url(../images/link_loader.gif) center no-repeat; }
.large_loader { background: url(../images/loader.png); width: 64px; height: 64px; margin: auto; margin-top: 20px; }

/* Notifications */
.notifications_list { list-style: none; }
.notifications_list .separator { background-color: #EEE; border: 1px; height: 1px; width: 530px; margin: auto; margin-top: 6px; margin-bottom: 6px; }
.notifications_list .friend_request { background-color: #F5F5F5; height: 48px; }

/* Profile */
#postbox {
  width: 600px; background-color: #EEE; -moz-border-radius: 3px; border-radius: 3px;
}

.noPhoto { 
	display: block: 
	width: 200px; 
	height: 200px; 
	background-image: url(../images/noProfilePhoto.png); 
	background-position: top center; 
	background-repeat: no-repeat; 
	position: relative; top: -10px;
	border: 1px solid #EEE;
	-moz-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#FFF;
    color:#A70;	border: 0px none; cursor: pointer;

}
.buttons a:active{
    background-color:#FFF;
	border: 0px none;
    color:#333;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#333;	border: 0px none; background-color: #FFF;

}
.buttons a.positive:hover, button.positive:hover{
    background-color:#FFF;
    color:#A70;	border: 0px none; cursor: pointer;

}
.buttons a.positive:active{
    background-color:#FFF;
    color:#333;	border: 0px none;

}
