{% load media comments format_results %}

{% for item in items %}
{% get_comment_count for item as comment_count %}
{% if not notification %}
	<hr style="position: relative; left: 50px; background-color: #E7E7E7; layer-background-color: #EEE; border: 1px solid #EEE; border-width: 1px 0 0 0; height: 1;" width="600" align="left" noshade="noshade" />
{% endif %}
<div id="post_{{ item.get_id }}" class="result post_{{ item.id }} {type: '{{item.get_type}}', user: {{ item.user.id }}}" onMouseOver="ShowContent('{{item.id}}'); return false;" onMouseOut="HideContent('{{item.id}}'); return false;" style="padding: 15px 8px 5px 8px; width: 535px;">
    <a href="{{item.post.user.get_absolute_url}}"><div class="user_thumbnail" style="background-image: url('/{{ item.post.user.photo.thumb_name }}'); background-size: 50px 50px; -moz-background-size: 50px 50px !important;"></div></a>
    {{ item.render|linebreaks|color_tags }}
    <div class="subtext">
    {% if item.get_type != 'friend post' %}
        <div>
            <a href="javascript:$('.comment_{{ item.id }}').fadeIn(function() {$('.text_comment').autosize();});">Comment</a>{% ifequal comment_count 0 %} {% else %} ({{ comment_count }}) {% endifequal %} <span style="color: transparent;"> -- </span> 
            <a href="javascript:share_post({{ item.id }});">Share</a> {% ifequal item.shared 0 %} {% else %} ({{ item.shared }}) {% endifequal %} <span style="color: transparent;"> -- </span> 
			Follow
        </div><br />
        <div class="comments comment_{{ item.id }}" style="display: none;">
			<div class="comment_container">
            {% render_comment_list for item %}
            {% render_comment_form for item %}
        </div>
    </div>
    {% endif %}

    <div id="{{item.id}}" style="display: none;">

        <div class="post_timestamp">
            <span class="timestamp" title="{% widthratio item.timestamp|date:"Z" 3600 1 %}:00" >{{ item.timestamp }}</span>
        </div>


        <div class="post_bottom">
            {% if not del_false %}
                {% if item.post.user.id == request.user.id  or item.user_to.id == request.user.id or item.user.id == request.user.id%}
				<a href="javascript:del_post({{item.id}});">Delete</a> <span style="color: transparent;"> -- </span> 
                {% endif %}
                {% if item.get_privacy == "P" %}
                <span title="Privacy Settings: Public">Public</span>
                {% elif item.get_privacy == "F" %}
                <span title="Privacy Settings: Friends Only">Friends</span>
                {% else %}
                {% endif %}
            {% else %}
                {% if item.user.id == request.user.id  or item.user_to.id == request.user.id %}
                <a href="javascript:del_post_single({{item.id}});">Delete</a> <span style="color: transparent;"> -- </span> 
                {% endif %}
                {% if item.type == "P" %}
                <span title="Privacy Settings: Public">Public</span>
                {% elif item.type == "F" %}
                <span title="Privacy Settings: Friends Only">Friends</span>
                {% else %}
                {% endif %}   
            {% endif %}
        </div>
		</div>
    </div>

</div>
{% endfor %}
