{% extends 'base.html' %}
<!--or you can extend base.html here-->
<!--but then you need to populate another block below-->
{% load media %}

{% block js %}
    <script>    

    </script>
{% endblock %}

{% block body %}
{% include '_header.html' %}

{% block content_title %}{% endblock %}
{% block content_middle %}
{% endblock %}
{% block content_subtitle %}{% endblock %}

  {% block content %}
<div style="height: 53px;"></div>
<div align="center">
    chat
</div>

  {% endblock %}

{% block footer_js %}
{% endblock footer_js %}

{% endblock %}
