{% load format_results %}
{% get_online_users 'as' 'online_user_list' %}
<div id="main_chat_container">
<div style="position: fixed; left: 5px; bottom: 2px; z-index: 99999;" id="names_chat_container">
<div id="chat_id" class="chat" >
    <table width="100%"><tr><td><div class="offline"></div> <span id="chat_text" class="offline_text">Offline</span> <span id="online_count" style="font-size: 9pt; color: #999;">{{ online_user_list|length }}</span></td>
		<td align="right"><span class="chat_off turn_off">Turn On</span>
	</td></tr></table>
</div>
</div>

<div class="chat_container" id="online_list" style="display: none;">
	<ul>
        {% for user in online_user_list %}
        {% if user != request.user %}
        <li id="{{ user.username }}"><div class="online"></div> {{ user.get_full_name }}</li>
        {% endif %}
        {% endfor %}
	</ul>
</div>


</div>
