{% load format_results %}
{% load media %}
{% get_online_users 'as' 'online_user_list' %}
{% include 'chat/message_yours_first.html' %}
{% include 'chat/message_yours_noreply.html' %}
<div id="main_chat_container">
<div style="position: fixed; left: 5px; bottom: 2px; z-index: 99999;" id="names_chat_container">
<div id="chat_id" class="chat">
    <table width="100%"><tr><td><div class="offline"></div> <span id="chat_text" class="offline_text">Offline</span> <span id="online_count" style="font-size: 9pt; color: #999;">{% if request.user in online_user_list %} {{ online_user_list|length|add:-1 }} {% else %} {{ online_user_list|length }} {% endif %}</span></td>
		<td align="right"><span class="chat_off turn_off">Turn On</span>
			<img id="sound_on_id" class="sound_ctrl" src="{% media_url 'images/soundON.png' %}" width="10" style="margin-left: 6px; float: right;" title="Sound On" />
			<img id="sound_off_id" class="sound_ctrl" src="{% media_url 'images/soundOFF.png' %}" width="10" style="margin-left: 6px; float: right; display:none;" title="Sound Off" />
            <audio id="new_mess_audio_wav" src="{% media_url 'audio/ping.wav' %}" type="audio/x-wav" preload="auto"></audio>
	</td></tr></table>
</div>
</div>

<div class="chat_container" id="online_list" style="display: none; width: 200px; height: auto; max-height: 85%;">
	<ul>
        {% for user in online_user_list %}
        {% if user != request.user %}
        <li id="{{ user.username }}" class="online_username"><div class="online"></div> {{ user.get_full_name }}</li>
        {% endif %}
        {% endfor %}
	</ul>
</div>


</div>
