{% load media %}
<div id="header">
  <div class="content_area">
    <div class="left_links">
      <ul>
        <li><a href="{% url profile.views.profile %}" style="font-size: 12pt;">Profile</a></li>
        <li><a href="{% url profile.views.feed %}">News Feed</a></li>
        <li><a href="{% url pages.views.main %}">Pages</a></li>
		<li style="display: inline-block; width: 95px;" onMouseOver="ShowContent('signout'); return false;" onMouseOut="HideContent('signout'); return false;">
			<a href="{% url profile.views.settings %}" class="settings">Account</a>
			<a href="{% url django.contrib.auth.views.logout_then_login %}" id="signout" title=" Log Out " target="_top">x</a></li>
		
        <!--<li><a href="{% url profile.views.timeline %}" class="profileNav" style="position: absolute; left: 260px; top: 10px; color: #999;">Timeline</a></li>-->
      </ul>
    </div>


    {% if '/lionface/' in request.get_full_path %}
        <form id="quick_search" method="GET" action="/lionface/search/">
    {% else %}
        <form id="quick_search" method="GET" action="/search/">
    {% endif %}
    <div id="search_bar">
        <input name="models" type="hidden" value="auth.user">
        <input name="q" type="text" value="Search..." onClick="value=''">
        
        <input type="submit" value="Search" />
		
		
    </div>
    	</form>

  </div>
</div>

<div align="center"><div style="position: relative; width: 900px; height: 1px; text-align: right;">

	<div style="position: relative; right: -908px; top: 50px; width: 35px; z-index: 100;">
		<a href="{% url profile.views.messages %}" class="nav_messages" title=" Messages "></a><br />
        {% if not_count > 0 %}
        <a href="{% url notification.views.notifications %}" class="nav_notifications" title=" Notifications " target="_top"><span class="count">{{not_count}}</a>
        {% else %}
        <a href="{% url notification.views.notifications %}" class="nav_notifications" title=" Notifications " target="_top"></a>
        {% endif %}
<image src="{% media_url 'images/IconMessages.png' %}" width="1" height="1" border="0">
<image src="{% media_url 'images/IconNotifications.png' %}" width="1" height="1" border="0">

	</div>
</div>

</div>

