{% load media %}
<div id="header">
  <div class="content_area">
    <div class="left_links">
      <ul>
        <li><a href="{% url profile.views.profile %}" class="profileNav" style="font-size: 12pt;">Profile</a></li>
        <li><a href="{% url profile.views.feed %}" class="profileNav">News Feed</a></li>
        <li><a href="#" class="profileNav" style="border: 1px solid #DDD; border-width: 0 0 0 1px; position: absolute; left: 210px; top: 10px; color: #999;">Pages</a></li>
      </ul>
    </div>

    <form id="quick_search" method="GET" action="/search/">
    <div id="search_bar">
        <input name="models" type="hidden" value="auth.user">
        <input name="q" type="text" value="Search..." onClick="value=''">
        
        <input type="submit" value="Search" />
    </div>
    </form>

  </div>
</div>

<div align="center"><div style="position: relative; width: 900px; height: 1px;">
	<div style="position: fixed; z-index: 100;"><div style="position: relative; left: 907px; top: 53px;">
		<a href="#" class="imageNav" title=" Settings "><img src="{% media_url 'images/IconSettings.png' %}" height="18" /></a>
		
		<a href="{% url django.contrib.auth.views.logout_then_login %}" title=" Sign Out " target="_top" class="logout">x</a>
<div style="height: 22px;"></div>
		<a href="user/messages.html" class="imageNav" title=" Messages "><img src="{% media_url 'images/IconMessages.png' %}" height="18" /></a><br />
        {% if not_count > 0 %}
        <a href="{% url notification.views.notifications %}" class="imageNav" title=" Notifications " target="_top"><img src="{% media_url 'images/IconNotifications.png' %}" height="18"/><span class="count">{{not_count}}</span></a>
        {% else %}
        <a href="{% url notification.views.notifications %}" class="imageNav" title=" Notifications " target="_top"><img src="{% media_url 'images/IconNotifications.png' %}" height="18"/><span class="count"></span></a>
        {% endif %}

	</div>
</div>

</div></div>

