{% load media %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
      xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Lionface{% endblock %}{% if request.user.new_overall %} ({{ request.user.new_overall }}){% endif %}</title>
    {% include_media 'main.css' %}
    {% block css %}{% endblock %}
    <script>
    var LionFace = {};
    LionFace.User = {
            username: "{{ request.user.username }}",
            url: "{{ request.user.get_absolute_url }}",
            name: "{{ request.user.get_full_name }}",
    }
    {% if request.user.is_anonymous %}
         LionFace.User.is_anonymous = true;
    {% else %}
         LionFace.User.is_anonymous = false;
         LionFace.User.home = "{{ request.user.get_absolute_url }}";
         LionFace.User.friends = {{ request.user.get_friends_usernames|safe }};
    {% endif %}
    {% if request.user.is_visible %}
         LionFace.User.is_visible = true;
    {% else %}
         LionFace.User.is_visible = false;
    {% endif %}

    LionFace.User.options = {}
    // user permissions
    LionFace.User.calendar_tp = false;

    WEB_SOCKET_SWF_LOCATION = "{% media_url 'flashsocket/WebSocketMain.swf' %}";
    WEB_SOCKET_DEBUG = false;

    //chat urls
    LionFace.User.chat_status_url = "{% url chat.views.change_status %}";
    LionFace.User.chat_loadhistory_url = "{% url chat.views.load_history %}";
    </script>

    {% include_media 'main.js' %}
    {% include_media 'user.js' %}
    {% block js %}{% endblock %}

<meta name="description" content="Lionface is the next generation in social networking.">

<meta property="og:title" content="Lionface" />
<meta property="og:description" content="Lionface is the next generation in social networking. There are no ads, and we respect your privacy." />
<meta property="og:image" content="{% media_url 'images/favicon.png' %}" />
<meta property="fb:admins" content="1237274210" />
<meta property="og:type" content="company"/>
<meta property="og:url" content="http://www.lionface.org"/>
<meta property="og:site_name" content="Lionface"/>

<link rel="shortcut icon" type="image/x-icon" href="{% media_url 'images/favicon.ico' %}" />
<link rel="icon" type="image/x-icon" href="{% media_url 'images/favicon.ico' %}" />

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33365679-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!--TimeZone-->
  {% include_media 'jstz.min.js' %}
<script type="text/javascript">
var timezone = jstz.determine();
</script>

<!--Stripe.com-->
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
    // this identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_dg2hYuwsswPK6TfPFLUMFGzdjRO57');
</script>


  </head>
  <body>

    {% block body %}
    {% endblock %}

    {% block footer %}

      <div id="footer">

<div align="center">

<SCRIPT LANGUAGE="JavaScript">

    today=new Date();
    y0=today.getFullYear();

</SCRIPT>
  	<div style="width: 900px; text-align: right;">

    Copyright &#169; <a href="{% url account.views.login %}" style="color: #777; text-decoration: none;">Lionface</a> Inc <SCRIPT LANGUAGE="JavaScript">
  <!-- Hide from old browsers
    document.write(y0);
  // end hiding -->
</SCRIPT>
		<span style="color: transparent;">--</span> <a href="{% url public.views.about %}" target="_top" style="color: #777;">About</a>
		<span style="color: transparent;">--</span> <a href="{% url public.views.terms %}" target="_top" style="color: #777;">Terms</a>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="display: inline-block; margin-left: 8px; position: relative; top: 6px;">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AZ93VBK4F46AL">
<input type="image" src="http://www.joriedesigns.com/images/donate.png" border="0" height="20" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


		<span style="color: transparent;">--</span> <a href="{% url public.views.feedback %}" target="_top" style="display: none;">Feedback</a>
		<span style="display: none;">This is a multi-billion dollar company.</span>
	</div>
      </div>

    {% endblock %}

    {% block footer_js %}
    {% endblock %}
    {% block additional_js %}
    {% endblock %}
  </body>
</html>
