{% load media %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
      xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Lionface{% endblock %}</title>
    {% include_media 'main.css' %}
    {% block css %}{% endblock %}
    <script>
    var LionFace = {};
    LionFace.User = {
            username: "{{ request.user.username }}",
    }
    {% if request.user.is_anonymous %}
         LionFace.User.is_anonymous = true;
    {% else %}
         LionFace.User.is_anonymous = false;
    {% endif %}

    LionFace.User.options = {}
    // user permissions
    LionFace.User.calendar_tp = false;
    //duplicat on ajax
    </script>

    {% include_media 'main.js' %}
    {% include_media 'user.js' %}
    {% block js %}{% endblock %}

<meta name="description" content="Lionface is the next generation in social networking.">

<meta property="og:title" content="Lionface" />
<meta property="og:description" content="Lionface is the next generation in social networking." />
<meta property="og:image" content="/uploads/favicon/favicon.png" />
<meta property="fb:admins" content="1237274210" />
<meta property="og:type" content="company"/>
<meta property="og:url" content="http://www.lionface.org"/>
<meta property="og:site_name" content="Lionface"/>

<link rel="shortcut icon" type="image/x-icon" href="{% media_url 'images/favicon.ico' %}" />
<link rel="icon" type="image/x-icon" href="{% media_url 'images/favicon.ico' %}" />
<style>
@font-face {
	font-family: "Kievit-Custom";
	src: url('fonts/Kievit-Custom.eot');
    src: local(my_font), url('{% media_url 'css/fonts/Kievit-Custom.ttf' %}') format('opentype');
}
@font-face {
	font-family: "Kievit-Custom";
	src: url('fonts/Kievit-Bold-Custom.eot');
    src: local(my_font), url('{% media_url 'css/fonts/Kievit-Bold-Custom.ttf' %}') format('opentype');
	font-weight: bold;
}  
</style>

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33365679-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!--TimeZone-->
  {% include_media 'jstz.min.js' %}
<script type="text/javascript">  
var timezone = jstz.determine();
</script>
  

  </head>
  <body>

    {% block body %}
    {% endblock %}

    {% block footer %}

      <div id="footer">

<div align="center">
        
<SCRIPT LANGUAGE="JavaScript">

    today=new Date();
    y0=today.getFullYear();

</SCRIPT>
  	<div style="width: 900px; text-align: right;">

    Copyright &#169; <a href="{% url account.views.login %}" style="color: #777; text-decoration: none;">Lionface</a> Inc <SCRIPT LANGUAGE="JavaScript">
  <!--- Hide from old browsers
    document.write(y0);
  // end hiding --->
</SCRIPT> 
		<span style="color: transparent;">--</span> <a href="{% url public.views.about %}" target="_top" style="color: #777;">About</a>
		<span style="color: transparent;">--</span> <a href="{% url public.views.terms %}" target="_top" style="color: #777;">Terms</a>
		<span style="color: transparent;">--</span> <a href="{% url public.views.feedback %}" target="_top" style="display: none;">Feedback</a>
	</div>
      </div>

    {% endblock %}

    {% block footer_js %}
    {% endblock %}
    {% block additional_js %}
    {% endblock %} 
  </body>
</html>
