{% extends "profile/base.html" %}
{% load media format_messages format_results %}

{% block content %}
<div class="content_area notifications">
    <div id="profile_top">
        <div class="left">{% block content_title %} <a href="{% url profile.views.profile %}" class="name_link">{{ user.full_name }}</a> | Messages{% endblock %}</div>
        <div class="right" style="color: #555;">{% block content_subtitle %}
            <!--I will use this link for both views, except .bottom class will be added, when postbox is at the top-->
            <a href="#" id="show_older" class="older_mess" style="margin: 0; position: relative; left: 2px;">Show Older Messages</a>
            <a href="#" id="revert_btn" class="profile_nav" style="margin: 0; position: relative; left: 2px;">Reverse</a>
            <a href="{% url messaging.views.messages %}" class="profile_nav" style="margin: 0; position: relative; left: 2px;">+ Compose</a>{% endblock %}</div>
    </div>
    <div style="clear: both;"></div>

    {% include "messages/users.html" %}

    <div class="right_col">
        {% block right_col %}
        <form action="" id="message_form" method="post">{% csrf_token %}
            <div align="center">
                <table width="100%" id="compose_form"><tr class="big_form">
                        <td></td><td></td>
                    </tr><tr class="big_form">
                        <td width="100" align="right">To</td>
                        <td width="455" align="left">
                            {% if form.non_field_errors %}
                            <div>{{ form.non_field_errors }}</div>
                            {% endif %}

                            {% if form.user_to.errors %}
                            <div>{{ form.user_to.errors }}</div>
                            {% endif %}
                            {{ form.user_to }}
                            {{ form.user_id }}
                        </td>
                    </tr>
                    <tr class="small_form">
                        <td align="right">Message</td>
                        <td align="left">
                            {% if form.content.errors %}
                            <div>{{ form.content.errors }}</div>
                            {% endif %}
                            {{ form.content }}
                        </td>
                    </tr>
                    <tr class="big_form"><td></td>
                        <td align="left">
                            <a href="javascript:;" id="send_button" class="send">Send</a>
                        </td>
                        {% if send %}
                        <td>
                            <p class="success" >Message was sent.</p>
                        </td>
                        {% endif %}
                    </tr><tr class="big_form">
                        <td></td><td></td>
                    </tr></table>
                </div>
            </form>
            {% endblock %}
        </div>
    </div>
    {% include_media 'messages.js' %}
    {% endblock %}
