{% extends "profile/base.html" %}
{% load media format_messages format_results %}

{% block content %}
<div class="content_area notifications">
    <div id="profile_top">
{% block content_middle %}
	<table width="100%"><tr><td align="left" width="200" style="color: #999;">
		 <a href="{{ request.user.get_absolute_url }}" class="name_link" style="display: inline-block;">{{ user.full_name }}</a> | Messages
	</td><td align="center">
	</td><td align="right" width="200"><div position: relative;">
			<a href="#" id="show_older" class="older_mess" style="margin: 0;">Show Older Messages</a>
            <a href="#" id="revert_btn" class="profile_btn" style="position: absolute; top: -15px; right: 80px;">Reverse</a>
            <a href="{% url messaging.views.messages request.user.username %}" class="profile_btn" style="position: absolute; top: -15px; right: -2px;">+ Compose</a>
			</div>
	</td></tr></table>
{% endblock %}
    </div>

    <div style="clear: both;"></div>

    {% include "messages/users.html" %}

    <div class="right_col">
        {% block right_col %}
        <form action="" id="message_form" method="post">{% csrf_token %}
            <div align="center">
                <table width="100%" id="compose_form"><tr class="big_form">
                        <td></td><td></td>
                    </tr><tr class="big_form">
                        <td width="100" align="right">To</td>
                        <td width="455" align="left">
                            {% if form.non_field_errors %}
                            <div>{{ form.non_field_errors }}</div>
                            {% endif %}

                            {% if form.user_to.errors %}
                            <div>{{ form.user_to.errors }}</div>
                            {% endif %}
                            {{ form.user_to }}
                            {{ form.user_id }}
                        </td>
                    </tr>
                    <tr class="small_form">
                        <td align="right">Message</td>
                        <td align="left">
                            {% if form.content.errors %}
                            <div>{{ form.content.errors }}</div>
                            {% endif %}
                            {{ form.content }}
                        </td>
                    </tr>
                    <tr class="big_form"><td></td>
                        <td align="left">
                            <a href="javascript:;" id="send_button" class="send">Send</a>
                        </td>
                        {% if send %}
                        <td>
                            <p class="success" >Message was sent.</p>
                        </td>
                        {% endif %}
                    </tr><tr class="big_form">
                        <td></td><td></td>
                    </tr></table>
                </div>
            </form>
            {% endblock %}
        </div>
    </div>
    {% include_media 'messages.js' %}
    {% endblock %}
