{% load media format_messages format_results %}

    <div class="left_col">
        {% block left_col %}
        <div style="position: relative; top: -10px;">
            {% for user in messages %}
            <div style="border: 1px solid #EEE; border-width: 1px 0 0 0;">
                <div class="message user_id_{{ user.id }} {user: '{{ user.id }}' }">
                    <a href="{{ user.link }}">
                        {# original user.image is exist? #}
                        <div class="message_thumbnail" style="background-image: url('/{{ user.photo.thumb_name }}'); background-size: 25px 25px;">
                        </div>
                    </a>
                    <a id="name_link_{{ user.id }}" href="{{ user.link }}" {% if user.mess_new %} style="color: #900;" {% endif %}>{{ user.name }}</a><br />
                    <span style="font-size: 8pt; color: #999;">
                        {% if user.mess_new %}<span id="new_mess_{{ user.id }}" class="new_flag" ><span style="color: #900; border: 1px solid #900; border-width: 0 0 1px 0; padding: 1px 0;">{{ user.mess_new }} new</span> <span style="color: transparent;">|</span></span>{% endif %} 
						Message Preview<br />
                        Time - <span class="tm" title=" Total Messages " style="cursor: default;">{{ user.mess_all }}m</span> <span style="color: transparent;">|</span> 
                        <span class="ms" title=" Messages Sent " style="cursor: default;">{{ user.mess_sent }}s</span> <span style="color: transparent;">|</span> 
                        <span class="mr" title=" Messages Received " style="cursor: default;">{{ user.mess_recv }}r</span></span> 

                </div>
            </div>
            {% comment %}
                {% for mess in request.user.message_to.all %}
                    {{ mess|mark_read }}
                {% endfor %}
            {% endcomment %}
            {% endfor %}


            {% if messages %}
            <div style="border: 1px solid #EEE; border-width: 1px 0 0 0; margin-top: 5px;">
                <table width="100%" style="font-size: 8pt; margin-top: 10px;"><tr>
                        {% if messages.has_previous %}
                        <td align="left" width="75"><a href="?page={{ messages.previous_page_number }}" class="profile_nav nav_link">< Newer</a></td>
                        {% else %}
                        <td align="left" width="75"><a href="javascript:;" class="" style="color:#BBB; padding: 7px; cursor: default; text-decoration: none;">< Newer</a></td>
                        {% endif %}
                        <td align="center" width="" style="color: #AAA; font-size: 7pt;">{{ messages.number }} of {{ messages.paginator.num_pages }}</td>
                        {% if messages.has_next %}
                        <td align="right" width="75"><a href="?page={{ messages.next_page_number }}" class="profile_nav nav_link">Older ></a></td>
                        {% else %}
                        <td align="right" width="75"><a href="javascript:;" class="" style="color:#BBB; padding: 7px; cursor: default; text-decoration: none;">Older ></a></td>
                        {% endif %}
            </tr></table></div>
            {% endif %}


        </div>
        {% endblock %}
    </div>

