{% extends 'post/_feed.html' %}
{% load media comments format_results friends %}
{% load oembed_tags %}

{% block empty %}
    {% if profile_user == request.user %}
    <div class="no_posts" style="position: relative; left: 25px;">There are no posts in this album yet.<br />
		<span style="font-size: 11pt;">You can add posts by clicking<br /> the Settings link at the bottom of any of your posts.</span></div>
    {% else %}
    <div class="no_posts" style="position: relative; left: 25px;">There are no posts in this album yet.</div>
    {% endif %}
{% endblock %}
