{% load media comments format_results friends %}
{% load oembed_tags %}
{# {% include_media "post.js" %} #}
{# {% include "post/_popup.html" %} #}
<script>
    <!--/*attached images*/-->
    LionFace.PostImages.bind_settings(); 
</script>

{% for item in items %}

{% include "post/item.html" %}

{% empty %}
{% block empty %}
    {% if request.user.get_filters or request.user.get_active_tags %}
		{% if profile_user %}
			{% if profile_user == request.user %}
			<p class="no_posts">Welcome! Begin by finding friends,<br />or by posting content.</p>
			{% else %}
			<p class="no_posts">This person has not posted anything yet,<br /><span style="font-size: 11pt;">or their content is not visible to you.</span></p>
			{% endif %}
		{% else %}
		<p class="no_posts">Welcome! Ready to get started?<br /><span style="font-size: 11pt;">Here are some things you can do: search for friends, find people to follow,<br />get involved with a <a href="{% url pages.views.main %}">business</a> or <a href="{% url pages.views.nonprofit %}">nonprofit organization</a>, or post content to your <a href="{% url profile.views.profile username=request.user.username %}">profile</a>.<br /><span style="font-size: 9pt;">You can also try exploring some of the trending tags to the left.</span></p>
		{% endif %}
    {% else %}
    <p class="no_posts">No filters have been selected.</p>
    {% endif %}
{% endblock %}
{% endfor %}

{% block see_more %}
{% if has_next %}

<a id="see_more_feed" href="?page={{ next_page_number }}"> See More </a>

{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function() {
        LionFace.User['images_type'] = 'post';
        // LionFace.User['images_manage'] = {% if request.user == profile_user %}true{% else %}false{% endif %};
        // LionFace.User['images_total_rows'] = {{ total_rows }};
        // LionFace.User['images_now_rows'] = {{ image_rows|length }};
        // {# LionFace.User['images_ajax'] = "{% url pages.views.images_ajax page.username %}"; #}
        LionFace.User['images_comments_ajax'] = "{% url post_images_ajax_comments %}";
    });
</script>
{% endblock %}
