{% for item in items %}
<hr style="position: relative; left: 50px; background-color: #EEE; layer-background-color: #EEE; border: 1px solid #EEE; border-width: 1px 0 0 0; height: 1;" width="600" align="left" noshade="noshade" />
  <div class="result post_{{ item.id }}">
    <div class="user_thumbnail"></div>
    {{ item.render }}
	<div class="highlight">
    <div class="subtext">
        {% if not del_false %}
      {% if item.user.id ==  request.user.id  %}
      <a href="javascript:del_post({{item.id}});">Delete</a> <span style="color: transparent;"> -- </span> 
      {% endif %}
      {% endif %}
      <a href="javascript:;">Comment</a> <span style="color: transparent;"> -- </span> 
      <a href="javascript:;">Share</a> <span style="color: transparent;"> -- </span> 
	  <a href="javascript:;" style="color: #F58;">Love</a> <span style="color: transparent;"> -- </span> 
    </div>
	</div>
		<div style="position: absolute; bottom: -7px; right: 13px; font-size: 8pt; color: #AAA;" class="highlight">
            <script>timezone.name();</script>
            <span class="timestamp">{{ item.timestamp }}</span> <span style="color: #FFF; margin-right: 10px;">-</span> 
	  <span title="Privacy Settings: Friends Only">Friends</span>
		</div>
  </div>
{% endfor %}
