{% extends 'post/_feed.html' %}
{% load media comments format_results friends %}
{% load oembed_tags %}

            {% block thumbnai %}
                <a href="{{ page.get_absolute_url }}"><div class="user_thumbnail" style="background-image: url('/{{ item.get_owner.photo|format_image:request.get_full_path }}'); background-size: 50px 50px;"></div></a>
            {% endblock %}

            {% block post_settings %}
            <form>
                <input type="checkbox" name="comment_settings" value="on" 
                    {% if request.user != page.user %}
                        checked="checked" disabled="disabled"
                    {% else %}
                        {% if item.get_comment_settings %}
                            checked="checked" 
                        {% endif %} 
                    {% endif %} >
                    Comments
                <span style="color: transparent;"> -- -- -- </span>
                <input type="checkbox" name="sharing_settings" value="on"
                {% if request.user != page.user %}
                        checked="checked" disabled="disabled"
                    {% else %}
                    {% if item.get_share_settings %}
                    checked="checked"
                    {% endif %}
                {% endif %}> 
                Share
                <span style="color: transparent;"> -- </span>
            </form>
            {% endblock %}
