{% extends 'post/_feed.html' %}
{% load media comments format_results friends %}
{% load oembed_tags %}

{% block post_settings %}
<form>
    <input type="checkbox" name="comment_settings" value="on" 
        {% if request.user != page.user %}
            checked="checked" disabled="disabled"
        {% else %}
            {% if item.get_comment_settings %}
                checked="checked" 
            {% endif %} 
        {% endif %} >
        Comments
    <span style="color: transparent;"> -- -- -- </span>
    <input type="checkbox" name="sharing_settings" value="on"
    {% if request.user != page.user %}
            checked="checked" disabled="disabled"
        {% else %}
        {% if item.get_share_settings %}
        checked="checked"
        {% endif %}
    {% endif %}> 
    Share
    <span style="color: transparent;"> -- </span>
</form>
{% endblock %}

{% block empty %}
    {% if request.user.get_filters or request.user.get_active_tags %}
    <p class="no_posts page_feed">There is nothing to share.</p>
    {% else %}
    <p class="no_posts page_feed">No filters have been selected.</p>
    {% endif %}
{% endblock %}

{% block see_more %}

<a id="see_more_feed" class="page_feed" href="?page={{ items.next_page_number }}"> See More </a>

{% endblock %}
