{% extends 'post/_feed.html' %}
{% load media comments format_results friends %}
{% load oembed_tags %}

{% block post_settings %}
<form>
    <input type="checkbox" name="comment_settings" value="on" 
        {% if request.user != page.user %}
            checked="checked" disabled="disabled"
        {% else %}
            {% if item.get_comment_settings %}
                checked="checked" 
            {% endif %} 
        {% endif %} >
        Comments
    <span style="color: transparent;"> -- -- -- </span>
    <input type="checkbox" name="sharing_settings" value="on"
    {% if request.user != page.user %}
            checked="checked" disabled="disabled"
        {% else %}
        {% if item.get_share_settings %}
        checked="checked"
        {% endif %}
    {% endif %}> 
    Share
    <span style="color: transparent;"> -- </span>
</form>
{% endblock %}

{% block empty %}
    {% if request.user.get_filters or request.user.get_active_tags %}
    <p class="no_posts_feed">There is no content here yet.</p>
    {% else %}
    <p class="no_posts_feed">No filters have been selected.</p>
    {% endif %}
{% endblock %}

{% block post_bottom %}
<div class="post_bottom">
    {% if not del_false %}
    <!--This will fire on news feed-->
        {% if not request.user.is_anonymous %}
        {% if item.get_owner.id == request.user.id  or item.get_post.user_to.id == request.user.id %}
            {% if item.get_type != 'friend post' and item.get_type != 'feedback post' and item.get_type != 'discuss post' and item.get_owner == request.user %}
            {% endif %}
            {% if item.get_type == 'friend post' and item.user != request.user %}
            {% else %}
            <a class="remove-post" href="javascript:LionFace.Site.del_post({{item.id}});">Delete</a>
            {% endif %}
        {% endif %}
        {% endif %}
        {% if item.get_privacy == "P" %}
        <a style="cursor:pointer;"><span class="toggle_privacy" title="Privacy Settings: Public">Public</span></a>
        {% elif item.get_privacy == "F" %}
        <a style="cursor:pointer;"><span class="toggle_privacy" title="Privacy Settings: Friends Only">Friends</span></a>
        {% else %}
        {% endif %}
    {% else %}
    <!--This will fire on ajax posting-->
        {% if item.user.id == request.user.id  or item.user_to.id == request.user.id %}
            {% if item.get_type != 'friend post' and item.get_owner == request.user %}
            {% endif %}
        <a class="remove-post" href="javascript:del_post_single({{item.id}});">Delete</a>
        {% endif %}
        {% if item.type == "P" %}
        <a style="cursor:pointer;"><span class="toggle_privacy" title="Privacy Settings: Public">Public</span></a>
        {% elif item.type == "F" %}
        <a style="cursor:pointer;"><span class="toggle_privacy" title="Privacy Settings: Friends Only">Friends</span></a>
        {% else %}
        {% endif %}
    {% endif %}
    {% url users-albums-posts username=item.get_owner.username album_id=item.get_album.id as the_url %}
    <a href="{{ the_url }}" class="album_name" style="color: #C92;{% if not the_url %} display:none;{% endif %}">{{ item.get_album.name }}</a>
</div>
{% endblock %}

{% block see_more %}
{% if items.has_next %}

<a id="see_more_feed" href="?page={{ items.next_page_number }}" style="position: relative; left: 25px; padding-left: 25px; width: 615px;"> See More </a>

{% endif %}
{% endblock %}
