{% load media %}
<div class="post_image_popup">
    <div class="image_overlay"></div>
    <div class="image_zone">
        <div class="image_zone_view">
            <div class="loader" style="display: none; height: 100%;"><img src="{% media_url 'images/loader.gif' %}" /></div>
            <div class="rotate-left"><img src="{% media_url 'images/img_rotate_L.png' %}" /></div>
            <div class="rotate-right"><img src="{% media_url 'images/img_rotate_R.png' %}" /></div>
            <div class="prev"><img src="{% media_url 'images/prev.png' %}" /></div>
            <div class="next"><img src="{% media_url 'images/next.png' %}" /></div>
            <div class="image" style="display: none;"></div>
        </div>
        <div class="image_zone_info">
            <div class="close"><a href="#" class="ui-icon ui-icon-closethick" style="margin: 0 0 0 auto;" title="Press Esc to Exit"></a></div>
            <div class="scroll_area">
                <div class="owner">
                    {% comment %}
                  {% if page %}
                    <a href="{{ page.get_absolute_url }}">
                        <div class="thumb{% if manage_perm %} images_page_thumb{% endif %}" style="background: url('/{{ page.photo.thumb_name }}') #FFF;"></div>
                        <div class="fullname">{{ page.name }}</div>
                        <div class="username">{{ page.category }}</div>
                    </a>
                  {% else %}
                    {% endcomment %}
                    <a class="user_absolute_url" href="">
                        <div class="thumb" style=""></div>
                        <div class="fullname"></div>
                        <div class="username"></div>
                    </a>
                        <div class="image-subtext" style="position: relative; left: 15px; top: 10px;">
                            <a id="add_post_lovers" class="post_lovers" href="{% url images.views.add_lovers %}"><span class="loves_count"></span> Love</a>
                            <a id="rem_post_lovers" class="post_lovers" href="{% url images.views.add_lovers %}"><span class="loves_count"></span>Loved</a>
                            <a id="add_post_follower" class="post_followers" href="{% url images.views.add_followings %}">Follow</a>
                            <a id="rem_post_follower" class="post_followers" href="{% url images.views.add_followings %}">Unfollow</a>
                        </div>
                  {# {% endif %} #}
                </div>
                <div class="comments image_comments">
                    <div style="height: 100%; position: relative; right: 0px; width: 10px;"></div>
                    <ul></ul>
                </div>
            </div>
            {% if request.user.is_authenticated %}
            <div class="make_comment">
                <div class="thumb{% if manage_perm %} images_profile_thumb{% endif %}" style="background: url('/{{ request.user.photo.thumb_name }}') #FFF;"></div>
                <form>
                    <textarea name="add_comment_text" placeholder="Add comment..."></textarea>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

