<dl id="comments">
  {% for comment in comment_list %}
    <dt id="c{{ comment.id }}">
		<table width="100%"><tr>
			<td align="left">
                <a href='{{ comment.user.get_absolute_url }}'>{{comment.name}}</a>
			</td>
			<td align="right"><div class="highlight">
		{{ comment.submit_date }} 
			</div></td>
		</tr></table>
    </dt>
    <dd>
        <p class="comment">{{ comment.comment }}</p>
    </dd>
    <div><a href="/posts/dlcom/{{ comment.id }}">delete</a>
	<hr noshade="noshade" style="border: 0px; height: 1px; background: #DDD;" size="1" /><div style="height: 7px;"></div>
  {% endfor %}
</dl>
