{% load media format_results %}
<script>
$(document).ready(function() {
    $('.friend_busn_hidden , .friend_nonp_hidden').hide();
});
if (LionFace.User.options['pages_community__'+LionFace.User.page_id]) {
            LionFace.User.Pages_sortable_friends();
} 
</script>
<div class="float_left">
    {% if page.get_friends %}
	<div class="friend_container">
            
            {% if page.get_nonprofit_friends %}
            <div class="friend_title" style="color: #909e4a;">Nonprofit Friends</div><br />
            <div class="friends_nonprofit">
                {% for friend in page.get_nonprofit_friends %} 
                <div id="page_id_{{ friend.id }}"
                    {% if forloop.counter > 4 %}
                        class="friend_icon friend_nonp_hidden"
                        {% else %}
                        class="friend_icon"
                        {% endif %}
                        > 
                    <a href="{{ friend.get_absolute_url }}">
                        <img src="/{{ friend.photo.thumb_name }}" style="background-size: 30px 30px; -moz-background-size: 30px 30px;" width="30" height="30" />
                    </a>
                    <div class="friend_name" style="text-align: center; display:none;">{{ friend.name }}</div>
                </div>
                {% endfor %}
            </div>
            {% if page.get_nonprofit_friends|length > 4 %}
            <a href="#" class="show_more_friends nonprofits_friends_show">Show All</a>
            {% endif %}
            <br /><br />
            {% endif %}
            {% if page.get_business_friends %}
            <div class="friend_title" style="color: #3ea8d2;">Business Friends</div><br />
            <div class="friends_business">
                {% for friend in page.get_business_friends %}
                    
                    <div id="page_id_{{ friend.id }}" 
                        {% if forloop.counter > 4 %}
                        class="friend_icon friend_busn_hidden"
                        {% else %}
                        class="friend_icon"
                        {% endif %}
                        >
                        <a href="{{ friend.get_absolute_url }}">
                            <img src="/{{ friend.photo.thumb_name }}" width="30" height="30" />
                        </a>
                        <div class="friend_name" style="text-align: center; display:none;">{{ friend.name }}</div>
                    </div>
                {% endfor %}
            </div>
            {% if page.get_business_friends|length > 4 %}
            <a href="#" class="show_more_friends business_friends_show">Show All</a>
            {% endif %}
            {% endif %}
            
	</div>
    {% endif %}
    {% include 'pages/micro/_community_search.html' %}
</div>   

