{% load media format_results %}

<script>
$(document).ready(function(){
        /*
        var add_dialog;
        if (!LionFace.User.calendar_tp) create_tp();
        function create_tp() {
            $("#time1, #time2").timePicker({
                show24Hours: false,
            });
            LionFace.User.calendar_tp = true;
        }
        */
        //TODO this will create new pickers every request
        $("#time1, #time2").timePicker({
            show24Hours: false,
        });

        function clean_add_form() {
            $("#what").val('');
            $("#when").val('');
            $("#desc").val('');

            $("#time1").val('');
            $("#time2").val('');
            $("#location").val('');
            GM1.deleteOverlays();
            $('.privacy_opt:checked').each(function() {
                $(this).prop('checked',false);
            });
            $('#privacy_public').prop('checked',true);
            $('#event_privacy').hide();
            $('#page_name_input').val('');
        }
        function create_dialog(date) {

            clean_add_form();

            var month = parseInt(date.getMonth())+1;
            $('#when').val(date.getDate() + '/' + month + '/' + date.getFullYear());
            //$('#when').val($.fullCalendar.formatDate( date, 'ddd, MMMM dd'));
            
            $("#when").prop("disabled", true);
            add_dialog = create_add_dialog()
            add_dialog.dialog( "open" );
            GM1.check_resize(map);
            map.setCenter(new google.maps.LatLng(40.7142, -74.0064));
        }

        function change_event(event, change, callback) {
            if (!event) {
                return;
            }
            var change = change || false;
            var callback = callback || false;
            var url = '{% url pages.views.add_events slug=page.username %}';
            var evento = {
                        'name':event.title,
                        'allday':event.allDay,
            }
            if (event.start) {
                evento['start'] = $.fullCalendar.formatDate( event.start, 'u');
            }
            if (event.end) {
                evento['end'] = $.fullCalendar.formatDate( event.end, 'u');
            }
            if (event.description) {
                evento['desc'] = event.description;
            }
            if (event.coords) {
                evento['coords'] = JSON.stringify(event.coords);
            }
            if (event.privacy) {
                evento['privacy'] = JSON.stringify(event.privacy);
                var classes = '';
                for (var prv in event.privacy) {
                    if (event.privacy[prv] == 'admins') {
                        classes = classes + 'event-admins ';
                    }
                    if (event.privacy[prv] == 'employees') {
                        classes = classes + 'event-employees ';
                    }
                    if (event.privacy[prv] == 'interns') {
                        classes = classes + 'event-interns ';
                    }
                    if (event.privacy[prv] == 'volunteers') {
                        classes = classes + 'event-volunteers ';
                    }
                }
                if (classes) {
                    event['className'] = classes;
                }
            }
            else {
                evento['privacy'] = 'public';
                event['className'] = 'event-public';
            }
            if (event.pages) {
                evento['pages'] = JSON.stringify(event.pages);
            }
            if (event.id) {
                evento['id'] = event.id;
            }
            if (event.clone) {
                evento['clone'] = 'True';
            }
            if (event.allow_commenting) {
                evento['allow_commenting'] = event.allow_commenting;
            }
            if (event.allow_sharing) {
                evento['allow_sharing'] = event.allow_sharing;
            }
            if (change == 'delete') {
                evento['del'] = true;
            }
            event['owner_id'] = LionFace.User.page_id;
            make_request({
                url:url,
                data:evento,
                callback: function(data) {
                    if (data.status == 'OK') {
                        if (!change) {
                            $('#calendar_micro').fullCalendar('renderEvent', event );
                            $('#calendar_micro').fullCalendar( 'refetchEvents' );
                        }
                        if (data.id) {
                            event.id = data.id;
                        }
                        if (change == 'delete') {
                            $('#calendar_micro').fullCalendar( 'removeEvents' , event.id );
                            /* strange bug, event wont disappear after creating */
                        }
                        if (change) {
                            $('#calendar_micro').fullCalendar( 'refetchEvents' );
                        }
                    }
                    else {
                        if (callback) {
                            callback();
                        }
                    }
                }
            });
        }

        function add_event() {
            var what = jQuery.trim($("#what").val());
            var when = jQuery.trim($("#when").val());
            var desc = jQuery.trim($("#desc").val());
            var time1 = jQuery.trim($("#time1").val());
            var time2 = jQuery.trim($("#time2").val());
            var pages = jQuery.trim($('#page_name_input').val());
            var allow_commenting = $('#comment_settings').prop('checked');
            var allow_sharing = $('#sharing_settings').prop('checked');
        
            if(what == ""){
                alert("Please enter a short event description into the \"title\" field.");
            }
            else if ($('#privacy_inhouse').prop('checked') && !$('.privacy_opt:checked').length) {
                alert("Please choose privacy settings.");
            }
            else{
                var reggie = /(\d+)\/(\d+)\/(\d+)/;
                var dateArray = reggie.exec(when); 
                var month = dateArray[2]-1;
                var year = dateArray[3];
                var day = dateArray[1];
                var event_date = new Date(year, month, day);
                var event_end = '';
                if (time1) {
                    var regh = /(\d+):/
                    var arrh = regh.exec(time1); 
                    var hour = parseInt(arrh[1]);
                    if (time1.indexOf('PM') !== -1 ) {
                        hour = hour + 12;
                    }
                    else {
                        if (hour == 12) {
                            hour = 0 ;
                        }
                    }

                    var regm = /:(\d+)/
                    var arrm = regm.exec(time1); 
                    var mins = parseInt(arrm[1]);

                    event_date = new Date(year, month, day, hour, mins);
                }
                var evento = { title: what, start: event_date, allDay: false }
                if (time2) {
                    var regh = /(\d+):/
                    var arrh = regh.exec(time2); 
                    var hour = parseInt(arrh[1]);
                    if (time2.indexOf('PM') !== -1 ) {
                        hour = hour + 12;
                    }
                    else {
                        if (hour == 12) {
                            hour = 0 ;
                        }
                    }

                    var regm = /:(\d+)/
                    var arrm = regm.exec(time2); 
                    var mins = parseInt(arrm[1]);

                    var event_end = new Date(year, month, day, hour, mins);
                    evento['end'] = event_end;
                }
                
                if (desc) {
                    evento['description'] = desc;
                }
                if ($("#show-event-form").data('eventObj')) {
                    evento['id'] = $("#show-event-form").data('eventObj').id;
                }

                /*locations*/
                var coords = [];
                if (GM1.markersArray.length) {
                    for ( var i in GM1.markersArray) { 
                        var coord = {
                            'lat':GM1.markersArray[i].getPosition().lat(),
                            'lng':GM1.markersArray[i].getPosition().lng(),
                        }
                        coords.push(coord);
                    }
                    evento['coords'] = coords;
                }

                if ($('#privacy_inhouse').prop('checked')) {
                    var privacy = [];
                    $('.privacy_opt:checked').each(function(i,e) {
                        privacy.push($(e).attr('name'));
                    });
                    evento['privacy'] = privacy;
                }

                if (pages) {
                    pages = $.map(pages.split(","), $.trim);
                    evento['pages'] = pages;
                }
                if (allow_commenting) {
                    evento['allow_commenting'] = 'True';
                }
                else {
                    evento['allow_commenting'] = 'False';
                }
                if (allow_sharing) {
                    evento['allow_sharing'] = 'True';
                }
                else {
                    evento['allow_sharing'] = 'False';
                }

                if ($("#show-event-form").data('eventObj')) {
                    change_event(evento,true);
                }
                else {
                    change_event(evento);
                }
                add_dialog.dialog('close');
                add_dialog = false;

            }
        }

        var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

        //permission
        var editable = LionFace.User.options['pages_calendar__'+LionFace.User.page_id];
		
		$('#calendar_micro').fullCalendar({
            allDayDefault: false,
            header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: editable,
			events: {
                url: '{% url pages.views.get_events slug=page.username %}',
                type: 'GET',
                error: function() {
                    alert('there was an error while fetching events!');
                },
            },
            eventRender: function(event, element) {
                if (event.description) {
                    element.find('div.fc-event-content').append("<div class=\"fc-event-description\">" + event.description + "</div>");
                }
                if (event.owner_id != LionFace.User.page_id) {
                    event.editable = false;
                }
            },
            dayClick: function(date, allDay, jsEvent, view) {
                if (LionFace.User.options['pages_calendar__'+LionFace.User.page_id]) {
                    // link to current event
                    $("#show-event-form").removeData('eventObj');
                    create_dialog(date);
                }
            },
            eventClick: function(calEvent, jsEvent, view) {

                    $("#show_title").html('');
                    $("#show_date").html('');
                    $("#show_date_end").html('');
                    $("#show_description").html('');
                    $('.share_text').hide();
                    $('.share_to').hide();

                    var show_dialog = create_show_dialog();
                    var edit_buttons  = show_dialog.dialog( "option", "buttons" );
                    add_dialog = create_add_dialog()

                    if (editable && calEvent.owner_id == LionFace.User.page_id) {
                        edit_buttons['Edit'] = function() {
                            show_dialog.dialog('close');

                            var buttons = add_dialog.dialog( "option", "buttons" );
                            buttons['Delete'] = function() {
                                change_event($("#show-event-form").data('eventObj'),'delete');
                                add_dialog.dialog('close');
                                add_dialog = false;
                            }
                            add_dialog.dialog( "option", "buttons", buttons );
                            add_dialog.dialog( "open" );

                            GM1.check_resize(map);
                            if (!$(this).data('eventObj').coords) {
                                map.setCenter(new google.maps.LatLng(40.7142, -74.0064));
                            }
                            else {
                                var coord = $(this).data('eventObj').coords.pop();
                                map.setCenter(new google.maps.LatLng(coord.lat,coord.lng));
                            }
                                     
                        } 
                    }
                    else {
                        delete  edit_buttons['Edit'];
                    }
                    show_dialog.dialog( "option", "buttons", edit_buttons );

                    $("#show_title").html(calEvent.title);
                    $("#show_date").html($.fullCalendar.formatDate( calEvent.start, 'ddd, MMMM dd hh:mm TT'));
                    if (calEvent.end) {
                        $("#show_date_end").html($.fullCalendar.formatDate( calEvent.end, 'ddd, MMMM dd hh:mm TT'));
                    }
                    if (calEvent.description) {
                        $("#show_description").html(calEvent.description);
                    }
                    if (calEvent.coords) {
                        $('#show_location').show();
                        GM2.deleteOverlays();
                        for (var i in calEvent.coords) {
                            var newLatlng = new google.maps.LatLng(calEvent.coords[i].lat,calEvent.coords[i].lng);
                            GM2.placeMarker(newLatlng, map2);
                        }
                    }
                    else {
                        $('#show_location').hide();
                    }
                    if (calEvent.tagged) {
                        $('#tagged_pages').show();
                        $('#show_tagged').html(calEvent.tagged);
                    }
                    else {
                        $('#tagged_pages').hide();
                    }
                    if (calEvent.privacy) {
                        $('#privacy_settings').show()
                        var value = '';
                        if (calEvent.privacy.indexOf('P') >= 0) value = value + ' Public,';
                        if (calEvent.privacy.indexOf('A') >= 0) value = value + ' Admins,';
                        if (calEvent.privacy.indexOf('E') >= 0) value = value + ' Employees,';
                        if (calEvent.privacy.indexOf('I') >= 0) value = value + ' Interns,';
                        if (calEvent.privacy.indexOf('V') >= 0) value = value + ' Volunteers,';
                        // remove last comma
                        var comma = value.lastIndexOf(",")
                        if (comma) value = value.substr(0,comma)
                        $('#show_privacy').html(jQuery.trim(value));
                    }
                    else {
                        $('#privacy_settings').hide()
                    }

                    if (calEvent.comment_form) {
                        $('.comment_container').html('');
                        $('.comment_container').html(calEvent.comment_list);
                        $('.comment_container').append(calEvent.comment_form);
                    }
                    if (calEvent.allow_commenting) {
                        $('.comment_form_class').show();
                    }
                    else {
                        $('#comment_settings').prop('checked',false);
                        $('.comment_form_class').hide();
                    }

                    //show
                    show_dialog.dialog( "open" );
                    show_dialog.dialog( "option", "title", calEvent.title );
                    GM2.check_resize(map2);
                    map2.setCenter(new google.maps.LatLng(40.7142, -74.0064));
                    if (newLatlng) {
                        map2.setCenter(newLatlng);
                    }
                    //clicked_event['id'] = calEvent.id; 
                    $("#show-event-form").data('eventObj',calEvent);

                    //edit form
                    clean_add_form();
                    $("#when").val($.fullCalendar.formatDate( calEvent.start, 'dd/MM/yyyy'));
                    $("#when").prop("disabled", true);
                    $('#what').val($("#show_title").html());
                    $("#desc").val($("#show_description").html());
                    $("#time1").val($.fullCalendar.formatDate( calEvent.start, 'hh:mm TT'));
                    if (calEvent.end) {
                        $("#time2").val($.fullCalendar.formatDate( calEvent.end, 'hh:mm TT'));
                    }
                    if (calEvent.coords) {
                        GM1.deleteOverlays();
                        for (var i in calEvent.coords) {
                            var newLatlng = new google.maps.LatLng(calEvent.coords[i].lat,calEvent.coords[i].lng);
                            GM1.placeMarker(newLatlng, map);
                        }
                    }
                    else {
                        map.setCenter(new google.maps.LatLng(40.7142, -74.0064));
                    }
                    if (calEvent.page_names) {
                        $('#page_name_input').val(calEvent.page_names);
                    }
                    if (!calEvent.privacy) {
                        $('#privacy_public').prop('checked',true);
                        $('#event_privacy').hide();
                    }
                    else {
                        if (calEvent.privacy.indexOf('P') >= 0){
                            $('#privacy_public').prop('checked',true);
                            $('#event_privacy').hide();
                        }
                        if (calEvent.privacy.indexOf('A') >= 0){
                            $('#privacy_public').prop('checked',false);
                            $('#privacy_inhouse').prop('checked',true);
                            $('#privacy_admins').prop('checked',true);
                            $('#event_privacy').show();
                        }
                        if (calEvent.privacy.indexOf('E') >= 0){
                            $('#privacy_public').prop('checked',false);
                            $('#privacy_inhouse').prop('checked',true);
                            $('#privacy_employees').prop('checked',true);
                            $('#event_privacy').show();
                        }
                        if (calEvent.privacy.indexOf('I') >= 0){
                            $('#privacy_public').prop('checked',false);
                            $('#privacy_inhouse').prop('checked',true);
                            $('#privacy_interns').prop('checked',true);
                            $('#event_privacy').show();
                        }
                        if (calEvent.privacy.indexOf('V') >= 0){
                            $('#privacy_public').prop('checked',false);
                            $('#privacy_inhouse').prop('checked',true);
                            $('#privacy_volunteers').prop('checked',true);
                            $('#event_privacy').show();
                        }
                    }
            },
            eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
                change_event(event,true,revertFunc);
            },
            eventResize: function(event,dayDelta,minuteDelta,revertFunc) {
                if (dayDelta > 0) {
                    var d = event.start.getDate();
                    var m = event.start.getMonth();
                    var y = event.start.getFullYear();
                    var H = event.start.getHours();
                    var M = event.start.getMinutes()
                    var He = event.end.getHours();
                    var Me = event.end.getMinutes()
                    for (var i=1; i<= dayDelta; i++) {
                        var new_event = { title: event.title, 
                                            start:new Date(y, m, d+i, H, M), 
                                            end: new Date(y, m, d+i, He, Me), 
                                            allDay: event.allDay,
                                            privacy: event.privacy,
                                            coords: event.coords,
                                            className: event.className,
                                            pages: $.map(event.page_names.split(","), $.trim),
                                            owner_id: event.owner_id,
                                            clone: true,
                                        }

                        change_event(new_event, true);
                    }
                    revertFunc();
                    
                }
                else {
                    change_event(event,true,revertFunc);
                }

            }
                
		});

        function create_add_dialog() {
            var dialog = $("#add-event-form").dialog({
                autoOpen: false,
                modal: true,
                width: 500,
                buttons: {
                    'Save': function() {
                        add_event();
                    },
                    'Cancel': function() {
                        $(this).dialog('close');
                        add_dialog = false;
                    }
                },
                close: function() {
                    $('#add-event-form').dialog('destroy');
                }
            }); 
            return dialog;
        }

        function create_show_dialog() {
            var dialog = $("#show-event-form").dialog({
                autoOpen: false,
                width: 700,
                modal: true, 
                buttons: {
                    'Ok': function() {
                        $(this).dialog('close');
                    } 
                },
                close: function() {
                    //TODO create noraml updates
                    $('#calendar_micro').fullCalendar( 'refetchEvents' );
                    $('#show-event-form').dialog('destroy');
                }

            });
            return dialog;
        }

        /** update posts option */
        $(document).on('change','#update_post',function() {
            var url = '{% url pages.views.post_update_change slug=page.username %}';
            var value = $(this).prop('checked');
            make_request({
                url:url,
                data:{
                    'value':value,
                },
                callback: function() {
                }
            });
        });

        /* show privacy */
        $(document).on('change','#privacy_inhouse',function() {
            var value = $(this).prop('checked');
            if (value) {
                $('#event_privacy').show();
                $('#privacy_admins').prop('checked','true');
            }
        });
        $(document).on('change','#privacy_public',function() {
            var value = $(this).prop('checked');
            if (value) {
                $('#event_privacy').hide();
            }
        });

        $(document).on('click','#find_location',function(e) {
            e.preventDefault();
            GM1.codeAddress();
        }); 

        $(document).on('click','#del_locations',function(e) {
            e.preventDefault();
            var event = $("#show-event-form").data('eventObj');
            if (event) {
                delete event.coords;
            }
            GM1.deleteOverlays();
        }); 

        $(document).on('click','#share_event_btn',function(e) {
            e.preventDefault();
            $('.share_text').hide();
            var event = $("#show-event-form").data('eventObj');
            var url = '{% url pages.views.share_event slug=page.username %}';
            var shared_div = $('.share_to');
            if (event) {
                if (shared_div.length) {
                    if (shared_div.is(":visible")) {
                        var share_val = shared_div.find('.share_to_select').val();
                        make_request({
                            url:url,
                            data: {
                                'event_id': event.id,
                                'share_to': share_val,
                            },
                            callback: function(data) {
                                if (data.status == 'OK') {
                                    $('.share_text').show();
                                    shared_div.hide();
                                }
                            }
                        });
                    }
                    shared_div.show();
                }
                else {
                    make_request({
                        url:url,
                        data: {
                            'event_id':event.id
                        },
                        callback: function(data) {
                            if (data.status == 'OK') {
                                $('.share_text').show();
                            }
                        }
                    });
                }
            }
        });

        /** google maps */
        GM  = function () {
            this.geocoder = null;
            this.markersArray = [];
            this.map = null;
        }


        GM.prototype = {
            init : function(element_id) {
                var self = this;
                var element_id = element_id || false;
                self.geocoder = new google.maps.Geocoder();
                var mapOptions = {
                  center: new google.maps.LatLng(40.7142, -74.0064),
                  zoom: 8,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                if (element_id) {
                    map2 = new google.maps.Map(document.getElementById(element_id),
                        mapOptions);
                }
                else {
                    map = new google.maps.Map(document.getElementById("map_canvas"),
                        mapOptions);
                }
            },
            add_listeners : function() {
                var self = this;
                google.maps.event.addListener(map, 'click', function(event) {
                    self.placeMarker(event.latLng, map);
                });
            },
            placeMarker : function (location, map, id, title, desc, icon) {
                var self = this;
                var marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    id:id,
                })
                self.markersArray.push(marker);
            },
            codeAddress : function() {
                var self = this;
                var address = jQuery.trim($("#location").val());
                self.geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var geocode = results[0].geometry.location;
                        //console.log(iminit.geocode);
                        //iminit.savePoint(iminit.geocode);
                        self.deleteOverlays();
                        self.placeMarker(geocode, map);
                        //iminit.addCoord(iminit.geocode);
                    } else {
                       //var reason="<a class=\"close\" data-dismiss=\"alert\">×</a> <strong>Warning!</strong>" + status;
                        //$("#loc_error").html(reason).addClass("alert").fadeIn();
                    }
                });
            },
            check_resize : function(map) {
                google.maps.event.trigger(map, 'resize');
            },
            deleteOverlays : function() {
                var self = this;
                if (self.markersArray) {
                    for (var i in self.markersArray) {
                        self.markersArray[i].setMap(null);
                    }
                    self.markersArray.length = 0;
                    //$("#lat").val('0');
                    //$("#lng").val('0');

                }
            },
        }

        GM1 = new GM();
        GM1.init();
        GM1.add_listeners();

        GM2 = new GM();
        GM2.init('view_map_canvas');

        function split( val ) {
            return val.split( /,\s*/ );
        }
        function extractLast( term ) {
            return split( term ).pop();
        }    
        /** Autocomplete for pages */
        var url_auto = '{% url search.views.auto_calendar slug=page.username %}';
        $("#page_name_input")
            // don't navigate away from the field on tab when selecting an item
            .bind( "keydown", function( event ) {
                if ( event.keyCode === $.ui.keyCode.TAB &&
                        $( this ).data( "autocomplete" ).menu.active ) {
                    event.preventDefault();
                }
            })
            .autocomplete({
                source: function( request, response ) {
                    $.getJSON( url_auto, {
                        term: extractLast( request.term )
                    }, response );
                },
                focus: function() {
                    // prevent value inserted on focus
                    return false;
                },
                select: function( event, ui ) {
                    var terms = split( this.value );
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push( ui.item.value );
                    // add placeholder to get the comma-and-space at the end
                    terms.push( "" );
                    this.value = terms.join( ", " );
                    return false;
                }
                
            }); 
        


        

});
</script>

    <!--/////////CSS/////////-->

<style>
        input.text { margin-bottom:12px; padding: .4em; }
        fieldset { padding:0; border:0; margin-top:25px; }
        .ui-dialog .ui-state-error { padding: .3em; }
</style>


{% if request.user|check_pages_calendar:page %}
<div style="padding: 10px 10px 8px 10px;">
<table width="100%"><tr><td width="20" align="left" valign="middle">
<input type="checkbox" name="update_post" id="update_post"
    {% if page.update_option %}
        checked="checked"
    {% endif %} style="position: relative; top: -2px;">
</td><td align="left" valign="middle">
<label for="update_post">Automatically post an <span style="color: #A70;">Update</span> 24 hours before any event.</label>
</td></tr></table>
</div>
{% endif %}

<div id='calendar_micro'></div>

<div id="add-event-form" title="Add New Event" class="not-dialog" style="display:none">
    <form>
    <fieldset>
        <table style="width:100%; padding:5px;">
            <tr>
                <td align="right">
                    <label for="name" style="top: -7px;">Date:</label>
                </td>
                <td>
                    <input type="text" name="when" id="when" class="text ui-widget-content ui-corner-all" />
                </td>
            </tr>
            <tr style="padding: 8px 0;">
                <td align="right">
                    <label for="name" style="top: -7px;">Event Title:</label>
                </td>
                <td>
                    <input type="text" name="what" id="what" class="text ui-widget-content ui-corner-all" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="desc" style="top: -7px;">Description:</label>
                </td>
                <td>
                    <textarea type="text" name="desc" id="desc" class="text ui-widget-content ui-corner-all" style="margin: 0px; width: 300px; height: 80px;" />
                </td>
            </tr>
            <tr>
                <td width="30%" align="right"> 
                    <label for="desc">Privacy:</label>
                </td>
                <td style="padding: 8px 0;" width="70%">
 					<input type="radio" name="privacy" id="privacy_public" value="public" checked="checked"/> Public
                    <input type="radio" name="privacy" id="privacy_inhouse" value="inhouse"/> In-House
                   
                    <div id="event_privacy" style="display:none;">
                        <input type="checkbox" class="privacy_opt" name="admins" id="privacy_admins" /> Admins
                        <input type="checkbox" class="privacy_opt" name="employees" id="privacy_employees" /> Employees
                        <input type="checkbox" class="privacy_opt" name="interns" id="privacy_interns" /> Interns
                        {% if page.type == 'NP' %}
                        <input type="checkbox" class="privacy_opt" name="volunteers" id="privacy_volunteers" /> Volunteers
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="30%" align="right"> 
                    <label for="desc">Allow:</label>
                </td>
                <td style="padding: 8px 0;" width="70%">
                    <input type="checkbox" name="comment_settings" id="comment_settings" value="on" checked="checked">
                    Commenting
                    <input type="checkbox" name="sharing_settings" id="sharing_settings" value="on" checked="checked">
                    Sharing
                </td>
            </tr>
            <tr id="choose_time">
                <td align="right">
                    <label style="top: -7px;">Time:</label>
                </td>
                <td>
                    From: <input type="text" id="time1" size="10" class="text ui-widget-content ui-corner-all" autocomplete="OFF" readonly="readonly"/> 
					To: <input type="text" id="time2" size="10" class="text ui-widget-content ui-corner-all" autocomplete="OFF" readonly="readonly"/> 
                </td>
            </tr>
            <tr id="choose_page">
                <td align="right">
                    <label style="top: -7px;">Tag a Page:<br /><span style="color: #AAA; font-size: 8pt;">(optional)</span></label>
                </td>
                <td>
					<input type="text" id="page_name_input" size="30" class="text ui-widget-content ui-corner-all" autocomplete="OFF" /> 
                </td>
            </tr>
            <tr class="map_tr">
                <td align="right">
                    <label for="location">Location<br /><span style="color: #AAA; font-size: 8pt;">(optional)</span></label>
                </td>
                <td>
                    <span>
                        <input type="text" name="location" id="location">
                        <a href="#" id="find_location" class="blue_btn" style="color: #FFF;">find</a>
                        <a href="#" id="del_locations">deleteAll</a>
                    </span>
                </td>
            </tr>
            <tr id="map_td" class="map_tr">
                <td colspan="3" style="height: 200px;">
                    <div id="map_canvas" style="width:100%; height:100%"></div>
                </td>
            </tr>
        </table>
    </fieldset>
    </form>
</div>

<div id="show-event-form" title="Event Information" class="not-dialog" style="display:none">
    <table>
        <tr>
            <td align="right">
                <label>Event Title:</label>
            </td>
            <td id="show_title">
            </td>
        </tr>
        <tr>
            <td align="right">
                <label>Begins:</label>
            </td>
            <td id="show_date">
            </td>
        </tr>
        <tr>
            <td align="right">
                <label>Ends:</label>
            </td>
            <td id="show_date_end">
            </td>
        </tr>
        <tr>
            <td align="right">
                <label>Description:</label>
            </td>
            <td id="show_description">
            </td>
        </tr>
        <tr id="tagged_pages">
            <td align="right">
                <label>Tagged Pages:</label>
            </td>
            <td id="show_tagged" style="color: #49D;">
            </td>
        </tr>
        <tr id="show_location">
            <td colspan="2" height="200px">
                <div id="view_map_canvas" style="width:100%; height:100%"></div>
            </td>
        </tr>
        <tr id="privacy_settings">
            <td align="right">
                <label>Privacy:</label>
            </td>
            <td id="show_privacy">
            </td>
        </tr>
        <tr id="share_event">
            <td align="right">
                <label><a id="share_event_btn" class="blue_btn" style="color: #FFF;" href="#">Share</a></label>
            </td>
            <td id="event_share_to">
                <div class="share_text" style="display:none">
                    <span class="shared" style="position: relative; left:0; top:0;"> Shared </span>
                </div>
                {% if request.user.get_admin_pages %}
                <div class="share_to" style="display:none">
                    Share to: 
                    <select name="share_to_page" class="share_to_select">
                            <option value="profile" selected="selected">Profile</option>
                            {% for page in request.user.get_admin_pages %}
                            <option value="{{ page.id }}">{{ page.name }}</option>
                            {% endfor %}
                    </select>          
                </div>
                {% endif %}
            </td>
        </tr>
        <tr id="comments_event">
            <td>
                
            </td>
            <td id="comment_td" width="550">
            <div class="comments">
                <div class="comment_container">
                </div>
            </div>
            </td>
        </tr>
    </table>
</div>

