{% load media format_results %}

<script>
$(document).ready(function(){


        $("#time1, #time2").timePicker({
            show24Hours: false,
            });

        function create_dialog(date) {
            var month = parseInt(date.getMonth())+1;
            $('#when').val(date.getDate() + '/' + month + '/' + date.getFullYear());
            //$('#when').val($.fullCalendar.formatDate( date, 'ddd, MMMM dd'));
            console.log(date);
            
            $("#when").prop("disabled", true);
            $( "#add-event-form" ).dialog( "open" );
        }

        function change_event(event, change, callback) {
            if (!event) {
                return;
            }
            var change = change || false;
            var callback = callback || false;
            if (change) {
                var url = '{% url pages.views.change_event slug=page.username %}';
            }
            else {
                var url = '{% url pages.views.add_events slug=page.username %}';
            }
            var evento = {
                        'name':event.title,
                        'allday':event.allDay,
            }
            if (event.start) {
                evento['start'] = $.fullCalendar.formatDate( event.start, 'u');
            }
            if (event.end) {
                evento['end'] = $.fullCalendar.formatDate( event.end, 'u');
            }
            if (event.description) {
                evento['desc'] = event.description;
            }
            if (event.coords) {
                evento['coords'] = JSON.stringify(event.coords);
            }
            if (event.privacy) {
                evento['privacy'] = JSON.stringify(event.privacy);
            }
            else {
                evento['privacy'] = 'public';
            }
            if (event.id) {
                evento['id'] = event.id;
            }
            if (change == 'delete') {
                evento['del'] = true;
            }
            make_request({
                url:url,
                data:evento,
                callback: function(data) {
                    if (data.status == 'OK') {
                        if (!change) {
                            console.log('creating');
                            $('#calendar_micro').fullCalendar('renderEvent', event );
                        }
                        if (data.id) {
                            console.log('iding');
                            event.id = data.id;
                        }
                        if (change == 'delete') {
                            console.log('deleting:' + event.id );
                            $('#calendar_micro').fullCalendar( 'removeEvents' , event.id );
                            /* strange bug, event wont disappear after creating */
                            $('#calendar_micro').fullCalendar( 'refetchEvents' );
                        }
                    }
                    else {
                        if (callback) {
                            callback();
                        }
                    }
                }
            });
        }

        var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

        /**
        console.log(clicked_event);
        var clicked_event = {};
        console.log('clicked');
        console.log(clicked_event);
        */


        //permission
        var editable = LionFace.User.options['pages_calendar__'+LionFace.User.page_id];
		
		$('#calendar_micro').fullCalendar({
            allDayDefault: false,
            header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: editable,
            /*
            {
					allDay: false,
					title: 'Lunch',
					end: '2012-11-27 16:30:00',
					start: '2012-11-27 14:30:00',
				},    
            */
			events: {
                url: '{% url pages.views.get_events slug=page.username %}',
                type: 'GET',
                error: function() {
                    alert('there was an error while fetching events!');
                },
            },
            dayClick: function(date, allDay, jsEvent, view) {
                if (LionFace.User.options['pages_calendar__'+LionFace.User.page_id]) {
                    create_dialog(date);
                }
            },
            eventClick: function(calEvent, jsEvent, view) {

                    $("#show_title").html('');
                    $("#show_date").html('');
                    $("#show_date_end").html('');
                    $("#show_description").html('');

                    $("#show_title").html(calEvent.title);
                    $("#show_date").html($.fullCalendar.formatDate( calEvent.start, 'ddd, MMMM dd hh:mm TT'));
                    if (calEvent.end) {
                        $("#show_date_end").html($.fullCalendar.formatDate( calEvent.end, 'ddd, MMMM dd hh:mm TT'));
                    }
                    if (calEvent.description) {
                        $("#show_description").html(calEvent.description);
                    }
                    if (calEvent.coords) {
                        $('#show_location').show();
                        GM2.deleteOverlays();
                        for (i in calEvent.coords) {
                            var newLatlng = new google.maps.LatLng(calEvent.coords[i].lat,calEvent.coords[i].lng);
                            GM2.placeMarker(newLatlng, map2);
                        }
                    }
                    else {
                        $('#show_location').hide();
                    }
                    $("#show-event-form").dialog( "open" );
                    GM2.check_resize(map2);
                    if (newLatlng) {
                        map2.setCenter(newLatlng);
                    }
                    //clicked_event['id'] = calEvent.id; 
                    $("#show-event-form").data('eventObj',calEvent);

            },
            eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
                change_event(event,true,revertFunc);
            },
            eventResize: function(event,dayDelta,minuteDelta,revertFunc) {
                if (dayDelta > 0) {
                    var d = event.start.getDate();
                    var m = event.start.getMonth();
                    var y = event.start.getFullYear();
                    var H = event.start.getHours();
                    var M = event.start.getMinutes()
                    var He = event.end.getHours();
                    var Me = event.end.getMinutes()
                    for (var i=1; i<= dayDelta; i++) {
                        var new_event = { title: event.title, 
                                            start:new Date(y, m, d+i, H, M), 
                                            end: new Date(y, m, d+i, He, Me), 
                                            allDay: event.allDay }

                        change_event(new_event);
                    }
                    revertFunc();
                    
                }
                else {
                    change_event(event,true,revertFunc);
                }

            }
                       
                
		});

        $("#add-event-form").dialog({
            autoOpen: false,
            modal: true,
            width: 500,
            buttons: {
                'Add Event': function() {

                    var what = jQuery.trim($("#what").val());
                    var when = jQuery.trim($("#when").val());
                    var allday = $("#allday").prop('checked');
                    var desc = jQuery.trim($("#desc").val());
                    var time1 = jQuery.trim($("#time1").val());
                    var time2 = jQuery.trim($("#time2").val());
                
                    if(what == ""){
                        alert("Please enter a short event description into the \"what\" field.");
                    }else{
                        var reggie = /(\d+)\/(\d+)\/(\d+)/;
                        var dateArray = reggie.exec(when); 
                        var month = dateArray[2]-1;
                        var year = dateArray[3];
                        var day = dateArray[1];
                        var event_date = new Date(year, month, day);
                        var event_end = '';
                        if (time1) {
                            var regh = /(\d+):/
                            var arrh = regh.exec(time1); 
                            var hour = parseInt(arrh[1]);
                            if (time1.indexOf('PM') !== -1 ) {
                                hour = hour + 12;
                            }

                            var regm = /:(\d+)/
                            var arrm = regm.exec(time1); 
                            var mins = parseInt(arrm[1]);

                            event_date = new Date(year, month, day, hour, mins);
                        }
                        var evento = { title: what, start: event_date, allDay: allday }
                        if (time2) {
                            var regh = /(\d+):/
                            var arrh = regh.exec(time2); 
                            var hour = parseInt(arrh[1]);
                            if (time2.indexOf('PM') !== -1 ) {
                                hour = hour + 12;
                            }

                            var regm = /:(\d+)/
                            var arrm = regm.exec(time2); 
                            var mins = parseInt(arrm[1]);

                            var event_end = new Date(year, month, day, hour, mins);
                            evento['end'] = event_end;
                        }
                        
                        if (desc) {
                            evento['description'] = desc;
                        }

                        /*locations*/
                        var coords = [];
                        if (GM1.markersArray.length) {
                            for (i in GM1.markersArray) { 
                                var coord = {
                                    'lat':GM1.markersArray[i].getPosition().lat(),
                                    'lng':GM1.markersArray[i].getPosition().lng(),
                                }
                                coords.push(coord);
                            }
                            evento['coords'] = coords;
                        }

                        if ($('#privacy_inhouse').prop('checked')) {
                            var privacy = [];
                            $('.privacy_opt:checked').each(function(i,e) {
                                privacy.push($(e).attr('name'));
                            });
                            evento['privacy'] = privacy;
                        }

                        change_event(evento);

                        $(this).dialog('close');
                        $("#what").val('');
                        $("#when").val('');
                        $("#desc").val('');

                        $("#time1").val('');
                        $("#time2").val('');
                        $("#allday").prop('checked',true);
                        $('#choose_time').hide();
                        GM1.deleteOverlays();
                        $("#showmap").prop('checked',false);
                        $('.map_tr').hide();

                    }
                    
                },
                'Cancel': function() {
                    $(this).dialog('close');
                }
            },
            open: function(event, ui){
            },
            close: function() {
            }
        }); 

        $("#show-event-form").dialog({
            autoOpen: false,
            width: 450,
            modal: true, 
            buttons: {
                'Delete': function() {
                    change_event($(this).data('eventObj'),'delete');
                    $(this).dialog('close');
                }, 
                'Ok': function() {
                    $(this).dialog('close');
                } 
            }

        });

        /** show time */
        $(document).on('change','#allday',function() {
            if ($(this).prop('checked')) {
                $('#choose_time').hide();
                $("#time1, #time2").val('');
            }
            else {
                $('#choose_time').show();
            }
        });

        /** update posts option */
        $(document).on('change','#update_post',function() {
            var url = '{% url pages.views.post_update_change slug=page.username %}';
            var value = $(this).prop('checked');
            make_request({
                url:url,
                data:{
                    'value':value,
                },
                callback: function() {
                }
            });
        });

        /** show map */
        $(document).on('change','#showmap',function() {
            var value = $(this).prop('checked');
            if (value) {
                $('.map_tr').show();
                GM1.check_resize(map);
            }
            else {
                $('.map_tr').hide();
                GM1.deleteOverlays();
            }
        });

        /* show privacy */
        $(document).on('change','#privacy_inhouse',function() {
            var value = $(this).prop('checked');
            if (value) {
                $('#event_privacy').show();
            }
        });
        $(document).on('change','#privacy_public',function() {
            var value = $(this).prop('checked');
            if (value) {
                $('#event_privacy').hide();
            }
        });

        $(document).on('click','#find_location',function(e) {
            e.preventDefault();
            GM1.codeAddress();
        }); 

        $(document).on('click','#del_locations',function(e) {
            e.preventDefault();
            GM1.deleteOverlays();
        }); 

        /** google maps */
        GM  = function () {
            this.geocoder = null;
            this.markersArray = [];
            this.map = null;
        }


        GM.prototype = {
            init : function(element_id) {
                var self = this;
                var element_id = element_id || false;
                self.geocoder = new google.maps.Geocoder();
                var mapOptions = {
                  center: new google.maps.LatLng(40.7142, -74.0064),
                  zoom: 8,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                if (element_id) {
                    map2 = new google.maps.Map(document.getElementById(element_id),
                        mapOptions);
                }
                else {
                    map = new google.maps.Map(document.getElementById("map_canvas"),
                        mapOptions);
                }
            },
            add_listeners : function() {
                var self = this;
                google.maps.event.addListener(map, 'click', function(event) {
                    self.placeMarker(event.latLng, map);
                });
            },
            placeMarker : function (location, map, id, title, desc, icon) {
                var self = this;
                var marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    id:id,
                })
                self.markersArray.push(marker);
            },
            codeAddress : function() {
                var self = this;
                var address = jQuery.trim($("#location").val());
                self.geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var geocode = results[0].geometry.location;
                        //console.log(iminit.geocode);
                        //iminit.savePoint(iminit.geocode);
                        //iminit.deleteOverlays();
                        //self.placeMarker(geocode);
                        //iminit.addCoord(iminit.geocode);
                    } else {
                        //var reason="<a class=\"close\" data-dismiss=\"alert\">×</a> <strong>Warning!</strong>" + status;
                        //$("#loc_error").html(reason).addClass("alert").fadeIn();
                    }
                });
            },
            check_resize : function(map) {
                google.maps.event.trigger(map, 'resize');
                map.setCenter(new google.maps.LatLng(40.7142, -74.0064));
            },
            deleteOverlays : function() {
                var self = this;
                if (self.markersArray) {
                    for (i in self.markersArray) {
                        self.markersArray[i].setMap(null);
                    }
                    self.markersArray.length = 0;
                    //$("#lat").val('0');
                    //$("#lng").val('0');

                }
            },
        }

        GM1 = new GM();
        GM1.init();
        GM1.add_listeners();

        GM2 = new GM();
        GM2.init('view_map_canvas');
        


        

});
</script>

    <!--/////////CSS/////////-->

<style>
        input.text { margin-bottom:12px; padding: .4em; }
        fieldset { padding:0; border:0; margin-top:25px; }
        .ui-dialog .ui-state-error { padding: .3em; }
</style>


{% if request.user|check_pages_calendar:page %}
<div style="padding: 10px 10px 8px 10px;">
<table width="100%"><tr><td width="20" align="left" valign="middle">
<input type="checkbox" name="update_post" id="update_post"
    {% if page.update_option %}
        checked="checked"
    {% endif %} style="position: relative; top: -2px;">
</td><td align="left" valign="middle">
<label for="update_post">Automatically post an <span style="color: #A70;">Update</span> 24 hours before any event.</label>
</td></tr></table>
</div>
{% endif %}

<div id='calendar_micro'></div>

<div id="add-event-form" title="Add New Event">
    <form>
    <fieldset>
        <table style="width:100%; padding:5px;">
            <tr>
                <td>
                    <label for="name">When:</label>
                </td>
                <td>
                    <input type="text" name="when" id="when" class="text ui-widget-content ui-corner-all" />
                </td>
            </tr>
            <tr>
                <td style="padding: 8px 0;">
                    <label for="name">Event Title:</label>
                </td>
                <td>
                    <input type="text" name="what" id="what" class="text ui-widget-content ui-corner-all" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="desc">Description:</label>
                </td>
                <td>
                    <textarea type="text" name="desc" id="desc" class="text ui-widget-content ui-corner-all" style="margin: 0px; width: 300px; height: 80px;" />
                </td>
            </tr>
            <tr>
                <td width="30%"> 
                    <label for="desc">Privacy:</label>
                </td>
                <td style="padding: 8px 0;" width="70%">
 					<input type="radio" name="privacy" id="privacy_public" value="public" checked="checked"/> Public
                    <input type="radio" name="privacy" id="privacy_inhouse" value="inhouse"/> In-House
                   
                    <div id="event_privacy" style="display:none;">
                        <input type="checkbox" checked="checked" class="privacy_opt" name="admins" id="privacy_admins" /> Admins
                        <input type="checkbox" class="privacy_opt" name="employees" id="privacy_employees" /> Employees
                        <input type="checkbox" class="privacy_opt" name="interns" id="privacy_interns" /> Interns
                        {% if page.type == 'NP' %}
                        <input type="checkbox" class="privacy_opt" name="volunteers" id="privacy_volunteers" /> Volunteers
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="allday">All day</label>
                </td>
                <td>
                    <input type="checkbox" name="allday" id="allday" checked="checked"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="allday">Show map</label>
                </td>
                <td>
                    <input type="checkbox" name="showmap" id="showmap"/>
                </td>
            </tr>
            <tr id="choose_time" style="display:none;">
                <td>
                    <label>Time:</label>
                </td>
                <td>
                    From: <input type="text" id="time1" size="10" class="text ui-widget-content ui-corner-all" autocomplete="OFF" readonly="readonly"/> 
					To: <input type="text" id="time2" size="10" class="text ui-widget-content ui-corner-all" autocomplete="OFF" readonly="readonly"/> 
                </td>
            </tr>
            <tr class="map_tr" style="display:none;" >
                <td>
                    <label for="allday">Location <span style="color: #AAA; font-size: 8pt;">(optional)</span></label>
                </td>
                <td>
                    <span>
                        <input type="text" name="location" id="location">
                        <a href="#" id="find_location">find</a>
                        <a href="#" id="del_locations">deleteAll</a>
                    </span>
                </td>
            </tr>
            <tr id="map_td" class="map_tr" style="display:none;" >
                <td colspan="3" style="height: 200px;">
                    <div id="map_canvas" style="width:100%; height:100%"></div>
                </td>
            </tr>
        </table>
    </fieldset>
    </form>
</div>

<div id="show-event-form" title="Event Information">
    <table>
        <tr>
            <td>
                Event Title:
            </td>
            <td id="show_title">
            </td>
        </tr>
        <tr>
            <td>
                Date:
            </td>
            <td id="show_date">
            </td>
        </tr>
        <tr>
            <td>
                End:
            </td>
            <td id="show_date_end">
            </td>
        </tr>
        <tr>
            <td>
                Description:
            </td>
            <td id="show_description">
            </td>
        </tr>
        <tr id="show_location">
            <td>
                Location:
            </td>
            <td style="height: 200px; width:300px;">
                <div id="view_map_canvas" style="width:100%; height:100%"></div>
            </td>
        </tr>
    </table>
</div>

