{% load media format_results %}
{% include 'pages/micro/_friends.html' %}
<script>
    $('.loves_hidden').hide();
    $('.interns_hidden').hide();
    $('.emloyees_hidden').hide();
    $('.volunteers_hidden').hide();
    $('.members_hidden').hide();
    if (LionFace.User.is_anonymous) {
        $('#community_add_button').hide();
    }
    $('#comm_req_count').hide();
    {% if page.get_community_requests_count > 20 %}
        $('#live_search').show();
    {% endif %}
</script>

<div class="page_center">
    <div style="padding: 15px;">
				<div style="display: block; text-align: right; border-bottom: 1px solid #DDD; padding: 3px 0; margin: 0 0 10px 0;">
					<table width="100%"><tr><td align="left">
                                
                                {% if not page|show_connections:request.user %}
                                <a id="community_add_button" 
                                    {% if page.check_employees or page.check_interns or page.check_volunteers or page.check_members %}
                                    {% else %}
                                    style="display:none;" 
                                    {% endif %}
                                    href="#" class="profile_btn" onClick="ShowContent('select_community_{{page.id}}'); return false;">+ Community</a>
                                {% endif %}
                    <td>
                    <td align="right">
                    {% include 'pages/micro/_community_list.html' %}
					</td></tr>
                    {% include 'pages/page_members.html' %}
                </table>
				</div>
       			{% if page.type == 'BS' %}
                <span style="color:#F58; font-size: 16pt;">Loves</span><span style="color: #999; font-size: 9pt; margin: 4px;"> Total: {{ page.get_lovers_count }} 
<span style="color: #CCC; margin: 8px;">Public: {{ page.get_lovers_public_count }} <span style="margin: 4px;">Private: {{ page.get_lovers_private_count }}</span></span></span><br />
                {% else %}   
                    <span style="color:#F58; font-size: 16pt;">Loves</span><span style="color: #999; font-size: 9pt; margin: 4px;"> Total: {{ page.get_lovers_count }} 
<span style="color: #CCC; margin: 8px;">Public: {{ page.get_lovers_public_count }} <span style="margin: 4px;">Private: {{ page.get_lovers_private_count }}</span></span></span><br />
                {% endif %}
                {% if page.get_lovers %}
				<div style="text-align: left; margin: 4px 0;">
                    {% for lover in page.get_lovers_ordered %}
                    <div class="friend_icon
                        {% if forloop.counter > 10 %} 
                        loves_hidden
                        {% endif %}
                        ">
                        <a href="{{ lover.get_absolute_url }}">
                            <img src="{{ lover.get_thumb }}" width="36" height="36" />
                        </a>
                        <div class="friend_name" style="text-align: center; display:none; left: 50px; top: -1px;">{{ lover.get_full_name }}</div>
                    </div>
                    {% endfor %}
                    <br /><br />
                    {% if page.get_lovers_ordered|length > 10 %}
					<a href="#" class="community_see_more lovers_link"><div style="display: block; text-align: left; padding: 2px 18px;">See More</div></a>
                    {% endif %}
				</div>
					<br /><br />
                {% endif %}
                {% if request.user|check_pages_community:page %}
                <input id="employees_checkbox" type="checkbox" class="community_checkbox" {% if page.check_employees %} checked {% endif %}/>
                {% endif %}
                    {% if page.check_employees or request.user|check_pages_community:page %}
                        {% if page.type == 'BS' %}
                            <span style="color:#3ea8d2; font-size: 16pt;">Employees</span>
                        {% else %}   
                            <span style="color:#909E4A; font-size: 16pt;">Employees</span>
                        {% endif %}
                    <span style="color: #999; font-size: 9pt; margin: 4px;"> Total: {{ page.get_emloyees_ordered_count }}</span><br />
                    {% endif %}
                <div id="employees_div" {% if not page.check_employees %} style="display:none;" {% endif %}>
                    <div class="add_community_info">
                        {% if page.text_employees %}
                            {{ page.text_employees|linebreaksbr }}
                        {% elif request.user|check_pages_community:page %}
                            Click to add text here. (optional)
                        {% else %}
                        {% endif %} 
                    </div>
                    {% if page.get_emloyees_ordered %}
                    <div style="text-align: left; margin: 4px 0;">
                        
                        {% for employee in page.get_emloyees_ordered %}
                        <div class="friend_icon
                            {% if forloop.counter > 8 %} 
                            emloyees_hidden
                            {% endif %}
                            ">
                            <a href="{{ employee.get_absolute_url }}">
                                <img src="{{ employee.get_thumb }}" width="72" height="72" />
                            </a>
                            <div class="friend_name" style="text-align: center; display:none; left: 50px; top: -1px;">{{ employee.get_full_name }}</div>
                        </div>
                        {% endfor %}
                        <br /><br />
                        {% if page.get_emloyees_ordered|length > 10 %}
                        <a href="#" class="community_see_more emloyees_link"><div style="display: block; text-align: left; padding: 2px 18px;">See More</div></a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if page.get_community_requests_emloyees and request.user|check_pages_community:page %}
                    <div class="community_req_div" style="padding: 7px 10px; border: 1px solid #CCC; background: #FAFAFA; text-align: center; margin: 4px 0;">
                        {% if page.get_community_requests_emloyees_past_count %}
                        <a href="#" id="emloyees_req_collapse" class="req_collapse"> Past Requests: {{page.get_community_requests_emloyees_past_count}}</a>
                        {% endif %}
                        <table id="emplyees_past_table" class="past_table" width="100%" style="display:none">
                            {% for comrequest in page.get_community_requests_emloyees_past %}
                            {% include 'pages/micro/_community_req.html' %}
                            {% endfor %}
                        </table>
                        <table width="100%">
                            {% for comrequest in page.get_community_requests_emloyees_present %}
                            {% include 'pages/micro/_community_req.html' %}
                            {% endfor %}
                        </table>
                    </div>
                      
                    {% endif %}
                </div><br /><br />
                {% if request.user|check_pages_community:page %}
                <input id="members_checkbox" type="checkbox" class="community_checkbox" {% if page.check_members %} checked {% endif %}/> 
                {% endif %}
                    {% if page.check_members or request.user|check_pages_community:page %}
                        {% if page.type == 'BS' %}
                            <span style="color:#3ea8d2; font-size: 16pt;">Members</span>
                        {% else %}   
                            <span style="color:#909E4A; font-size: 16pt;">Members</span>
                        {% endif %}
                        <span style="color: #999; font-size: 9pt; margin: 4px;"> Total: {{ page.get_members_ordered_count }}</span><br />
                    {% endif %}
                <div id="members_div" {% if not page.check_members %} style="display:none;" {% endif %}>
                    <div class="add_community_info">
                        {% if page.text_members %}
                            {{ page.text_members|linebreaksbr }}
                        {% elif request.user|check_pages_community:page %}
                            Click to add text here. (optional)
                        {% else %}
                        {% endif %} 
                    </div>
                    {% if page.get_members_ordered %}
                    <div style="text-align: left; margin: 4px 0;">
                        
                        {% for member in page.get_members_ordered %}
                        <div class="friend_icon
                            {% if forloop.counter > 8 %} 
                            members_hidden
                            {% endif %}
                            ">
                            <a href="{{ member.get_absolute_url }}">
                                <img src="{{ member.get_thumb }}" width="54" height="54" />
                            </a>
                            <div class="friend_name" style="text-align: center; display:none; left: 50px; top: -1px;">{{ member.get_full_name }}</div>
                        </div>
                        {% endfor %}
                        <br /><br />
                        {% if page.get_members_ordered|length > 10 %}
                        <a href="#" class="community_see_more members_link"><div style="display: block; text-align: left; padding: 2px 18px;">See More</div></a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if page.get_community_requests_members and request.user|check_pages_community:page %}
                    <div class="community_req_div" style="padding: 7px 10px; border: 1px solid #CCC; background: #FAFAFA; text-align: center; margin: 4px 0;">
                        {% if page.get_community_requests_members_past_count %}
                        <a href="#" id="members_req_collapse" class="req_collapse"> Past Requests: {{page.get_community_requests_members_past_count}}</a>
                        {% endif %}
                        <table id="members_past_table" class="past_table" width="100%" style="display:none">
                            {% for comrequest in page.get_community_requests_members_past %}
                            {% include 'pages/micro/_community_req.html' %}
                            {% endfor %}
                        </table>
                        <table width="100%">
                            {% for comrequest in page.get_community_requests_members_present %}
                            {% include 'pages/micro/_community_req.html' %}
                            {% endfor %}
                        </table>
                    </div>
                        
                    {% endif %}
                </div><br /><br />
                {% if request.user|check_pages_community:page %}
                <input id="interns_checkbox" type="checkbox" class="community_checkbox" {% if page.check_interns %} checked {% endif %}/> 
                {% endif %}
                    {% if page.check_interns or request.user|check_pages_community:page %}
                        {% if page.type == 'BS' %}
                            <span style="color:#3ea8d2; font-size: 16pt;">Interns</span>
                        {% else %}   
                            <span style="color:#909E4A; font-size: 16pt;">Interns</span>
                        {% endif %}
                        <span style="color: #999; font-size: 9pt; margin: 4px;"> Total: {{ page.get_interns_ordered_count }}</span><br />
                    {% endif %}
                <div id="interns_div" {% if not page.check_interns %} style="display:none;" {% endif %}>
                    <div class="add_community_info">
                        {% if page.text_interns %}
                            {{ page.text_interns|linebreaksbr }}
                        {% elif request.user|check_pages_community:page %}
                            Click to add text here. (optional)
                        {% else %}
                        {% endif %} 
                    </div>
                    {% if page.get_interns_ordered %}
                    <div style="text-align: left; margin: 4px 0;">
                        
                        {% for intern in page.get_interns_ordered %}
                        <div class="friend_icon
                            {% if forloop.counter > 8 %} 
                            interns_hidden
                            {% endif %}
                            ">
                            <a href="{{ intern.get_absolute_url }}">
                                <img src="{{ intern.get_thumb }}" width="54" height="54" />
                            </a>
                            <div class="friend_name" style="text-align: center; display:none; left: 50px; top: -1px;">{{ intern.get_full_name }}</div>
                        </div>
                        {% endfor %}
                        <br /><br />
                        {% if page.get_interns_ordered|length > 10 %}
                        <a href="#" class="community_see_more interns_link"><div style="display: block; text-align: left; padding: 2px 18px;">See More</div></a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if page.get_community_requests_interns and request.user|check_pages_community:page %}
                    <div class="community_req_div" style="padding: 7px 10px; border: 1px solid #CCC; background: #FAFAFA; text-align: center; margin: 4px 0;">
                        {% if page.get_community_requests_interns_past_count %}
                        <a href="#" id="interns_req_collapse" class="req_collapse"> Past Requests: {{page.get_community_requests_interns_past_count}}</a>
                        {% endif %}
                        <table id="interns_past_table" class="past_table" width="100%" style="display:none">
                            {% for comrequest in page.get_community_requests_interns_past %}
                            {% include 'pages/micro/_community_req.html' %}
                            {% endfor %}
                        </table>
                        <table width="100%">
                            {% for comrequest in page.get_community_requests_interns_present %}
                            {% include 'pages/micro/_community_req.html' %}
                            {% endfor %}
                        </table>
                    </div>
                        
                    {% endif %}
                </div><br /><br />
       			{% if page.type == 'BS' %}
                {% else %}   
                    {% if request.user|check_pages_community:page %}
                    <input id="volunteers_checkbox" type="checkbox" class="community_checkbox" {% if page.check_volunteers %} checked {% endif %}/> 
                    {% endif %}
                    {% if page.check_volunteers or request.user|check_pages_community:page %}
                    <span style="color:#909E4A; font-size: 16pt;">Volunteers</span>
                    <span style="color: #999; font-size: 9pt; margin: 4px;"> Total: {{ page.get_volunteers_ordered_count }}</span><br />
                    {% endif %}
                    <div id="volunteers_div" {% if not page.check_volunteers %} style="display:none;" {% endif %}>
                    <div class="add_community_info">
                        {% if page.text_volunteers %}
                            {{ page.text_volunteers|linebreaksbr }}
                        {% elif request.user|check_pages_community:page %}
                            Click to add text here. (optional)
                        {% else %}
                        {# not com admin and no text #}
                        {% endif %} 
                    </div>
                    {% if page.get_volunteers_ordered %}
                    <div style="text-align: left; margin: 4px 0;">
                        
                        {% for volunteer in page.get_volunteers_ordered %}
                        <div class="friend_icon
                            {% if forloop.counter > 8 %} 
                            volunteers_hidden
                            {% endif %}
                            ">
                            <a href="{{ volunteer.get_absolute_url }}">
                                <img src="{{ volunteer.get_thumb }}" width="54" height="54" />
                            </a>
                            <div class="friend_name" style="text-align: center; display:none; left: 50px; top: -1px;">{{ volunteer.get_full_name }}</div>                      
                        </div>
                        {% endfor %}
                        <br /><br />
                        {% if page.get_volunteers_ordered|length > 10 %}
                        <a href="#" class="community_see_more volunteers_link"><div style="display: block; text-align: left; padding: 2px 18px;">See More</div></a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if page.get_community_requests_volunteers and request.user|check_pages_community:page %}
                    <div class="community_req_div" style="padding: 7px 10px; border: 1px solid #CCC; background: #FAFAFA; text-align: center; margin: 4px 0;">
                        {% if page.get_community_requests_volunteers_past_count %}
                        <a href="#" id="volunteers_req_collapse" class="req_collapse"> Past Requests: {{page.get_community_requests_volunteers_past_count}}</a>
                        {% endif %}
                        <table id="volunteers_past_table" class="past_table" width="100%" style="display:none">
                            {% for comrequest in page.get_community_requests_volunteers_past %}
                            {% include 'pages/micro/_community_req.html' %}
                            {% endfor %}
                        </table>
                        <table width="100%">
                            {% for comrequest in page.get_community_requests_volunteers_present %}
                            {% include 'pages/micro/_community_req.html' %}
                            {% endfor %}
                        </table>
                    </div>
                        <br /><br />
                    {% endif %}
                </div>
                {% endif %}
    </div>
</div>
