{% load media format_results %}
{% include 'pages/micro/_friends.html' %}

<div class="page_center">
    <div style="padding: 15px;">
				<div style="display: block; text-align: right; border-bottom: 1px solid #DDD; padding: 3px 0; margin: 0 0 10px 0;">
					<table width="100%"><tr><td align="left"><a href="#" class="profile_btn">+ Community</a><td><td align="right">
					<span style="font-size: 10pt; color: #555;"><span title="Remove" style="color: #AAA; font-size: 7pt; cursor: pointer;" onClick="ShowContent('edit'); return false;">Edit</span> 
					<span style="color: #909e4a; font-size: 8pt;">confirmed</span> Intern<br />
					Jun 2012 to Present</span>
					</td></tr></table>
				</div>
       			{% if page.type == 'BS' %}
                    <span style="color:#3ea8d2; font-size: 16pt;">Loves</span><span style="color: #999; font-size: 9pt;"> Total: (page_loves) Public: (public_loves) Private: (private_loves)</span><br />
                {% else %}   
                    <span style="color:#909E4A; font-size: 16pt;">Loves</span><span style="color: #999; font-size: 9pt;"> Total: (page_loves) Public: (public_loves) Private: (private_loves)</span><br />
                {% endif %}
				<div style="padding: 7px 2px; border: 1px solid #CCC; background: #FAFAFA; text-align: center; margin: 4px 0;">
					<div style="padding: 4px 0px 7px 18px; font-size: 9pt; color: #999; text-align: left;">Public Loves: <span style="color: #BBB;">ordered by -Most Followers-</span></div>
					<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
					<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
					<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
					<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
					<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
					<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
					<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
					<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
					<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
					<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div><br /><br />
					<a href="#"><div style="display: block; text-align: left; padding: 2px 18px;">See More</div></a>
				</div>
					<br /><br />
                {% if request.user|check_pages_community:page %}
                <input id="employees_checkbox" type="checkbox" class="community_checkbox" {% if page.check_employees %} checked {% endif %}/>
                {% endif %}
                    {% if page.type == 'BS' %}
                        <span style="color:#3ea8d2; font-size: 16pt;">Employees</span>
                    {% else %}   
                        <span style="color:#909E4A; font-size: 16pt;">Employees</span>
                    {% endif %}
                    <span style="color: #999; font-size: 9pt;"> Confirmed Current Employees: (total_confirmed)</span><br />
                <div id="employees_div" {% if not page.check_employees %} style="display:none;" {% endif %}>
                    <div class="add_community_info">
                        {% if page.text_employees %}
                            {{ page.text_employees|linebreaksbr }}
                        {% else %}
                            Click to add text here. (optional)
                        {% endif %} 
                    </div>
                    <div style="padding: 7px 2px; border: 1px solid #CCC; background: #FAFAFA; text-align: center; margin: 4px 0;">
                        <div style="padding: 4px 0px 7px 18px; font-size: 9pt; color: #999; text-align: left;">Current Confrimed Public Employees: <span style="color: #BBB;">ordered by -Most Followers-</span></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div><br /><br />
                        <a href="#"><div style="display: block; text-align: left; padding: 2px 18px;">See More</div></a>
                    </div>
                    <div style="padding: 7px 10px; border: 1px solid #CCC; background: #FAFAFA; text-align: center; margin: 4px 0;">
                        <table width="100%"><tr><td align="left"><a href="#">UserFull Name</a>: Jun 2010 - Present</td>
                            <td align="right"><a href="#" class="profile_btn" style="position: relative; top: 0px;">Confirm</a> <a href="#" style="color: #AAA;">Deny</a></td></tr></table>
                    </div>
                        <br /><br />
                </div>
                {% if request.user|check_pages_community:page %}
                <input id="interns_checkbox" type="checkbox" class="community_checkbox" {% if page.check_interns %} checked {% endif %}/> 
                {% endif %}
       			{% if page.type == 'BS' %}
                    <span style="color:#3ea8d2; font-size: 16pt;">Interns</span>
                {% else %}   
                    <span style="color:#909E4A; font-size: 16pt;">Interns</span>
                {% endif %}
                <span style="color: #999; font-size: 9pt;"> Confirmed Current Interns: (total_confirmed)</span><br />
                <div id="interns_div" {% if not page.check_interns %} style="display:none;" {% endif %}>
                    <div class="add_community_info">
                        {% if page.text_interns %}
                            {{ page.text_interns|linebreaksbr }}
                        {% else %}
                            Click to add text here. (optional)
                        {% endif %} 
                    </div>
                    <div style="padding: 7px 2px; border: 1px solid #CCC; background: #FAFAFA; text-align: center; margin: 4px 0;">
                        <div style="padding: 4px 0px 7px 18px; font-size: 9pt; color: #999; text-align: left;">Current Confirmed Public Interns: <span style="color: #BBB;">ordered by -Most Followers-</span></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div><br /><br />
                        <a href="#"><div style="display: block; text-align: left; padding: 2px 18px;">See More</div></a>
                    </div>
                        <br /><br ?>
                </div>
       			{% if page.type == 'BS' %}
                {% else %}   
                    {% if request.user|check_pages_community:page %}
                    <input id="volunteers_checkbox" type="checkbox" class="community_checkbox" {% if page.check_volunteers %} checked {% endif %}/> 
                    {% endif %}
                    <span style="color:#909E4A; font-size: 16pt;">Volunteers</span><span style="color: #999; font-size: 9pt;"> Confirmed Current Volunteers: (total_confirmed)</span><br />
                    <div id="volunteers_div" {% if not page.check_volunteers %} style="display:none;" {% endif %}>
                    <div class="add_community_info">
                        {% if page.text_volunteers %}
                            {{ page.text_volunteers|linebreaksbr }}
                        {% else %}
                            Click to add text here. (optional)
                        {% endif %} 
                    </div>
                    <div style="padding: 7px 2px; border: 1px solid #CCC; background: #FAFAFA; text-align: center; margin: 4px 0;">
                        <div style="padding: 4px 0px 7px 18px; font-size: 9pt; color: #999; text-align: left;">Current Confirmed Public Volunteers: <span style="color: #BBB;">ordered by -Most Followers-</span></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div>
                        <div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="36" height="36" /></div><br /><br />
                        <a href="#"><div style="display: block; text-align: left; padding: 2px 18px;">See More</div></a>
                    </div>
                </div>
                {% endif %}
    </div>
</div>
