{% load media format_results %}
{% include 'pages/micro/_friends.html' %}
<script>
    $('.loves_hidden').hide();
    $('.interns_hidden').hide();
    $('.emloyees_hidden').hide();
    $('.volunteers_hidden').hide();
</script>

<div class="page_center">
    <div style="padding: 15px;">
				<div style="display: block; text-align: right; border-bottom: 1px solid #DDD; padding: 3px 0; margin: 0 0 10px 0;">
					<table width="100%"><tr><td align="left">
                                
                                <a id="community_add_button" 
                                    {% if page.check_employees or page.check_interns or page.check_volunteers %}
                                    {% else %}
                                    style="display:none;" 
                                    {% endif %}
                                    href="#" class="profile_btn" onClick="ShowContent('select_community_{{page.id}}'); return false;">+ Community</a>
                    <td>
                    <td align="right">
                    {% include 'pages/micro/_community_list.html' %}
					</td></tr>
                    {% include 'pages/page_members.html' %}
                </table>
				</div>
       			{% if page.type == 'BS' %}
                <span style="color:#3ea8d2; font-size: 16pt;">Loves</span><span style="color: #999; font-size: 9pt;"> Total: {{ page.get_lovers_count }} Public: {{ page.get_lovers_public_count }} Private: {{ page.get_lovers_private_count }}</span><br />
                {% else %}   
                    <span style="color:#909E4A; font-size: 16pt;">Loves</span><span style="color: #999; font-size: 9pt;"> Total: {{ page.get_lovers_count }} Public: {{ page.get_lovers_public_count }} Private: {{ page.get_lovers_private_count }}</span><br />
                {% endif %}
                {% if page.get_lovers %}
				<div style="padding: 7px 2px; border: 1px solid #CCC; background: #FAFAFA; text-align: center; margin: 4px 0;">
					<div style="padding: 4px 0px 7px 18px; font-size: 9pt; color: #999; text-align: left;">Public Loves: <span style="color: #BBB;">ordered by -Most Followers-</span></div>
                    {% for lover in page.get_lovers_ordered %}
                    <div class="friend_icon
                        {% if forloop.counter > 10 %} 
                        loves_hidden
                        {% endif %}
                        ">
                        <a href="{{ lover.get_absolute_url }}">
                            <img src="{{ lover.get_thumb }}" width="36" height="36" />
                        </a>
                        <div class="friend_name" style="text-align: center; display:none; left: 50px; top: -1px;">{{ lover.get_full_name }}</div>
                    </div>
                    {% endfor %}
                    <br /><br />
                    {% if page.get_lovers_ordered|length > 10 %}
					<a href="#" class="community_see_more lovers_link"><div style="display: block; text-align: left; padding: 2px 18px;">See More</div></a>
                    {% endif %}
				</div>
					<br /><br />
                {% endif %}
                {% if request.user|check_pages_community:page %}
                <input id="employees_checkbox" type="checkbox" class="community_checkbox" {% if page.check_employees %} checked {% endif %}/>
                {% endif %}
                    {% if page.type == 'BS' %}
                        <span style="color:#3ea8d2; font-size: 16pt;">Employees</span>
                    {% else %}   
                        <span style="color:#909E4A; font-size: 16pt;">Employees</span>
                    {% endif %}
                    <span style="color: #999; font-size: 9pt;"> Confirmed Current Employees: (total_confirmed)</span><br />
                <div id="employees_div" {% if not page.check_employees %} style="display:none;" {% endif %}>
                    <div class="add_community_info">
                        {% if page.text_employees %}
                            {{ page.text_employees|linebreaksbr }}
                        {% else %}
                            Click to add text here. (optional)
                        {% endif %} 
                    </div>
                    {% if page.get_emloyees_ordered %}
                    <div style="padding: 7px 2px; border: 1px solid #CCC; background: #FAFAFA; text-align: center; margin: 4px 0;">
                        <div style="padding: 4px 0px 7px 18px; font-size: 9pt; color: #999; text-align: left;">Current Confrimed Public Employees: <span style="color: #BBB;">ordered by -Most Followers-</span></div>
                        {% for employee in page.get_emloyees_ordered %}
                        <div class="friend_icon
                            {% if forloop.counter > 10 %} 
                            emloyees_hidden
                            {% endif %}
                            ">
                            <a href="{{ intern.get_absolute_url }}">
                                <img src="{{ intern.get_thumb }}" width="36" height="36" />
                            </a>
                            <div class="friend_name" style="text-align: center; display:none; left: 50px; top: -1px;">{{ employee.get_full_name }}</div>
                        </div>
                        {% endfor %}
                        <br /><br />
                        {% if page.get_emloyees_ordered|length > 10 %}
                        <a href="#" class="community_see_more emloyees_link"><div style="display: block; text-align: left; padding: 2px 18px;">See More</div></a>
                        {% endif %}
                    </div>
                    {% endif %}
                    <div style="padding: 7px 10px; border: 1px solid #CCC; background: #FAFAFA; text-align: center; margin: 4px 0;">
                        <table width="100%"><tr><td align="left"><a href="#">UserFull Name</a>: Jun 2010 - Present</td>
                            <td align="right"><a href="#" class="profile_btn" style="position: relative; top: 0px;">Confirm</a> <a href="#" style="color: #AAA;">Deny</a></td></tr></table>
                    </div>
                        <br /><br />
                </div>
                {% if request.user|check_pages_community:page %}
                <input id="interns_checkbox" type="checkbox" class="community_checkbox" {% if page.check_interns %} checked {% endif %}/> 
                {% endif %}
       			{% if page.type == 'BS' %}
                    <span style="color:#3ea8d2; font-size: 16pt;">Interns</span>
                {% else %}   
                    <span style="color:#909E4A; font-size: 16pt;">Interns</span>
                {% endif %}
                <span style="color: #999; font-size: 9pt;"> Confirmed Current Interns: (total_confirmed)</span><br />
                <div id="interns_div" {% if not page.check_interns %} style="display:none;" {% endif %}>
                    <div class="add_community_info">
                        {% if page.text_interns %}
                            {{ page.text_interns|linebreaksbr }}
                        {% else %}
                            Click to add text here. (optional)
                        {% endif %} 
                    </div>
                    {% if page.get_interns_ordered %}
                    <div style="padding: 7px 2px; border: 1px solid #CCC; background: #FAFAFA; text-align: center; margin: 4px 0;">
                        <div style="padding: 4px 0px 7px 18px; font-size: 9pt; color: #999; text-align: left;">Current Confirmed Public Interns: <span style="color: #BBB;">ordered by -Most Followers-</span></div>
                        {% for intern in page.get_interns_ordered %}
                        <div class="friend_icon
                            {% if forloop.counter > 10 %} 
                            interns_hidden
                            {% endif %}
                            ">
                            <a href="{{ intern.get_absolute_url }}">
                                <img src="{{ intern.get_thumb }}" width="36" height="36" />
                            </a>
                            <div class="friend_name" style="text-align: center; display:none; left: 50px; top: -1px;">{{ intern.get_full_name }}</div>
                        </div>
                        {% endfor %}
                        <br /><br />
                        {% if page.get_interns_ordered|length > 10 %}
                        <a href="#" class="community_see_more interns_link"><div style="display: block; text-align: left; padding: 2px 18px;">See More</div></a>
                        {% endif %}
                    </div>
                        <br /><br ?>
                    {% endif %}
                </div>
       			{% if page.type == 'BS' %}
                {% else %}   
                    {% if request.user|check_pages_community:page %}
                    <input id="volunteers_checkbox" type="checkbox" class="community_checkbox" {% if page.check_volunteers %} checked {% endif %}/> 
                    {% endif %}
                    <span style="color:#909E4A; font-size: 16pt;">Volunteers</span><span style="color: #999; font-size: 9pt;"> Confirmed Current Volunteers: (total_confirmed)</span><br />
                    <div id="volunteers_div" {% if not page.check_volunteers %} style="display:none;" {% endif %}>
                    <div class="add_community_info">
                        {% if page.text_volunteers %}
                            {{ page.text_volunteers|linebreaksbr }}
                        {% else %}
                            Click to add text here. (optional)
                        {% endif %} 
                    </div>
                    {% if page.get_volunteers_ordered %}
                    <div style="padding: 7px 2px; border: 1px solid #CCC; background: #FAFAFA; text-align: center; margin: 4px 0;">
                        <div style="padding: 4px 0px 7px 18px; font-size: 9pt; color: #999; text-align: left;">Current Confirmed Public Volunteers: <span style="color: #BBB;">ordered by -Most Followers-</span></div>
                        {% for volunteer in page.get_volunteers_ordered %}
                        <div class="friend_icon
                            {% if forloop.counter > 10 %} 
                            volunteers_hidden
                            {% endif %}
                            ">
                            <a href="{{ volunteer.get_absolute_url }}">
                                <img src="{{ volunteer.get_thumb }}" width="36" height="36" />
                            </a>
                            <div class="friend_name" style="text-align: center; display:none; left: 50px; top: -1px;">{{ volunteer.get_full_name }}</div>                      
                        </div>
                        {% endfor %}
                        <br /><br />
                        {% if page.get_volunteers_ordered|length > 10 %}
                        <a href="#" class="community_see_more volunteers_link"><div style="display: block; text-align: left; padding: 2px 18px;">See More</div></a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endif %}
    </div>
</div>
