{% load media format_results %}
<script>
$(document).ready(function(){
        $("#topicForm").validate();
        $('.pending_images').sortable();

        /** Autocomplete for pages */
        function split( val ) {
            return val.split( /,\s*/ );
        }
        function extractLast( term ) {
            return split( term ).pop();
        }    
        var url_auto = '{% url search.views.auto_discussions slug=page.username %}';
        $("#page_name_input")
            // don't navigate away from the field on tab when selecting an item
            .bind( "keydown", function( event ) {
                if ( event.keyCode === $.ui.keyCode.TAB &&
                        $( this ).data( "autocomplete" ).menu.active ) {
                    event.preventDefault();
                }
            })
            .autocomplete({
                source: function( request, response ) {
                    $.getJSON( url_auto, {
                        term: extractLast( request.term )
                    }, response );
                },
                focus: function() {
                    // prevent value inserted on focus
                    return false;
                },
                select: function( event, ui ) {
                    var terms = split( this.value );
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push( ui.item.value );
                    // add placeholder to get the comma-and-space at the end
                    terms.push( "" );
                    this.value = terms.join( ", " );
                    return false;
                }
                
            }); 
        $('.postbox_textarea').autosize();
});
</script>

<div class="float_left" align="left">
	<div style="font-size: 14pt; padding: 5px; border-bottom: 1px solid #CCC;">Topics <span style="font-size: 8pt; color: #AAA; margin-left: 4px;">Ordered by Most Recent Activity</span></div>
        {% if request.user in page.get_admins %}
		<div style="padding: 8px 0 2px 0;">
            <span id="All" class="blue_btn topic_pr_selector" style="font-size: 7pt;">All</span> 
			<span id="Public" class="blue_btn topic_pr_selector" style="font-size: 7pt;">Public</span> 
			<span id="Inter" class="blue_btn topic_pr_selector" style="font-size: 7pt;">Inter-Page</span> 
			<span id="House" class="blue_btn topic_pr_selector" style="font-size: 7pt;">In-House</span>
        </div>
        {% elif request.user|have_shared_topic_with:page %} 
		<div style="padding: 8px 0 2px 0;">
            <span id="All" class="blue_btn topic_pr_selector" style="font-size: 7pt;">All</span> 
			<span id="Public" class="blue_btn topic_pr_selector" style="font-size: 7pt;">Public</span> 
			<span id="Inter" class="blue_btn topic_pr_selector" style="font-size: 7pt;">Inter-Page</span> 
        </div>
        {% else %}
        {% endif %}

         <div id="topic_container">
             {% include 'pages/micro/discussions_topics.html' %}
         </div>
</div>

<div class="page_center">
    <div style="padding: 15px;">

        <form id="topicForm" class="cmxform" method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
        <div id="postbox">
            <div style="padding: 10px;" align="center">
				<div align="left" style="padding: 5px;">
					<table width="100%"><tr><td align="left">
                    <label for="id_name">Topic: </label>
                    <input id="id_name" type="text" class="required" name="name" maxlength="500" style="padding: 4px; border: 1px solid #BBB; width: 200px;"/>
					</td>
                    {% if request.user|check_pages_updates:page or request.user|check_pages_community:page %}
                    <td align="right">
                    <label for="id_privacy">Privacy:</label> 
                    <select name="privacy" id="id_privacy"> 
                        <option value="P" selected="selected">Public</option>
                        <option value="I">Inter-Page</option>
                        <option value="H">In-House</option>
					</select>
					</td>
                    {% endif %}
                    </tr></table>
				</div>
                <div id="topic_tagged" align="left" style="padding: 5px;display:none;">
					<table width="100%"><tr><td align="left" style="font-size: 8pt;">
					<a href="#">(Tagged Page)</a>
					</td><td align="right">
					Add Pages: <input id="page_name_input" name="tagged_pages" type="Text" style="padding: 4px; border: 1px solid #BBB; width: 150px;" />
					</td></tr></table>
				</div>
                <div id="topic_members" align="left" style="padding: 5px;display:none;">
					<table width="100%"><tr><td align="left">
					</td><td align="right">
					<span style="margin: 5px;">Current: </span> 
                    <span style="margin: 5px;"><input type="checkbox" name="members" value="A" checked disabled="disabled"/> Admins</span> 
                    <span style="margin: 5px;"><input type="checkbox" name="members" value="E" /> Employees</span> 
                    <span style="margin: 5px;"><input type="checkbox" name="members" value="I" /> Interns</span>
                    <span style="margin: 5px;"><input type="checkbox" name="members" value="I" /> Volunteers</span>
					</td></tr></table>
				</div>
                <textarea id="id_content" class="postbox_textarea" name="content" style="line-height:1; font-size: 15px;" {% if request.user.is_anonymous %} disabled="disabled" {% endif %}></textarea>
                <br />
                {% if not request.user.is_anonymous %}
                <div class="postoptions_container" >
                    <table width="100%"><tr>
                            <td align="left" style="color: #999; font-size: 8pt;" width="50%">          
                            </td>
                                    <td align="right">
									<span style="color: #CCC; font-size: 8pt; margin: 4px;"><span style="margin: 4px;">#</span> <span style="margin: 4px;">embed</span> <span style="margin: 4px;">href</span></span>
                                    <div class="attach attaching_class">Attach</div>
                                    <a href="{% url pages.views.start_topic slug=page.username %}" class="post" id="duscussbutton" >Start New Topic</a>
                                    </td>
                </tr></table>
                </div>
                {% endif %}
                <div id="attached-images" class="image_container_attach">
                    <ul class="pending_images">
                    </ul>
                </div>
                </form>
            </div>
        </div>
        </form>
        <br /><br />
<span style="font-size: 16pt;">Most Popular Discussions</span>
<table width="600"border="0">
    <tr>
        {% for topic in page.get_popular_topics|slice:":2" %}
        <td width="50%" align="center">
            <div id="topic_{{topic.id}}" class="dis_topics page_topics topics_bottom" style="left: 0px;">{{ topic.name|truncatesmart:40 }}<br />
                <div style="font-size: 8pt; color: #777; padding: 3px 0;">
                <span style="color: #49D; margin-right: 8px">{{ topic.get_privacy }}</span>
                <span style="margin-right: 8px">Views: {{ topic.get_views_count }}</span>
                <span style="margin-right: 8px">Posts: {{ topic.get_posts_count }}</span>
                </div>
            </div>
        </td>
        {% endfor %}
    </tr>
    <tr>
        {% for topic in page.get_popular_topics|slice:"2:" %}
        <td width="50%" align="center">
            <div id="topic_{{topic.id}}" class="dis_topics page_topics topics_bottom" style="left: 0px;">{{ topic.name|truncatesmart:40 }}<br />
                <div style="font-size: 8pt; color: #777; padding: 3px 0;">
                <span style="color: #49D; margin-right: 8px">{{ topic.get_privacy }}</span>
                <span style="margin-right: 8px">Views: {{ topic.get_views_count }}</span>
                <span style="margin-right: 8px">Posts: {{ topic.get_posts_count }}</span>
                </div>
            </div>
        </td>
        {% endfor %}
    </tr>
	<tr><td height="150"></td></tr>
</table>


        <div id="page_feed" style="position: relative; left: -50px;">
        </div>

    </div>
</div>
