{% load media format_results %}
<script>
$(document).ready(function () {
    $('.pending_images').sortable();
});
</script>

<div class="page_center">
    <div style="padding: 15px;">

        <span id="topic_name_id">{{ topic.name }}</span> <a href="{% url pages.views.unfollow_topic page.username topic.id %}" class="unfollow_topic following_topic" {% if topic in request.user.get_following_topics %}{% else %} style="display:none;" {% endif %}>Unfollow</a><a href="{% url pages.views.follow_topic page.username topic.id %}" class="follow_topic following_topic" {% if topic in request.user.get_following_topics %}style="display:none;"{% else %}{% endif %}>Follow</a>
        <div>
            <div style="padding: 10px;" align="center">
                <form id="postform" enctype="multipart/form-data">{% csrf_token %}

                <textarea class="postbox_textarea" name="content" style="line-height:1; font-size: 15px;" {% if request.user.is_anonymous %} disabled="disabled" {% endif %}></textarea>

                <br />
                {% if not request.user.is_anonymous %}
                <div class="postoptions_container" >
                    <table width="100%"><tr>
                            <td align="left" style="color: #999; font-size: 8pt;" width="50%">          
                            </td>
                                    <td align="right">
									<span style="color: #CCC; font-size: 8pt; margin: 4px;"><span style="margin: 4px;">#</span> <span style="margin: 4px;">embed</span> <span style="margin: 4px;">href</span></span>
                                    <div class="attach attaching_class">Attach</div> <a href="{% url pages.views.list_topic slug=page.username topic_id=topic.id %}" class="post" id="posttopicbutton">Post</a>
                                    </td>
                </tr></table>
                </div>
                {% endif %}
                <div id="attached-images" class="image_container_attach">
                    <ul class="pending_images">
                    </ul>
                </div>
                </form>
            </div>
        </div>

        <div id="page_feed" style="position: relative; left: -50px; min-height: 350px;">
            {% include 'post/_topic_feed.html' %}
        </div>

    </div>
</div>
