{% load media %}
<div class="float_left" align="center">
	<div style="font-size: 14pt; padding: 5px;">Average Rating</div>
	<div class="reviewON">4.5</div>
</div>

<div class="page_center">
    <div style="padding: 15px;">

        <div id="postbox">
            <div style="padding: 10px;" align="center">
				<div align="left">
					<span style="color: #999;">Rating:</span> <div class="review">1</div><div class="review">2</div><div class="review">3</div><div class="review">4</div><div class="review">5</div>
				</div>
                <textarea class="postbox_textarea" name="content" style="line-height:1; font-size: 15px;"></textarea>

                <br />
                <div class="postoptions_container" >
                    <table width="100%"><tr>
                            <td align="left" style="color: #999; font-size: 8pt;" width="50%">          
                            </td>
                                    <td align="right">
									<span style="color: #CCC; font-size: 8pt; margin: 4px;"><span style="margin: 4px;">#</span> <span style="margin: 4px;">embed</span> <span style="margin: 4px;">href</span></span>
									<div class="attach">Attach</div> <a href="#" class="post" id="postboxbutton">Submit Feedback</a>
                                    </td>
                </tr></table>
                </div>
            </div>
        </div>



        <div id="page_feed" style="position: relative; left: -50px;">
        </div>

    </div>
</div>
