{% load media %}
<div class="float_left">
	<div class="friend_container">
		<div class="friend_title" style="color: #909e4a;">Nonprofit Friends</div> <div class="see_all">see all</div><br />
			<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></div>
			<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></div>
			<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></div>
			<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></div>
		<br /><br />
		<div class="friend_title" style="color: #3ea8d2;">Business Friends</div> <div class="see_all">see all</div><br />
			<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></div>
			<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></div>
			<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></div>
			<div class="friend_icon"><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></div>
	</div>
</div>

<div class="page_center">
    <div style="padding: 15px;">

        <div id="postbox">
            <div style="padding: 10px;" align="center">

                <textarea class="postbox_textarea" name="content" style="line-height:1; font-size: 15px;"></textarea>

                <br />
                <div class="postoptions_container" >
                    <table width="100%"><tr>
                            <td align="left" style="color: #999; font-size: 8pt;" width="50%">          
                            </td>
                                    <td align="right">
									<div class="attach">Attach</div> <a href="#" class="post" id="postboxbutton">Update</a>
                                    </td>
                </tr></table>
                </div>
            </div>
        </div>

    </div>
</div>
