<div id="login" align="center">
<form method="POST" action="{% url account.views.login %}">{% csrf_token %}
<div id="login_box" align="right">

	<table border="0" cellspacing="0" cellpadding="0" width="900">
	  <tr>
		<td></td>
	    <td align="right" width="180"><label>{{ login_form.email.label }}</label> {{ login_form.email }}
		</td>
	    <td align="right" width="220"><label>{{ login_form.password.label }}</label> {{ login_form.password }}
			<a href="{% url django.contrib.auth.views.password_reset %}" title=" Forgot your password? " class="reset">?</a>
		</td>
	    {{ login_form.tzone }}
        <td align="right" width="175"><span style="font-size: 8pt; margin-right: 12px;">{{ login_form.preserve }} <label>{{ login_form.preserve.label }}</label></span>
			<input type="submit" class="login_button" value="Sign In"/> 
			</td>
      </tr>
	  <tr>
	    <td colspan="2" align="right">{{ login_form.error_message }}</td>
	    <td colspan="2" align="right"></td>
      </tr>
    </table>


</div>
</form>
</div>
<script>
$('#id_login-tzone').val(timezone.name())
</script>
