<div id="login" align="center">
<form method="POST" action="{% url account.views.login %}">{% csrf_token %}
<div id="login_box" align="right">

	<table border="0" cellspacing="0" cellpadding="0" width="900">
	  <tr>
		<td></td>
	    <td align="right" width="200"><label>{{ login_form.email.label }}</label> {{ login_form.email }}</td>
	    <td align="right" width="225"><label>{{ login_form.password.label }}</label> {{ login_form.password }}</td>
        <td align="right" width="75"><input type="submit" class="login_button" value="Sign In"/></td>
      </tr>
	  <tr>
	    <td colspan="2" align="right">{{ login_form.error_message }}</td>
	    <td colspan="2" align="right"><a href="{% url django.contrib.auth.views.password_reset %}" style="margin-right: 20px;">Forgot your password?</a> {{ login_form.preserve }} <label>{{ login_form.preserve.label }}</label></td>
      </tr>
    </table>


</div>
</form>
</div>