{% extends "base.html" %}
{% load media %}

{% block body %}
<div align="center">
<div style="width: 900px; background: #EEE; text-align: left; -moz-box-shadow: 0 4px 8px -4px #555; box-shadow: 0 4px 8px -4px #555;">
	<div style="float: right; width: 230px; padding: 10px;">

		<div class="micro_title_small" style="border: 0px solid transparent; padding-top: 20px;">Nonprofits</div>
<div class="micro_page_about"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>Random Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></td></tr></table></div>
<div class="micro_page_about"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>Random Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></td></tr></table></div>
<div class="micro_page_about"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>Random Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></td></tr></table></div>
<div class="micro_page_about"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>Random Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></td></tr></table></div>

		<div class="micro_title_small">Businesses</div>
<div class="micro_page_about"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>"Random" Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></td></tr></table></div>
<div class="micro_page_about"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>"Random" Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></td></tr></table></div>
<div class="micro_page_about"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>"Random" Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></td></tr></table></div>
<div class="micro_page_about"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>"Random" Page Name<br /><span style="font-size: 7pt; color: #F58;">(count) Loves</span></td></tr></table></div>

		<div class="micro_title_small">Most Followed Users</div>
<div class="micro_page_about"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>(1st) Full Name<br /><span style="font-size: 7pt;">(count) Followers</span></td></tr></table></div>
<div class="micro_page_about"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>Full Name<br /><span style="font-size: 7pt;">(count) Followers</span></td></tr></table></div>
<div class="micro_page_about"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>Full Name<br /><span style="font-size: 7pt;">(count) Followers</span></td></tr></table></div>
<div class="micro_page_about"><table><tr><td><img src="{% media_url 'images/noThumb.png' %}" width="30" height="30" /></td><td>(4th) Full Name<br /><span style="font-size: 7pt;">(count) Followers</span></td></tr></table></div>

<div class="micro_title_small">Most Popular Tags<br /><span style="font-size: 10pt; color: #999;">(previous 7 days)</span> </div>
<div class="micro_page_about" style="margin: 2px 0;">(1st) #Tag<br /><span style="font-size: 7pt;">(count) Tagged Posts</span></div>
<div class="micro_page_about" style="margin: 2px 0;">#Tag<br /><span style="font-size: 7pt;">(count) Tagged Posts</span></div>
<div class="micro_page_about" style="margin: 2px 0;">#Tag<br /><span style="font-size: 7pt;">(count) Tagged Posts</span></div>
<div class="micro_page_about" style="margin: 2px 0;">#Tag<br /><span style="font-size: 7pt;">(count) Tagged Posts</span></div>
<div class="micro_page_about" style="margin: 2px 0;">(5th) #Tag<br /><span style="font-size: 7pt;">(count) Tagged Posts</span></div>
	</div>
	<div style="width: 630px; padding: 10px; background: #FFF;">
			<div style="padding: 15px;">
		<div class="micro_title">About Lionface</div>
		<div style="line-height: 13pt; padding: 15px 0;">
		There are three primary goals of Lionface: maintain an environment free of visual clutter (specifically in regards to advertisements), protect and respect people's privacy down to the smallest detail, and contribute to the community in a meaningful and positive way.
		<br /><br />
		Lionface is built in Python.
		<br /><br />
		<a href="#">Visit our Page</a>
		

		<div class="micro_title_small" style="color: #A70;">Our Team</div>
				<div class="team_bio"><table><tr><td><img src="{% media_url 'images/nick.jpg' %}" width="90" height="90" /></td>
					<td><span style="font-size: 14pt; margin-right: 15px;">Nick</span> <span style="font-size: 8pt; color: #999;">Founder</span>
					<br />content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content </td></tr></table></div>
				<div class="team_bio"><table><tr><td><img src="{% media_url 'images/noProfilePhoto.png' %}" width="90" height="90" /></td>
					<td><span style="font-size: 14pt; margin-right: 15px;">Christina</span> <span style="font-size: 8pt; color: #999;">Co-Founder</span>
					<br />content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content </td></tr></table></div>

		<div class="micro_title_small" style="border: 0px solid transparent; padding-top: 100px;">Degree of Separation</div><br />
		Degree of Separation represents the number of people that separate you from any given person on Lionface. For example, the Degree of Separation between you and your friend is 0 because you know them directly. The Degree of Separation between you and your friend's friend is 1, because your fried stands between you and them. Your friend's friend's friend and you have a Degree of Separation of 2, and so on.<br /><br />
		<div class="micro_title_small">Albums</div><br />
		Albums on Lionface are more comprehensive than traditional. Instead of just compiling images into Albums, say from a trip to Germany, you can attach multiple photos (and videos) to a post, write what you want, and then compile those posts into Albums. You could have a post for your first day in Germany, with photos and videos, and then a post from your visit to Hiedelberg Castle in another post - attach these posts to your Germany Album, and the presentation and organization becomes much cleaner and more efficient. Or, have an Album just for your poetry, or favorite websites.<br /><br />
		<span style="color: #BBB;">Lionface does not currently support videos directly. Videos can be embedded from sites like Youtube and Vimeo.</span><br /><br />
		<div class="micro_title_small">Posts</div><br />
		Posting on Lionface is pretty typical, but there are a few new features. First, you can add tags to posts (and Follow a person's public posts), similar to Twitter. You can embed videos from sites like Youtube and Vimeo, or TED.com. You can also use standard HTML to create links within your post (see an HTML tutorial for details).<br /><br />
		Posts can also be attached to albums, as we said above. Post can contain <i>multiple</i> photos. We also hope you'll enjoy the initmate control you'll have over your posts via the privacy settings.<br /><br />

		<div class="micro_title_small">Statistics</div><br />
		Lionface has {{users_total}} registered user{{users_total|pluralize}}.<br /><br /><br /><br />
		Please leave us <a href="{% url public.views.feedback %}">Feedback</a>.

		</div>
			</div>
	</div>
</div>
</div>
{% endblock %}
