{% extends "base.html" %}
{% load media header %}

{% block body %}
    {% block header  %}
        {% header request.user %}
    {% endblock %}
<div align="center">
<div class="micro_container">
	<div class="float_right">

        {% if random_nonprofits %}
		<div class="micro_title_small" style="border: 0px solid transparent; padding-top: 38px; color: #909e4a;">Nonprofits</div>
        {% endif %}
        {% for page in random_nonprofits %}
        <div class="micro_page_about about_pages"><table><tr><td><img src="{{ page.get_thumb }}" width="30" height="30" /></td><td>{{ page.name }}<br /><span class="love">{{ page.get_lovers_active_count }} Loves</span></td><td style="display:none"><a class="page-link" href="{{ page.get_absolute_url }}"></a></td></tr></table></div>
        {% endfor %}

        {% if random_businesses %}
		<div class="micro_title_small">Businesses</div>
        {% endif %}
        {% for page in random_businesses %}
<div class="micro_page_about about_pages"><table><tr><td><img src="{{ page.get_thumb }}" width="30" height="30" /></td><td>{{ page.name }}<br /><span class="love">{{ page.get_lovers_active_count }} Loves</span></td><td style="display:none"><a class="page-link" href="{{ page.get_absolute_url }}"></a></td></tr></table></div>
        {% endfor %}

{% if most_followed %}
<div class="micro_title_small">Most Followed Users</div>
{% endif %}
{% for user in most_followed %}
<div class="micro_page_about about_users"><table><tr><td><img src="{{ user.get_thumb }}" width="30" height="30" /></td><td>{{ user.get_full_name }}<br /><span style="font-size: 7pt;">{{ user.get_followers_count }} Followers</span></td><td style="display:none"><a class="user-link" href="{{ user.get_absolute_url }}"></a></td></tr></table></div>
{% endfor %}

{% if popular_tags %}
<div class="micro_title_small">Most Popular Tags <span style="font-size: 8pt; color: #999;">(previous 7 days)</span> </div>
{% endif %}
{% for tag in popular_tags %}
<div class="micro_page_about about_tags" style="margin: 2px 0;">#<span class="tag_name">{{ tag.name }}</span><br /><span style="font-size: 7pt;">{{ tag.get_posts_count }} Tagged Posts</span></div>
{% endfor %}
	</div>

	<div class="micro_center">
			<div style="padding: 15px;">
		<div class="micro_title">About Lionface</div>
		<div style="line-height: 13pt; padding: 15px 0;">
		There are three primary goals of Lionface: maintain an environment free of visual clutter (specifically in regards to advertisements), protect and respect people's privacy down to the smallest detail, and contribute to the community in a meaningful and positive way.
		<br /><br />
		Lionface is built in Python Django.
		<br /><br />
		<a href="http://www.lionface.org/pages/business/lionface/">Visit our Page</a><br /><br />
		
<div style="padding: 10px 25px 25px 25px; width: 600px; background: #F7F7F7; position: relative; left: -25px;">
		<div class="micro_title_small" style="color: #F58; border: 0px;">Our Team</div>
				<a href="http://www.lionface.org/nick/"><div class="team_bio"><table><tr><td><img src="{% media_url 'images/nick.jpg' %}" width="90" height="90" /></td>
					<td valign="top"><span class="bio_name">Nick Clark</span> <span class="bio_title">Founder</span>
					<br /> Nick grew up in Vermont. He has liked lions ever since he held a little cub this one time in Africa. He enjoys aesthetic, unintrusive designs and applied systems thinking. At the core of his being he believes that everyone deserves to be happy, and he works to fulfill this vision.</td></tr></table></div></a>
				<a href="http://www.lionface.org/christina/"><div class="team_bio"><table><tr><td><img src="{% media_url 'images/christina.jpg' %}" width="90" height="90" /></td>
					<td valign="top"><span class="bio_name">Christina Standberry</span> <span class="bio_title">Co-Founder</span>
					<br />Christina is a graduate of the University of California, Berkeley. She is a user experience professional. She was born and raised in Oakland, California where the adverse conditions birthed her interest in social and cultural reform. She firmly believes in the theory that collectivism brings about change and she models many of her personal principals after this idea. </td></tr></table></div></a>
<div style="padding: 17px 0 0 0; color: #555;">Please email inquiries to info@lionface.org</div>
</div><br />
		<div class="micro_title_small">Albums</div><br />
		Albums on Lionface are more comprehensive than traditional. Instead of just compiling images into Albums, say from a trip to Germany, you can attach multiple photos (and videos) to a post, write what you want, and then compile those posts into Albums. You could have a post for your first day in Germany, with photos and videos, and then a post from your visit to Hiedelberg Castle in another post, attach these posts to your Germany Album and the presentation and organization becomes much cleaner and more efficient. Or, have an Album just for your poetry, or favorite websites.<br /><br />
		<span style="color: #BBB;">Lionface does not currently support videos directly. Videos can be embedded from sites like Youtube and Vimeo.</span><br /><br />
		<div class="micro_title_small">Degree of Separation</div><br />
		Degree of Separation represents the number of people that separate you from any given person on Lionface. For example, the Degree of Separation between you and your friend is 0 because you know them directly. The Degree of Separation between you and your friend's friend is 1, because your friend stands between you and them. Your friend's friend's friend and you have a Degree of Separation of 2, and so on.<br /><br />
		<div class="micro_title_small">Pages</div><br />
		Pages are an important feature of Lionface, and there's a lot you can do with them.<br />
			<div style="padding: 5px 20px;">
				<span style="font-weight: bold;">Loving</span> By loving a Page, you'll receive a Page's Updates in your news feed, and they will be listed under the Loves tab on your profile. You'll also have access to their Discussions, Calendar and Community pages.<br /><br /><span style="color: #777;"> If you're trying to Love a Business Page, and the Business is listed as <span style="color: #900;">inactive,</span> then go ahead and Love the Page anyway. You will be added to their waiting list, and when they become active again your Love will be added to their tally, their updates will appear in your news feed, they will be listed under the Loves tab on your profile. You'll also have access to their Discussions, Calendar and Community Pages.</span>
			</div>
			<div style="padding: 5px 20px;">
				<span style="font-weight: bold;">Updates</span> Pages can post Updates, which you'll receive in your news feed.
			</div>
			<div style="padding: 5px 20px;">
				<span style="font-weight: bold;">Discussions</span> Here you can discuss topics related to the Page.<br />
				If you are an Admin, there are special privacy settings that allow discussions to take place between your Page and other Pages (that you're friends with) or with the other Admins, Employees, Interns or Volunteers of your Page.
			</div>
			<div style="padding: 5px 20px;">
				<span style="font-weight: bold;">Feedback</span> Businesses and Nonprofits alike need our feedback to grow and improve their organization.
			</div>
			<div style="padding: 5px 20px;">
				<span style="font-weight: bold;">Calendar</span> This is a great feature that allows us all to keep up with events in real time.
			</div>
			<div style="padding: 5px 20px;">
				<span style="font-weight: bold;">Community</span> You can identify yourself with a Page as either an Employee or Intern, or if it's a Nonprofit, as a volunteer. If you're a Page Admin, you can add other Pages as friends. Users who have allowed their Loves to be publicly visible on Pages are also shown here.
			</div>
<br />
			</div>
	</div>
</div>
</div>
{% endblock %}

{% block footer_js %}
{% include_media 'public.js' %}
{% endblock %}
