{% extends "base.html" %}
{% load media %}

{% block body %}
<div align="center">
<div class="micro_container">
	<div class="float_right">

	</div>

	<div class="micro_center">
			<div style="padding: 15px;">
		<div class="micro_title" style="margin-bottom: 15px;">Feedback</div>

    <div id="postbox">
            <div style="padding: 10px;" align="center">

                <textarea class="postbox_textarea" name="content" style="line-height:1; font-size: 15px;"></textarea>

                <br />
                <div class="postoptions_container">
                    <table width="100%"><tr>
                            <td></td>
                            <td align="right">
								<span style="color: #CCC; font-size: 8pt; margin: 4px;"><span style="margin: 4px;">#</span> <span style="margin: 4px;">embed</span> <span style="margin: 4px;">href</span></span><div class="attach">Attach</div>
                      			<a href="#" class="post" id="postboxbutton" style="padding: 6px 7px 4px 7px;">Share Feedback</a>
                            </td>
                </tr></table>
                </div>
            </div>
    </div>

			</div>
	</div>
</div>
</div>
{% endblock %}
