{% extends "base.html" %}
{% load media %}

{% block css %}
{% endblock %}

{% block body %}
  {% block login_box %}
  {% include "public/_login_box.html" %}
  {% endblock %}
  
<div align="center">
  <div id="center_box">
    <div class="content_area">
      <div class="float_box"><a href="http://www.lionface.org" style="border: 0px none;"><img src="{% media_url 'images/logo300.png' %}" border="0" style="padding-top: 45px;"/></a></div>
      <div class="heart float_box">
        {% block heart %}
        <div class="next_generation"><span style="font-size: 25pt;">The</span> <span style="font-size: 40pt;">Next Generation</span><br /><span style="font-size: 25pt;">in</span> Social Networking</div>
        <div>
          <a href="{% url account.views.signup %}" class="create">Create an Account</a>
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
	<div style="width: 100%; margin-top: 25px; background: #DDD; padding: 7px 0;">
		<div class="enabled_container"><div class="enabled">Lf</div> Lionface Enabled</div>
		<div class="enabled_container"><div class="enabled">n</div> Nonprofits Enabled</div>
		<div class="enabled_container"><div class="enabled">b</div> Businesses Enabled</div><br />
		<div class="enabled_container"><div class="enabled"><span style="position: relative; top: 1px;">#</span></div> Tags Enabled</div>
		<div class="enabled_container"><div class="enabled"><span style="position: relative; top: -1px;">+</span></div> Followers Enabled</div>
		<div class="enabled_container"><div class="enabled"><span style="position: relative; top: -1px; font-size: 14pt;">:]</span></div> Albums Enabled</div>
		<div class="enabled_container"><div class="enabled">d&#176;</div> Degree of Separation Enabled</div>

	</div>
	
</div>


{% endblock %}
