{% extends "base.html" %}
{% load media %}

{% block css %}
{% endblock %}

{% block body %}
  {% block login_box %}
  {% include "public/_login_box.html" %}
  {% endblock %}
  
<div align="center">
  <div id="center_box">
    <div class="content_area">
<table width="100%" height="450"><tr><td>
<table width="900"><tr><td width="450" align="left">
	<a href="{% url account.views.login %}" style="border: 0px none;"><div class="white_opacity" style="text-align: center;">
			<div class="next_generation">The Next Generation in Social Networking</div>
			<div style="position: absolute; left: 17px; bottom: -5px; color: #CCC; font-size: 8pt;">Built in Python Django</div>
			<div class="center_container">
		<table width="100%" height="300"><tr><td>
      		<img src="{% media_url 'images/logo300.png' %}" border="0"/>
		</td></tr></table>
			</div>
	</div></a>
</td><td width="450" align="right">

          {% include "account/signup.html" %}

</td></tr></table>
</td></tr></table>

<div style="position: relative; top: 125px; text-align: center;">
	<div id="learn"><span class="learn_more_learn">Learn more about Lionface by clicking the links below.</span></div>
	<div id="lf" style="display: none;"><span class="learn_more">Lionface</span></div>
	<div id="n" style="display: none;"><span class="learn_more">Nonprofits</span></div>
	<div id="b" style="display: none;"><span class="learn_more">Businesses</span></div>
	<div id="t" style="display: none;"><span class="learn_more">Tags</span></div>
	<div id="f" style="display: none;"><span class="learn_more">Followers</span></div>
	<div id="d" style="display: none;"><span class="learn_more">Degree of Separation</span></div>
	<div id="a" style="display: none;"><span class="learn_more">Albums</span></div>
</div>

    </div>
  </div>



	<div class="enabled_table">
		<div id="lionface" class="enabled_container public_link" onMouseOver="ReverseContentDisplay('learn');ReverseContentDisplay('lf'); return false;" onMouseOut="ReverseContentDisplay('learn');ReverseContentDisplay('lf'); return false;"><div class="enabled">Lf</div></div>
		<div id="nonprofits" class="enabled_container public_link" onMouseOver="ReverseContentDisplay('learn');ReverseContentDisplay('n'); return false;" onMouseOut="ReverseContentDisplay('learn');ReverseContentDisplay('n'); return false;"><div class="enabled">n</div></div>
		<div id="business" class="enabled_container public_link" onMouseOver="ReverseContentDisplay('learn');ReverseContentDisplay('b'); return false;" onMouseOut="ReverseContentDisplay('learn');ReverseContentDisplay('b'); return false;"><div class="enabled">b</div></div>
		<div id="tags" class="enabled_container public_link" onMouseOver="ReverseContentDisplay('learn');ReverseContentDisplay('t'); return false;" onMouseOut="ReverseContentDisplay('learn');ReverseContentDisplay('t'); return false;"><div class="enabled"><span style="position: relative; top: 1px;">#</span></div></div>
		<div id="followers" class="enabled_container public_link" onMouseOver="ReverseContentDisplay('learn');ReverseContentDisplay('f'); return false;" onMouseOut="ReverseContentDisplay('learn');ReverseContentDisplay('f'); return false;"><div class="enabled"><span style="position: relative; top: -1px;">+</span></div></div>
		<div id="dos" class="enabled_container public_link" onMouseOver="ReverseContentDisplay('learn');ReverseContentDisplay('d'); return false;" onMouseOut="ReverseContentDisplay('learn');ReverseContentDisplay('d'); return false;"><div class="enabled">d&#176;</div></div>
		<div id="albums" class="enabled_container public_link" onMouseOver="ReverseContentDisplay('learn');ReverseContentDisplay('a'); return false;" onMouseOut="ReverseContentDisplay('learn');ReverseContentDisplay('a'); return false;"><div class="enabled"><span style="position: relative; top: -1px; font-size: 14pt;">:]</span></div></div>

	</div>
	<div class="enabled_results" style="display: none; padding: 30px 10px;">
	</div>	
</div>


{% endblock %}

{% block footer_js %}
{% include_media 'public.js' %}
{% endblock %}
