{% extends "base.html" %}
{% load media header %}

{% block body %}
    {% block header  %}
        {% header request.user %}
    {% endblock %}
<div align="center">
<div class="micro_container">
	<div class="float_right">

	</div>

	<div class="micro_center">
			<div style="padding: 15px; text-align: justify;">
		<div class="micro_title">Terms</div><br /><br />


Lionface, Inc. ("Lionface") provides social networking services, including but not limited to the ability to maintain a profile, make posts, send messages, and host or interact with business or nonprofit Pages ("Services"). By accessing or using Lionface, you accept and agree to the terms below ("Terms") as a legal contract between you and Lionface. Lionface may post changes to the Terms at any time, and any such changes will be applicable to all subsequent access to or use of our Services.<br /><br />
If you do not accept and agree to all provisions of the Terms, now or in the future, you may reject the Terms by immediately terminating all access and use of Lionface, in which case any continuing access or use of Lionface is unauthorized.<br /><br />
Lionface has the right, but not the obligation, to regulate content posted to, stored on, or transmitted via Lionface, to regulate conduct, and to enforce the Terms.
<br /><br />

<span style="font-weight: bold; font-size: 12pt;">PART I - Basic Use</span><br /><br />

<blockquote>

	<span style="font-weight: bold;">Privacy</span><br /><br />

	The internet is an amazing tool for collecting, sharing and receiving information. This makes privacy one of our biggest concerns. We want you to participate in the social experience, but we also want you to feel safe as you do so. We encourage you to familiarize yourself with your account privacy settings. Additionally,<br /><br />
<blockquote>
	1. We encourage you to use your full and legal name so that friends, family and Pages can better recognize you, however, we understand that you may have some privacy concerns. We will tolerate the use of false names, for privacy reasons, as long as the false name is clearly false or not intentionally misleading, or does not mimic or falsely represent another individual (for example, you may not set your name as "Barack Obama", unless that is your rightful name).<br /><br />

	2. You may delete your account at any time. This will permanently terminate private and public access to your profile and related pages, which will cease to exist. Reclamation of any content, information and data will not be possible.<br /><br />
			
	3. We collect user submitted content, which includes, but is not limited to, information from Lionface's registration process, content such as posts, comments or photos, and other activities.<br /><br />

	4. We may collect information from your use of Lionface, such as which Services you use and how you use them. This may include but isn't limited to frequency and duration of activity, the type of browser you are using, or your Internet protocol (IP) address.<br /><br />

	5. All information collected from Lionface and its Services is used to provide, maintain, protect and improve Lionface, to develop new Services, and to protect our users.<br /><br />

	6. Lionface will not sell or share your Private Content, even in an anonymized format. Private Content includes, but is not limited to, any content that you have, by nature, sole access to, such as your password, or any content that you post and/or share with your friends, or private messages.<br /><br />

	 7. Public Content may be collected, anonymized and sold or shared by Lionface. Public Content is content posted on public Pages, such as those for businesses or nonprofits, or elsewhere on Lionface where the public, and not just your friends, have authorized access. Public Content will never be sold or shared in a format that reveals Private Content, or personal or identifying information (such as usernames, full names, or email addresses).<br /><br />

	8. Lionface may be required to share Private Content and Public Content in certain legal situations. If this occurs, we will do our best, to the extent of the law, to notify the user/s of what is being shared and with whom, however, this may not be possible, or feasible, in all cases, and is ultimately up to the discretion of Lionface and its legal obligations.<br /><br />

	9. We reserve the right to reclaim usernames from personal accounts or business or nonprofit Pages if we find the username inappropriate or require the username for operational purposes (for example, the username "administrator" may be reclaimed, or reserved altogether).<br /><br />
</blockquote>
	<span style="font-weight: bold;">Responsibilities</span><br /><br />
<blockquote>
	1. You will not post unauthorized commercial communications (such as spam) on Lionface.<br /><br />

	2. You will not collect users' content or information, or otherwise access Lionface, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.<br /><br />

	3. You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on Lionface.<br /><br />
		
	4. You will not upload viruses or other malicious code.<br /><br />

	5. You will not solicit login information or access an account belonging to someone else.<br /><br />

	6. You will not bully, intimidate, or harass any user, nor discriminate based on religious, ethnic, cultural, political or economic grounds, sexual preference, gender, or race.<br /><br />

	7. You will not post content that: is hate speech, is threatening, or pornographic; incites violence; or nudity or graphic or gratuitous violence.<br /><br />

	8. You will not use Lionface to do anything unlawful, misleading, malicious, or discriminatory.<br /><br />

	9. You will not do anything that could disable, overburden, or impair the proper working or appearance of Lionface, such as a denial of service attack or interference with page rendering or other Lionface functionality.<br /><br />

	10. You will not facilitate or encourage any violations of these Terms or our policies.<br /><br />

	11. You will not create more than one personal account.<br /><br />

	12. If we disable or delete your account, you will not create another one without our permission.<br /><br />

	13. You will not share your password, or let anyone access your account, or do anything that might jeopardize the security of your account.<br /><br />

	14. You will not post content or take any action on Lionface that infringes or violates someone else's rights or otherwise violates the law.<br /><br />

	15. We can remove any content or information you post on Lionface if we believe that it violates these Terms or our policies, or the law.<br /><br />

	16. You will not use the name Lionface or our Lionface logo, including the favicon, or other branded content, or variations or adaptations of the aforementioned without written consent from Lionface, except in certain cases as to promote your business or nonprofit Page, or personal profile, on Lionface, or other content on Lionface, including "Find us on Lionface" buttons, or other related or similar content. <br /><br />

	17. If you collect information from users, you will: obtain their consent, make it clear you (and not Lionface) are the one collecting their information, post a privacy policy explaining what information you collect and how you will use it, and make users aware of and give users direct access to the said privacy policy.<br /><br />

	18. You will not post anyone's, including your own, identification documents or sensitive financial information on Lionface, nor violate the privacy of another user by posting personally sensitive content.<br /><br />
</blockquote>
	<span style="font-weight: bold;">Content</span><br /><br />
<blockquote>
	1. You shall be solely responsible for your own content and the consequences of submitting and publishing your content on Lionface. You affirm, represent, and warrant that you own or have the necessary licenses, rights, consents, and permissions to publish the content you submit.<br /><br />

	2. When you upload or otherwise submit content to our Services, you give Lionface (and those we work with) a worldwide license to use, host, store, reproduce, modify, create derivative works (such as those resulting from translations, adaptations or other changes), communicate, publish, publicly perform, publicly display and distribute such content. The rights you grant in this license are for the limited purpose of operating, promoting, and improving our Services, and to develop new ones.  You understand and agree that Lionface may retain, but not display, distribute, or perform, server copies of your content that you have removed or deleted. The above licenses granted by you in content you submit are perpetual and irrevocable.<br /><br />

	3. You further agree that content you submit to Lionface will not contain third party copyrighted material, or material that is subject to other third party proprietary rights, unless you have permission from the rightful owner of the material or you are otherwise legally entitled to post the material and to grant Lionface all of the license rights granted herein.<br /><br />

	4. We respond to notices of alleged copyright infringement and terminate accounts of repeat infringers according to the process set out in the U.S. Digital Millennium Copyright Act. Repeat infringers are those users who have been notified of infringing activity more than twice and/or have had a user submission removed from Lionface more than twice.<br /><br />
</blockquote>
</blockquote>

<span style="font-weight: bold; font-size: 12pt;">PART II - Pages</span><br /><br />
<blockquote>
	<span style="font-weight: bold;">Creating a Page</span><br /><br />
	<blockquote>
	1. You agree and certify that any business or nonprofit Page you create is representative of a legally recognized and established organization ("Organization"), and that you hold and maintain the legal right to act on behalf of said Organization.<br /><br />
	2. You agree that you will not create a business or nonprofit Page if you are not legally authorized to represent said Organization, or if the Page you are creating is for a business or nonprofit Organization that does not legally exist.<br /><br />
	3. All administrators assigned to operate and manage a business or nonprofit Page (“admins”) must be authorized by the Organization to do so. All permissions granted to Page administrators must be approved by the Organization. <br /><br />
	4. The Page name and any other related content, such as web addresses, usernames, photos, and other submitted content, must accurately represent the Organization. <br /><br />
	5. Users will not have access to all Page Services until that user has Loved that Page. Once Loved, normal user access will be granted.<br /><br />
	</blockquote>
	<span style="font-weight: bold;">Responsibilities</span><br /><br />
	<blockquote>
	1. All Pages are subject to the same Terms and responsibilities as users, as outlined in Part I of this document.<br /><br />
	2. Content created by Page admins is the responsibility of the Organization, and not Lionface. Content posted by admins must be approved by their Organization.<br /><br />
	3. If you collect content and information directly from users, you will make it clear that you (and not Lionface) are collecting it, and you will provide notice about and obtain user consent for your use of the content and information that you collect. Regardless of how you obtain content and information from users, you are responsible for securing all necessary permissions to reuse their content and information.<br /><br />
	4. You will not collect users' content or information, or otherwise access Lionface, using automated means (such as harvesting bots, robots, spiders, or scrapers) without express permission from Lionface.<br /><br />
	5. You may not post obscure or incomplete information that directly or indirectly misleads people as to the price, availability, quality, or functionality of your product or service.<br /><br />
	6. You may not establish terms or rules or regulations for your Page that conflict with Lionface Terms, or any applicable laws or regulations.<br /><br />
	</blockquote>

	<span style="font-weight: bold;">Businesses</span><br /><br />
	<blockquote>
	1. Business Organizations are limited in the number of Loves their Page may collect. This limit can be raised, for a fee, under the business Page settings > Loves.<br /><br />
	2. The cost to raise a business Page's Love limit may be changed at any time by Lionface, and is not fixed, nor does Lionface hold any guarantee of future prices or costs regarding the Love limit or other business Page Services.<br /><br />
	3. Raising a business Page's Love limit, through a purchase, does not guarantee that a Page will receive Loves. Loving a Page is at the discretion of users.<br /><br />
	4. If a business Page's Love limit has been reached, that Page may not collect any additional Loves. The status of the business Page will switch to "inactive" until the Love limit has been raised through a purchase, at which time the "inactive" status will be removed and new Loves may be collected.<br /><br />
	5. An inactive business Page may continue to function as an active Page, with the exception that new Loves from users may not be collected, Users who try to Love a business Page at this time will not be granted access to Services which are, be default, greyed out, or unavailable, until a Page has been Loved. Users who Loved the Page prior to it becoming inactive will not experience an interruption of the Services on the business Page.<br /><br />
	</blockquote>
	<span style="font-weight: bold;">Payments</span><br /><br />
	<blockquote>
	1. All payments made to Lionface must be provided by a valid funding instrument, and should originate from the represented Organization. Lionface is authorized to collect processed payments for the amount specified. In most cases, Lionface will not give refunds for purchases made, so please be sure you are using the correct payment instrument and your payment has been authorized by the Organization you represent. Any payment errors are the responsibility of the purchaser, and not Lionface, however, in extreme cases refunds might be made, at the discretion of Lionface. <br /><br />
	2. If you fund a payment by debit card and your load transaction results in an overdraft or other fee from your bank, you and your Organization alone are responsible for that fee.<br /><br />
	3. Lionface is not responsible for any other fees or charges that may relate to, or be caused by, your purchases made on Lionface.<br /><br />
	4. In order to prevent financial loss to you or to us, we may contact your funding instrument issuer, law enforcement, or affected third parties (including other users) and share details of any payments you are associated with, if we believe doing so may prevent financial loss or a violation of law.<br /><br />
	5. Your business page may be disabled or removed or rejected by Lionface if you or your Page violates these Terms or the policies of Lionface, or the law. No refund of any purchases made will be given, and your data will be lost. In the event that we see cause to close a Page, you will be contacted via the Lionface messages system and given a chance to appeal our decision. If no response is received within three (3) days, you will lose your right to appeal. <br /><br />
	</blockquote>
</blockquote>
<span style="font-weight: bold; font-size: 12pt;">Part III</span><br /><br />
<blockquote>
	<span style="font-weight: bold;">Indemnity</span><br /><br />

To the extent permitted by applicable law, you agree to defend, indemnify and hold harmless Lionface, its officers, directors, employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees) arising from: (i) your use of and access to Lionface; (ii) your violation of any term of these Terms; (iii) your violation of any third party right, including without limitation any copyright, property, or privacy right; or (iv) any claim that your content caused damage to a third party. This defense and indemnification obligation will survive these Terms and your use of Lionface.<br /><br />

<br />
	<span style="font-weight: bold;">Ability to Accept Terms</span><br /><br />
You affirm that you are either more than 18 years of age, or an emancipated minor, or possess legal parental or guardian consent, and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms, and to abide by and comply with these Terms.<br /><br />
<br />
	<span style="font-weight: bold;">Assignment</span><br /><br />
These Terms, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Lionface without restriction.<br /><br />
<br />
	<span style="font-weight: bold;">Modifying and Terminating Services</span><br /><br />
We are constantly changing and improving Lionface. We may add or remove functionalities or features, and we may suspend or stop a Service altogether.<br /><br />
You can stop using Lionface at any time. Lionface may also stop providing Services to you, or add or create new limits to our Services at any time.<br /><br />
We may modify these Terms or any additional terms that apply to a Service at any time. Changes will not apply retroactively and will become effective no sooner than fourteen days after they are posted. However, changes addressing new functions for a Service or changes made for legal reasons will be effective immediately. If you do not agree to the modified terms for a Service, or are unable to meet requirements, you must discontinue your use of that Service.<br /><br />
These Terms control the relationship between Lionface and you. They do not create any third party beneficiary rights.<br /><br />
If you do not comply with these Terms, and we don’t take action right away, this doesn’t mean that we are giving up any rights that we may have (such as taking action in the future).<br /><br />
If it turns out that a particular term is not enforceable, this will not affect any other terms.<br /><br />
If you violate the letter or spirit of these Terms, or otherwise create risk or possible legal exposure for us, we can stop providing all or part of Lionface to you.<br /><br />
<br />
	<span style="font-weight: bold;">Warranties and Disclaimers</span><br /><br />
OTHER THAN AS EXPRESSLY SET OUT IN THESE TERMS OR ADDITIONAL TERMS, NEITHER LIONFACE NOR ITS SUPPLIERS OR DISTRIBUTORS MAKE ANY SPECIFIC PROMISES ABOUT THE SERVICES. FOR EXAMPLE, WE DON’T MAKE ANY COMMITMENTS ABOUT THE CONTENT WITHIN THE SERVICES, THE SPECIFIC FUNCTION OF THE SERVICES, OR THEIR RELIABILITY, AVAILABILITY, OR ABILITY TO MEET YOUR NEEDS. WE PROVIDE THE SERVICES “AS IS”.
SOME JURISDICTIONS PROVIDE FOR CERTAIN WARRANTIES, LIKE THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. TO THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES.<br /><br />
<br />
	<span style="font-weight: bold;">Liability for our Services</span><br /><br />
WHEN PERMITTED BY LAW, LIONFACE, AND LIONFACE’S SUPPLIERS AND DISTRIBUTORS WILL NOT BE RESPONSIBLE FOR LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES, OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES.<br /><br />
TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF LIONFACE, AND ITS SUPPLIERS AND DISTRIBUTORS, FOR ANY CLAIM UNDER THESE TERMS, INCLUDING FOR ANY IMPLIED WARRANTIES, IS LIMITED TO THE AMOUNT YOU PAID US TO USE THE SERVICES (OR, IF WE CHOOSE, TO SUPPLYING YOU THE SERVICES AGAIN).<br /><br />
IN ALL CASES, LIONFACE, AND ITS SUPPLIERS AND DISTRIBUTORS, WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.
</blockquote>


			</div>
	</div>
</div>
</div>
{% endblock %}
