{% for comment in comments %}
    <li data-pk="{{ comment.pk }}" style="width: 100%; height: auto;">
        {% if page %}
          {% if comment.owner == request.user or manage_perm %}
            <div class="delete" style="display: none;">
                <a href="#" class="ui-icon ui-icon-circle-close" title="Delete this comment"></a>
            </div>
          {% endif %}
        {% else %}
          {% if comment.owner == request.user or image.owner == request.user %}
            <div class="delete" style="display: none;">
                <a href="#" class="ui-icon ui-icon-circle-close" title="Delete this comment"></a>
            </div>
          {% endif %}
        {% endif %}
        <a href="{{ comment.owner.get_absolute_url }}">
            <div class="thumb" style="background: url('/{{ comment.owner.photo.thumb_name }}') #FFF;"></div>
        </a>
        <div class="text"><a href="{{ comment.owner.get_absolute_url }}">{{ comment.owner.full_name }}</a> {{ comment.message }}</div>
        <div class="date">{{ comment.date }}</div>
    </li>
{% endfor %}
