{% for comment in comments %}
    <li data-pk="{{ comment.pk }}" style="">
    <div class="content">
        {% if page %}
          {% if comment.owner == request.user or manage_perm %}
            <div class="delete" style="display: none;">
                <a href="#" class="ui-icon ui-icon-circle-close" title="Delete this comment"></a>
            </div>
          {% endif %}
        {% else %}
          {% if comment.owner == request.user or image.owner == request.user %}
            <div class="delete" style="display: none;">
                <a href="#" class="ui-icon ui-icon-circle-close" title="Delete this comment"></a>
            </div>
          {% endif %}
        {% endif %}
        <a href="{{ comment.owner.get_absolute_url }}">
            <div class="thumb" style="background: url('/{{ comment.owner.photo.thumb_name }}') #FFF; -webkit-background-size: 50px 50px; -moz-background-size: 50px 50px; background-size: 50px 50px;"></div>
        </a>
        <div class="text">
			<table width="100%" style="border-bottom: 1px solid #EEE;"><tr><td style="padding-left: 4px;"><a href="{{ comment.owner.get_absolute_url }}">{{ comment.owner.full_name }}</a></td><td align="right"> <div class="date">{{ comment.date }}</div>
			</td></tr><tr><td colspan="2" style="padding: 4px 4px 10px 4px;">
			{{ comment.message }}</div>
			</td></tr></table>
    </div>
    </li>
{% endfor %}
