{% for school in school_list %}
    <tr id="school_{{ school.id }}" class="alum_school">
        <td align="left">
            {{ school.name }} <span class="school_count">({{ school.people_count }}) people{{ school.people_count|pluralize }}</span><br /><span class="location">{{ school.city }}, {{ school.state }}, {{ school.country }}</span>
        </td>
        <td align="right">Class Year: <form class="join_to_school" method="post">{% csrf_token %}<input type="hidden" name="school_id" value="{{ school.id }}" /><input id="year" type="text" style="padding: 4px; border: 1px solid #DDD; width: 40px;" placeholder="YYYY" name="year" /> <button class="blue_btn" onClick="LionFace.Schools.join_to_school('{% url schools-join %}', $(this).parent()); return false;" style="color: #FFF; position: relative; top: -2px;">Join</button></form>
        </td>
    </tr>
{% empty %}
    <tr><td>No schools found.</td></tr>
{% endfor %}

{% if paginator %}
<tr><td>
    <div class="pagination">
        <span class="step-links">
            {% if school_list.has_previous %}
                <a href="?page={{ school_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ school_list.number }} of {{ school_list.paginator.num_pages }}.
            </span>

            {% if school_list.has_next %}
                <a href="?page={{ school_list.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</td></tr>
{% endif %}
