{% extends 'base.html' %}
<!--or you can extend base.html here-->
<!--but then you need to populate another block below-->
{% load media %}

{% block js %}
    {% include_media 'schools.js' %}
    {% include_media 'jquery.validate.js' %}
{% endblock %}

{% block body %}
{% include '_header.html' %}

{% block content_title %}{% endblock %}
{% block content_middle %}
{% endblock %}
{% block content_subtitle %}{% endblock %}

  {% block content %}
<div style="height: 53px;"></div>
<div align="center">
<div class="page_container">

	<div class="float_left">
	<div style="border-bottom: 1px solid #555;"><span style="font-size: 11pt; font-weight: bold;">Your Schools</span> <a href="#" class="find_school" onClick="ShowContent('find'); HideContent('school'); return false;">Find a School</a></div>
	<a href="#" class="school_navON" onClick="ShowContent('school'); HideContent('find'); return false;">Sample University <span class="school_count">(count) people</span><br /><span class="location">Town, State, Country</span></a>
	<a href="javascript:;" class="school_nav">Sample High School <span class="school_count">(count) people</span><br /><span class="location">Town, State, Country</span></a>

	</div>

	<div class="page_center" style="padding: 0px 10px;" id="school">
	<div style="font-size: 18pt; padding: 10px 40px;">Sample University</div>

  <div style="padding: 0 40px; text-align: left;">Class Years:
	<a href="javascript:;" class="sub_filter_feed">2012</a>
	<a href="javascript:;" class="sub_filter_feed">2011</a>
	<a href="javascript:;" class="sub_filter_feed">2010</a>
	<a href="javascript:;" class="sub_filter_feed">2009</a>
	<a href="javascript:;" class="sub_filter_feed">2008</a>
	<a href="javascript:;" class="sub_filter_feed">2007</a>
	<a href="javascript:;" class="sub_filter_feedON">2006</a>
	<a href="javascript:;" class="sub_filter_feed">2005</a>
	<a href="javascript:;" class="sub_filter_feed">2004</a>
	<a href="javascript:;" class="sub_filter_feed">2003</a>
	<a href="javascript:;" class="sub_filter_feed">2002</a>
	<a href="javascript:;" class="sub_filter_feed">2001</a>
	<a href="javascript:;" class="sub_filter_feed">2000</a>
  </div>
  <div style="margin: 0px 40px; padding: 10px 0; border-bottom: 1px solid #CCC;">
	<table width="100%"><tr><td align="left">
    <input type="text" style="padding: 4px; border: 1px solid #CCC; -moz-border-radius: 3px; border-radius: 3px;" placeholder="Filter by Name" /> <span style="color: #AAA; font-size: 8pt; margin-left: 7px;">(count) Results</span>
	</td><td align="right">
	<a href="javascript:;" style="color: #DDD; font-size: 8pt; position: relative; top: 3px;">- Leave School</a>
	</td></tr></table>
  </div>
  <div style="padding: 10px 40px;">
    <div class="student" onMouseOver="ShowContent('add_friend'); return false;" onMouseOut="HideContent('add_friend'); return false;">
		<img src="{% media_url 'images/noThumb.png' %}" width="85" height="85" /><br />
		<span style="font-size: 8pt;">Margaret Loewen</span>
		<div class="add_school_friend" id="add_friend" style="display: none;"><a href="#">+ Add Friend</a></div>
	</div>
    <div class="student">
		<img src="{% media_url 'images/noThumb.png' %}" width="85" height="85" /><br />
		<span style="font-size: 8pt;">Nick Clark</span>
	</div>
  </div>

	</div>

	<div class="page_center" style="padding: 0px 10px; display: none;" id="find">
	<div style="font-size: 18pt; padding: 10px 40px 0px 40px;">Find a School</div>
  <div style="margin: 0px 40px; padding: 10px 0; border-bottom: 1px solid #CCC;">
	<table width="100%"><tr><td align="left">
    <input type="text" style="padding: 4px; border: 1px solid #CCC; -moz-border-radius: 3px; border-radius: 3px; width: 200px;" placeholder="Search by Name, Location" />
	</td><td align="right"><a href="#" class="blue_btn" style="color: #FFF; float: right; margin-left: 10px;" onClick="ShowContent('add_school'); return false;">+ Add School</a>
		<span style="font-size: 8pt; color: #999;">Can't find your school?<br />It may not exist in our database yet.</span>
	</td></tr></table>
  </div>

  <div style="margin: 0px 40px; padding: 10px 0; border-bottom: 1px solid #CCC; display: none;" align="center" id="add_school">
    <form action="" method="post">
    	<table width="95%"><tr><td align="left">
        	<input id="name" name="name" type="text" style="padding: 4px; border: 1px solid #CCC; -moz-border-radius: 3px; border-radius: 3px; width: 150px;" placeholder="School Name" required />
    	</td><td align="center">
        	<input name="website" type="text" style="padding: 4px; border: 1px solid #CCC; -moz-border-radius: 3px; border-radius: 3px; width: 150px;" placeholder="Official Website" required />
    	</td><td></td></tr><tr><td width="33%">
        	<input name="city" type="text" style="padding: 4px; border: 1px solid #CCC; -moz-border-radius: 3px; border-radius: 3px; width: 150px;" placeholder="Town/City" required />
    	</td><td align="center" width="33%">
        	<input name="state" type="text" style="padding: 4px; border: 1px solid #CCC; -moz-border-radius: 3px; border-radius: 3px; width: 150px;" placeholder="State/Province" required />
    	</td><td align="right" width="33%">
        	<input name="country" type="text" style="padding: 4px; border: 1px solid #CCC; -moz-border-radius: 3px; border-radius: 3px; width: 150px;" placeholder="Country" required />
    	</td></tr><tr><td colspan="3" align="left">
    		<button class="blue_btn" style="color: #FFF;">Submit for Approval</button> <a href="#" style="font-size: 8pt; color: #999;" onClick="HideContent('add_school'); return false;">Cancel</a>
    	</td></tr></table>
    </form>
  </div>

  <div style="margin: 5px 40px 0px 40px; padding: 10px 0; border-bottom: 1px solid #CCC;">
	<table id="school_list" width="100%">
        {% for school in school_list %}
            {% include "schools/_school.html" %}
        {% endfor %}
	</table>
  </div>

	</div>

</div>
</div>

  {% endblock %}

{% block footer_js %}
    <script>
        $(function() {
            HideContent('school');
            ShowContent('find');
            // ShowContent('add_school');
        })
    </script>
{% endblock footer_js %}

{% endblock %}
