{% extends 'base.html' %}
<!--or you can extend base.html here-->
<!--but then you need to populate another block below-->
{% load media school %}

{% block js %}
    <script>
        $(function() {
            LionFace.Schools.add_school_url = '{% url schools-add %}';
            LionFace.Schools.join_to_school_url = '{% url schools-join %}'
        });
    </script>
    {% include_media 'schools.js' %}
    {% include_media 'jquery.validate.js' %}
{% endblock %}

{% block body %}
{% include '_header.html' %}

{% block content_title %}{% endblock %}
{% block content_middle %}
{% endblock %}
{% block content_subtitle %}{% endblock %}

  {% block content %}
<div style="height: 53px;"></div>
<div align="center">
<div class="page_container">

	<div id="alum_schools" class="float_left">
    	<div style="border-bottom: 1px solid #555;">
            <span style="font-size: 11pt; font-weight: bold;">Your Schools</span>&nbsp;
            <a href="#" class="find_school" onClick="ShowContent('find'); HideContent('school'); return false;">Find a School</a>
        </div>
        {% for school in alum_schools %}
          {% year_finish_school user school as year %}
          {% include "schools/_alum_school.html" %}
        {% endfor %}
	</div>
  {% with school=alum_schools.0 %}
    <div class="page_center" style="padding: 0px 10px;" id="school">
      {% if school %}
          <div id="school_name" style="font-size: 18pt; padding: 10px 40px;">{{ school.name }}</div>
          <div id="school_years" style="padding: 0 40px; text-align: left;">Class Years:
            {% school_years as years %}
            {% for year in years %}
              {% alum_from_school user year school as alum %}
              <a id="school_year_{{ year }}" href="javascript:;" class="sub_filter_feed{% if alum %}ON{% endif %}">{{ year }}</a>
            {% endfor %}
          </div>
          <div style="margin: 0px 40px; padding: 10px 0; border-bottom: 1px solid #CCC;">
            <table width="100%"><tr><td align="left">
            <input type="text" style="padding: 4px; border: 1px solid #CCC; -moz-border-radius: 3px; border-radius: 3px;" placeholder="Filter by Name" /> <span style="color: #AAA; font-size: 8pt; margin-left: 7px;">(count) Results</span>
            </td><td align="right">
            <a href="" onClick="LionFace.Schools.leave_school('{% url schools-leave %}'); return false;" style="color: #DDD; font-size: 8pt; position: relative; top: 3px;">- Leave School</a>
            </td></tr></table>
          </div>
          <div style="padding: 10px 40px;">
            {% for alum in alum_list %}
              <div class="student" onMouseOver="ShowContent('add_friend_{{ alum.id }}'); return false;" onMouseOut="HideContent('add_friend_{{ alum.id }}'); return false;">
                <img src="{% media_url 'images/noThumb.png' %}" width="85" height="85" /><br />
                <span style="font-size: 8pt;">{{ alum.user.get_full_name }}</span>
                <div class="add_school_friend" id="add_friend_{{ alum.id }}" style="display: none;"><a href="#">+ Add Friend</a></div>
              </div>
            {% endfor %}
          </div>
      {% endif %}
    </div>
  {% endwith %}

  <div class="page_center" style="padding: 0px 10px; display: none;" id="find">
	<div style="font-size: 18pt; padding: 10px 40px 0px 40px;">Find a School</div>
  <div style="margin: 0px 40px; padding: 10px 0; border-bottom: 1px solid #CCC;">
	<table width="100%"><tr><td align="left">
    <input type="text" style="padding: 4px; border: 1px solid #CCC; -moz-border-radius: 3px; border-radius: 3px; width: 200px;" placeholder="Search by Name, Location" />
	</td><td align="right"><a href="#" class="blue_btn" style="color: #FFF; float: right; margin-left: 10px;" onClick="ShowContent('add_school'); return false;">+ Add School</a>
		<span style="font-size: 8pt; color: #999;">Can't find your school?<br />It may not exist in our database yet.</span>
	</td></tr></table>
  </div>

  <div style="margin: 0px 40px; padding: 10px 0; border-bottom: 1px solid #CCC; display: none;" align="center" id="add_school">
    <form action="" method="post">
    	<table width="95%"><tr><td align="left">
        	<input id="name" name="name" type="text" style="padding: 4px; border: 1px solid #CCC; -moz-border-radius: 3px; border-radius: 3px; width: 150px;" placeholder="School Name" required />
    	</td><td align="center">
        	<input name="website" type="text" style="padding: 4px; border: 1px solid #CCC; -moz-border-radius: 3px; border-radius: 3px; width: 150px;" placeholder="Official Website" required />
    	</td><td></td></tr><tr><td width="33%">
        	<input name="city" type="text" style="padding: 4px; border: 1px solid #CCC; -moz-border-radius: 3px; border-radius: 3px; width: 150px;" placeholder="Town/City" required />
    	</td><td align="center" width="33%">
        	<input name="state" type="text" style="padding: 4px; border: 1px solid #CCC; -moz-border-radius: 3px; border-radius: 3px; width: 150px;" placeholder="State/Province" required />
    	</td><td align="right" width="33%">
        	<input name="country" type="text" style="padding: 4px; border: 1px solid #CCC; -moz-border-radius: 3px; border-radius: 3px; width: 150px;" placeholder="Country" required />
    	</td></tr><tr><td colspan="3" align="left">
    		<button class="blue_btn" style="color: #FFF;">Submit for Approval</button> <a href="#" style="font-size: 8pt; color: #999;" onClick="HideContent('add_school'); return false;">Cancel</a>
    	</td></tr></table>
    </form>
  </div>
  <div id="show_message" style="margin: 0px 40px; padding: 10px 0; border-bottom: 1px solid #CCC; display: none;" align="center">
  </div>

  <div style="margin: 5px 40px 0px 40px; padding: 10px 0; border-bottom: 1px solid #CCC;">
  	<table id="school_list" width="100%">
      {% for school in school_list %}
          {% include "schools/_school.html" %}
      {% endfor %}
  	</table>
  </div>

	</div>

</div>
</div>

  {% endblock %}

{% block footer_js %}
    <script>
        $(function() {
            // HideContent('school');
            // ShowContent('find');
            // ShowContent('add_school');
        })
    </script>
{% endblock footer_js %}

{% endblock %}
