{% extends 'base.html' %}
<!--or you can extend base.html here-->
<!--but then you need to populate another block below-->
{% load media school %}

{% block js %}
    <script>
        $(function() {
            LionFace.Schools.add_school_url = '{% url schools-add %}';
            LionFace.Schools.search_school_url = '{% url schools-search %}'
        });
    </script>
    {% include_media 'schools.js' %}
    {% include_media 'jquery.validate.js' %}
{% endblock %}

{% block body %}
{% include '_header.html' %}

{% block content_title %}{% endblock %}
{% block content_middle %}
{% endblock %}
{% block content_subtitle %}{% endblock %}

  {% block content %}
<div style="height: 53px;"></div>
<div align="center">
<div class="page_container">

	<div id="alum_schools" class="float_left">
  	<div style="border-bottom: 1px solid #555;">
      <span style="font-size: 11pt; font-weight: bold;">Your Schools</span>&nbsp;
      <a href="#" class="find_school" onClick="ShowContent('find'); HideContent('school'); $('.alum_school').removeClass('school_navON'); return false;">Find a School</a>
    </div>
    <div id="your_schools">
      {% for school in alum_schools %}
        {% year_finish_school user school as year %}
        {% include "schools/_alum_school.html" %}
      {% endfor %}
    </div>
	</div>
  <div class="page_center" style="padding: 0px 10px;" id="school">
    {% with school=alum_schools.0 %}{% if school %}
        {% include "schools/_school_detail.html" %}
    {% endif %}{% endwith %}
  </div>

  <div class="page_center" style="padding: 0px 10px; display: none;" id="find">
    {% include "schools/_school_find.html" %}
	</div>

</div>
</div>

  {% endblock %}

{% block footer_js %}
    <script>
        $(function() {
          // if ($.trim($("#your_schools").html()) == "") {
            HideContent('school');
            ShowContent('find');
          // } else {
            // $(".alum_school:first").click();
          // }
        })
    </script>
{% endblock footer_js %}

{% endblock %}
